<template>
    <nav>
        <div class="logo">LOGO</div>
        <ul class="nav-links">
            <li><router-link  to="/">home</router-link></li>
            <li><router-link v-if="loggedIn" to="/dashboard">admin</router-link></li>
            <li><router-link v-if="!loggedIn" to="/login">login</router-link></li>
            <li><router-link v-if="!loggedIn"  to="/register">register</router-link></li>
            <li><router-link v-if="loggedIn" to="/logout">logout</router-link></li>
        </ul>
    </nav>
</template>

<script>
    export default {
        computed:{
            loggedIn(){
                return this.$store.getters.loggedIn;
            }
        },
        
    }
</script>
<style>
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:30px;
    background-color:rgb(231, 231, 231);
}
nav .nav-links{
    display:flex;
    list-style:none;
    justify-content: center;
    align-items:center;
}
nav .nav-links li{
    color:black;
    margin-right:10px;
    font-size:18px;
}
</style>