<template>
    <div class="order-card">
        <!-- <div > -->
        <div class="status">
            <h4>{{ $t(order.status) }}</h4>
        </div>
        <div class="order-detail"> 
            <h3>
                <span class="type" v-if="order.table"
                    >Table: {{ order.table }}</span
                >
                <span class="type" v-if="order.source == 'link'"
                    >Source: {{ order.source }}
                    <span style="font-weight: 300;font-size: 15px;"
                        >({{ order.serviceMode }})</span
                    ></span
                >

                <span class="ago">
                    <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M5.994 0.166748C2.774 0.166748 0.166504 2.78008 0.166504 6.00008C0.166504 9.22008 2.774 11.8334 5.994 11.8334C9.21984 11.8334 11.8332 9.22008 11.8332 6.00008C11.8332 2.78008 9.21984 0.166748 5.994 0.166748ZM5.99984 10.6667C3.4215 10.6667 1.33317 8.57841 1.33317 6.00008C1.33317 3.42175 3.4215 1.33341 5.99984 1.33341C8.57817 1.33341 10.6665 3.42175 10.6665 6.00008C10.6665 8.57841 8.57817 10.6667 5.99984 10.6667ZM5.8715 3.08342H5.8365C5.60317 3.08342 5.4165 3.27008 5.4165 3.50341V6.25675C5.4165 6.46092 5.5215 6.65342 5.70234 6.75842L8.12317 8.21092C8.3215 8.32758 8.57817 8.26925 8.69484 8.07092C8.72413 8.02368 8.74362 7.97104 8.75213 7.91611C8.76065 7.86119 8.75803 7.80512 8.74442 7.75123C8.73081 7.69734 8.7065 7.64675 8.67293 7.60245C8.63935 7.55816 8.59721 7.52108 8.549 7.49342L6.2915 6.15175V3.50341C6.2915 3.27008 6.10484 3.08342 5.8715 3.08342Z"
                            fill="black"
                        />
                    </svg>
                    <span id="time_ref">{{ timestamp }} {{$t('ago')}}</span>
                </span>
            </h3>
            <h3 v-if="order.customer_name">
                <span style="font-weight: 400;">{{ order.customer_name }}</span>
                <span style="font-weight: 400;">{{ order.email }}</span>
            </h3>
            <p class="order-customer">
                <span class="id">{{$t('order Id')}}: {{ order.order_code }}</span>
                <span class="pending">{{ order.orderType }}...</span>
            </p>
            <h4 v-if="order.address">
                <span class="type">Address :</span>
                <span>{{ order.address }}</span>
            </h4>

            <table class="table ">
                <thead>
                    <tr>
                        <th>{{$t("Plate")}}</th>
                        <th>{{$t("Price")}}</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(item, index) in order.items">
                        <tr
                            :key="index"
                            :class="item.status"
                            :title="getStatus(item)"
                        >
                            <td>
                                <p>{{ item.name }}</p>
                            </td>
                            <td>
                                <p>
                                    {{ item.price }}
                                    <span class="lower">{{
                                        $store.state.restaurant.currency
                                    }}</span>
                                </p>
                            </td>
                            <td class="quantity">
                                <p>{{ item.quantity }}</p>
                            </td>
                            <td>
                                <p class="total-each">
                                    {{ item.total }}
                                    <span class="lower">{{
                                        $store.state.restaurant.currency
                                    }}</span>
                                </p>
                            </td>
                            <td
                                class="pointer"
                                :title="'change to ' + getStatus(item)"
                            >
                             <span class="btn btn-status" v-if="$route.params.type == 'payed'">
                                    <svg
                           
                                    viewBox="0 0 25 25"
                                    
                                    xmlns="http://www.w3.org/2000/svg"
                                    @click="changeStatus(item)"
                                    
                                >
                                    <path
                                        d="M20 11.6C20 10.55 19.15 10 18 10H14.65C14.9 9.1 15 8.25 15 7.5C15 4.6 14.2 4 13.5 4C13.05 4 12.7 4.05 12.25 4.3C12.1 4.4 12.05 4.5 12 4.65L11.5 7.35C10.95 8.75 9.6 10 8.5 10.85V18C8.9 18 9.3 18.2 9.8 18.45C10.35 18.7 10.9 19 11.5 19H16.25C17.25 19 18 18.2 18 17.5C18 17.35 18 17.25 17.95 17.15C18.55 16.9 19 16.4 19 15.75C19 15.45 18.95 15.2 18.85 14.95C19.25 14.7 19.6 14.25 19.6 13.75C19.6 13.45 19.45 13.15 19.3 12.9C19.7 12.6 20 12.1 20 11.6ZM18.95 11.6C18.95 12.25 18.3 12.3 18.2 12.6C18.1 12.95 18.6 13.05 18.6 13.65C18.6 14.25 17.85 14.25 17.75 14.6C17.65 15 18 15.1 18 15.7V15.8C17.9 16.3 17.15 16.35 17 16.55C16.85 16.8 17 16.9 17 17.45C17 17.75 16.65 17.95 16.25 17.95H11.5C11.1 17.95 10.7 17.75 10.2 17.5C9.8 17.3 9.4 17.1 9 17V11.75C10.25 10.8 11.85 9.4 12.45 7.65V7.55L12.9 5.05C13.1 5 13.25 5 13.5 5C13.6 5 14 5.6 14 7.5C14 8.25 13.85 9.05 13.6 10H13.5C13.2 10 13 10.2 13 10.5C13 10.8 13.2 11 13.5 11H18C18.5 11 18.95 11.25 18.95 11.6Z"
                                        fill="#0E1978"
                                    />
                                    <path
                                        d="M8 19H5C4.45 19 4 18.55 4 18V11C4 10.45 4.45 10 5 10H8C8.55 10 9 10.45 9 11V18C9 18.55 8.55 19 8 19ZM5 11V18H8V11H5Z"
                                        fill="#0E1978"
                                    />
                                </svg>
                             </span>
                            </td>
                        </tr>
                        <tr
                            v-if="item.note"
                            :class="item.status"
                            :title="getStatus(item)"
                        >
                            <td colspan="5">
                                <p>Note: {{ item.note }}</p>
                            </td>
                        </tr>
                        <tr
                            v-for="(ch_description,
                            index) in item.ch_description"
                            colspan="5"
                            :class="item.status"
                            :title="getStatus(item)"
                        >
                            <td
                                colspan="5"
                                v-if="ch_description"
                                style="border-top:none;"
                            >
                                {{ ch_description }}
                            </td>
                        </tr>
                        <tr
                            v-for="(extra, index) in item.extras"
                            :class="item.status"
                            :title="getStatus(item)"
                        >
                            <td colspan="2">
                                <p>{{ extra.name }}</p>
                            </td>
                            <td colspan="3">
                                <p>
                                    {{ extra.price }}
                                    <span class="lower">{{
                                        $store.state.restaurant.currency
                                    }}</span>
                                </p>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <p class="subtotal">
                Subtotal:
                {{ Math.round(parseFloat(order.subtotal) * 100) / 100 }}
                <span class="lower">{{
                    $store.state.restaurant.currency
                }}</span>
            </p>
            <p class="subtotal">
                {{$t('Additional Feature cost')}}: {{ getAdditional }}
                <span class="lower">{{
                    $store.state.restaurant.currency
                }}</span>
            </p>
            <!-- <p class="subtotal">Tax Includes: {{order.tax}} $</p> -->
            <p class="total" v-if="!order.pay">
                Total to pay: {{ parseFloat(order.total) }}
                <span class="lower">{{
                    $store.state.restaurant.currency
                }}</span>
            </p>
            <p class="total" v-if="order.pay">
                Total {{$t('payed')}}: {{ parseFloat(order.pay) }}
                <span class="lower">{{
                    $store.state.restaurant.currency
                }}</span>
            </p>
            <!-- <p class="total" v-if="$route.params.type=='payed'">Charge :{{order.pay}}</p> -->
            <p
                class="total"
                v-if="$route.params.type == 'payed' && order.change"
            >
                {{$t('change')}} :{{ order.change }}
                <span class="lower">{{
                    $store.state.restaurant.currency
                }}</span>
            </p>

            <p class="method">
                {{$t('Method of payment chosen by the customer')}}
                <br />
                <span v-if="order.paymentMethod == 'card'">
                    <img
                        src="/images/general/card.svg"
                        alt=""
                        style="height:15px;width:auto;"
                    />
                    {{ order.paymentMethod }}
                </span>
                <span v-if="order.paymentMethod == 'cash'">
                    <img
                        src="/images/general/cash.png"
                        alt=""
                        style="height:15px;width:auto;"
                    />
                    {{ order.paymentMethod }}
                </span>
            </p>
            <p class="phone">
                <span v-if="order.phone">Phone Number</span>
                <span class="mt-3" style="font-weight:300;font-size:16px">{{ order.phone }}</span>
            </p>
            <p class="note">
                <span v-if="order.optional_note">Note</span>
                <span class="mt-3" style="font-weight:300;font-size:16px">{{ order.optional_note }}</span>
            </p>
            <div class="footer">
                <button
                    type="button "
                    style="margin:10px;"
                    @click="generateReport"
                >
                    {{$t('Print')}}
                </button>
                <button
                    type="button "
                    style="margin:10px;"
                    v-if="$route.params.type != 'pending'"
                    @click="downloadTxt(order)"
                >
                    {{$t('Txt')}}
                </button>
                <button
                    type="button "
                    style="margin:10px;"
                    @click="deleteConfirm(order.id)"
                >
                    {{$t('Remove')}}
                </button>
                <button
                    type="button "
                    style="margin:10px;"
                    v-if="$route.params.type == 'pending'"
                    @click="payorder()"
                >
                    {{$t('Pay')}}
                </button>
            </div>
            <div v-if="printPdfStart">
                <div class="progress" style="height: 1px;margin-top:10px">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        :style="'width: ' + progressPdf + '%'"
                        :aria-valuenow="progressPdf"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <vue-html2pdf
            :show-layout="false"
            :enable-download="false"
            :preview-modal="true"
            :paginate-elements-by-height="1400"
            :filename="'' + order.id"
            :pdf-quality="2"
            pdf-format="a4"
            pdf-orientation="portrait"
            pdf-content-width="800px"
            @progress="onProgress($event)"
            @hasStartedGeneration="hasStartedGeneration()"
            @hasGenerated="hasGenerated($event)"
            ref="html2Pdf"
        >
            <section slot="pdf-content">
                <div class="order-card">
                    <div class="status">
                        <h4>{{ $t(order.status) }}</h4>
                    </div>
                    <div class="order-detail">
                        <h3>
                            <span class="type" v-if="order.table"
                                >Table: {{ order.table }}</span
                            >
                            <span class="type" v-if="order.source == 'link'"
                                >Name: {{ order.source }}
                                <span style="font-weight: 300;font-size: 15px;"
                                    >({{ order.serviceMode }})</span
                                ></span
                            >
                            <!-- <span class="type" v-if="order.source=='takeOrder'">: {{order.source}}</span> -->
                            <span class="ago">
                                <svg
                                    width="12"
                                    height="12"
                                    viewBox="0 0 12 12"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M5.994 0.166748C2.774 0.166748 0.166504 2.78008 0.166504 6.00008C0.166504 9.22008 2.774 11.8334 5.994 11.8334C9.21984 11.8334 11.8332 9.22008 11.8332 6.00008C11.8332 2.78008 9.21984 0.166748 5.994 0.166748ZM5.99984 10.6667C3.4215 10.6667 1.33317 8.57841 1.33317 6.00008C1.33317 3.42175 3.4215 1.33341 5.99984 1.33341C8.57817 1.33341 10.6665 3.42175 10.6665 6.00008C10.6665 8.57841 8.57817 10.6667 5.99984 10.6667ZM5.8715 3.08342H5.8365C5.60317 3.08342 5.4165 3.27008 5.4165 3.50341V6.25675C5.4165 6.46092 5.5215 6.65342 5.70234 6.75842L8.12317 8.21092C8.3215 8.32758 8.57817 8.26925 8.69484 8.07092C8.72413 8.02368 8.74362 7.97104 8.75213 7.91611C8.76065 7.86119 8.75803 7.80512 8.74442 7.75123C8.73081 7.69734 8.7065 7.64675 8.67293 7.60245C8.63935 7.55816 8.59721 7.52108 8.549 7.49342L6.2915 6.15175V3.50341C6.2915 3.27008 6.10484 3.08342 5.8715 3.08342Z"
                                        fill="black"
                                    />
                                </svg>
                                <span id="time_ref">{{ timestamp }} {{$t('ago')}}</span>
                            </span>
                        </h3>
                        <p class="order-customer">
                            <span class="id"
                                >{{$t('order Id')}}: {{ order.order_code }}</span
                            >
                            <span
                                class="pending"
                                v-if="$route.params.type == order.orderType"
                                >{{ order.orderType }}...</span
                            >
                        </p>
                        <h4 v-if="order.address">
                            <span class="type">Address :</span>
                            <span>{{ order.address }}</span>
                        </h4>

                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>{{$t("Plate")}}</th>
                                    <th>{{$t("Price")}}</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="(item, index) in order.items">
                                    <tr
                                        :key="index"
                                        :class="item.status"
                                        :title="getStatus(item)"
                                    >
                                        <td>
                                            <p>{{ item.name }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.price }} $</p>
                                        </td>
                                        <td class="quantity">
                                            <p>{{ item.quantity }}</p>
                                        </td>
                                        <td>
                                            <p class="total-each">
                                                {{ item.total }} $
                                            </p>
                                        </td>
                                        <td
                                            class="pointer"
                                            :title="
                                                'change to ' + getStatus(item)
                                            "
                                        >
                                            <svg
                                                width="25"
                                                height="25"
                                                viewBox="0 0 25 25"
                                                xmlns="http://www.w3.org/2000/svg"
                                                @click="changeStatus(item)"
                                                v-if="
                                                    $route.params.type ==
                                                        'payed'
                                                "
                                            >
                                                <path
                                                    d="M20 11.6C20 10.55 19.15 10 18 10H14.65C14.9 9.1 15 8.25 15 7.5C15 4.6 14.2 4 13.5 4C13.05 4 12.7 4.05 12.25 4.3C12.1 4.4 12.05 4.5 12 4.65L11.5 7.35C10.95 8.75 9.6 10 8.5 10.85V18C8.9 18 9.3 18.2 9.8 18.45C10.35 18.7 10.9 19 11.5 19H16.25C17.25 19 18 18.2 18 17.5C18 17.35 18 17.25 17.95 17.15C18.55 16.9 19 16.4 19 15.75C19 15.45 18.95 15.2 18.85 14.95C19.25 14.7 19.6 14.25 19.6 13.75C19.6 13.45 19.45 13.15 19.3 12.9C19.7 12.6 20 12.1 20 11.6ZM18.95 11.6C18.95 12.25 18.3 12.3 18.2 12.6C18.1 12.95 18.6 13.05 18.6 13.65C18.6 14.25 17.85 14.25 17.75 14.6C17.65 15 18 15.1 18 15.7V15.8C17.9 16.3 17.15 16.35 17 16.55C16.85 16.8 17 16.9 17 17.45C17 17.75 16.65 17.95 16.25 17.95H11.5C11.1 17.95 10.7 17.75 10.2 17.5C9.8 17.3 9.4 17.1 9 17V11.75C10.25 10.8 11.85 9.4 12.45 7.65V7.55L12.9 5.05C13.1 5 13.25 5 13.5 5C13.6 5 14 5.6 14 7.5C14 8.25 13.85 9.05 13.6 10H13.5C13.2 10 13 10.2 13 10.5C13 10.8 13.2 11 13.5 11H18C18.5 11 18.95 11.25 18.95 11.6Z"
                                                    fill="#0E1978"
                                                />
                                                <path
                                                    d="M8 19H5C4.45 19 4 18.55 4 18V11C4 10.45 4.45 10 5 10H8C8.55 10 9 10.45 9 11V18C9 18.55 8.55 19 8 19ZM5 11V18H8V11H5Z"
                                                    fill="#0E1978"
                                                />
                                            </svg>
                                        </td>
                                    </tr>
                                    <tr
                                        v-if="item.note"
                                        :class="item.status"
                                        :title="getStatus(item)"
                                    >
                                        <td colspan="5">
                                            <p>Note: {{ item.note }}</p>
                                        </td>
                                    </tr>
                                    <tr
                                        v-for="(ch_description,
                                        index) in item.ch_description"
                                        colspan="5"
                                        :class="item.status"
                                        :title="getStatus(item)"
                                    >
                                        <td
                                            colspan="5"
                                            v-if="ch_description"
                                            style="border-top:none;"
                                        >
                                            {{ ch_description }}
                                        </td>
                                    </tr>
                                    <tr
                                        v-for="(extra, index) in item.extras"
                                        :class="item.status"
                                        :title="getStatus(item)"
                                    >
                                        <td colspan="2">
                                            <p>{{ extra.name }}</p>
                                        </td>
                                        <td colspan="3">
                                            <p>
                                                {{ extra.price }}
                                                {{
                                                    $store.state.restaurant
                                                        .currency
                                                }}
                                            </p>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        <p class="subtotal">
                            Subtotal:
                            {{
                                Math.round(parseFloat(order.subtotal) * 100) /
                                    100
                            }}
                            {{ $store.state.restaurant.currency }}
                        </p>
                        <p class="subtotal">
                            {{$t('Additional Feature cost')}}: {{ getAdditional }}
                            {{ $store.state.restaurant.currency }}
                        </p>
                        <!-- <p class="subtotal">Tax Includes: {{order.tax}} $</p> -->
                        <p class="total" v-if="!order.pay">
                            Total to pay: {{ parseFloat(order.total) }}
                            {{ $store.state.restaurant.currency }}
                        </p>
                        <p class="total" v-if="order.pay">
                            Total payed: {{ parseFloat(order.pay) }}
                            {{ $store.state.restaurant.currency }}
                        </p>
                        <!-- <p class="total" v-if="$route.params.type=='payed'">Charge :{{order.pay}}</p> -->
                        <p
                            class="total"
                            v-if="$route.params.type == 'payed' && order.change"
                        >
                            change :{{ order.change }}
                            {{ $store.state.restaurant.currency }}
                        </p>

                        <p class="method">
                            Method of payment chosen by the customer
                            <br />
                            <span v-if="order.paymentMethod == 'card'">
                                <img
                                    src="/images/general/card.svg"
                                    alt=""
                                    style="height:15px;width:auto;"
                                />
                                {{ order.paymentMethod }}
                            </span>
                            <span v-if="order.paymentMethod == 'cash'">
                                <img
                                    src="/images/general/cash.png"
                                    alt=""
                                    style="height:15px;width:auto;"
                                />
                                {{ order.paymentMethod }}
                            </span>
                        </p>
                        <p class="phone">
                            <span>Phone Number</span>
                            <span class="mt-3">{{ order.phone }}</span>
                        </p>
                        <p class="note">
                            <span>Note</span>
                            {{ order.optional_note }}
                        </p>
                        <div class="footer">
                            <button
                                type="button "
                                style="margin:10px;"
                                @click="generateReport"
                            >
                                {{$t('Print')}}
                            </button>
                            <button
                                type="button "
                                style="margin:10px;"
                                v-if="$route.params.type == 'payed'"
                                
                            >
                                {{$t('Txt')}}
                            </button>
                            <button
                                type="button "
                                style="margin:10px;"
                                @click="deleteConfirm(order.id)"
                            >
                                {{$t('Remove')}}
                            </button>
                            <button
                                type="button "
                                style="margin:10px;"
                                v-if="$route.params.type == 'pending'"
                                @click="payorder()"
                            >
                                {{$t('Pay')}}
                            </button>
                        </div>
                        <div v-if="printPdfStart">
                            <div
                                class="progress"
                                style="height: 1px;margin-top:10px"
                            >
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    :style="'width: ' + progressPdf + '%'"
                                    :aria-valuenow="progressPdf"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </vue-html2pdf>
        <Alert
            :type="'confirmation'"
            v-if="alert"
            @closeMe="alert = false"
            @delete="deleteOrder(id)"
        />  
    </div>
</template>

<script>
// import VueHtml2pdf from 'vue-html2pdf'
import moduleOrderManagement from "@/store/order-management/moduleOrderManagement.js";
export default {
    name: "OrderCard",
    props: ["order"],
    created() {
        if (!moduleOrderManagement.isRegistered) {
            this.$store.registerModule(
                "orderManagement",
                moduleOrderManagement
            );
            moduleOrderManagement.isRegistered = true;
        }
        this.intervalId = setInterval(() => {
            this.myTime();
        }, 1000);
    },
    data() {
        return {
            alert:false,
            status: ["cooking", "cooked", "served"],
            progressPdf: 0,
            printPdfStart: false,
            timestamp: "",
            intervalId: "",
            id:''
        };
    },
    components: {
        // VueHtml2pdf
    },
    computed: {
        getAdditional() {
            return (
                Math.round(
                    (parseFloat(this.order.total) -
                        parseFloat(this.order.subtotal)) *
                        100
                ) / 100
            );
        }
    },
    methods: {
        deleteConfirm(id){
            this.alert=true;
            this.id=id;
        },
        changeStatus(item) {
            let status = this.getStatus(item);
            let statusCheck = 0;
            if (status) {
                this.$Progress.start();
                this.$store
                    .dispatch("orderManagement/itemStatus", {
                        item: {
                            id: item.id,
                            status: status,
                            restaurant_id: this.$route.params.restaurant_id
                        },
                        order: { id: this.order.id }
                    })
                    .then(response => {
                        this.$Progress.finish();
                        console.log(status);
                        
                        this.order.items.forEach(element => {
                            console.log(element.status);
                            element.status == status ? statusCheck++ : statusCheck--;
                        });


                        if (this.order.items.length == statusCheck) {
                            this.$store
                                .dispatch("orderManagement/orderStatus", {
                                    id: this.order.id,
                                    status: status
                                })
                                .then(Response => this.$Progress.finish());

                            this.$store
                                .dispatch("orderManagement/upateStatusOrder", {
                                    id: this.order.id,
                                    status: status
                                })
                                .then(Response => this.$Progress.finish());
                                
                        }
                    });
            }
        },
        getStatus(item) {
            if (item.status == "served" || item.status == "delivered") {
                return "";
            }
            let secondary;
            this.order.serviceMode == "Delivery"
                ? (secondary = "Delivered")
                : (secondary = "served");
            let status = "";
            switch (this.$store.getters.auth_user.role) {
                case "owner":
                    item.status == "cooking"
                        ? (status = "cooked")
                        : (status = secondary);
                    break;
                case "manager":
                    item.status == "cooking"
                        ? (status = "cooked")
                        : (status = secondary);
                    break;
                case "cook":
                    if (item.status == "cooking") {
                        status = "cooked";
                    }
                    break;
                case "waiter":
                    if (item.status == "cooking" || item.status == "cooked") {
                        status = secondary;
                    }
                    break;
                case "manager":
                    item.status == "cooking"
                        ? (status = "cooked")
                        : (status = secondary);
                    break;
                case "cashier":
                    item.status == "cooking"
                        ? (status = "cooked")
                        : (status = secondary);
                    break;
                case "delivery_man":
                    if (item.status == "cooked") {
                        status = secondary;
                    }
                    break;
                default:
                    status = "";
                    break;
            }
            return status;
        },
        myTime() {
            let then = new Date(this.order.timestamp);

            let now = new Date();
            if (this.isToday(then)) {
                let sec_now = now.getTime();
                let sec_then = then.getTime();
                let seconds = (sec_now - sec_then) / 1000;
                let minutes = seconds / 60;
                let hours = minutes / 60;
                // into second
                if (Math.round(minutes) == 0 || Math.round(minutes) == 1) {
                    this.timestamp = Math.round(seconds) + " seconds";
                } else if (Math.round(hours) == 0 || Math.round(hours) == 1) {
                    this.timestamp = Math.round(minutes) + " minutes";
                } else {
                    this.timestamp = Math.round(hours) + " hours";
                }
            } else {
                var Difference_In_Time = now.getTime() - then.getTime();
                // To calculate the no. of days between two dates
                var days = Difference_In_Time / (1000 * 3600 * 24);

                this.timestamp = Math.round(days) + "days";
            }
        },
        isToday(date) {
            const today = new Date();

            if (
                !(
                    date.getDate() === today.getDate() &&
                    date.getMonth() === today.getMonth() &&
                    date.getFullYear() === today.getFullYear()
                )
            ) {
                let Difference_In_Time = today.getTime() - date.getTime();
                // To calculate the no. of days between two dates
                let days = Difference_In_Time / (1000 * 3600 * 24);
                if (Math.round(days) == 0) {
                    return false;
                }
            } else {
                return true;
            }
        },
        generateReport() {
            this.$refs.html2Pdf.generatePdf();
        },
        onProgress(e) {
            this.printPdfStart = true;
            this.progressPdf = e;
        },
        hasStartedGeneration() {
        },
        hasGenerated(e) {
            this.printPdfStart = false;
        },
        deleteOrder(id) {
            this.$Progress.start();
            this.$emit("closeForm");
            this.$store
                .dispatch("orderManagement/deleteOrder", id)
                .then(Response => {this.$Progress.finish();this.alert=false;});
        },
        payorder() {
            this.$emit("payOrders", this.order);
        },
        downloadTxt(order) {
            
            let text = `ORDER ID# ${order.order_code}\nCreated at:\t${order.created_at}`;
            let fileName = 'id-'+order.order_code;
            if (order.customer_name) {
                text+=`\nCustomer Name:\t${order.customer_name}`
                fileName+=" customer-"+order.customer_name
            }
            if (order.address) {
                text+=`\nAddress:\t${order.address}`
            if (order.phone) {
                text+=`\tPhone:\t${order.phone}`
            }
            }
            if (order.table) {
                text+=`\nTable:\t${order.table}`
                fileName+=' table-'+order.table
            }
            text+=`\n\nPLATE\t |\tPRICE\t|\tQUANTITY\t|\tTOTAL\n______________________________________________`
            order.items.forEach(item=>{
                text+=`\n${item.name} |\t${item.price}\t|\t${item.quantity}\t|\t${item.total}\n______________________________________________`;
            })

            text+=`\n\nSubtotal:\t${order.subtotal} `
            text+=`\nTotal:\t${order.total} `
            let fileType= "text/txt"

            
            var blob = new Blob([text], { type: fileType });

            var a = document.createElement("a");
            a.download = fileName;
            a.href = URL.createObjectURL(blob);
            a.dataset.downloadurl = [fileType, a.download, a.href].join(":");
            a.style.display = "none";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            setTimeout(function() {
                URL.revokeObjectURL(a.href);
            }, 1500);
        }
    },
    beforeDestroy() {
        clearInterval(this.intervalId);
    }
};
</script>

<style lang="scss" scoped>
.btn-status{
    background-color: white;
    color:white;
    border-radius: 100%;
    transition:all 0.3s ease;
    padding: 5px;
    svg{
        width:30px;
        height: 30px;
    }
    &:hover{
        box-shadow: 0px 0px 4px 0px var(--main-color);
    }

}
.order-card {
    width: auto;
    padding: 15px;
    max-width: 350px;
    box-shadow: 0px 0px 4px #666;
    background: white;
    margin: 20px auto;
    .status {
        background-color: var(--main-color);
        padding: 10px 10px;
        border-radius: 8px;
        h4 {
            color: #fff;
            text-align: center;
            margin: 0;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
        }
    }
    @media (max-width: 420px) {
        .order-card {
            width: 310px;
        }
    }
    .order-detail {
        padding: 10px 0;

        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
        }
        h4 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: gray;
        }
        .order-customer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: rgba(0, 0, 0, 0.4);
            .id {
                text-transform: capitalize;
            }
            .pending {
                color: var(--main-color);
            }
        }

        .subtotal,
        .total {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            text-align: right;
            color: #000000;
        }
        .total {
            font-weight: 600;
        }
        .method,
        .phone,
        .note {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            color: #000000;
            span {
                display: block;
                font-weight: 600;
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
    .footer {
            margin-top: 49px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            border-radius: 20px;
            padding: 5px 10px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 4px 0px #ccc;
            color: #0e1978;
            width: 100px;
            text-align: center;
        }
    }
}
.cooking {
    background-color: #d6d6d6;
}
.cooked {
    background-color: #a9e2f3;
}
.served {
    background-color: #04b486;
}
.Delivered {
    background-color: #04b486;
}
.lower {
    font-size: 0.8rem;
}
</style>
