<template>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="fila">
                <label>Order: <span class="mr-1">{{order.order_code}} </span></label>
            </div>
            <div class="fila">
                <label>Table: <span class="mr-1">{{order.table}} {{$store.state.restaurant.currency}}</span></label>
            </div>
            <div class="fila">
                <label>Subtotal: <span class="mr-1">{{order.subtotal}} {{$store.state.restaurant.currency}}</span></label>
            </div>
            <div class="fila">
                <label>additional feature cost: <span class="mr-1">{{order.subtotal}} {{$store.state.restaurant.currency}}</span></label>
            </div>
            <div class="fila">
                <label>Home Delivery: <span class="mr-1">{{order.subtotal}} {{$store.state.restaurant.currency}}</span></label>
            </div>
            <div class="fila">
                <label>Taxes Included: <span class="mr-1">{{order.subtotal}} {{$store.state.restaurant.currency}}</span></label>
            </div>
            <div class="fila">
                <label>Total to pay: <span class="mr-1">{{order.total}} {{$store.state.restaurant.currency}}</span></label>
            </div>
            <input type="text" class="form-control" placeholder="Email To send Receipt" name="email" v-model="email"  @keydown="errors.clear('email')">

            <span v-if="errors.has('email')" style="color:red" >
                    {{ errors.get('email') }}
            </span>
            <br>
            <span class="mr-2 mt-3">I don't want receipt</span><input type="checkbox" name="receipt" v-model="receipt" @click="errors.clear('email')">
            <br>
            <p>Choose a payment method</p>
            <div class="horizontal-flex">
                <div >
                    <label ><img src="/images/general/card.svg" alt="" style="height:20px;width:auto;"> Card</label>
                    <input type="radio" v-model="paymentMethod" value="card" name="paymentMethod">
                </div>
                <div >
                    <label ><img src="/images/general/cash.png" alt="" style="height:30px;width:auto;"> Cash</label>
                    <input type="radio" v-model="paymentMethod" value="cash" name="paymentMethod">
                </div>
            </div>
            <div v-if="paymentMethod=='cash'">
                <span>You pay:</span><input type="number" :class="{'is-invalid':errors.has('pay')}" class="form-control" placeholder="You pay" v-model="pay" @keydown="changeChanged()" @keyup="changeChanged()" @change="changeChanged()"/>

                <span v-if="errors.has('pay')" style="color:red">
                    {{ errors.get('pay') }}
                </span>
                <br>
                <span>You change back is:</span><input type="number" class="form-control" placeholder="Your change back is" v-model="change"  disabled/>
            </div>
            <div v-if="paymentMethod=='card'">
                <Stripe :getErrors="getError" :sendToken="getToken(token)" ref="stripe" :amount="order.total"/>
            </div>
            <br/>    
            
            <div class="btn-container">
             
                <button class="btn-round-blue1" style="margin:0px" type="submit" @click="saveChanges">
                    Pay the Order
                </button>
            </div>
        </div>
        <Alert :type="alertType" v-if="alert" @closeMe="closeAlert" :message="message"/>

    </div>
</div>  
</template>

<script>
import form from 'vuejs-form'
import Alert from "@/views/frontend/components/take-order/components/Alert";
import moduleOrderManagement from '@/store/order-management/moduleOrderManagement.js'
import { Card, createToken } from 'vue-stripe-elements-plus'
import Stripe from "@/views/frontend/components/take-order-table/stripe-component/Stripe";

export default {
    props:['order'],
    created(){
        if(!moduleOrderManagement.isRegistered) {
            this.$store.registerModule('orderManagement', moduleOrderManagement);
            moduleOrderManagement.isRegistered = true;
        } 
    },
    components: {
        Alert,
    },
    data(){
        return {
            paymentMethod:'',
            activeError:'',
            message:'',
            receipt:'',
            email:'',
            pay:null,
            stripeError:"",
            alert:false,
            change:'',
            errors:new Errors(),
            stripeToken:'',
            token:''
        }
    },
    components: {
        Alert,
        Stripe,
    },
    methods:{
        getError(error){
            this.stripeError=error;
        },
        getToken(token){
            this.token=token;
        },
        closeAlert() {
            this.alert = false;
        },
  
        changeChanged(){
            this.change=parseFloat(this.pay)-parseFloat(this.order.total);
        },

        saveChanges(){
            this.$Progress.start()
            if(this.paymentMethod==''){
                this.alertType="customeError";
                this.message="you need to select Payment method";
                this.alert=true;
                return ;
            }
            if(this.stripeError){
                return;
            }
            
            if(this.paymentMethod=='card'){
                let FormData={
                        paymentMethod:this.paymentMethod,
                        pay:this.pay,
                        order_id:this.order.id,
                        receipt:this.receipt,
                        email:this.email,
                        sendBy:"employee"
                    }

                this.$refs.stripe.pay(FormData).then((response)=>{
             
                    
                    this.$store.dispatch('orderManagement/UpdateOrderType',FormData)
                    .then((response)=>{
                        this.$Progress.finish();
                        this.alertType="success";
                    
                        this.$emit("closeIt");
                    
                    })
                }).catch((errors)=>{this.errors.record(errors.response.data)});            
            }else if(this.paymentMethod=='cash'){
                let FormData={
                        paymentMethod:this.paymentMethod,
                        pay:this.pay,
                        order_id:this.order.id
                    }
                    this.$store.dispatch('orderManagement/UpdateOrderType',FormData)
                    .then((response)=>{
                        this.$Progress.finish();
                        this.alertType="success";
                    
                        this.$emit("closeIt");
                    
                    }).catch((errors)=>{this.errors.record(errors.response.data)});
            }
            
        }
    },
    mounted(){
        window.scrollTo(0,document.body.scrollHeight);
    }

}
</script>

<style>
.horizontal-flex{
            display:flex;
            justify-content: space-around;
            align-items:center;
    }  
.btn-container{
    display:flex;
    justify-content: space-around;
}
.btn-round-blue1 {
    background: var(--main-color);
    border-radius: 37.5px;
    padding:10px;
    color:white;
    font-weight: 800;
    
    border: 1px solid var(--main-color);
}
.fila {
    margin-bottom: 6px;
    color: black;
    }
    .fila label {
        font-size: 15px;
        font-weight: 100;
        margin-left: 10px;
    }
</style>
