<template>
    <div class="categories">
        <router-link
            class="add-extra"
            :to="
                '/restaurant/' +
                    $route.params.restaurant_id +
                    '/restaurant/menu/new'
            "
        >
            +
        </router-link>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="panel-head mt-2">
                            <router-link
                                class="back-btn"
                                :to="
                                    '/restaurant/' +
                                        $store.getters.get_res.id +
                                        '/restaurant'
                                "
                            >
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <g opacity="0.87">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z"
                                        />
                                    </g>
                                </svg>
                            </router-link>
                            <h3 class="head">{{$t("CATEGORIES")}}</h3>
                        </div>
                        <div class="alert empty-extra" v-if="!dishCategories.length">
                            <h4>{{$t('You have not created Dish category')}}</h4>
                        </div>
                        <div class="row">
                            <div
                                class="col-sm-6 col-md-6 col-lg-4"
                                v-for="(category, key) in dishCategories"
                                :key="key"
                            >
                                <div
                                    class="card-category"
                                    :class="{
                                        'in-active':
                                            category.status == 'inactive'
                                    }"
                                >
                                    <div class="header__card-category">
                                        <h4>{{ category.dish_name }}</h4>
                                        <div class="controls">
                                            <router-link
                                                class="edit"
                                                :to="
                                                    '/restaurant/' +
                                                        $route.params
                                                            .restaurant_id +
                                                        '/restaurant/menu/' +
                                                        category.id +
                                                        '/edit'
                                                "
                                            >
                                                <svg
                                                    data-v-2b6d2e37=""
                                                    width="18"
                                                    height="18"
                                                    viewBox="0 0 18 18"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path
                                                        data-v-2b6d2e37=""
                                                        d="M13.6195 1.06L16.8647 4.31712C17.4155 4.86796 17.3676 5.80198 16.9006 6.28097L7.30882 15.8847L0.650879 17.2738L2.03995 10.5919C2.03995 10.5919 11.1407 1.45516 11.6077 0.976173C12.0748 0.509159 13.0687 0.509159 13.6195 1.06ZM10.3504 4.40094L3.65653 11.1188L4.98573 12.448L11.6197 5.68224L10.3504 4.40094ZM6.79391 14.2561L13.4758 7.55029L12.1945 6.25702L5.50064 12.9629L6.79391 14.2561Z"
                                                        fill="black"
                                                    ></path>
                                                </svg>
                                            </router-link>
                                            <span class="edit" @click="deleteConfirm(category.id)">
                                                <img src="/images/logo/delete.svg" alt="" style="width:15px;">
                                            </span>
                                            <checkboxComponent
                                                :id="category.id"
                                                :status="category.status"
                                                :type="'category'"
                                            />
                                        </div>
                                    </div>
                                    <div class="body__card-category">
                                        <router-link
                                            :to="{
                                                path: `/restaurant/${$route.params.restaurant_id}/restaurant/menu/${category.dish_name}`,
                                                query: { id: category.id }
                                            }"
                                        >
                                            <div>
                                                <img
                                                    :src="category.image"
                                                    alt=""
                                                />
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <Alert
            :type="'confirmation'"
            v-if="alert"
            @closeMe="alert = false"
            @delete="deleteCategory"
        />
    </div>
</template>

<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import checkboxComponent from "./checkboxComponent";
export default {
    components: { checkboxComponent },
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        this.fetchCategoryDishes();
    },
    data() {
        return {
            alert: false,
            deleId:''
        };
    },
    computed: {
        dishCategories() {
            return this.$store.state.restaurantManagement.dishCategories;
        }
    },
    methods: {
        fetchCategoryDishes() {
            this.$store
                .dispatch(
                    "restaurantManagement/getDishCategories",
                    this.$route.params.restaurant_id
                )
                .then(response => {
                    this.$Progress.finish();
                });
        },
        deleteConfirm(id){
            this.alert=true;
            this.deleId=id;
        },
        deleteCategory(id){
            this.$store
                .dispatch(
                    "restaurantManagement/deleteDishCategory",
                    this.deleId
                )
                .then(response => {
                    this.alert=false;
                    this.$Progress.finish();
                });
        }
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss">
.categories {
    position: relative;
    padding: 40px 20px 20px 20px;
    .add-extra {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--main-color);
        color: #fff;
        font-size: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 20px;
        top: 20px;
        text-decoration: none;
    }
    .card {
        margin-top: 40px;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 8px 0px #ccc;
        padding: 20px 25px;
        h3 {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 650;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 41px;
            text-align: center;
            color: var(--font-color);
        }
        .card-category {
            margin-bottom: 10px;
            .header__card-category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fbfbfb;
                box-shadow: 0px 0px 8px 0px #dcdcdc;
                padding: 10px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                h5 {
                    margin: 0;
                    font-family: "Poppins", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }
                .controls {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .edit {
                        width: 30px;
                        transition: 0.2s ease;
                        background-color: #f3f3f3;
                        padding: 5px;
                        margin: 0px 3px;
                        display: flex;
                        border-radius: 100%;
                        border: 1px solid #e0e0e0;
                        cursor: pointer;
                    }
                    .edit:hover {
                        box-shadow: 0px 0px 8px 0px #e0e0e0;
                    }
                    .switch {
                        margin: 0;
                    }
                }
            }
            .body__card-category {
                background-color: #fbfbfb;
                box-shadow: 0px 0px 8px 0px #dcdcdc;
                padding: 0 10px 10px 10px;
                cursor: pointer;
                div {
                    overflow: hidden;
                    box-sizing: border-box;
                    height: 250px;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: all 0.2s ease;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .in-active {
        opacity: 0.4;
    }
}
@media (max-width: 500px) {
    .categories {
        padding: 40px 0 !important;
        .card{
            padding: 20px 0;
        }
    }
}
</style>
