<template>
    <label class="switch">
        <input type="checkbox"  @click="changeStatus(id)" v-model="checkbox">
        <span class="slider round"  ></span>
    </label>
</template>

<script>

import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
export default{
    props:['id','status','type'],
    data(){
        return{
            checkbox:''
        }
    },
    created(){
        if(!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
            moduleRestaurantManagement.isRegistered = true;
        }
        if(this.status=="active"){
                this.checkbox=true;
            }else{
                this.checkbox=false;
        }
    },
    mounted(){
        // setTimeout(()=>{
            
        // },50);
    },
    methods:{
        changeStatus(){
            var value;
            if(this.checkbox){
                value="inactive";
            }else{
                value="active";
            }
            var formData={
                status:value,
                id:this.id
            }
            this.$Progress.start();
            
            if(this.type=='category'){
                this.$store.dispatch('restaurantManagement/updateDishCategoryStatus',formData)
                .then(response=>{this.$Progress.finish()});
            }else if(this.type=='dish'){
                this.$store.dispatch('restaurantManagement/updateDishStatus',formData)
                .then(response=>{this.$Progress.finish()});
            }
        }
    },
    beforeDestroy(){
        this.$Progress.start()
    },
    mounted(){
        this.$Progress.finish()
    }
    
}
</script>
<style>
 .switch {
            position: relative;
            display: inline-block;
            width: 35px;
            height: 15px;
        }

        .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 1px;
            bottom: 1px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: var(--main-color);
        }

        input:focus + .slider {
            box-shadow: 0 0 1px var(--main-color);
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

</style>