<template>
    <div class="add-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <div class="panel-head mt-2">
                                <router-link class="back-btn" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/menu'">
                                    <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.87">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                    </g>
                                    </svg>

                                </router-link>
                                <h3 class="head">{{$t(title)}}</h3>
                            </div> 
                            <form action="" method="POST" enctype="multipart/form-data" @keydown="errors.clear($event.target.name)">
                                <div class="form-group">
                                    <label>{{$t("Name")}}</label>
                                    <input class="form-control" type="text" v-model="category.dish_name" :placeholder="$t(Name)" name="dish_name">
                                    <span style="color:red" v-if="errors.has('dish_name')">
                                        {{ errors.get("dish_name") }}
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>{{$t("Image Category")}}</label>
                                    <div id="wrapper" style="text-align:left">
                                        <div class="uploader">
                                            <div class="image-holder" @click="trigerInputFile">
                                                <img :src="previewUrl" alt="" v-if="imageSelected">
                                            </div>
                                            <input type="file" name="logo" class="filePhoto" @change="imageChanged" ref="fileInput" @click="errors.clear('image')">
                                        </div>
                                        <span style="color:red" v-if="errors.has('image')">
                                            {{ errors.get("image") }}
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="row justify-content-center">
                                <button class="btn btn-round-blue" @click="saveChanges()">{{$t("Save")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
    export default {
        name: "AddRestaurant",
        created(){
            if(!moduleRestaurantManagement.isRegistered) {
                this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
                moduleRestaurantManagement.isRegistered = true;
            }
            if(window.location.href.includes('edit')==true){
                this.action='edit';
                this.getDishCategory();
            }else{
                this.action='add'
            }
        },
        data(){
          return{
              action:'',
              errors:new Errors(),
              category:{
                  dish_name:'',
                  image:'',
                  restaurant_id:''
              },
              imageSelected: false,
              previewUrl: ''
          }
        },
        methods: {
            saveChanges(){
                if(this.action=='add'){
                    this.$Progress.start()
                    this.category.restaurant_id=this.$store.getters.get_res.id;
                    let formData= new FormData();
                    formData.append('dish_name',this.category.dish_name);
                    formData.append('image',this.category.image);
                    formData.append('restaurant_id',this.category.restaurant_id);
                    this.$store.dispatch('restaurantManagement/storeDishCategory',formData)
                    .then((response)=>{
                        this.$Progress.finish()
                        this.$router.push('/restaurant/'+this.$route.params.restaurant_id+'/restaurant/menu')
                    }).catch(errors=>{this.errors.record(errors.response.data);});
                }else{
                    this.$Progress.start()
                    let formData= new FormData();
                    formData.append('dish_name',this.category.dish_name);
                    formData.append('image',this.category.image);
                    formData.append('id',this.$route.params.category);
                    // {id:this.$route.params.category , category:formData}
                    this.$store.dispatch('restaurantManagement/updateDishCategory',formData)
                    .then((response)=>{
                        this.$Progress.finish();
                        this.$router.push('/restaurant/'+this.$route.params.restaurant_id+'/restaurant/menu')
                    }).catch(errors=>{this.errors.record(errors.response.data);});
                }
            },
            getDishCategory(){

                this.$store.dispatch('restaurantManagement/geDishCategory',this.$route.params.category)
                .then(response=>{
                    this.$Progress.finish()
                    this.category.dish_name=response.dish_name;
                    this.imageSelected=true;
                    this.previewUrl=response.image;
                    this.category.restaurant_id=response.restaurant_id;
                });
            },
            trigerInputFile(){
                this.$refs.fileInput.click()
            },
            imageChanged(e){
                this.imageSelected = true;
                this.category.image  = e.target.files[0];
                this.previewUrl = URL.createObjectURL(this.category.image);
            }
        },
         computed: {
             title(){
                let url =window.location 
                if(url.href.includes('edit')==true)
                    return 'Update Category'
                return 'Add Category'
            }
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        mounted(){
            this.$Progress.finish()
        }
    }
</script>

<style lang="scss" scoped>
    .add-restaurant{
        padding: 30px 0;
        .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .filePhoto{
                visibility: hidden;
            }
            .image-holder{
                height: 80px;
                width: 80px;
                border: 2px dashed #808080;
                cursor: pointer;
                img{
                    height: 80px;
                    width: 80px;
                    object-fit: cover;
                }
                &:hover{
                    transform: scale(1.01);
                }
            }
            .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }
    }
</style>