<template>
    <div class="add-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <div class="panel-head mt-2">
                                <div @click="$router.go(-1)" class="back-btn">
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g opacity="0.87">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z"
                                            />
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="head">
                                    {{ $t(action) }} {{ $route.params.product }}
                                </h3>
                            </div>
                            <form
                                @submit.prevent="saveChanage"
                                @keydown="errors.clear($event.target.name)"
                            >
                                <div class="form-group">
                                    <label>{{$t("Name")}}</label>
                                    <input
                                        v-model="name"
                                        class="form-control"
                                        type="text"
                                        value=""
                                        name="name"
                                        :placeholder="$t('Name of Plate')"
                                        :class="{
                                            'is-invalid': errors.has('name')
                                        }"
                                    />

                                    <span
                                        style="color:red"
                                        v-if="errors.has('name')"
                                        >{{ errors.get("name") }}</span
                                    >
                                </div>

                                <!-- <div class="form-group">
                                    <label>Comes with</label>
                                    <vue-tags-input
                                        v-model="come_with"
                                        :tags="come_withs"
                                        @tags-changed="
                                            newTags => (come_withs = newTags)
                                        "
                                    />
                                </div> -->
                                <div class="form-group">
                                    <label>{{$t("Description")}}</label>
                                    <textarea
                                        class="form-control"
                                        v-model="description"
                                        :class="{
                                            'is-invalid': errors.has(
                                                'description'
                                            )
                                        }"
                                        @keydown="errors.clear('description')"
                                    ></textarea>

                                    <span
                                        style="color:red"
                                        v-if="errors.has('description')"
                                        >{{ errors.get("description") }}</span
                                    >
                                </div>
                                <div class="form-group">
                                    <label>{{$t("Price")}}</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                {{
                                                    $store.state.restaurant
                                                        .currency
                                                }}
                                            </div>
                                        </div>
                                        <input
                                            type="number"
                                            name="price"
                                            v-model="price"
                                            :class="{
                                                'is-invalid': errors.has(
                                                    'price'
                                                )
                                            }"
                                            class="form-control"
                                            id="inlineFormInputGroup"
                                            :placeholder="$t(Price)"
                                        />
                                    </div>
                                    <span
                                        style="color:red"
                                        v-if="errors.has('price')"
                                        >{{ errors.get("price") }}</span
                                    >
                                </div>
                                <div class="form-group">
                                    <label>{{$t("Images of plate")}}</label>
                                    <div id="wrapper" style="text-align:left">
                                        <div
                                            class="uploader"
                                            v-for="n in 4"
                                            :key="n"
                                        >
                                            <div
                                                class="image-holder"
                                                @click="trigerInputFile(n - 1)"
                                            >
                                                <span class="close_ico" v-show="getPreviewUrl(n - 1)">
                                                    <svg
                                                        width="20"
                                                        height="20"
                                                        viewBox="0 0 20 20"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M0 10C0 4.47 4.47 0 10 0C15.53 0 20 4.47 20 10C20 15.53 15.53 20 10 20C4.47 20 0 15.53 0 10ZM10 8.59L12.59 6L14 7.41L11.41 10L14 12.59L12.59 14L10 11.41L7.41 14L6 12.59L8.59 10L6 7.41L7.41 6L10 8.59Z"
                                                            fill="#E5D362"
                                                        />
                                                    </svg>
                                                </span>
                                                <div v-show="getPreviewUrl(n - 1)">
                                                    <img
                                                        :src="getPreviewUrl(n - 1)"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                            <input
                                                type="file"
                                                name="logo"
                                                class="filePhoto"
                                                @change="
                                                    imageChanged(n - 1, $event)
                                                "
                                                ref="fileInput"
                                            />
                                        </div>
                                    </div>
                                    <span
                                        style="color:red"
                                        v-if="errors.has('image1')"
                                        >{{ errors.get("image1") }}</span
                                    >
                                    <span
                                        style="color:red"
                                        v-if="errors.has('image2')"
                                        >{{ errors.get("image2") }}</span
                                    >
                                    <span
                                        style="color:red"
                                        v-if="errors.has('image3')"
                                        >{{ errors.get("image3") }}</span
                                    >
                                    <span
                                        style="color:red"
                                        v-if="errors.has('image4')"
                                        >{{ errors.get("image4") }}</span
                                    >
                                </div>

                                <template v-for="n in customQuestions.length">
                                    <div class="form-group">
                                        <label>
                                            {{ n }}: {{$t("Do you want to add choices for this dish?")}}
                                            <input
                                                type="checkbox"
                                                v-model="choiceForDish[n - 1]"
                                            />
                                        </label>
                                    </div>
                                    <div
                                        class="form-group"
                                        v-if="choiceForDish[n - 1]"
                                    >
                                        <label
                                            >{{$t('Customize the question of these Options')}}</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            v-model="choices[n - 1]"
                                        />
                                        <br />
                                        <!-- :add-on-key="[';', ',', '13', '9']" -->
                                        <vue-tags-input
                                            v-model="customQuestions[n - 1].tag"
                                            :tags="customQuestions[n - 1].tags"
                                            @tags-changed="
                                                newTags =>
                                                    (customQuestions[
                                                        n - 1
                                                    ].tags = newTags)
                                            "
                                        />
                                    </div>
                                </template>
                                <div class="form-group">
                                    <label class="typo__label"
                                        >Extras</label
                                    >
                                    <multiselect
                                        v-model="extras"
                                        :options="extrasValue"
                                        :multiple="true"
                                        :placeholder="$t('Type to search')"
                                        track-by="price"
                                        label="name"
                                    >
                                        <span slot="noResult"
                                            >Oops! No elements found. Consider
                                            changing the search query.</span
                                        >
                                    </multiselect>
                                </div>

                                <div class="form-group">
                                    <label>{{$t("Send to")}}</label>
                                    <select
                                        class="form-control"
                                        v-model="send_to"
                                        name="send_to"
                                        :class="{
                                            'is-invalid': errors.has('send_to')
                                        }"
                                        @change="errors.clear('send_to')"
                                    >
                                        <option value="waiters"
                                        >Only {{$t("Waiters")}}</option
                                        >
                                        <option value="Cooks"
                                            >{{$t("Cooks")}} & {{$t("Waiters")}}</option
                                        >
                                    </select>

                                    <span
                                        style="color:red"
                                        v-if="errors.has('send_to')"
                                        >{{ errors.get("send_to") }}</span
                                    >
                                </div>
                                <div class="row justify-content-center mt-3">
                                    <button class="btn btn-round-blue">
                                        {{$t("Save")}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueTagsInput from "@johmun/vue-tags-input";
import Multiselect from "vue-multiselect";
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
export default {
    name: "AddRestaurant",
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        if (window.location.href.includes("edit") == true) {
            this.action = "Edit";
            this.fetchDish();
        } else {
            this.action = "Create";
        }
        this.fetchExtras();
    },
    computed: {
        extrasValue() {
            let datas = this.$store.state.restaurantManagement.extras;
            let values = [];
            datas.forEach(element => {
                let item = {
                    name: element.name,
                    price: element.price
                };

                values.push(item);
            });
            return values;
        }
    },
    data() {
        return {
            errors: new Errors(),
            imageSelected: [false, false, false, false],
            images: ['','','',''],
            choices: [],
            previewUrl1:'',
            previewUrl2:'',
            previewUrl3:'',
            previewUrl4:'',
            action: "",
            tag: "",
            tags: [],
            extra: "",
            extras: [],
            come_with: "",
            come_withs: [],
            name: "",
            description: "",
            price: "",
            send_to: "",
            choiceForDish: [false, false, false, false, false],
            customQuestions: [
                { question: "", tags: [], tag: "" },
                { question: "", tags: [], tag: "" },
                { question: "", tags: [], tag: "" },
                { question: "", tags: [], tag: "" }
                //   {question: '', tags: [], tag:''},
            ],
            availableFeatures: [
                { text: "My tag value", style: "", classes: "bg-primary" },
                { text: "My tag value2", style: "", classes: "bg-primary" },
                { text: "My tag valu3", style: "", classes: "bg-primary" }
            ]
        };
    },
    components: {
        VueTagsInput,
        Multiselect
    },
    methods: {
        fetchExtras() {
            this.$store.dispatch(
                "restaurantManagement/getExtras",
                this.$route.params.restaurant_id
            );
        },
        trigerInputFile(index) {
            this.imageSelected.forEach(element=>{
            });
            if(this.getPreviewUrl(index)){
                this.images[index] = 'delete';
                this.setPreviewUrl(index,null);
                this.imageSelected[index]=false;
            }else{
                this.$refs.fileInput[index].click();
            }
        },
        imageChanged(index, e) {
            this.images[index] = e.target.files[0];
            this.imageSelected[index] = true;
            this.setPreviewUrl(index,URL.createObjectURL(this.images[index]));
            this.errors.clear("image1");
            e.target.parentElement.querySelector(
                ".image-holder img"
            ).style.display = "block ";
        },
        getPreviewUrl(index){
            switch(index){
                case 0:
                    return this.previewUrl1;
                break;
                case 1:
                    return this.previewUrl2;
                break;
                case 2:
                    return this.previewUrl3;
                break;
                case 3:
                    return this.previewUrl4;
                break;
            }
        },
        setPreviewUrl(index,url){
            switch(index){
                case 0:
                    this.previewUrl1=url;
                break;
                case 1:
                    this.previewUrl2=url;
                break;
                case 2:
                    this.previewUrl3=url;
                break;
                case 3:
                    this.previewUrl4=url;
                break;
            }
        },
        saveChanage() {
            let come_with = [];
            let ch_description = [[], [], [], []];

            this.customQuestions[0].tags.forEach(element => {
                ch_description[0].push(element.text);
            });
            this.customQuestions[1].tags.forEach(element => {
                ch_description[1].push(element.text);
            });
            this.customQuestions[2].tags.forEach(element => {
                ch_description[2].push(element.text);
            });
            this.customQuestions[3].tags.forEach(element => {
                ch_description[3].push(element.text);
            });
            this.come_withs.forEach(element => {
                come_with.push(element.text);
            });
            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("description", this.description);
            formData.append("price", this.price);
            formData.append("send_to", this.send_to);
            formData.append("come_with", come_with);
            formData.append("restaurant_id", this.$route.params.restaurant_id);

            for (let i = 0; i < this.images.length; i++) {
                formData.append(`image${i + 1}`, this.images[i]);
            }
            for (let i = 0; i < 4; i++) {
                formData.append(`ch${i}_description`, ch_description[i]);
            }
            let extrasPrice = [];
            let extrasName = [];
            this.extras.forEach(element => {
                extrasPrice.push(element.price);
                extrasName.push(element.name);
            });
            formData.append("choices", this.choices);
            formData.append("extrasPrice", extrasPrice);
            formData.append("extrasName", extrasName);
            // formData.append('restaurant_id',this.$store.getters.get_res.id);
            this.$Progress.start();
            if (this.action == "Edit") {
                formData.append("id", this.$route.query.dish_id);
                this.$store
                    .dispatch("restaurantManagement/updateDish", formData)
                    .then(response => {
                        this.$Progress.finish();
                        this.$router.go(-1);
                    })
                    .catch(errors => {
                        this.errors.record(errors.response.data);
                    });
            } else if (this.action == "Create") {
                formData.append("dish_category_id", this.$route.query.id);
                this.$store
                    .dispatch("restaurantManagement/storeDish", formData)
                    .then(response => {
                        this.$Progress.finish();
                        this.$router.go(-1);
                    })
                    .catch(errors => {
                        this.$Progress.finish();
                        this.errors.record(errors.response.data);
                    });
            }
        },
        changeIcon(icon) {
            return icon.replace(" ", "%20");
        },
        fetchDish() {
            this.$store
                .dispatch(
                    "restaurantManagement/getDish",
                    this.$route.query.dish_id
                )
                .then(response => {
                    this.name = response.name;
                    this.description = response.description;
                    this.price = response.price;
                    this.send_to = response.send_to;
                    if (response.image1) {
                        this.imageSelected[0] = true;
                        this.setPreviewUrl(0,response.image1);
                    }
                    if (response.image2) {
                        this.imageSelected[1] = true;
                        this.setPreviewUrl(1,response.image2);
                    }
                    if (response.image3) {
                        this.imageSelected[2] = true;
                        this.setPreviewUrl(2,response.image3);
                    }
                    if (response.image4) {
                        this.imageSelected[3] = true;
                        this.setPreviewUrl(3,response.image4);
                    }
                    if (response.choice1) {
                        this.choiceForDish[0] = true;
                        this.choices[0] = response.choice1;
                    }
                    if (response.choice2) {
                        this.choiceForDish[1] = true;
                        this.choices[1] = response.choice2;
                    }
                    if (response.choice3) {
                        this.choiceForDish[2] = true;
                        this.choices[2] = response.choice3;
                    }
                    if (response.choice4) {
                        this.choiceForDish[3] = true;
                        this.choices[3] = response.choice4;
                    }

                    if (response.come_with.length != 0) {
                        response.come_with.forEach(element => {
                            if (element) {
                                let item = { text: element };
                                this.come_withs.push(item);
                            }
                        });
                    }

                    if (response.ch1_description.length != 0) {
                        this.choiceForDish[0] = true;
                        response.ch1_description.forEach(element => {
                            if (element) {
                                let item = { text: element };
                                this.customQuestions[0].tags.push(item);
                            }
                        });
                    }
                    if (response.ch2_description.length != 0) {
                        this.choiceForDish[1] = true;
                        response.ch2_description.forEach(element => {
                            if (element) {
                                let item = { text: element };
                                this.customQuestions[1].tags.push(item);
                            }
                        });
                    }
                    if (response.ch3_description.length != 0) {
                        this.choiceForDish[2] = true;
                        response.ch3_description.forEach(element => {
                            if (element) {
                                let item = { text: element };
                                this.customQuestions[2].tags.push(item);
                            }
                        });
                    }
                    if (response.ch4_description.length != 0) {
                        this.choiceForDish[3] = true;
                        response.ch4_description.forEach(element => {
                            if (element) {
                                let item = { text: element };
                                this.customQuestions[3].tags.push(item);
                            }
                        });
                    }
                    if (response.extras) {
                        if (response.extras[0] != 0) {
                            this.extras = response.extras;
                        }
                    }
                    // response.extras.forEach(element=>{
                    //     let item={text:element};
                    //     this.extras.push(item);
                    // })
                    this.$Progress.finish();
                });
        },
        addTag(newTag) {
            const tag = {
                name: newTag,
                code:
                    newTag.substring(0, 2) +
                    Math.floor(Math.random() * 10000000)
            };
            this.options.push(tag);
            this.value.push(tag);
        }
    },
    beforeDestroy() {
        this.$Progress.start();
    },
    mounted() {
        this.$Progress.finish();
    }
};
</script>

<style lang="scss" scoped>
@import url("/css/select2.css");
.is-invalid {
    box-shadow: 0px 0px 8px rgb(250, 94, 94) !important;
}
.add-restaurant {
    padding: 30px 0;
    .card {
        background-color: white;
        box-shadow: 0px 0px 8px 0px #ccc;
        padding: 20px 25px;
        h3 {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 41px;
            text-align: center;
            color: var(--main-color);
        }
        label {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            color: #000000;
        }
        .filePhoto {
            visibility: hidden;
        }
        #wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
        .uploader {
            width: 90px;
        }
        .image-holder {
            height: 80px;
            width: 80px;
            border: 2px dashed #808080;
            position: relative;
            img {
                height: 80px;
                width: 80px;
                object-fit: cover;
            }
            .close_ico {
                display: flex;
                position: absolute;
                justify-content: flex-end;
                top: 0px;
                transition: all 0.2s linear;
                width: 100%;
                height: 100%;
            }
            &:hover{
                .close_ico{
                    display: flex;
                    cursor:pointer;
                }
            }
        }
        .form-control {
            border: none;
            background: #ffffff;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            border-radius: 0;
        }
        .form-control:focus {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            border: none;
        }
    }
}
@media (max-width: 500px) {
    .card {
        padding: 20px 0;
    }
    .back-btn {
        left: -5px;
        top: -12px;
    }
}
</style>
