<template>
    <div class="products">
        <router-link
            class="add-extra"
            :to="{
                path: `/restaurant/${$route.params.restaurant_id}/restaurant/menu/${$route.params.category}/new`,
                query: { id: $route.query.id }
            }"
        >
            <!-- $route.query.id -->
            +
        </router-link>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="container-fluid">
                        <div class="panel-head mt-2">
                            <router-link
                                class="back-btn"
                                :to="
                                    '/restaurant/' +
                                        $route.params.restaurant_id +
                                        '/restaurant/menu'
                                "
                            >
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <g opacity="0.87">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z"
                                        />
                                    </g>
                                </svg>
                            </router-link>
                            <h3 class="head">{{ $route.params.category }}</h3>
                        </div>
                        <div class="alert empty-extra" v-if="!dishes.length">
                            <h4>{{$t("You have not created any Dish for this category")}}</h4>
                        </div>
                        <div class="row">
                            <div
                                class="col-sm-12 col-md-6 col-lg-6 card-border"
                                v-for="(dish, index) in dishes"
                                :key="index"
                            >
                                <div
                                    class="card-category"
                                    :class="{
                                        'in-active': dish.status == 'inactive'
                                    }"
                                >
                                    <div class="header__card-category">
                                        <h5>{{ dish.name }}</h5>
                                        <div class="controls">
                                            <!-- :to="{path:`/restaurant/menu/${$route.params.category}/new`,query:{id:$route.query.id}}" -->
                                            <router-link
                                                class="edit"
                                                :to="{
                                                    path: `/restaurant/${$route.params.restaurant_id}/restaurant/menu/${$route.params.category}/${dish.name}/edit`,
                                                    query: { dish_id: dish.id }
                                                }"
                                                title="Edit"
                                            >
                                                <svg
                                                    data-v-2b6d2e37=""
                                                    opacity="0.54"
                                                    width="18"
                                                    height="16"
                                                    viewBox="0 0 18 18"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path
                                                        data-v-2b6d2e37=""
                                                        d="M13.6195 1.06L16.8647 4.31712C17.4155 4.86796 17.3676 5.80198 16.9006 6.28097L7.30882 15.8847L0.650879 17.2738L2.03995 10.5919C2.03995 10.5919 11.1407 1.45516 11.6077 0.976173C12.0748 0.509159 13.0687 0.509159 13.6195 1.06ZM10.3504 4.40094L3.65653 11.1188L4.98573 12.448L11.6197 5.68224L10.3504 4.40094ZM6.79391 14.2561L13.4758 7.55029L12.1945 6.25702L5.50064 12.9629L6.79391 14.2561Z"
                                                        fill="black"
                                                    ></path>
                                                </svg>
                                            </router-link>
                                            <router-link
                                                class="edit"
                                                :to="{
                                                    path: `/restaurant/${$route.params.restaurant_id}/restaurant/menu/${$route.params.category}/${dish.name}/products`,
                                                    query: { dish_id: dish.id }
                                                }"
                                                title="Products"
                                            >
                                                <svg
                                                    width="17"
                                                    height="18"
                                                    viewBox="0 0 24 25"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path
                                                        opacity="0.54"
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M5.5 7C4.672 7 4.001 6.327 4.001 5.5C4.001 4.672 4.672 4 5.5 4C6.328 4 7 4.672 7 5.5C7 6.327 6.328 7 5.5 7ZM10.999 2H2V11C2 11.552 2.225 12.051 2.587 12.415L11.59 21.413C11.951 21.775 12.451 22 13.004 22C13.557 22 14.057 21.776 14.418 21.415L21.412 14.42C21.775 14.058 22 13.556 22 13.004C22 12.451 21.777 11.95 21.413 11.59L12.415 2.585C12.051 2.225 11.552 2 10.999 2Z"
                                                        fill="black"
                                                    />
                                                </svg>
                                            </router-link>
                                            <span class="edit" @click="deleteConfirm(dish.id)">
                                                <img src="/images/logo/delete.svg" alt="" style="width:15px;">
                                            </span>
                                            <checkboxComponent
                                                :id="dish.id"
                                                :status="dish.status"
                                                :type="'dish'"
                                            />
                                        </div>
                                    </div>
                                    <div class="body__card-category">
                                        <div child1>
                                            <swiper
                                                ref="mySwiper"
                                                class="swiper"
                                                :options="swiperOption"
                                            >
                                                <swiper-slide
                                                    v-if="dish.image1"
                                                >
                                                    <div class="visual">
                                                        <img
                                                            :src="dish.image1"
                                                            alt=""
                                                        />
                                                    </div>
                                                </swiper-slide>
                                                <swiper-slide
                                                    v-if="dish.image2"
                                                >
                                                    <div class="visual">
                                                        <img
                                                            :src="dish.image2"
                                                            alt=""
                                                        />
                                                    </div>
                                                </swiper-slide>
                                                <swiper-slide
                                                    v-if="dish.image3"
                                                >
                                                    <div class="visual">
                                                        <img
                                                            :src="dish.image3"
                                                            alt=""
                                                        />
                                                    </div>
                                                </swiper-slide>
                                                <swiper-slide
                                                    v-if="dish.image4"
                                                >
                                                    <div class="visual">
                                                        <img
                                                            :src="dish.image4"
                                                            alt=""
                                                        />
                                                    </div>
                                                </swiper-slide>
                                                <div
                                                    class="swiper-button-prev"
                                                    slot="button-prev"
                                                >
                                                    <svg
                                                        width="43"
                                                        height="43"
                                                        viewBox="0 0 43 43"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            d="M26.3501 29.1916L18.6585 21.4999L26.3501 13.8083L23.8167 11.2749L13.5916 21.4999L23.8167 31.725L26.3501 29.1916Z"
                                                            fill="#474D52"
                                                        />
                                                    </svg>
                                                </div>
                                                <div
                                                    class="swiper-button-next"
                                                    slot="button-next"
                                                >
                                                    <svg
                                                        width="43"
                                                        height="43"
                                                        viewBox="0 0 43 43"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            d="M16.6499 13.8084L24.3415 21.5001L16.6499 29.1917L19.1833 31.7251L29.4084 21.5001L19.1833 11.275L16.6499 13.8084Z"
                                                            fill="#474D52"
                                                        />
                                                    </svg>
                                                </div>
                                            </swiper>
                                            <!-- <img :src="dish.image1" alt=""> -->
                                        </div>
                                        <div class="child2">
                                            <p
                                                v-text="
                                                    dishDescription(
                                                        dish.description
                                                    )
                                                "
                                            ></p>
                                            <span
                                                >{{$t("Price")}}: {{ dish.price }}
                                                {{
                                                    $store.state.restaurant
                                                        .currency
                                                }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
         <Alert
            :type="'confirmation'"
            v-if="alert"
            @closeMe="alert = false"
            @delete="deleteDish"
        />
    </div>
</template>

<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import checkboxComponent from "./checkboxComponent";
import "swiper/swiper-bundle.css";
export default {
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        this.fetchDishes();
    },
    data() {
        return {
            swiperOption: {
                loop: false,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                },
            },
            alert: false,
            deleId:''
        };
    },
    components: {
        swiper,
        swiperSlide,
        checkboxComponent
    },
    computed: {
        dishes() {
            return this.$store.state.restaurantManagement.dishes;
        }
    },
    methods: {
        fetchDishes() {
            this.$store
                .dispatch("restaurantManagement/getDishes", {
                    restaurant_id: this.$route.params.restaurant_id,
                    id: this.$route.query.id
                })
                .then(response => {
                    this.$Progress.finish();
                });
        },
        deleteConfirm(id){
            this.alert=true;
            this.deleId=id;
        },
        dishDescription(description) {
            return description.substr(0, 70) + "...";
        },
        deleteDish(){
            this.$store
                .dispatch(
                    "restaurantManagement/deleteDish",
                    this.deleId
                )
                .then(response => {
                    this.$Progress.finish();
                    this.alert=false;
                });
        }
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
.products {
    position: relative;
    padding: 40px 20px 20px 20px;
    .add-extra {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--main-color);
        color: #fff;
        font-size: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 20px;
        top: 20px;
        text-decoration: none;
    }
    .card {
        margin-top: 40px;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 8px 0px #ccc;
        padding: 20px 45px;
        h3 {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 650;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 41px;
            text-align: center;
            color: var(--font-color);
            text-transform: capitalize;
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 1px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: var(--main-color);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--main-color);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}
.card-category {
    margin-bottom: 10px;
    .header__card-category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fbfbfb;
        box-shadow: 0px 0px 8px 0px #dcdcdc;
        padding: 17px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        h5 {
            margin: 0;
            font-family: "Poppins", sans-serif;
            font-size: 19px;
            font-weight: 550;
            color: #383838;
        }
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .edit {
                width: 30px;
                transition: 0.2s ease;
                background-color: #f3f3f3;
                padding: 5px;
                margin: 0px 3px;
                display: flex;
                border-radius: 100%;
                border: 1px solid #e0e0e0;
                cursor:pointer;
            }
            .edit:hover {
                box-shadow: 0px 0px 8px 0px #e0e0e0;
            }
            .switch {
                margin: 0;
            }
        }
    }
}
.body__card-category {
    // display: flex;
    height: 225px;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 8px 0px #dcdcdc;
    padding: 0 10px 10px 10px;

    div {
        overflow: hidden;
        box-sizing: border-box;
    }

    // &:hover{
    //     img{
    //         transform: scale(1.1);
    //     }
    // }
}
.body__card-category .child1 {
    flex: 0 0 50%;
}
.body__card-category .child2 {
    flex: 0 0 50%;
    padding: 20px 14px;
}
.body__card-category .child2 p {
    font-size: 15px;
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 0;
    // transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background-color: #ffffff91;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    &::after,
    &::before {
        content: none;
    }
}
.swiper-button-next {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #ffffff91;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    // transform: translateY(-50%);
    &::after,
    &::before {
        content: none;
    }
}
.visual {
    height: 215px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    img {
        height: 100%;
        width: auto;
    }
}
.swiper-button-prev,
.swiper-button-next:hover {
    cursor: pointer;
}
.in-active {
    opacity: 0.4;
}
@media (max-width: 500px) {
    .products {
        padding: 40px 0 !important;
        .card {
            padding: 20px 0;
        }
    }
}
</style>
