<template>
    <div class="inventory">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <div class="panel-head mt-2">
                                <div
                                    @click="$router.go(-1)"
                                    class="back-btn"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g opacity="0.87">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z"
                                            />
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="head">{{$t("Inventory products that the dish spends")}}</h3>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button
                                    class="btn bg-white"
                                    title="Create Product Entry"
                                    @click="openModel()"
                                >
                                    +
                                </button>
                            </div>
                            <div class="categories-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width:25%">{{$t("Category")}}</th>
                                            <th style="width:25%">{{$t("Product")}}</th>
                                            <th style="width:25%">{{$t("Quantity")}}</th>
                                            <th style="width:25%">{{$t("Actions")}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!ingredients.length">
                                            <th colspan="5">
                                                <p
                                                    style="padding:10px;background-color:white;color:gray;display:flex;justify-content:center"
                                                >
                                                    {{$t("No Record Stored")}}
                                                </p>
                                            </th>
                                        </tr>
                                        <tr
                                            v-for="(ingredient,
                                            index) in ingredients"
                                            :key="index"
                                        >
                                            <td>{{ ingredient.category }}</td>
                                            <td>{{ ingredient.product }}</td>
                                            <td>
                                                {{ ingredient.quantity }}
                                                {{ ingredient.measuring_unit }}
                                            </td>
                                            <td>
                                                <!-- <button @click="EditIngredient(ingredient)"  tag="button" class="btn bg-white">
                                                <svg width="14" height="14" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M16.3577 1.15104L20.2825 5.09034C20.9487 5.75655 20.8908 6.88621 20.326 7.46552L8.72526 19.0807L0.672852 20.7607L2.35285 12.6793C2.35285 12.6793 13.3597 1.62897 13.9246 1.04966C14.4894 0.484828 15.6915 0.484829 16.3577 1.15104ZM12.4039 5.19172L4.30802 13.3165L5.91561 14.9241L13.9391 6.74138L12.4039 5.19172ZM8.10251 17.111L16.1839 9.00069L14.6342 7.43655L6.53837 15.5469L8.10251 17.111Z" fill="black"/>
                                                </svg>
                                        </button> -->
                                                <button
                                                    @click="
                                                        DeleteIngredient(
                                                            ingredient.id
                                                        )
                                                    "
                                                    tag="button"
                                                    class="btn bg-white"
                                                >
                                                    <svg
                                                        width="14"
                                                        height="14"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            opacity="0.54"
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M17.999 7.00002H5.999V19C5.999 20.104 6.895 21 8 21H15.999C17.105 21 17.999 20.104 17.999 19V7.00002ZM14.499 2.99902H9.499L8.5 4.00002H5.999C5.448 4.00002 5 4.44802 5 4.99902V6.00002H19V4.99902C19 4.44802 18.552 4.00002 17.999 4.00002H15.5L14.499 2.99902Z"
                                                            fill="black"
                                                        />
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" :class="{ show: modal }">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t("Add")}} Product</h5>
                        <button
                            type="button"
                            class="close"
                            @click="modal = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="category" style="text-align: left"
                                >{{$t("Category")}}</label
                            >
                            <select
                                class="form-control"
                                v-model="ingredient.category"
                                @change="selectProduct(ingredient.category)"
                            >
                                <option
                                    v-for="(category, index) in categories"
                                    :key="index"
                                    :value="category.category_name"
                                    >{{ category.category_name }}</option
                                >
                                <!-- <option value="690">test</option> -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="product" style="text-align: left"
                                >{{$t("Product")}}</label
                            >
                            <select
                                class="form-control"
                                v-model="ingredient.product"
                                @change="selectUnit(ingredient.product)"
                            >
                                <option
                                    v-for="(product, index) in products"
                                    :key="index"
                                    class="dynamic"
                                    :value="product.product_name"
                                    data-unit="Ounce(s)"
                                    >{{ product.product_name }}</option
                                >
                            </select>
                        </div>
                        <label
                            for="quantity"
                            style="text-align: left; display: block"
                            >{{$t("Quantity")}}</label
                        >
                        <div class="input-group mb-2 mr-sm-2">
                            <input
                                type="text"
                                class="form-control"
                                id="quantity"
                                v-model="ingredient.quantity"
                            />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    {{ ingredient.measuring_unit }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-white"
                            @click="modal = false"
                        >
                            {{$t("Close")}}
                        </button>
                        <button
                            type="button"
                            class="btn btn-round-blue"
                            @click="saveChanges()"
                        >
                            {{$t("Save")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <alert
            id="confirmation"
            type="confirmation"
            v-if="alert"
            @delete="deleteLast"
            @closeMe="alert = false"
        >
        </alert>
    </div>
</template>

<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import moduleProductManagement from "@/store/product-management/moduleProductManagement.js";

export default {
    data() {
        return {
            modal: false,
            ingredient: {
                product: "",
                category: "",
                quantity: "",
                measuring_unit: "",
                dish_id: "",
                restaurant_id: ""
            },
            categories: [],
            products: [],
            action: "",
            alert: false,
            confirmation: false,
            queu: ""
        };
    },
    mounted() {
        document.addEventListener("click", e => {
            if (e.target == document.getElementsByClassName("modal")[0]) {
                this.modal = false;
            }
        });
        this.$Progress.finish();
    },
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        if (!moduleProductManagement.isRegistered) {
            this.$store.registerModule(
                "productManagement",
                moduleProductManagement
            );
            moduleProductManagement.isRegistered = true;
        }
        this.getEnteries();
        this.getDishIngredients();
    },
    computed: {
        ingredients() {
            return this.$store.state.restaurantManagement.dishIngredients;
        }
    },
    methods: {
        openModel() {
            this.modal = !this.modal;
            this.ingredient.product = "";
            this.ingredient.category = "";
            this.ingredient.quantity = "";
            this.ingredient.measuring_unit = "";
            this.action = "add";
        },
        getEnteries() {
            this.$store
                .dispatch(
                    "productManagement/getEnteries",
                    this.$route.params.restaurant_id
                )
                .then(categories => {
                    this.categories = categories;
                    this.products = categories[0].products;
                    this.measuringUnit = this.products[0].measuring_unit;
                });
        },
        getDishIngredients() {
            this.$store.dispatch("restaurantManagement/getDishIngredients", {
                restaurant_id: this.$route.params.restaurant_id,
                dish_id: this.$route.query.dish_id
            });
        },
        saveChanges() {
            this.$Progress.start();
            if (
                this.ingredient.product ||
                this.ingredient.measuring_unit ||
                this.ingredient.category ||
                this.ingredient.quantity
            ) {
                if (this.action == "add") {
                    this.ingredient.id = this.$route.query.dish_id;
                    this.ingredient.restaurant_id = this.$store.getters.get_res.id;
                    this.$store
                        .dispatch(
                            "restaurantManagement/storeDishIngredient",
                            this.ingredient
                        )
                        .then(res => {
                            this.$Progress.finish();
                            this.openModel();
                        });
                } else if (this.action == "edit") {
                    this.$store
                        .dispatch(
                            "restaurantManagement/storeDishIngredient",
                            this.ingredient
                        )
                        .then(res => {
                            this.$Progress.finish();
                            this.openModel();
                        });
                }
            }
        },
        selectUnit(product_name) {
            let index = this.products.findIndex(
                u => u.product_name == product_name
            );
            this.ingredient.measuring_unit = this.products[
                index
            ].measuring_unit;
        },
        selectProduct(category_name) {
            let index = this.categories.findIndex(
                u => u.category_name == category_name
            );
            this.products = this.categories[index].products;
        },
        EditIngredient(ingredient) {
            this.modal = !this.modal;
            this.action = "edit";
            this.ingredient.product = ingredient.product;
            this.ingredient.category = ingredient.category;
            this.ingredient.quantity = ingredient.quantity;
            this.ingredient.measuring_unit = ingredient.measuring_unit;
        },
        DeleteIngredient(id) {
            if (this.confirmation) {
                this.$store.dispatch(
                    "restaurantManagement/deleteDishIngredient",
                    id
                );
                this.confirmation = false;
                this.alert = false;
                this.queu = "";
            } else {
                this.alert = true;
                this.queu = id;
            }
        },
        deleteLast() {
            this.confirmation = true;
            this.DeleteIngredient(this.queu);
        }
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
.show {
    display: block !important;
}
.modal {
    background: rgba(0, 0, 0, 0.4);
    button {
        border-radius: 15px;
        font-size: 14px;
        height: 38px;
        width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.inventory {
    position: relative;
    padding: 40px 20px 20px 20px;
    .add-extra {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--main-color);
        color: #fff;
        font-size: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 20px;
        top: 20px;
        text-decoration: none;
    }
    .card {
        background-color: #f5f5f5;
        // box-shadow: 0px 0px 8px 0px  #ccc;
        padding: 20px 25px;
        h3 {
            font-family: "Open sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 41px;
            text-align: center;
            color: var(--main-color);
        }
        .categories-list {
            table {
                width: 100%;
                th,
                td {
                    padding: 10px 5px;
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 44px;
                    color: #000000;
                }
                tr {
                    border-bottom: 1px solid #ccc;
                }
                tbody {
                    tr {
                        border-bottom: 1px solid #ccc;
                        &:last-child {
                            border: none;
                        }
                    }
                    button {
                        color: var(--main-color);
                        font-weight: 400;
                        font-size: 12px;
                        a {
                            text-decoration: none;
                            color: car(--main-color);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .inventory {
        padding: 40px 0 !important;
        .card {
            padding: 20px 10px;
        }
    }
    .back-btn {
        left: -11px;
        top: -18px;
    }
}
</style>
