<template>
    <div class="sidebar">
        <div class="user">
            <svg
                v-if="!user.image"
                width="60"
                height="60"
                viewBox="0 0 120 120"
                :fill="'#737373'"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                    cx="60"
                    cy="60"
                    r="56.5"
                    :stroke="'#737373'"
                    stroke-width="20"
                />
                <path
                    d="M60.857 36.1071C62.2934 36.1071 63.7758 36.3926 65.3043 36.9634C66.8327 37.5343 68.1678 38.2525 69.3096 39.118C70.4513 39.9835 71.3905 40.9411 72.1271 41.9908C72.8637 43.0405 73.232 44.0257 73.232 44.9464V53.7857C73.232 55.885 72.79 58.2238 71.9061 60.8019C71.0222 63.38 69.7147 65.332 67.9837 66.6579C67.689 66.9157 67.4312 67.2196 67.2102 67.5695C66.9893 67.9194 66.8327 68.2877 66.7407 68.6744C66.6486 69.0611 66.621 69.457 66.6578 69.8622C66.8419 71.1881 67.5233 72.1272 68.7019 72.6797L84.1154 79.9721L84.2259 79.9997L84.4469 80.0826L84.7231 80.2483L85.0269 80.4969L85.3032 80.856L85.4965 81.4085L85.5518 82.1267V85.5519L36.107 85.6071V82.0162C36.107 81.0954 36.6042 80.4141 37.5986 79.9721L53.1226 72.6244C54.3012 72.072 54.9734 71.142 55.1391 69.8345C55.3048 68.5271 54.8721 67.4682 53.8408 66.6579C52.1466 65.2952 50.8299 63.3156 49.8908 60.719C48.9516 58.1225 48.482 55.8114 48.482 53.7857V44.9464C48.482 43.731 49.0897 42.4328 50.3051 41.0516C51.5205 39.6705 53.1042 38.5011 55.0562 37.5435C57.0082 36.5859 58.9418 36.1071 60.857 36.1071ZM60.857 32.5714C58.3157 32.5714 55.802 33.1883 53.316 34.4222C50.8299 35.656 48.8135 37.2397 47.2666 39.1733C45.7197 41.1069 44.9463 43.0312 44.9463 44.9464V53.7857C44.9463 56.1797 45.508 58.9328 46.6313 62.0449C47.7546 65.1571 49.4212 67.6155 51.631 69.4202L36.107 76.7679C35.9965 76.8047 35.8676 76.8599 35.7203 76.9336C35.573 77.0073 35.2967 77.173 34.8916 77.4308C34.4865 77.6886 34.1274 77.9464 33.8143 78.2042C33.5013 78.4621 33.2158 78.7843 32.958 79.171C32.7002 79.5578 32.5713 79.9169 32.5713 80.2483V85.6071C32.5713 86.5647 32.912 87.3842 33.5933 88.0656C34.2747 88.7469 35.1126 89.0876 36.107 89.0876H85.607C86.5646 89.0876 87.3841 88.7469 88.0654 88.0656C88.7468 87.3842 89.0875 86.5647 89.0875 85.6071V80.2483C89.0875 79.88 88.9678 79.5025 88.7284 79.1158C88.489 78.7291 88.1943 78.3976 87.8445 78.1214C87.4946 77.8451 87.1539 77.5965 86.8224 77.3756C86.4909 77.1546 86.1963 76.9888 85.9385 76.8783L85.607 76.7679L70.1935 69.4202C72.4033 67.6892 74.0515 65.2952 75.138 62.2383C76.2245 59.1814 76.7677 56.3638 76.7677 53.7857V44.9464C76.7677 43.51 76.2981 42.046 75.359 40.5544C74.4198 39.0628 73.2136 37.7277 71.7404 36.5491C70.2672 35.3705 68.5546 34.4129 66.6025 33.6763C64.6505 32.9397 62.7354 32.5714 60.857 32.5714Z"
                    :fill="'#737373'"
                />
            </svg>
            <span class="status-outer" v-else>
                <span class="img-border">
                    <img
                        :src="restaurant.logo"
                        alt=""
                        style="border-radius: 100%;width: 90px;height: 90px;"
                    />
                </span>
            </span>
            <h3 class="name" style="margin-bottom:3px;">{{ user.name }}</h3>
            <h6 class="name2" style="margin-top:1px;">{{ restaurant.name }}</h6>
            <span class="status">
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    :fill="'#737373'"
                    xmlns="http://www.w3.org/2000/svg"
                    :class="this.status"
                >
                    <circle
                        cx="8"
                        cy="8"
                        r="8"
                        :fill="this.status == 'Online' ? 'green' : '    '"
                    />
                </svg>
                {{ $t(status) }}
            </span>
        </div>
        <br /><br />
        <div class="sidebar-nav">
            <!-- <router-link class="sidebar-item" tag="li" to="/full/login" active-class="active">
                <a>
                <svg width="34" height="34" viewBox="0 0 34 34" :fill="'#737373'" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M31.8374 16.3294L17.6707 2.16276C17.4938 1.98686 17.2544 1.88812 17.0049 1.88812C16.7554 1.88812 16.516 1.98686 16.3391 2.16276L2.17241 16.3294C2.01769 16.5101 1.93684 16.7425 1.94602 16.9802C1.9552 17.2179 2.05373 17.4434 2.22193 17.6116C2.39013 17.7798 2.61561 17.8783 2.85331 17.8875C3.091 17.8967 3.3234 17.8158 3.50408 17.6611L17.0002 4.16498L30.4963 17.6705C30.677 17.8253 30.9094 17.9061 31.1471 17.8969C31.3848 17.8877 31.6102 17.7892 31.7784 17.621C31.9466 17.4528 32.0452 17.2273 32.0544 16.9896C32.0635 16.7519 31.9827 16.5195 31.828 16.3389L31.8374 16.3294Z" fill="white"/>
                        <path d="M26.4443 30.2222H21.7221V20.7778H12.2776V30.2222H7.55539V17L5.6665 18.8889V30.2222C5.6665 30.7232 5.86551 31.2036 6.21975 31.5579C6.57398 31.9121 7.05443 32.1111 7.55539 32.1111H14.1665V22.6666H19.8332V32.1111H26.4443C26.9452 32.1111 27.4257 31.9121 27.7799 31.5579C28.1342 31.2036 28.3332 30.7232 28.3332 30.2222V18.6622L26.4443 16.7733V30.2222Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="34" height="34" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

                <span>Login</span>
                </a>
            </router-link> -->

            <router-link
                tag="li"
                :to="
                    '/take-order/' +
                        this.$store.getters.get_res.id +
                        '/restaurant'
                "
                class="sidebar-item"
                active-class="active"
                v-if="
                    $store.getters.auth_user.role == 'owner' ||
                        $store.getters.auth_user.role == 'manager' ||
                        $store.getters.auth_user.role == 'waiter' ||
                        $store.getters.auth_user.role == 'cashier'
                "
            >
                <a>
                    <svg
                        width="36"
                        height="36"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M30.16 2.46994L33.53 5.83994C33.8329 6.142 34.0031 6.55218 34.0031 6.97994C34.0031 7.40771 33.8329 7.81789 33.53 8.11994L19.85 21.9299L15 22.9999C14.877 23.0135 14.753 23.0135 14.63 22.9999C14.1483 22.9976 13.6929 22.7796 13.3889 22.4059C13.0849 22.0322 12.9642 21.5421 13.06 21.0699L14.17 16.2599L27.88 2.46994C28.1821 2.16706 28.5922 1.99683 29.02 1.99683C29.4478 1.99683 29.8579 2.16706 30.16 2.46994ZM6 29.9999H28V16.9999L30 14.9999V29.9999C30 31.1045 29.1046 31.9999 28 31.9999H6C4.89543 31.9999 4 31.1045 4 29.9999V7.99994C4 6.89538 4.89543 5.99994 6 5.99994H21.22L19.22 7.99994H6V29.9999ZM18.81 20.0799L15.15 20.8899L16 17.2599L26.32 6.86994L29.14 9.68994L18.81 20.0799ZM27.45 5.73994L30.27 8.55994L31.84 6.99994L29 4.15994L27.45 5.73994Z"
                            fill="#737373"
                        />
                    </svg>

                    <span>{{$t("Take Order")}}</span>
                </a>
            </router-link>
            <router-link
                tag="li"
                :to="
                    '/orders/' + this.$store.getters.get_res.id + '/restaurant'
                "
                class="sidebar-item"
                active-class="active"
                v-if="
                    user.role == 'owner' ||
                        user.role == 'manager' ||
                        user.role == 'cook' ||
                        user.role == 'waiter' ||
                        user.role == 'delivery_man' ||
                        user.role == 'cashier'
                "
            >
                <a>
                    <svg
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        :fill="'#737373'"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M31.79 17.6481L28.6025 10.2106C28.5212 10.0186 28.3851 9.85472 28.2113 9.73947C28.0375 9.62422 27.8336 9.56267 27.625 9.5625H24.4375V7.4375C24.4375 7.15571 24.3256 6.88546 24.1263 6.6862C23.927 6.48694 23.6568 6.375 23.375 6.375H3.1875C2.90571 6.375 2.63546 6.48694 2.4362 6.6862C2.23694 6.88546 2.125 7.15571 2.125 7.4375V25.5C2.125 25.7818 2.23694 26.052 2.4362 26.2513C2.63546 26.4506 2.90571 26.5625 3.1875 26.5625H5.46125C5.70592 27.4628 6.24006 28.2576 6.98126 28.8243C7.72245 29.3909 8.62952 29.6979 9.5625 29.6979C10.4955 29.6979 11.4025 29.3909 12.1437 28.8243C12.8849 28.2576 13.4191 27.4628 13.6637 26.5625H20.3363C20.5809 27.4628 21.1151 28.2576 21.8563 28.8243C22.5975 29.3909 23.5045 29.6979 24.4375 29.6979C25.3705 29.6979 26.2775 29.3909 27.0187 28.8243C27.7599 28.2576 28.2941 27.4628 28.5387 26.5625H30.8125C31.0943 26.5625 31.3645 26.4506 31.5638 26.2513C31.7631 26.052 31.875 25.7818 31.875 25.5V18.0625C31.8747 17.9201 31.8458 17.7792 31.79 17.6481ZM24.4375 11.6875H26.9237L29.1975 17H24.4375V11.6875ZM9.5625 27.625C9.14221 27.625 8.73137 27.5004 8.38191 27.2669C8.03246 27.0334 7.76009 26.7015 7.59926 26.3132C7.43842 25.9249 7.39634 25.4976 7.47833 25.0854C7.56032 24.6732 7.76271 24.2946 8.0599 23.9974C8.35708 23.7002 8.73572 23.4978 9.14793 23.4158C9.56014 23.3338 9.98741 23.3759 10.3757 23.5368C10.764 23.6976 11.0959 23.97 11.3294 24.3194C11.5629 24.6689 11.6875 25.0797 11.6875 25.5C11.6875 26.0636 11.4636 26.6041 11.0651 27.0026C10.6666 27.4011 10.1261 27.625 9.5625 27.625ZM20.3363 24.4375H13.6637C13.4191 23.5372 12.8849 22.7424 12.1437 22.1757C11.4025 21.6091 10.4955 21.3021 9.5625 21.3021C8.62952 21.3021 7.72245 21.6091 6.98126 22.1757C6.24006 22.7424 5.70592 23.5372 5.46125 24.4375H4.25V8.5H22.3125V21.845C21.8287 22.1258 21.4051 22.4994 21.0659 22.9442C20.7268 23.3891 20.4788 23.8966 20.3363 24.4375ZM24.4375 27.625C24.0172 27.625 23.6064 27.5004 23.2569 27.2669C22.9075 27.0334 22.6351 26.7015 22.4743 26.3132C22.3134 25.9249 22.2713 25.4976 22.3533 25.0854C22.4353 24.6732 22.6377 24.2946 22.9349 23.9974C23.2321 23.7002 23.6107 23.4978 24.0229 23.4158C24.4351 23.3338 24.8624 23.3759 25.2507 23.5368C25.639 23.6976 25.9709 23.97 26.2044 24.3194C26.4379 24.6689 26.5625 25.0797 26.5625 25.5C26.5625 26.0636 26.3386 26.6041 25.9401 27.0026C25.5416 27.4011 25.0011 27.625 24.4375 27.625ZM29.75 24.4375H28.5387C28.3038 23.5275 27.7738 22.721 27.0317 22.1443C26.2897 21.5675 25.3773 21.2531 24.4375 21.25V19.125H29.75V24.4375Z"
                            :fill="'#737373'"
                        />
                    </svg>

                    <span>{{$t("Orders")}}</span>
                </a>
            </router-link>
            <router-link
                class="sidebar-item"
                tag="li"
                :to="
                    '/restaurant/' +
                        this.$store.getters.get_res.id +
                        '/restaurant'
                "
                active-class="active"
                v-if="user.role == 'owner' || user.role == 'manager'"
            >
                <a>
                    <svg
                        width="36"
                        height="36"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M18.71 2.29L33.71 17.29L33.7 17.3C34.0397 17.6968 34.0169 18.2882 33.6475 18.6576C33.2782 19.0269 32.6867 19.0498 32.29 18.71L18 4.41L3.70997 18.7C3.31321 19.0398 2.72178 19.0169 2.35241 18.6476C1.98304 18.2782 1.96019 17.6868 2.29997 17.29L17.3 2.29C17.69 1.90228 18.3199 1.90228 18.71 2.29ZM23 32H28V17.76L30 19.76V32C30 33.1046 29.1045 34 28 34H21V24H15V34H7.99997C6.8954 34 5.99997 33.1046 5.99997 32V20L7.99997 18V32H13V22H23V32Z"
                            fill="#737373"
                        />
                    </svg>

                    <span>{{$t("My Restaurant")}}</span>
                </a>
            </router-link>
            <router-link
                class="sidebar-item"
                tag="li"
                :to="
                    '/inventory/' +
                        this.$store.getters.get_res.id +
                        '/restaurant'
                "
                active-class="active"
                v-if="
                    (user.role == 'owner' || user.role == 'manager') &&
                        $store.state.restaurant.inventory_permission == 'yes'
                "
            >
                <a>
                    <svg
                        width="36"
                        height="36"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M26.74 11.82L33.48 29.63C33.5742 29.878 33.566 30.1532 33.4572 30.3951C33.3484 30.6371 33.148 30.8259 32.9 30.92L27.29 33.06C27.042 33.1542 26.7668 33.146 26.5249 33.0372C26.2829 32.9284 26.0941 32.728 26 32.48L21 19.27V32C21 32.5523 20.5523 33 20 33H4C3.44772 33 3 32.5523 3 32V5C3 3.89543 3.89543 3 5 3H12.08C13.1404 3 14 3.85961 14 4.92V7H19.08C20.1404 7 21 7.85961 21 8.92V11.85L24.16 10.66C24.656 10.4716 25.2064 10.488 25.6903 10.7056C26.1741 10.9231 26.5518 11.324 26.74 11.82ZM12 31V8.83V5H5V31H12ZM19 31H14V9H19V31ZM21.13 13.92L27.51 30.75L31.26 29.33L24.87 12.5L21.13 13.92Z"
                            fill="#737373"
                        />
                    </svg>

                    <span>{{$t("My Inventory")}}</span>
                </a>
            </router-link>

            <li
                class="sidebar-item sidebar-item__sublist"
                @click="sublistTeam = !sublistTeam"
                :class="{'active': sublistTeam}"
                v-if="user.role == 'owner' || user.role == 'manager'"
            >
                <a>
                    <svg
                        width="36"
                        height="36"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M10.3 14.1C10.5 14.1 10.7 14.1 10.9 14V13.4C10.9 12.9 10.9 12.4 11 12C10.8 12.1 10.5 12.1 10.3 12.1C9 12.1 7.9 11 7.9 9.70004C7.9 8.40004 9 7.30004 10.3 7.30004C11.3 7.30004 12.2 7.90004 12.6 8.80004C13 8.30004 13.6 7.80004 14.1 7.40004C12.8 5.30004 10.1 4.60004 8 5.90004C5.9 7.20004 5.2 9.90004 6.5 12C7.3 13.3 8.7 14.1 10.3 14.1ZM25.9 23.4L26.1 23.7H26.2V31.3C26.2 32.2 25.4 33 24.5 33H11.7C10.7 33 10 32.2 10 31.3V23.7L10.2 23.4C12.2 21.2 15.1 19.9 18.1 20C21.1 19.9 23.9 21.2 25.9 23.4ZM12 31H24.1V24.4C22.5 22.8 20.3 21.9 18.1 22C15.8 22 13.6 22.8 12 24.4V31ZM11.1 15.3C11.3 16.1 11.6 16.8 12 17.4C11.5 17.3 10.9 17.2 10.3 17.2C8.4 17.1 6.6 17.7 5 18.8V26H3V18L3.3 17.7C5.2 16.1 7.7 15.2 10.3 15.3H11.1ZM23.4 8.80004C23.9 7.60004 25.3 7.00004 26.6 7.50004C27.8 8.00004 28.4 9.40004 27.9 10.7C27.5 11.6 26.6 12.2 25.7 12.2C25.5 12.2 25.2 12.2 25 12.1C25.1 12.6 25.1 13.1 25.1 13.5V14.1C25.2 14.1 25.3 14.125 25.4 14.15C25.5 14.175 25.6 14.2 25.7 14.2C28.2 14.2 30.2 12.2 30.2 9.80004C30.2 7.30004 28.2 5.30004 25.8 5.30004C24.2 5.30004 22.8 6.10004 22 7.50004C22.5 7.80004 23 8.20004 23.4 8.80004ZM25.7 15.2C28.3 15.1 30.8 16 32.7 17.7L33 18V26H31V18.8C29.5 17.7 27.6 17.1 25.7 17.2C25.1 17.2 24.6 17.2 24 17.3C24.4 16.7 24.7 16 24.9 15.2H25.7ZM17.9 18.3C20.6 18.3 22.7 16.1 22.7 13.4C22.7 10.7 20.5 8.60004 17.8 8.60004C15.1 8.60004 13 10.8 13 13.4C13 16.1 15.2 18.3 17.9 18.3ZM20.7 13.5C20.7 11.9 19.4 10.6 17.8 10.6C16.3 10.6 15 11.9 15 13.5C15 15 16.2 16.3 17.8 16.3C19.4 16.3 20.7 15.1 20.7 13.5Z"
                            fill="#737373"
                        />
                    </svg>

                    <span>{{$t("My Team")}}</span>
                </a>
            </li>
            <transition
                name="fadeHeight"
                v-if="user.role == 'owner' || user.role == 'manager'"
            >
                <li class="sidebar-item sublist" v-if="sublistTeam">
                    <ul class="sub-nav">
                        <router-link
                            :to="
                                '/team/' +
                                    this.$store.getters.get_res.id +
                                    '/restaurant/cook'
                            "
                            class="sub-nav-item"
                            tag="li"
                            active-class="active"
                        >
                            <a>
                                <svg
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M10.3 14.1C10.5 14.1 10.7 14.1 10.9 14V13.4C10.9 12.9 10.9 12.4 11 12C10.8 12.1 10.5 12.1 10.3 12.1C9 12.1 7.9 11 7.9 9.70004C7.9 8.40004 9 7.30004 10.3 7.30004C11.3 7.30004 12.2 7.90004 12.6 8.80004C13 8.30004 13.6 7.80004 14.1 7.40004C12.8 5.30004 10.1 4.60004 8 5.90004C5.9 7.20004 5.2 9.90004 6.5 12C7.3 13.3 8.7 14.1 10.3 14.1ZM25.9 23.4L26.1 23.7H26.2V31.3C26.2 32.2 25.4 33 24.5 33H11.7C10.7 33 10 32.2 10 31.3V23.7L10.2 23.4C12.2 21.2 15.1 19.9 18.1 20C21.1 19.9 23.9 21.2 25.9 23.4ZM12 31H24.1V24.4C22.5 22.8 20.3 21.9 18.1 22C15.8 22 13.6 22.8 12 24.4V31ZM11.1 15.3C11.3 16.1 11.6 16.8 12 17.4C11.5 17.3 10.9 17.2 10.3 17.2C8.4 17.1 6.6 17.7 5 18.8V26H3V18L3.3 17.7C5.2 16.1 7.7 15.2 10.3 15.3H11.1ZM23.4 8.80004C23.9 7.60004 25.3 7.00004 26.6 7.50004C27.8 8.00004 28.4 9.40004 27.9 10.7C27.5 11.6 26.6 12.2 25.7 12.2C25.5 12.2 25.2 12.2 25 12.1C25.1 12.6 25.1 13.1 25.1 13.5V14.1C25.2 14.1 25.3 14.125 25.4 14.15C25.5 14.175 25.6 14.2 25.7 14.2C28.2 14.2 30.2 12.2 30.2 9.80004C30.2 7.30004 28.2 5.30004 25.8 5.30004C24.2 5.30004 22.8 6.10004 22 7.50004C22.5 7.80004 23 8.20004 23.4 8.80004ZM25.7 15.2C28.3 15.1 30.8 16 32.7 17.7L33 18V26H31V18.8C29.5 17.7 27.6 17.1 25.7 17.2C25.1 17.2 24.6 17.2 24 17.3C24.4 16.7 24.7 16 24.9 15.2H25.7ZM17.9 18.3C20.6 18.3 22.7 16.1 22.7 13.4C22.7 10.7 20.5 8.60004 17.8 8.60004C15.1 8.60004 13 10.8 13 13.4C13 16.1 15.2 18.3 17.9 18.3ZM20.7 13.5C20.7 11.9 19.4 10.6 17.8 10.6C16.3 10.6 15 11.9 15 13.5C15 15 16.2 16.3 17.8 16.3C19.4 16.3 20.7 15.1 20.7 13.5Z"
                                        fill="#737373"
                                    />
                                </svg>

                                {{$t("Cooks")}}</a
                            >
                        </router-link>
                        <router-link
                            :to="
                                '/team/' +
                                    this.$store.getters.get_res.id +
                                    '/restaurant/waiter'
                            "
                            class="sub-nav-item"
                            tag="li"
                            active-class="active"
                        >
                            <a>
                                <svg
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M10.3 14.1C10.5 14.1 10.7 14.1 10.9 14V13.4C10.9 12.9 10.9 12.4 11 12C10.8 12.1 10.5 12.1 10.3 12.1C9 12.1 7.9 11 7.9 9.70004C7.9 8.40004 9 7.30004 10.3 7.30004C11.3 7.30004 12.2 7.90004 12.6 8.80004C13 8.30004 13.6 7.80004 14.1 7.40004C12.8 5.30004 10.1 4.60004 8 5.90004C5.9 7.20004 5.2 9.90004 6.5 12C7.3 13.3 8.7 14.1 10.3 14.1ZM25.9 23.4L26.1 23.7H26.2V31.3C26.2 32.2 25.4 33 24.5 33H11.7C10.7 33 10 32.2 10 31.3V23.7L10.2 23.4C12.2 21.2 15.1 19.9 18.1 20C21.1 19.9 23.9 21.2 25.9 23.4ZM12 31H24.1V24.4C22.5 22.8 20.3 21.9 18.1 22C15.8 22 13.6 22.8 12 24.4V31ZM11.1 15.3C11.3 16.1 11.6 16.8 12 17.4C11.5 17.3 10.9 17.2 10.3 17.2C8.4 17.1 6.6 17.7 5 18.8V26H3V18L3.3 17.7C5.2 16.1 7.7 15.2 10.3 15.3H11.1ZM23.4 8.80004C23.9 7.60004 25.3 7.00004 26.6 7.50004C27.8 8.00004 28.4 9.40004 27.9 10.7C27.5 11.6 26.6 12.2 25.7 12.2C25.5 12.2 25.2 12.2 25 12.1C25.1 12.6 25.1 13.1 25.1 13.5V14.1C25.2 14.1 25.3 14.125 25.4 14.15C25.5 14.175 25.6 14.2 25.7 14.2C28.2 14.2 30.2 12.2 30.2 9.80004C30.2 7.30004 28.2 5.30004 25.8 5.30004C24.2 5.30004 22.8 6.10004 22 7.50004C22.5 7.80004 23 8.20004 23.4 8.80004ZM25.7 15.2C28.3 15.1 30.8 16 32.7 17.7L33 18V26H31V18.8C29.5 17.7 27.6 17.1 25.7 17.2C25.1 17.2 24.6 17.2 24 17.3C24.4 16.7 24.7 16 24.9 15.2H25.7ZM17.9 18.3C20.6 18.3 22.7 16.1 22.7 13.4C22.7 10.7 20.5 8.60004 17.8 8.60004C15.1 8.60004 13 10.8 13 13.4C13 16.1 15.2 18.3 17.9 18.3ZM20.7 13.5C20.7 11.9 19.4 10.6 17.8 10.6C16.3 10.6 15 11.9 15 13.5C15 15 16.2 16.3 17.8 16.3C19.4 16.3 20.7 15.1 20.7 13.5Z"
                                        fill="#737373"
                                    />
                                </svg>

                                {{$t("Waiters")}}</a
                            >
                        </router-link>
                        <router-link
                            :to="
                                '/team/' +
                                    this.$store.getters.get_res.id +
                                    '/restaurant/cashier'
                            "
                            class="sub-nav-item"
                            tag="li"
                            active-class="active"
                        >
                            <a
                                ><svg
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M10.3 14.1C10.5 14.1 10.7 14.1 10.9 14V13.4C10.9 12.9 10.9 12.4 11 12C10.8 12.1 10.5 12.1 10.3 12.1C9 12.1 7.9 11 7.9 9.70004C7.9 8.40004 9 7.30004 10.3 7.30004C11.3 7.30004 12.2 7.90004 12.6 8.80004C13 8.30004 13.6 7.80004 14.1 7.40004C12.8 5.30004 10.1 4.60004 8 5.90004C5.9 7.20004 5.2 9.90004 6.5 12C7.3 13.3 8.7 14.1 10.3 14.1ZM25.9 23.4L26.1 23.7H26.2V31.3C26.2 32.2 25.4 33 24.5 33H11.7C10.7 33 10 32.2 10 31.3V23.7L10.2 23.4C12.2 21.2 15.1 19.9 18.1 20C21.1 19.9 23.9 21.2 25.9 23.4ZM12 31H24.1V24.4C22.5 22.8 20.3 21.9 18.1 22C15.8 22 13.6 22.8 12 24.4V31ZM11.1 15.3C11.3 16.1 11.6 16.8 12 17.4C11.5 17.3 10.9 17.2 10.3 17.2C8.4 17.1 6.6 17.7 5 18.8V26H3V18L3.3 17.7C5.2 16.1 7.7 15.2 10.3 15.3H11.1ZM23.4 8.80004C23.9 7.60004 25.3 7.00004 26.6 7.50004C27.8 8.00004 28.4 9.40004 27.9 10.7C27.5 11.6 26.6 12.2 25.7 12.2C25.5 12.2 25.2 12.2 25 12.1C25.1 12.6 25.1 13.1 25.1 13.5V14.1C25.2 14.1 25.3 14.125 25.4 14.15C25.5 14.175 25.6 14.2 25.7 14.2C28.2 14.2 30.2 12.2 30.2 9.80004C30.2 7.30004 28.2 5.30004 25.8 5.30004C24.2 5.30004 22.8 6.10004 22 7.50004C22.5 7.80004 23 8.20004 23.4 8.80004ZM25.7 15.2C28.3 15.1 30.8 16 32.7 17.7L33 18V26H31V18.8C29.5 17.7 27.6 17.1 25.7 17.2C25.1 17.2 24.6 17.2 24 17.3C24.4 16.7 24.7 16 24.9 15.2H25.7ZM17.9 18.3C20.6 18.3 22.7 16.1 22.7 13.4C22.7 10.7 20.5 8.60004 17.8 8.60004C15.1 8.60004 13 10.8 13 13.4C13 16.1 15.2 18.3 17.9 18.3ZM20.7 13.5C20.7 11.9 19.4 10.6 17.8 10.6C16.3 10.6 15 11.9 15 13.5C15 15 16.2 16.3 17.8 16.3C19.4 16.3 20.7 15.1 20.7 13.5Z"
                                        fill="#737373"
                                    />
                                </svg>

                                {{$t("Casheirs")}}</a
                            >
                        </router-link>
                        <router-link
                            :to="
                                '/team/' +
                                    this.$store.getters.get_res.id +
                                    '/restaurant/manager'
                            "
                            class="sub-nav-item"
                            tag="li"
                            active-class="active"
                        >
                            <a
                                ><svg
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M10.3 14.1C10.5 14.1 10.7 14.1 10.9 14V13.4C10.9 12.9 10.9 12.4 11 12C10.8 12.1 10.5 12.1 10.3 12.1C9 12.1 7.9 11 7.9 9.70004C7.9 8.40004 9 7.30004 10.3 7.30004C11.3 7.30004 12.2 7.90004 12.6 8.80004C13 8.30004 13.6 7.80004 14.1 7.40004C12.8 5.30004 10.1 4.60004 8 5.90004C5.9 7.20004 5.2 9.90004 6.5 12C7.3 13.3 8.7 14.1 10.3 14.1ZM25.9 23.4L26.1 23.7H26.2V31.3C26.2 32.2 25.4 33 24.5 33H11.7C10.7 33 10 32.2 10 31.3V23.7L10.2 23.4C12.2 21.2 15.1 19.9 18.1 20C21.1 19.9 23.9 21.2 25.9 23.4ZM12 31H24.1V24.4C22.5 22.8 20.3 21.9 18.1 22C15.8 22 13.6 22.8 12 24.4V31ZM11.1 15.3C11.3 16.1 11.6 16.8 12 17.4C11.5 17.3 10.9 17.2 10.3 17.2C8.4 17.1 6.6 17.7 5 18.8V26H3V18L3.3 17.7C5.2 16.1 7.7 15.2 10.3 15.3H11.1ZM23.4 8.80004C23.9 7.60004 25.3 7.00004 26.6 7.50004C27.8 8.00004 28.4 9.40004 27.9 10.7C27.5 11.6 26.6 12.2 25.7 12.2C25.5 12.2 25.2 12.2 25 12.1C25.1 12.6 25.1 13.1 25.1 13.5V14.1C25.2 14.1 25.3 14.125 25.4 14.15C25.5 14.175 25.6 14.2 25.7 14.2C28.2 14.2 30.2 12.2 30.2 9.80004C30.2 7.30004 28.2 5.30004 25.8 5.30004C24.2 5.30004 22.8 6.10004 22 7.50004C22.5 7.80004 23 8.20004 23.4 8.80004ZM25.7 15.2C28.3 15.1 30.8 16 32.7 17.7L33 18V26H31V18.8C29.5 17.7 27.6 17.1 25.7 17.2C25.1 17.2 24.6 17.2 24 17.3C24.4 16.7 24.7 16 24.9 15.2H25.7ZM17.9 18.3C20.6 18.3 22.7 16.1 22.7 13.4C22.7 10.7 20.5 8.60004 17.8 8.60004C15.1 8.60004 13 10.8 13 13.4C13 16.1 15.2 18.3 17.9 18.3ZM20.7 13.5C20.7 11.9 19.4 10.6 17.8 10.6C16.3 10.6 15 11.9 15 13.5C15 15 16.2 16.3 17.8 16.3C19.4 16.3 20.7 15.1 20.7 13.5Z"
                                        fill="#737373"
                                    />
                                </svg>

                                {{$t("Managers")}}</a
                            >
                        </router-link>
                        <router-link
                            :to="
                                '/team/' +
                                    this.$store.getters.get_res.id +
                                    '/restaurant/delivery_man'
                            "
                            class="sub-nav-item"
                            tag="li"
                            active-class="active"
                        >
                            <a
                                ><svg
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M10.3 14.1C10.5 14.1 10.7 14.1 10.9 14V13.4C10.9 12.9 10.9 12.4 11 12C10.8 12.1 10.5 12.1 10.3 12.1C9 12.1 7.9 11 7.9 9.70004C7.9 8.40004 9 7.30004 10.3 7.30004C11.3 7.30004 12.2 7.90004 12.6 8.80004C13 8.30004 13.6 7.80004 14.1 7.40004C12.8 5.30004 10.1 4.60004 8 5.90004C5.9 7.20004 5.2 9.90004 6.5 12C7.3 13.3 8.7 14.1 10.3 14.1ZM25.9 23.4L26.1 23.7H26.2V31.3C26.2 32.2 25.4 33 24.5 33H11.7C10.7 33 10 32.2 10 31.3V23.7L10.2 23.4C12.2 21.2 15.1 19.9 18.1 20C21.1 19.9 23.9 21.2 25.9 23.4ZM12 31H24.1V24.4C22.5 22.8 20.3 21.9 18.1 22C15.8 22 13.6 22.8 12 24.4V31ZM11.1 15.3C11.3 16.1 11.6 16.8 12 17.4C11.5 17.3 10.9 17.2 10.3 17.2C8.4 17.1 6.6 17.7 5 18.8V26H3V18L3.3 17.7C5.2 16.1 7.7 15.2 10.3 15.3H11.1ZM23.4 8.80004C23.9 7.60004 25.3 7.00004 26.6 7.50004C27.8 8.00004 28.4 9.40004 27.9 10.7C27.5 11.6 26.6 12.2 25.7 12.2C25.5 12.2 25.2 12.2 25 12.1C25.1 12.6 25.1 13.1 25.1 13.5V14.1C25.2 14.1 25.3 14.125 25.4 14.15C25.5 14.175 25.6 14.2 25.7 14.2C28.2 14.2 30.2 12.2 30.2 9.80004C30.2 7.30004 28.2 5.30004 25.8 5.30004C24.2 5.30004 22.8 6.10004 22 7.50004C22.5 7.80004 23 8.20004 23.4 8.80004ZM25.7 15.2C28.3 15.1 30.8 16 32.7 17.7L33 18V26H31V18.8C29.5 17.7 27.6 17.1 25.7 17.2C25.1 17.2 24.6 17.2 24 17.3C24.4 16.7 24.7 16 24.9 15.2H25.7ZM17.9 18.3C20.6 18.3 22.7 16.1 22.7 13.4C22.7 10.7 20.5 8.60004 17.8 8.60004C15.1 8.60004 13 10.8 13 13.4C13 16.1 15.2 18.3 17.9 18.3ZM20.7 13.5C20.7 11.9 19.4 10.6 17.8 10.6C16.3 10.6 15 11.9 15 13.5C15 15 16.2 16.3 17.8 16.3C19.4 16.3 20.7 15.1 20.7 13.5Z"
                                        fill="#737373"
                                    />
                                </svg>

                                {{$t("Delivery-man")}}</a
                            >
                        </router-link>
                    </ul>
                </li>
            </transition>
            <router-link
                class="sidebar-item"
                tag="li"
                :to="'/bank/' + this.$store.getters.get_res.id + '/restaurant'"
                active-class="active"
                v-if="user.role == 'owner' || user.role == 'manager'"
            >
                <a>
                    <svg
                        width="36"
                        height="36"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M3.49998 14.56L18 6.23L32.5 14.56C32.9748 14.8084 33.5611 14.6383 33.8293 14.1744C34.0975 13.7104 33.9522 13.1175 33.5 12.83L18 3.92L2.49998 12.83C2.1745 13.0003 1.96856 13.3353 1.96359 13.7025C1.95862 14.0698 2.15541 14.4103 2.47616 14.5893C2.79691 14.7683 3.18999 14.7571 3.49998 14.56ZM3.99998 27C3.99998 27.5523 4.44769 28 4.99998 28H31C31.5523 28 32 27.5523 32 27C32 26.4477 31.5523 26 31 26H28V18.63H26V26H19V18.63H17V26H9.99998V18.63H7.99998V26H4.99998C4.44769 26 3.99998 26.4477 3.99998 27ZM31.02 15H5.01998V17H31.02V15ZM2.99998 30C2.44769 30 1.99998 30.4477 1.99998 31C1.99998 31.5523 2.44769 32 2.99998 32H33C33.5523 32 34 31.5523 34 31C34 30.4477 33.5523 30 33 30H2.99998ZM25.36 12.58H22.15L18.24 10.34L14.34 12.58H11.13L17.85 8.72C18.0975 8.57709 18.4025 8.57709 18.65 8.72L25.36 12.58Z"
                            fill="#737373"
                        />
                    </svg>

                    <span>{{$t("Bank")}}</span>
                </a>
            </router-link>
            <!-- /analytics/:restaurant_id/restaurant -->
            <router-link
                class="sidebar-item"
                tag="li"
                :to="
                    '/analytics/' +
                        this.$store.getters.get_res.id +
                        '/restaurant/general'
                "
                active-class="active"
                v-if="
                    (user.role == 'owner' || user.role == 'manager') &&
                        $store.state.restaurant.analytics_permission == 'yes'
                "
            >
                <a>
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M3 3V20C3 20.553 3.447 21 4 21H21V19H5V3H3Z"
                            fill="#2E3A59"
                        />
                        <path
                            d="M14.7702 14.0984C15.15 14.4702 15.7638 14.4702 16.1436 14.0984L21 9.34443L19.6266 8L15.4569 12.0818L13.2298 9.90159C12.85 9.52983 12.2362 9.52983 11.8564 9.90159L7 14.6556L8.37339 16L12.5431 11.9182L14.7702 14.0984Z"
                            fill="#2E3A59"
                        />
                    </svg>
                    <span>{{$t("Analytics")}}</span>
                </a>
            </router-link>
            <router-link
                class="sidebar-item"
                tag="li"
                to="/logout"
            >
                <a>
                    <svg
                    data-v-1f5dcc50=""
                    width="28"
                    height="36"
                    viewBox="0 0 36 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        data-v-1f5dcc50=""
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M22 6H6V30H24C24 31.1046 23.1046 32 22 32H6C4.89543 32 4 31.1046 4 30V6C4 4.89543 4.89543 4 6 4H22C23.1046 4 24 4.89543 24 6V15.8H22V6ZM25.8024 17.3324C26.1718 16.9631 26.7632 16.9402 27.16 17.28L33 23.07L27.16 28.87C26.9156 29.1554 26.5319 29.2797 26.1666 29.1918C25.8013 29.1039 25.5161 28.8187 25.4282 28.4534C25.3403 28.0881 25.4646 27.7044 25.75 27.46L29.13 24H14.63C14.0777 24 13.63 23.5523 13.63 23C13.63 22.4477 14.0777 22 14.63 22H29.13L25.75 18.69C25.4102 18.2932 25.4331 17.7018 25.8024 17.3324Z"
                        fill="#737373"
                    ></path>
                </svg>

                    <span>{{$t("Logout")}}</span>
                </a>
            </router-link>
            <!-- <li class="sidebar-ite mt-5">
                <select class="form-control" id="" v-model="colorActive">
                    <option value="primaryColor">Main Color</option>
                    <option value="hoverColor">Secondry Color</option>
                </select>
                <input
                    type="color"
                    v-model="
                        colorActive == 'primaryColor'
                            ? theme.primaryColor
                            : theme.hoverColor
                    "
                    value="red"
                    @change="changeTheme(theme)"
                />
            </li> -->
        </div>
    </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
    name: "Sidebar",
    created() {
        this.checkStatus();
    },
    data() {
        return {
            status: "",
            i: 1,
            theme: {
                primaryColor: "red",
                hoverColor: "red"
            },
            class: "",
            status: "",
            colorActive: "primaryColor",
            sublistTeam: false
        };
    },
    computed: {
        user() {
            return this.$store.getters.auth_user;
        },
        iconcolor() {
            return this.$store.state.iconColor;
        },
        restaurant() {
            return this.$store.getters.get_res;
        }
    },
    methods: {
        ...mapMutations(["changeTheme"]),
        checkStatus() {
            navigator.onLine
                ? (this.status = "Online")
                : (this.status = "Offline");
            setTimeout(() => {
                this.checkStatus();
            }, 5000);
        },
        
    }
};
</script>

<style lang="scss" scoped>
.Online {
    padding: 2px;
    border-radius: 100%;
    border: 2px solid green;
    box-shadow: 0px 0px 5px 2px rgba(10, 128, 51, 1);
}
.Offline {
    padding: 2px;
    border-radius: 100%;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 2px red;
}
input[type="color"] {
    cursor: pointer;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    -webkit-appearance: none;

    &:-webkit-color-swatch-wrapper {
        padding: 0;
    }
    &::-webkit-color-swatch {
        border: none;
        border-radius: 100%;
    }
}
.sidebar {
    // position: fixed;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    top: 60px;
    left: 0;
    // width: 220px;
    min-height: calc(100vh - 60px);
    height: 100%;
    background-color: var(--sidebar-color);
    padding: 40px 0;
    box-shadow: 0px 0px 4px 0 #ccc;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .name {
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: var(--font-color);
            margin-top: 10px;
            text-align: center;
        }
        .name2 {
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
            font-size: 17px;
            line-height: 27px;
            color: var(--font-color);
            margin-top: 10px;
            text-align: center;
        }
        .status-outer {
            border: 2px solid #989898;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
        }
        .status {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: var(--font-color);
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                margin-right: 10px;
            }
        }
    }
    .sidebar-nav {
        width: 100%;
        list-style-type: none;

        .sidebar-item {
            padding: 10px 0;
            background-color: var(--sidebar-color);
            display: grid;
            transition: all 0.4s ease;
            grid-template-columns: 1fr;
            cursor: pointer;
            &.sidebar-item__sublist{
                position: relative;
                &::after{
                    content: '\25BC';
                    position: absolute;
                    color: var(--font-color);
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%);
                }
                &.active{
                     &::after{
                         transform: translateY(-50%) rotate(180deg);
                     }
                }
            }
            a {
                padding-right: 20px;
                padding-left: 20px;
            }
            &.sublist {
                display: unset;
                padding-left: 0;
                padding-right: 0;
                // cursor: pointer;
                .sub-nav {
                    padding: 10px 0;
                    background: var(--sidebar-color);
                    list-style-type: none;
                    .sub-nav-item {
                        color: var(--font-color);
                        padding: 10px 0;
                        cursor: pointer;
                        &:hover,
                        &.active {
                            background-color: var(--main-color);
                            border-left: 3px solid var(--font-color);
                        }
                        a {
                            padding-left: 24px;
                            color: var(--font-color);
                            font-size: 15px;
                            font-family: "Open Sans", sans-serif;
                            font-style: normal;
                            font-weight: normal;
                        }
                    }
                }
                svg {
                    margin-left: 20px;
                }
                &.show {
                    .sub-nav {
                        display: block;
                    }
                }
            }
            svg {
                height: 26px;
            }
            span {
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 33px;
                color: var(--font-color);

                margin-left: 10px;
            }
            a {
                text-decoration: none;
            }
            &:hover,
            &.active {
                background-color: var(--hover-color);
                border-left: 4px solid var(--font-color);
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        // position: fixed;
        // width: 260px;
        // top: 60px;
        // height: 100%;
        // z-index: 9;
        // box-shadow: 2px 4px 4px 0px #555;
    }
}

@media (max-width: 768px) {
    .sidebar {
        // overflow-y: scroll;
        .sidebar-nav {
            padding-bottom: 20px;
        }
    }
}
::-webkit-scrollbar {
    width: 4px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: var(--hover-color);
}
.img-border img {
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    height: 90px;
    padding: 3px;
    border: 5px solid var(--main-color);
    margin: 3px;
}
</style>
