<template>
	<div id="dashboard-analytics">
		<div class="vx-row">
			<div class="vx-col w-full  sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
				<statistics-card-line icon="UsersIcon" :statistic="users" statisticTitle="Total Users" :chartData="subscribersGained.series" type='area'></statistics-card-line>
			</div>
			<div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
				<statistics-card-line icon="ShoppingBagIcon" :statistic="orders" statisticTitle="Total Orders" :chartData="ordersRecevied.series" color='warning' type='area'></statistics-card-line>
			</div>
		</div>
	</div>
</template>
<script>
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
export default{
	data(){
		return{
			subscribersGained: {},
			ordersRecevied: {},
			users:'',
			orders:''
		}
	},
	components:{StatisticsCardLine},
	created(){
		this.getRecord();
        // .catch((error)   => { console.log(error) })
	},
	methods:{
		getRecord(){
			this.$store.dispatch("getRecord")
        	.then((response) => {  
				this.orders=response.data.data.orders;
				this.users=response.data.data.users;
			})
		}
	}
}

</script>
