<template>
<div  class="item" @click="details = true">
    <img
        :src="dish.image1"
        alt=""
    />
    <div class="textual">
        <h3>{{dish.name}}</h3>
        <h4>{{dish.description}}</h4>
        <div class="product-price">
            <strong>{{$t('Price')}}: </strong>{{dish.price}} USD
        </div>
    </div>
    <Order v-if="details" @closeMe="confirmModel()" :dish="dish"/>
</div>
</template>

<script>
import Order from '@/views/frontend/components/take-order-table/components/Order'
export default{
    props:['dish'],
     data(){
        return{
            details:  false
        }
    },
    methods:{
        confirmModel(){
            this.details=false;
            // 
        },
    },
    components:{Order}
}
</script>
<style lang="scss" scoped>
.item {
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
            border-radius: 8px;
            background-color: white;
            box-shadow: 0px 0px 8px 0px #bdbbbb;
            display: grid;
            grid-template-columns: 190px 1fr;
            grid-column-gap: 10px;
            // border: 1px solid rgb(153, 153, 153);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            .textual {
                padding: 10px 0;
                h3,
                h4 {
                    color: var(--main-color);
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    // margin: 0;
                    text-transform: capitalize;
                }
                h4 {
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'Open Sans', sans-serif;
                }
                .product-price {
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px;
                    margin-top: 10px;
                }
            }
        }
@media (max-width: 768px) {
    .category .products {

        .item {
            // grid-template-columns: 120px 1fr;
            grid-template-columns: 1fr;
            grid-template-rows: 150px 1fr;
            .textual {
                padding: 15px;
            }
        }
    }
}
</style>