<template>
    <div class="navbar">
        <div class="nav-nav">
            <div class="center_out">
                <span @click="$eventHub.$emit('openSidebarTable')" >
                   <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M32 9H4C3.44772 9 3 8.55228 3 8C3 7.44772 3.44772 7 4 7H32C32.5523 7 33 7.44772 33 8C33 8.55228 32.5523 9 32 9ZM32 19H4C3.44772 19 3 18.5523 3 18C3 17.4477 3.44772 17 4 17H32C32.5523 17 33 17.4477 33 18C33 18.5523 32.5523 19 32 19ZM4 29H32C32.5523 29 33 28.5523 33 28C33 27.4477 32.5523 27 32 27H4C3.44772 27 3 27.4477 3 28C3 28.5523 3.44772 29 4 29Z" fill="#737373"/>
</svg>

                </span>
                <!-- <h5 class="ml-4" style="text-transform: capitalize;font-weight: 550;letter-spacing: 2px;color: var(--font-color);margin: 3px;">{{ name }}</h5> -->
            </div>
            <div class="center_out">
                <img :src="restaurant.logo" alt="" class="logo"/>
                <h4>{{ restaurant.name }}</h4>
                <span class="language name">
                    <span>
                        ({{$i18n.locale=='en'?"EN":"ES"}})
                    </span>
                    <ul class="dropdown" aria-labelledby="navbarDropdown">
                        <li :class="{'active':$i18n.locale=='en'}" @click="changeLng('en')">EN</li>
                        <li :class="{'active':$i18n.locale=='mx'}" @click="changeLng('mx')">ES</li>
                    </ul>
                </span>
            </div>

        </div>
        <!-- <div class="table-details">
            <img src="" alt="">
            
        </div> -->
    </div>
</template>

<script>
// import { EventBus } from './event-bus.js';

export default {
    data() {
        return {
            // auth: false
        };
    },
    mounted() {
        if (!this.$store.state.restaurant.name) {
            this.$store.dispatch(
                "getRestaurant",
                this.$route.params.restaurant_id
            );
        }
        if(this.loggedIn){
            this.$store.dispatch('getCustomer')
                        .then(respones=>{
                            this.$Progress.finish()
                        })
        }
    },
    computed: {
        restaurant() {
            return this.$store.state.restaurant;
        },
        loggedIn(){
            return this.$store.getters.loggedIn;
        },
        name() {
            let name;
            if (this.$route.params.table_name) {
                name = this.$route.params.table_name.replace("-", " ");
            } else if (this.$route.params.link_name) {
                name = this.$route.params.link_name.replace("-", " ");
            }
            return name;
        },
    },
    methods: {
        changeLng(type){
            if(this.$i18n.locale!=type){
                this.$i18n.locale=type
            }else{
                this.$i18n.locale='mx'
            }
        }
    },
    created() {
        this.$eventHub.$on("toogleUserProfile", this.toogleProfile);
    }
};
</script>

<style lang="scss" scoped>
.navbar {
    background-color: white;
    box-shadow: 0px 0px 4px 0 #ccc;
    padding: 0 !important;
    .ico{
        img{
            height: 35px;
        }
    }
    .nav-nav {
        padding: 10px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 4px 0 #ccc;
        height: 60px;
        h4 {
            color: var(--font-color);
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            cursor: pointer;
            padding: 5px;
            border-radius: 50%;
            &:focus,
            &:active,
            &:focus {
                background-color: var(--body-color);
            }
        }
    }
    .table-details {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        background-color: #fbfbfb;
        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }
        h5 {
            color: #000;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            margin-left: 20px;
        }
    }
}
@media(max-width:600px){
.navbar .nav-nav h4 {
            font-size:14px!important;
        }
}
.logo{
    height: 45px;
    width: 45px;
    border-radius: 100%;
}
.center_out{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}
.language{
    list-style: none;
    position: relative;
    text-align: center;
}
.language .dropdown{
    min-width: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    left: 0;
    top: 26px;
    border: solid 1px #e3dcdc;
}
.language .dropdown .active{
    background-color:#E5D362!important;
    color:white;
}
.language:hover .dropdown{
    display:flex;
}
.language .dropdown li{
    padding: 3px 35px;
    background-color: white;
    
}
.dropdown:hover .dropdown{
    display:flex;
}
.name {
    margin-right: 10px;
    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
    }
    a:hover {
        color: #626262;
    }
}
</style>
