<template>
    <div class="overlay">
        <div class="modal-order">
           
            <template>
                <div class="col-100">
                    <div class="text-order">
                        <h2>
                            {{$t('Answer some questions about your')}}
                            <span>{{ dish.name }}</span>
                        </h2>
                    </div>
                    <form @submit.prevent="order" class="">
                        <div class="form-group " v-if="dish.choice1">
                            <label class="form-check-label" for="receipt">
                                {{ dish.choice1 }}
                            </label>
                            <select
                                class="form-control"
                                v-model="item.ch_description[0]"
                                @change="changeSelect('1')"
                                :class="{
                                    'is-invalid': choiceForm.errors().has('ch1')
                                }"
                            >
                                <option
                                    v-for="(description,
                                    index) in dish.ch1_description"
                                    :key="index"
                                    :value="description"
                                    @click="choiceForm.ch1 = description"
                                >
                                    {{ description }}
                                </option>
                            </select>
                            <span
                                v-if="choiceForm.errors().has('ch1')"
                                style="color:red"
                            >
                                {{ choiceForm.errors().get("ch1") }}
                            </span>
                        </div>
                        <div class="form-group " v-if="dish.choice2">
                            <label class="form-check-label" for="receipt">
                                {{ dish.choice2 }}
                            </label>
                            <select
                                class="form-control"
                                v-model="item.ch_description[1]"
                                @change="changeSelect('2')"
                                :class="{
                                    'is-invalid': choiceForm.errors().has('ch2')
                                }"
                            >
                                <option
                                    v-for="(description,
                                    index) in dish.ch2_description"
                                    :key="index"
                                    :value="description"
                                >
                                    {{ description }}
                                </option>
                            </select>
                            <span
                                v-if="choiceForm.errors().has('ch2')"
                                style="color:red"
                            >
                                {{ choiceForm.errors().get("ch2") }}
                            </span>
                        </div>
                        <div class="form-group " v-if="dish.choice3">
                            <label class="form-check-label" for="receipt">
                                {{ dish.choice3 }}
                            </label>
                            <select
                                class="form-control"
                                v-model="item.ch_description[2]"
                                @change="changeSelect('3')"
                                :class="{
                                    'is-invalid': choiceForm.errors().has('ch3')
                                }"
                            >
                                <option
                                    v-for="(description,
                                    index) in dish.ch3_description"
                                    :key="index"
                                    :value="description"
                                >
                                    {{ description }}
                                </option>
                            </select>
                            <span
                                v-if="choiceForm.errors().has('ch3')"
                                style="color:red"
                            >
                                {{ choiceForm.errors().get("ch3") }}
                            </span>
                        </div>
                        <div class="form-group " v-if="dish.choice3">
                            <label class="form-check-label" for="receipt">
                                {{ dish.choice3 }}
                            </label>
                            <select
                                class="form-control"
                                v-model="item.ch_description[3]"
                                @change="changeSelect('4')"
                                :class="{
                                    'is-invalid': choiceForm.errors().has('ch4')
                                }"
                            >
                                <option
                                    v-for="(description,
                                    index) in dish.ch4_description"
                                    :key="index"
                                    :value="description"
                                >
                                    {{ description }}
                                </option>
                            </select>
                            <span
                                v-if="choiceForm.errors().has('ch4')"
                                style="color:red"
                            >
                                {{ choiceForm.errors().get("ch4") }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="price"
                                >{{$t('This is the price for the dish')}}</label
                            >
                            <input
                                id="price"
                                class="form-control"
                                name="price"
                                type="text"
                                style="background: white; opacity: 1;"
                                :value="dish.price +' ' + $store.state.restaurant.currency"
                                disabled=""
                            />
                        </div>
                        <div class="form-group" v-if="dish.extras[0]!=''&&dish.extras[0].name!=''">
                            <label>{{$t('You want to add something extra to your dish?')}}</label>
                            <div
                                class="form-group form-check form-control mb-0 mt-1"
                                v-for="(extra, index) in dish.extras"
                                v-bind:key="index"
                            >
                                <label class="form-check-label ml-3">
                                    <input
                                        type="checkbox"
                                        class="form-check-input "
                                        v-model="item.extras"
                                        name="extras"
                                        :value="extra"
                                    />
                                    <span>{{ extra.name }}</span>
                                    <span>{{ extra.price }} {{" "+$store.state.restaurant.currency}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nota"
                                >{{$t('You want to write some note to the chef?')}}</label
                            >
                            <textarea
                                id="nota"
                                rows="3"
                                v-model="item.note"
                                class="form-control"
                                name="nota"
                                placeholder="Ex. without onion"
                            ></textarea>
                        </div>
                        <div class="center_out">
                            <button type="submit" class="btn btn-round-blue1" style="color:white">
                                {{$t("Add to order")}}
                            </button>
                        </div>
                    </form>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import moduleOrderManagement from "@/store/order-management/moduleOrderManagement.js";
import { swiper, swiperSlide } from "vue-awesome-swiper";

import form from "vuejs-form";
import "swiper/swiper-bundle.css";

export default {
    props: ["dish"],
    components: {
        swiper,
        swiperSlide
    },

    created() {
        
        if (!moduleOrderManagement.isRegistered) {
            this.$store.registerModule(
                "orderManagement",
                moduleOrderManagement
            );
            moduleOrderManagement.isRegistered = true;
        }

       
        this.item.id=this.dish.id;
        this.item.name = this.dish.name;
        this.item.price = this.dish.price;
        /**
         * ADDING VALUES TO MODAL V-MODAL DATA ELEMENT
         */
        this.item.ch_description[0] = this.dish.ch1_description[0]
        this.item.ch_description[1] = this.dish.ch2_description[0]
        this.item.ch_description[2] = this.dish.ch3_description[0]
        this.item.ch_description[3] = this.dish.ch4_description[0]
        this.item.extras=[]
    },
    data() {
        return {
            swiperOption: {
                loop: false,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            },
            choiceForm: form({
                ch1: "",
                ch2: "",
                ch3: "",
                ch4: ""
            }),
                // .rules({
                //     ch1: "required",
                //     ch2: "required",
                //     ch3: "required",
                //     ch4: "required"
                // })
                // .messages({
                //     "ch1.required": "choice not selected",
                //     "ch2.required": "choice not selected",
                //     "ch3.required": "choice not selected",
                //     "ch4.required": "choice not selected"
                // }),
            item: {
                id:'',
                name:'',
                ch_description: [],
                extras: [],
                price: "",
                quantity: 1,
                note: "",
                send_to:this.dish.send_to,
                total: 0,
                category_name:this.$route.params.category_name
            },
            ch_description: [],
            choices: [],
            come_with: [],
            extras: [],
            note: ""
        };
    },
    
    mounted() {
        window.addEventListener("click", e => {
            if (e.target == document.getElementsByClassName("overlay")[0]) {
                this.$emit("closeMe");
            }
        });
    },
    methods: {
        
        changeSelect(value) {
            switch (value) {
                case "1":
                    this.choiceForm.ch1 = this.item.ch_description[0];
                    break;
                case "2":
                    this.choiceForm.ch2 = this.item.ch_description[1];
                    break;
                case "3":
                    this.choiceForm.ch3 = this.item.ch_description[2];
                    break;
                case "4":
                    this.choiceForm.ch4 = this.item.ch_description[3];
                    break;
            }
        },
        order() {
            if (this.choiceForm.validate().errors().any()){
                return;
            }
            if (this.item.quantity == "") {
                this.item.quantity = 1;
            }

            this.item.total += parseFloat(this.item.price);
            this.$store.dispatch("orderManagement/mutateItem", this.item);
            window.scrollTo(0, 0);
            this.$emit('closeMe')
        }
    }
};
</script>

<style lang="scss" scoped>
@import url("../../../../../../../assets/css/swiper.css");
 .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: 0;
        // transform: translateY(-50%);
        height: 60px;
        width: 60px;
        background-color: #ffffff91;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        &::after,
        &::before {
            content: none;
        }
    }
    .btn-round-blue1{
    padding: 10px 20px !important;
    font-size: 17px;
    font-weight: 500;
}
    .swiper-button-next {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: #ffffff91;
          border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        // transform: translateY(-50%);
        &::after,
        &::before {
            content: none;
        }
    }
.overlay {
    overflow: scroll;
    position: fixed;
    z-index: 9;
    background-color: rgba(71, 71, 71, 0.431);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .modal-order {
        animation: pop_anim 0.3s ease;
        margin-top: 10px;
        cursor: default;
        border-radius: 10px;
        padding: 20px;
        max-width: 500px;
        width: 100%;
        // max-height: 600px;
        height: fit-content;
        background-color: #fff;
        .visual {
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            img {
                height: 100%;
                width: auto;
            }
        }
        .price {
            padding-top: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            h5 {
                color: #000;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 600;
                // margin: 0;
                text-transform: capitalize;
            }
        }
        h3,
        p {
            color: var(--main-color);
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 600;
            // margin: 0;
            text-transform: capitalize;
        }
        p {
            color: #000;
            font-size: 15px;
            font-weight: 400;
        }
        .tags {
            .tag {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;

                display: inline-block;
                padding: 2px 7px;
                background-color: var(--main-color);
                border-radius: 2px;
                color: #fff;
            }
        }
    }
    .btn-round-blue {
        margin: 0 auto;
        margin-top: 20px;
    }
    .text-order {
        h2 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            font-size: 15px;

            margin-bottom: 20px;
            span {
                color: var(--main-color);
            }
        }
    }
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes pop_anim {
    0%{
        transform:translateY(100%);
    }   
    100%{
        transform:translateY(0%);
    }
}
</style>
