<template>
    <div class="wraper " :class="{ active: sidebar }">
        <div class="sidebar">
            <div class="sidebar-wraper">
                <div class="profile">
                    <!-- <img src="../../../../assets/images/user.svg" /> -->
                    <span class="status-outer">
                        <span class="img-border">
                            <img
                                :src="restaurant.logo"
                                alt=""
                                style="border-radius: 100%; width: 90px; height: 90px;"
                            />
                        </span>
                    </span>
                    <h3 class="name2 mt-2">{{ restaurant.name }}</h3>
                    
                    <h4>{{ $store.state.user.name }}</h4>    
                    <span v-if="restaurant.status == 'open'" class="status">
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            xmlns="http://www.w3.org/2000/svg"
                            class="Online"
                        >
                            <circle
                                data-v-471d35ec=""
                                cx="8"
                                cy="8"
                                r="8"
                                fill="green"
                            ></circle>
                        </svg>
                        <span class="ml-2">Open</span>
                        <span class="language name">
                        <span>
                            ({{$i18n.locale=='en'?"EN":"ES"}})
                        </span>
                        <ul class="dropdown" aria-labelledby="navbarDropdown">
                            <li :class="{'active':$i18n.locale=='en'}" @click="changeLng('en')">EN</li>
                            <li :class="{'active':$i18n.locale=='mx'}" @click="changeLng('mx')">ES</li>
                        </ul>
                    </span>
                    </span>
                    <span v-else class="status">
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            xmlns="http://www.w3.org/2000/svg"
                            class="Offline"
                        >
                            <circle
                                data-v-471d35ec=""
                                cx="8"
                                cy="8"
                                r="8"
                                fill="red"
                            ></circle>
                        </svg>
                        <div class="ml-2">Close</div>
                    </span>
                </div>
                <div class="list" @click="showProfile" v-if="loggedIn">
                    <span class="icon mr-2">
                        <svg
                            width="28"
                            height="36"
                            viewBox="0 0 36 36"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M25 10C25 13.866 21.866 17 18 17C14.134 17 11 13.866 11 10C11 6.13401 14.134 3 18 3C21.866 3 25 6.13401 25 10ZM18 18.9984C22.7897 18.9984 27.3615 21.0003 30.61 24.52C30.8536 24.7892 30.992 25.1371 31 25.5V31.5C31 32.3284 30.3284 33 29.5 33H6.5C5.67932 33.0001 5.01094 32.3406 5 31.52V25.52C5.00314 25.1502 5.14192 24.7943 5.39 24.52C8.63854 21.0003 13.2103 18.9984 18 18.9984Z"
                                fill="#737373"
                            />
                        </svg>
                    </span>
                    {{$t("My Profile")}}
                </div>
                <!-- <div class="list">
                    <span class="icon">
                        <img
                            src="https://meniuu.com/img\mobile\points_image.png"
                            alt=""
                        />
                    </span>
                    My Points
                </div> -->
                <!-- <div > -->
                <div @click="logOut" class="list" v-if="loggedIn">
                    <span class="icon mr-2" style="">
                        <svg
                            width="28"
                            height="36"
                            viewBox="0 0 36 36"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M22 6H6V30H24C24 31.1046 23.1046 32 22 32H6C4.89543 32 4 31.1046 4 30V6C4 4.89543 4.89543 4 6 4H22C23.1046 4 24 4.89543 24 6V15.8H22V6ZM25.8024 17.3324C26.1718 16.9631 26.7632 16.9402 27.16 17.28L33 23.07L27.16 28.87C26.9156 29.1554 26.5319 29.2797 26.1666 29.1918C25.8013 29.1039 25.5161 28.8187 25.4282 28.4534C25.3403 28.0881 25.4646 27.7044 25.75 27.46L29.13 24H14.63C14.0777 24 13.63 23.5523 13.63 23C13.63 22.4477 14.0777 22 14.63 22H29.13L25.75 18.69C25.4102 18.2932 25.4331 17.7018 25.8024 17.3324Z"
                                fill="#737373"
                            />
                        </svg>
                    </span>
                    {{$t('Logout')}}
                </div>
                <!-- </div> -->
                <div class="list" @click="show.auth = true" v-if="!loggedIn">
                    <span class="icon mr-2">
                        <img
                            src="https://meniuu.com/img\mobile\logout_image.png"
                            alt=""
                        />
                    </span>
                    {{$t("Login")}}
                </div>
            </div>
        </div>
        <div class="sidebar-holder" :class="{ active: sidebar }"></div>
        <div class="router-view">
            <router-view></router-view>
            <vue-progress-bar></vue-progress-bar>
            <div
                class="overlay-sidebar"
                @click="sidebar = false"
                v-if="sidebar"
            ></div>
        </div>
        <transition name="slide-fade">
            <div class="popup" v-if="show.profile">
                <div class="profile-popup">
                    <h6>Help us to give you an exclusive service</h6>
                    <div class="form-group">
                        <label>
                            {{$t('Name')}}
                            <input type="text" class="form-control" :value="$store.state.user.name" disabled/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            {{$t('Birthday')}}
                            <input type="date" class="form-control" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            {{$t('Gender')}}
                            <select name="" class="form-control" id="">
                                <option value="">{{$t('Male')}}</option>
                                <option value="">{{$t('Female')}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            {{$t("Gastronomic Preferences")}}
                            <textarea
                                class="form-control"
                                id=""
                                cols="30"
                                rows="4"
                            ></textarea>
                        </label>
                    </div>
                    <!-- <div class="form-group">
                        <label>
                            Language
                            <select name="" class="form-control" id="">
                                <option value="" selected>English</option>
                                <option value="">Spanish</option>
                            </select>
                        </label>
                    </div> -->
                    <button class="btn-round-blue" @click="closeModel">{{$t('Save')}}</button>
                </div>
            </div>
        </transition>
        <transition name="slide-fade">
            <div class="popup" v-if="show.auth">
                <div class="profile-popup" v-if="!show.authPopup">
                    <div class="img-wraper">
                        <img src="/images/logo/2.png" alt="" />
                    </div>
                    <div class="restaurant">
                        <h3>{{$t("Meaal for Customers")}}</h3>
                        <h3>
                            {{$t("Earn points on every purchase you make at each Meaal-affiliated Restaurant, while helping to strengthen local economies, buying directly to local restaurants based on each location you visit.")}}
                        </h3>
                        <div class="d-flex justify-content-center">
                            <button
                                class="btn-round-primary"
                                @click="show.authPopup = true"
                            >
                                {{$t("Login as a Customer")}}
                            </button>
                        </div>
                        <h3>{{$t("Meaal for Restaurants")}}</h3>
                        <h3>
                            {{$t("Meaal all the systems that your Restaurant Business needs. POS Systems, Kitchen Displays, Home Delivery Systems, Card Processing, Digital Menu, Management tools. and more.")}}
                        </h3>
                        <div class="d-flex justify-content-center">
                            <router-link to="/login" class="btn-round-primary">
                                {{$t("Login as a Restaurant")}}
                            </router-link>
                        </div>
                        <div class="copy-cat">
                            <h3>&copy; {{new Date().getFullYear()}} Meaal, lnc.</h3>
                        </div>
                    </div>
                </div>
                <div class="profile-popup" v-else>
                    <div class="img-wraper">
                        <img src="/images/logo/2.png" alt="" />
                    </div>
                    <!-- <div class="text-center"> -->
                    <h3 class="name2" v-if="loginbtn">Login</h3>
                    <h3 class="name2" v-if="!loginbtn">Register</h3>
                    <!-- </div> -->
                    <div class="restaurant px-5">
                        <div class="form-group" v-if="!loginbtn">
                            <label for="email-auth">{{$t('Name')}}</label>
                            <input
                                type="email"
                                id="email-auth"
                                class="form-control"
                                v-model="user.name"
                                :class="{ 'is-invalid': errors.has('name') }"
                                @keypress="errors.clear('name')"
                            />
                        </div>
                        <span v-if="errors.has('name')" style="color:red">
                            {{ errors.get("name") }}
                        </span>

                        <div class="form-group">
                            <label for="email-auth">{{$t('Email')}}</label>
                            <input
                                type="email"
                                id="email-auth"
                                class="form-control"
                                v-model="user.email"
                                :class="{ 'is-invalid': errors.has('email') }"
                                @keypress="errors.clear('email')"
                            />
                        </div>
                        <span v-if="errors.has('email')" style="color:red">
                            {{ errors.get("email") }}
                        </span>
                        <div class="form-group">
                            <label for="password-auth">{{$t('Password')}}</label>
                            <input
                                type="password"
                                id="password-auth"
                                class="form-control"
                                v-model="user.password"
                                :class="{
                                    'is-invalid': errors.has('password')
                                }"
                                @keypress="errors.clear('password')"
                            />
                        </div>

                        <span v-if="errors.has('password')" style="color:red">
                            {{ errors.get("password") }}
                        </span>
                        <div class="form-group" v-if="!loginbtn">
                            <label for="password-auth">{{$t('Conifrm Password')}}</label>
                            <input
                                type="password"
                                id="password-auth"
                                class="form-control"
                                v-model="user.password_confirmation"
                                :class="{
                                    'is-invalid': errors.has('password')
                                }"
                                @keypress="errors.clear('password')"
                            />
                        </div>
                        <span
                            style="color:red"
                            ref="login_error"
                            class="mt-2"
                        ></span>
                        
                        <button
                            v-if="loginbtn"
                            class="btn-round-primary br-0 mb-5"
                            @click="loginCustomer"
                        >
                            {{$t('LOGIN')}}
                        </button>
                        <button
                            v-else
                            class="btn-round-primary br-0 mb-5"
                            @click="createCustomer"
                        >
                            {{$t('CREATE ACCOUNT')}}
                        </button>
                        <a
                            @click="shiftBtn"
                            role="button"
                            style="cursor:pointer"
                            class="mt-5"
                        >
                            {{ loginbtn ? "Create Account" : "Login" }}
                        </a>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
// import { EventBus } from './event-bus.js';

export default {
    data() {
        return {
            errors: new Errors(),
            sidebar: true,
            loginbtn: true,
            show: {
                profile: false,
                authPopup: false,
                auth: false
            },
            user: {
                email: "",
                password: "",
                password_confirmation:"",
                name: ""
            }
        };
    },
    created() {
        this.$eventHub.$on("openSidebarTable", this.toogleSidebar);
        this.manageSidebar();

        window.addEventListener("resize", () => {
            this.manageSidebar();
        });
        
        document.addEventListener("touchmove", process_touchmove, false);
            let touch = 60;
            let touchend = 0
            function process_touchmove(ev) {
                
                if (touch>ev.touches[0].pageX) {
                    touch = ev.touches[0].pageX
                }
                   touchend = ev.touches[0].pageX
                // console.log(ev.touches[0].pageX);
                
            }
        document.addEventListener('touchend', ()=>{
            if (touchend>=60 && touch<20) {
                this.sidebar = true
            console.log(touch);
            }
            touch = 60;
            touchend = 0;
        }, false);

    },
    computed: {
        restaurant() {
            return this.$store.state.restaurant;
        },
        loggedIn() {
            return this.$store.getters.loggedIn;
        }
    },
    methods: {
        closeModel(){
            this.show= {
                profile: false,
                authPopup: false,
                auth: false
            }
        },
        manageSidebar() {
            let pageWidth =
                window.innerWidth > screen.width
                    ? screen.width
                    : window.innerWidth;
            if (pageWidth < 800) {
                this.sidebar = false;
            } else {
                this.sidebar = true;
            }
        },
        shiftBtn() {
            this.loginbtn = !this.loginbtn;
            this.errors.clear("name");
        },
        toogleSidebar() {
            this.sidebar = !this.sidebar;
        },
        showProfile() {
            this.show.profile = !this.show.profile;
        },
        loginCustomer() {
            this.$Progress.start();
            this.$store
                .dispatch("retrieveTokenCustomer", this.user)
                .then(response => {
                    this.$Progress.start();
                    this.$store.dispatch("getCustomer").then(respones => {
                        this.$Progress.finish();
                        this.show.profile = false;
                        this.show.authPopup = false;
                        this.show.auth = false;
                    });
                })
                .catch(errors => {
                    if (
                        errors == "Error: Request failed with status code 400"
                    ) {
                        this.$refs.login_error.innerHTML =
                            "Invalid email or password";
                    } else {
                        this.errors.record(errors.response.data);
                    }
                });
        },
        createCustomer() {
            this.$Progress.start();
            this.$store
                .dispatch("createCustomer", this.user)
                .then(response => {
                    this.loginCustomer();
                })
                .catch(errors => {
                    this.errors.record(errors.response.data);
                });
        },
        logOut() {
            this.$store.dispatch("logout").then(response => {
                this.$store.dispatch('resetUser');
            });
        },
        changeLng(type){
            if(this.$i18n.locale!=type){
                this.$i18n.locale=type
            }else{
                this.$i18n.locale='mx'
            }
        }
        
    },
    mounted() {
        window.addEventListener("click", e => {
            if (e.target == document.querySelector(".popup")) {
                this.show.profile = false;
                this.show.authPopup = false;
                this.show.auth = false;
            }
        });
    }
};
</script>

<style lang="scss" scoped>
.overlay-sidebar {
    display: none;
}
@media (max-width: 800px) {
    .overlay-sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.521);
    }
}
label,
button,
a {
    font-family: "Montserrat", sans-serif;
}
.btn-round-primary {
    background-color: var(--main-color);
    // margin-top: 40px;
    margin: 40px auto;
    width: 100%;
    border-radius: 19px;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0);
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--smain-color);
    text-align: center;
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
    }
    &.br-0 {
        max-width: unset !important;
        border-radius: 0 !important;
        margin-bottom: 10px !important;
    }
}
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: center;
    // align-items: center;
    z-index: 9;
    overflow-y: scroll;
    .profile-popup {
        margin-top: 30px;
        padding: 35px;
        background-color: #fff;
        max-width: 600px;
        width: 100%;
        height: fit-content;
        border-radius: 12px;
        .copy-cat {
            width: 100%;
            text-align: center;
        }
        .img-wraper {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 200px;
            }
        }
        .restaurant {
            margin-top: 30px;
            h3 {
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
            }
        }
        .btn-round-blue {
            width: 100%;
            background: var(--btn-color);
            border-radius: 37.5px;
            border: 1px solid var(--main-color);
            padding: 10px;
            color: #fff;
            font-size: 17px;
        }
        h6 {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            text-align: center;
            margin-bottom: 40px;
        }

        .form-group {
            label {
                width: 100%;
            }
            textarea,
            select,
            input {
                box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.16);
                border: none;
                &:focus {
                    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0 #ccc;
}
.sidebar-wraper {
    .profile {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        text-align: center!important;
        align-items: center;
        flex-direction: column;
        background-color: white;
        h4 {
            font-family: "Montserrat", sans-serif;
            color: var(--font-color);
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
        }
    }
    .list {
        padding-right: 20px;
        padding-left: 20px;
        margin: 2px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 45px;
        font-size: 16px;
        color: var(--font-color);
        transition: all 0.4s ease;
        text-decoration: none;
        .icon {
            display: flex;
            align-items: center;
        }
        img {
            height: 29px;
            padding: 4px 10px 4px 20px;
        }
        &:hover,
        &.active {
            background-color: var(--main-color);
            border-left: 4px solid var(--font-color);
        }
    }
}
.sidebar {
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}
.router-view {
    transition: all 0.3s ease-in-out;
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 !important;
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent;
    }
}
.wraper {
    display: flex;
    .sidebar-holder {
        // width: 0;
        transition: all 0.3s ease-in-out;

        &.active {
            // width: 308px;
        }
    }
    &.active {
        display: grid;
        grid-template-columns: 260px 1fr;
        .sidebar {
            transform: translateX(0);
        }
        .router-view {
            // transform: translateX(260px);
            width: 100%;

            // margin-left: auto;
            .overlay {
                display: block !important;
            }
        }
    }
}
@media (max-width: 768px) {
}
@media (max-width: 800px) {
    .wraper {
        display: grid;
        grid-template-columns: 0px 1fr;

        .sidebar-holder {
            // width: 0;
            transition: all 0.3s ease-in-out;

            &.active {
                // width: 308px;
            }
        }
        &.active {
            grid-template-columns: 0px 1fr;

            .sidebar {
                transform: translateX(0);
            }
            .router-view {
                transform: translateX(0);
                width: 100%;

                // margin-left: auto;
                .overlay {
                    display: block !important;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    // .wraper {
    //     &.active {
            .router-view {
                padding: 0 !important;
            }
    //     }
    // }
}
.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
}
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
}
.status-outer {
    border: 2px solid #989898;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.img-border img {
    border-radius: 100%;
    padding: 3px;
    border: 5px solid var(--main-color);
    margin: 3px;
}
.name2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--font-color);
}
.status {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.language{
    list-style: none;
    position: relative;
    text-align: center;
    cursor:pointer;
}
.language .dropdown{
    min-width: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    left: 0;
    top: 20px;
    border: solid 1px #e3dcdc;
}
.language .dropdown .active{
    background-color:#E5D362!important;
    color:white;
}
.language:hover .dropdown{
    display:flex;
}
.language .dropdown li{
    padding: 3px 35px;
    background-color: white;
    
}
.dropdown:hover .dropdown{
    display:flex;
}
.name {
    margin: 0px 10px;
}
</style>
