<!-- =========================================================================================
  File Name: FullPage.vue
  Description: Full page layout
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>

  <div class="layout--full-page">
    <router-view/>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
  import Sidebar from "../frontend-components/sidebar/Sidebar";
  import Topbar from "../frontend-components/topbar/Topbar";
export default {
    data(){
      return{
        sidebar: true,

      }
    },
    components: {
      Topbar,
      Sidebar
    },
    computed: {
      loginPage(){
        console.log(window.location.href);
        if(window.location.href.includes('login')){
          
          return false
        }
        return true
      }
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
  .p-relative{
    position: relative;
  }
  *:focus{
    outline: none;
  }
  .template-layout{
    display: grid;
    grid-template-columns: 1fr;
    &.col-template{
      grid-template-columns: 220px 1fr;
    }
  }
  .btn-round-blue{
    background: var(--main-color);
    border-radius: 37.5px;
    width: 180px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid var(--main-color);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .btn-round-blue:hover{
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0px 0px 4px 0px #eee;
  }
  .btn-white{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
     font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--main-color);
    box-shadow: 0px 0px 2px 0px #777;
  }
  .btn-round{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  .pointer{
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .template-layout{
      display: grid;
      grid-template-columns: 1fr;
      &.col-template{
        grid-template-columns: 1fr;
      }
    }

  }

  .fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.4s;
  // max-height: 230px;
  max-height: 236;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
  
  opacity: 0;
  max-height: 0px;
}

</style>
