<template>
  <div class="centerx">
    <vs-popup class="holamundo"  title="Create Restaurant Owner" :active.sync="popupActivo">

    <div class="user-container">
      <div class="child1">
        <vs-input label="Name" style="width:80%;" placeholder="name" v-model="employ.name" name="name" required/>

        <vs-input type="Email" style="width:80%;" label="Email" placeholder="email" v-model="employ.email" required/>

        <vs-input type="Password" style="width:80%;" label="Password" placeholder="password" v-model="employ.dehash_password" required/>

        <vs-input type="Role" style="width:80%;" label="Role" placeholder="role" v-model="employ.role" required/>

        <div  @click="clicked()" class="img-group">
          <img :src="employ.image" alt="" style="width:120px;height:auto;" ref="upload_container">
        </div>
        <div class="form-group " style="display:none;cursor:pointer;">
          <div class='file-input'  name="image" @change="uploadimage">
              <input type='file' ref="img_file">
          </div>
        </div>

        <vs-button color="primary" style="width:80%;" class="m-3" type="filled" @click="submitCreateUser()">submit</vs-button>
      </div>
      <div class="child2">
          <h2>Restaurant Owner</h2>
          <img src="/images/restaurant/creatRest.png" alt="">
      </div>
      
    </div>
    </vs-popup>
  </div>
</template>

<script>
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
export default {
  data(){
    return {
        hover: 'blur',
        image:'',
        img:'',
        success:false,
        employ:JSON.parse(JSON.stringify(this.employee)),
        // employ:{
        //   name:'',
        //   image:'',
        //   role:'',
        //   dehash_password:'',
        //   email:'',
        // },
        popupActivo:false,
    }
  },
  watch:{
    employee(){
      if(this.popup){
        this.popupActivo=true;
        this.employ=JSON.parse(JSON.stringify(this.employee));
      }
    }
  },
  props:{
    popup:false,
    employee:{}
  },
  
    methods:{
   
    submitCreateUser(){
        
        if(!moduleUserManagement.isRegistered) {
            this.$store.registerModule('userManagement', moduleUserManagement);
            moduleUserManagement.isRegistered = true;
        }
        
        let formData= new FormData();
        formData.append('name',this.employ.name);
        formData.append('password',this.employ.dehash_password);
        formData.append('image',this.image);
        formData.append('email',this.employ.email);
        formData.append('role',this.employ.role);
        formData.append('id',this.employee.id);
        // formData.append('id',);

        this.$store.dispatch("userManagement/editUser",{user:formData})
        .then((res) => {
          this.employee.name=this.employ.name;
          this.employee.email=this.employ.email;
          this.employee.dehash_password=this.employ.dehash_password;
          if(this.img){
            this.employee.image=this.img;
          }
          this.employee.role=this.employ.role;
          this.popupActivo=false;
         }).catch(err => {
           
         });
      },
      
      uploadimage(event){
        this.image=event.target.files[0];
        let container=this.$refs.upload_container;
        var reader = new FileReader();
        reader.onload= (event)=>{
          container.src=event.target.result;
          this.img=event.target.result;
        }
        reader.readAsDataURL(this.image);
      },
      clicked(){
        this.$refs.img_file.click();
      }

  }
}
</script>

<style>
    .m-3{
        margin:10px;
    }
    .user-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap-reverse;
    }
    .user-container .child1{
        flex:1 1 300px;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    .user-container .child2{
        flex:1 1 auto;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    .img-group{
      display:flex;
      transition:all 0.3s ease-in;
      margin:20px 0px;
    }
    .img-group:hover{
      -webkit-box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
      -moz-box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
      box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
      cursor:pointer;
    }
</style>



 