<!-- =========================================================================================
  File Name: UserEditTabInformation.vue
  Description: User Edit Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="data_local.restaurant.logo" @click="$refs.img_file.click()" class="mr-8 rounded h-24 img-group" ref="update_avatar"/>
          <!-- <vs-avatar :src="data.avatar" size="80px" class="mr-4" /> -->
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ data_local.restaurant.name  }}</p>
            <input type="file" class="hidden"  ref="img_file" @change="update_avatar" accept="image/*">

            <!-- Toggle comment of below buttons as one for actual flow & currently shown is only for demo -->
            <vs-button class="mr-4 mb-4" @click="save_changes">Save changes</vs-button>
            <!-- <vs-button type="border" class="mr-4" @click="$refs.update_avatar_input.click()">Change Avatar</vs-button> -->

          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="vx-row">
      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Name" :danger-text="errors.get('name')" v-model="data_local.restaurant.name" name="name" :danger="errors.has('name')"/>
        <!-- <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span> -->

        <div class="mt-3 mb-3">
          <vs-textarea label="Description" :danger-text="errors.get('description')" v-model="data_local.restaurant.description" name="description" :danger="errors.has('description')"/>
        </div>

        <vs-input class="w-full mt-4" label="Contact no." :danger-text="errors.get('phone')" v-model="data_local.restaurant.phone" type="contact"  name="phone" :danger="errors.has('phone')"/>


        <!-- <vs-input class="w-full mt-4"  v-model="data_local.restaurant." type="currency"  name="email" /> -->
        <!-- <span class="text-danger text-sm"  v-show="errors.has('email')">{{ errors.first('email') }}</span> -->
      
      </div>

      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Address" :danger-text="errors.get('address')" v-model="data_local.restaurant.address" type="email" name="address" :danger="errors.has('address')"/>

        <div class="mt-4">
          <span>Delivery</span>
          <v-select v-model="data_local.restaurant.delivery" :danger-text="errors.get('delivery')" :danger="errors.has('delivery')" :clearable="false" :options="deliveryOptions"  :dir="$vs.rtl ? 'rtl' : 'ltr'"/>
        </div>
        <div class="mt-4">
          <span>Currency</span>
          <v-select v-model="data_local.restaurant.currency" :danger-text="errors.get('currency')" :danger="errors.has('currency')" :clearable="false" :options="currencyOptions"  :dir="$vs.rtl ? 'rtl' : 'ltr'"/>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  components: {
    vSelect
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      errors:new Errors(),
      image:'',
      data_local: JSON.parse(JSON.stringify(this.data)),
      deliveryOptions: [
        { label: "Yes",  value: "yes" },
        { label: "No",  value: "no" },
      ],
      currencyOptions:[
        { label: "MXN",  value: "MXN" },
        { label: "USD",  value: "USD" },
      ]
    }
  },
  computed: {
    status_local: {
      get() {
        return { label: this.capitalize(this.data_local.status),  value: this.data_local.status  }
      },
      set(obj) {
        this.data_local.status = obj.value
      }
    },
    role_local: {
      get() {
        return { label: this.capitalize(this.data_local.role),  value: this.data_local.role  }
      },
      set(obj) {
        this.data_local.role = obj.value
      }
    },
  },
  methods: {
    capitalize(str) {
      return str.slice(0,1).toUpperCase() + str.slice(1,str.length)
    },
    save_changes() {
        if(!moduleUserManagement.isRegistered) {
            this.$store.registerModule('userManagement', moduleUserManagement);
            moduleUserManagement.isRegistered = true;
        }
        let formData= new FormData();
        formData.append('name',this.data_local.restaurant.name);
        formData.append('description',this.data_local.restaurant.description);
        formData.append('logo',this.image);
        formData.append('phone',this.data_local.restaurant.phone);

        let currency=(this.data_local.restaurant.currency.value)?this.data_local.restaurant.currency.value:this.data_local.restaurant.currency;
        formData.append('currency',currency);
        let delivery=(this.data_local.restaurant.delivery.value)?this.data_local.restaurant.delivery.value:this.data_local.restaurant.delivery;
        formData.append('delivery',delivery);
        formData.append('address',this.data_local.restaurant.address);
        formData.append('home_delivery',this.data_local.restaurant.home_delivery);
        formData.append('id',this.data_local.restaurant.id);

        // formData.append('id',);

        this.$store.dispatch("userManagement/editRestaurant",formData)
        .then((res) => {
            this.$vs.notify({
              color: 'success',
              title: 'updated',
              text: 'The Restaurant Details are updated successfully deleted'
            })
         }).catch(errors => {
            this.errors.record(errors.response.data)           
         });
    },

    reset_data(){
      this.data_local = JSON.parse(JSON.stringify(this.data));
    },
    update_avatar(event){
      let img_tag=this.$refs.update_avatar;
      this.image=event.target.files[0];
      
      let reader= new FileReader(); 
      reader.onload=(event)=>{
        img_tag.src=event.target.result;
      }
      reader.readAsDataURL(this.image);
      
    }
  },
}
</script>
<style>
textarea{
  height:200px;
}

</style>