<!-- =========================================================================================
  File Name: UserEditTabInformation.vue
  Description: User Edit Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">
    <div v-for="(employee,key) in data_local.restaurant.employee" v-bind:key="key" class="mt-5 mb-5">
      <div class="vx-row">
        <div class="vx-col w-full">
          <div class="flex items-start flex-col sm:flex-row">
            <img :src="employee.image" class="mr-8 rounded h-24 w-24" />
            <div>
              <p class="text-lg font-medium mb-2 mt-4 sm:mt-0" >{{ employee.name  }}</p>
              <input type="file" class="hidden" ref="update_avatar_input" >
              <vs-button color="primary" type="border" size="small" @click="editEmp(employee,key)">EDIT</vs-button>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Row -->
      <div class="vx-row mt-5">
        <div class="vx-col md:w-1/2 w-full">
          <table>
            <tr class="mb-5">
              <td class="font-semibold" >Name:</td>
              <td >{{ employee.name }}</td>
            </tr>

             <tr class="mb-5">
              <td class="font-semibold">Email:</td>
              <td >{{ employee.email }}</td>
            </tr>
          </table>
        </div>

        <div class="vx-col md:w-1/2 w-full">
          <table>
            <tr class="m-5">
              <td class="font-semibold">Role:</td>
              <td :ref="'role'+key">{{ employee.role }}</td>
            </tr>
            
          </table>
        </div>
      </div>
    </div>
    <pop-up :employee="selectedEmp" @sendImage="recieveImg" :popup="popUPValue"></pop-up>
  </div>
  
</template>

<script>
import vSelect from 'vue-select'
import popUp from './popUp.vue'

export default {
  components: {
    vSelect,
    popUp,
    
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    
  },
  data() {
    return {
      data_local: JSON.parse(JSON.stringify(this.data)),
      selectedEmp:{},
      popUPValue:false,
      key:'',
      newImg:''
    }
  },
  computed: {
    status_local: {
      get() {
        return { label: this.capitalize(this.data_local.status),  value: this.data_local.status  }
      },
      set(obj) {
        this.data_local.status = obj.value
      }
    },
    role_local: {
      get() {
        return { label: this.capitalize(this.data_local.role),  value: this.data_local.role  }
      },
      set(obj) {
        this.data_local.role = obj.value
      }
    },

  },
  methods: {
    capitalize(str) {
      return str.slice(0,1).toUpperCase() + str.slice(1,str.length)
    },
    reset_data() {
      this.data_local = JSON.parse(JSON.stringify(this.data))
    },
    editEmp(emp,key){
      this.selectedEmp=emp;
      this.key=key;
      this.popUPValue=true;
    },
    recieveImg(value){
      this.newImg=value;
    }
  },
}
</script>
