<!-- =========================================================================================
  File Name: UserEditTabInformation.vue
  Description: User Edit Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="data_local.image" @click="$refs.img_file.click()" class="mr-8 rounded h-24 img-group" ref="update_avatar"/>
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ data_local.name  }}</p>
            <input type="file" class="hidden"  ref="img_file" @change="update_avatar" accept="image/*">
            <vs-button class="mr-4 mb-4" @click="save_changes">Save changes</vs-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="vx-row">
      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Name" v-model="data_local.name"  name="name" :danger="errors.has('name')" :danger-text="errors.get('name')"/>

        <vs-input class="w-full mt-4" label="Email" v-model="data_local.email" type="email" name="email" :danger="errors.has('email')" :danger-text="errors.get('email')"/>
      
      </div>

      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Password" v-model="password" name="password" :danger="errors.has('password')" :danger-text="errors.get('password')" type="password"/>

        <vs-input class="w-full mt-4" :danger="errors.has('password_confirmation')" :danger-text="errors.get('password')" type="password" label="Password Confirmation" v-model="password_confirmation" />

      </div>
    </div>
  </div>
</template>

<script>
import vSelect from 'vue-select'
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  components: {
    vSelect
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      errors:new Errors(),
      image:'',
      password:'',
      password_confirmation:'',
      data_local: JSON.parse(JSON.stringify(this.data)),
    }
  },

  methods: {
    
    save_changes() {
        if(!moduleUserManagement.isRegistered) {
            this.$store.registerModule('userManagement', moduleUserManagement);
            moduleUserManagement.isRegistered = true;
        }
        
        let formData= new FormData();
        formData.append('name',this.data_local.name);
        formData.append('password',this.password);
        formData.append('image',this.image);
        formData.append('email',this.data_local.email);
        formData.append('id',this.data_local.id);
        formData.append('password_confirmation',this.password_confirmation);
        // formData.append('id',);

        this.$store.dispatch("userManagement/editOwner",{user:formData})
        .then((res) => {
            // this.$router.push('/apps/user/user-view/'+this.data.id);
            this.$vs.notify({
              color: 'success',
              title: 'updated',
              text: 'The owner account is updated successfully'
            })
         }).catch(errors => {
           this.errors.record(errors.response.data)
         });
    },

    reset_data(){
      this.data_local = JSON.parse(JSON.stringify(this.data));
    },
    update_avatar(event){
      let img_tag=this.$refs.update_avatar;
      this.image=event.target.files[0];
      
      let reader= new FileReader(); 
      reader.onload=(event)=>{
        img_tag.src=event.target.result;
      }
      reader.readAsDataURL(this.image);
      
    }
  },
}
</script>
<style>
.img-group:hover{
  -webkit-box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
  -moz-box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
  box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
  cursor:pointer;
}
</style>