<template>
    <div class="home-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <h3 class="head">{{$t(title)}} {{$t(employeeType)}}</h3>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>{{$t("Username")}}</label>
                                    <input class="form-control" type="text" value="" v-model="user.name" name="price" :placeholder="$t('Username')" :class="{'is-invalid':errors.has('name')}" @keydown="errors.clear('name')">
                                </div>
                                <span v-if="errors.has('name')" style="color:red" >
                                    {{ errors.get('name') }}
                                </span>

                                <div class="form-group">
                                    <label>{{$t("Email")}}</label>
                                    <input class="form-control" type="email" v-model="user.email" name="name" :placeholder="$t('Email')" :class="{'is-invalid':errors.has('email')}" @keydown="errors.clear('email')">
                                </div>
                                <span v-if="errors.has('email')" style="color:red" >
                                    {{ errors.get('email') }}
                                </span>

                                <div class="form-group">
                                    <label>{{$t("Password")}}</label>
                                    <input class="form-control" type="password" value="" v-model="user.password" name="price" :placeholder="$t('Password')" :class="{'is-invalid':errors.has('password')}" @keydown="errors.clear('password')">
                                </div>
                                <span v-if="errors.has('password')" style="color:red" >
                                    {{ errors.get('password') }}
                                </span>
                                <div class="form-group">
                                    <label>{{$t("Conifrm Password")}}</label>
                                    <input class="form-control" type="password" value="" v-model="user.password_confirmation" name="price" :class="{'is-invalid':errors.has('password')}" @keydown="errors.clear('password')" :placeholder="$t('Conifrm Password')">
                                </div>

                            </form>
                                <button class="btn-round-blue mb-2 mt-4 mx-auto" @click="saveChanges()">{{$t("Save")}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleTeamManagement from '@/store/team-management/moduleTeamManagement.js'
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
    export default {
        name: "AddExtra",
        data(){
          return{
              errors:new Errors(),
              employeeType:this.$route.params.teamCategory,
              action:'',
              user:{
                  name:'',
                  email:'',
                  password:'',
                  password_confirmation:'',
                  role:'',
                  restaurant_id:'',
                  id:''
              }
          }
        },
        created(){
            if(!moduleTeamManagement.isRegistered) {
                this.$store.registerModule('teamManagement', moduleTeamManagement);
                moduleTeamManagement.isRegistered = true;
            }
            if(!moduleUserManagement.isRegistered) {
                    this.$store.registerModule('userManagement', moduleUserManagement);
                    moduleUserManagement.isRegistered = true;
                }
            if(window.location.href.includes('edit')==true){
                this.action='edit';
                this.fetchUser();
            }else{
                this.action='add';
            }
        },
        computed: {
             title(){
                let url =window.location; 
                
                if(url.href.includes('edit')==true){
                    return 'Update';
                }else{
                    return 'Add'
                }
            }
        },
        methods:{
            saveChanges(){
                // if(this.user.password!=''&&this.user.name!=''&&this.user.email!=''){
                    this.user.role=this.employeeType;
                    this.user.restaurant_id=this.$store.getters.get_res.id;
                    if(this.action=='add'){
                        this.$store.dispatch('teamManagement/storeTeam',this.user)
                        .then((response)=>{
                            this.$router.push('/team/'+this.$route.params.restaurant_id+'/restaurant/'+this.employeeType);
                        }).catch(errors => {
                            this.errors.record(errors.response.data)
                            if(errors=="Error: Request failed with status code 400"){
                                this.$refs.login_error.innerHTML="Invalid email or password";
                            }
                        });
                    }else if(this.action=='edit'){
                        this.user.id=this.$route.params.id;
                        this.$store.dispatch('userManagement/editUser',{user:this.user})
                        .then((response)=>{
                            this.$router.push('/team/'+this.$route.params.restaurant_id+'/restaurant/'+this.employeeType);
                        }).catch(errors => {
                            this.errors.record(errors.response.data)
                            if(errors=="Error: Request failed with status code 400"){
                                this.$refs.login_error.innerHTML="Invalid email or password";
                            }
                        });
                    }
                // }
            },
            fetchUser(){
                
                this.$store.dispatch('userManagement/fetchUser',this.$route.params.id)
                .then((response)=>{
                    let u=response.data.data;
                    this.user.name=u.name;
                    this.user.email=u.email;
                    this.user.password=u.password;
                });
            },
            
        },
        beforeCreate(){
            this.$Progress.start()
        },
        mounted(){
            this.$Progress.finish()
        },
    }
</script>

<style lang="scss" scoped>
    .is-invalid{
        box-shadow: 0px 0px 8px rgb(250, 94, 94)!important;
    }
    .home-restaurant{
        padding: 30px 0;
        .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .form-group{
                small{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    color: #444;
                }
            }
             .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }

    }
    .card-border{
        background-color: #ECECEC;
        border-radius: 8px;
        padding: 14px;

    }
  .head{
      background-color: #f9f9f9;
      padding:8px;
      border-radius:4px;
  }
    @media (max-width: 500px) {
      .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>