<template>
  <div class="extras">
    <router-link class="add-extra" :to="'/team/'+$route.params.restaurant_id+'/restaurant/'+employeeType+'/new'">
    +
    </router-link>
    <div class="conatiner-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="alert empty-extra" v-if="false">
                    <h4>{{$t('You have not added additional feature')}}</h4>
                </div>
                <div class="card">
                    <div class="card-border">
                        <h3 class="head" >{{$t(employeeType)}} {{$t('list')}}</h3>
                        <div class="extra-features">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:15%">No#</th>
                                        <th style="width:25%">{{$t('Username')}}</th>
                                        <th style="width:35%">{{$t('Email')}}</th>
                                        <th style="width:25%">{{$t('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr>
                                        <td>1</td>
                                        <td>Random</td>
                                        <td>2.99</td>
                                        <td>
                                            <router-link :to="'/team/'+employeeType+'/edit'" tag="button" class="btn bg-white mr-1">Edit</router-link>
                                            <button class="btn bg-white">Delete</button>
                                        </td>
                                    </tr> -->
                                    <tr v-if="!employees.length" >
                                        <th colspan="5">
                                            <p style="padding:10px;background-color:white;color:gray;display:flex;justify-content:center">{{$t('No Record Stored')}}</p>    
                                        </th>
                                    </tr>
                                    <tr v-for="(employee,index) in employees" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{employee.name}}</td>
                                        <td>{{employee.email}}</td>
                                        <td>
                                            <router-link :to="'./'+employeeType+'/edit'+'/'+employee.id" tag="button" class="btn bg-white mr-1">{{$t('Edit')}}</router-link>
                                            <button @click="deleteConfirm(employee.id)" class="btn bg-white">{{$t('Delete')}}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
     <Alert
            :type="'confirmation'"
            v-if="alert"
            @closeMe="alert = false"
            @delete="deleteEmployee"
        /> 
</div>
</template>
<script>
import moduleTeamManagement from '@/store/team-management/moduleTeamManagement.js'
export default {
    created(){
        if(!moduleTeamManagement.isRegistered) {
            this.$store.registerModule('teamManagement', moduleTeamManagement);
            moduleTeamManagement.isRegistered = true;
        }
        this.fetchTeam();
    },
    data(){
        return{
            employeeType:this.$route.params.teamCategory,
            id:'',
            alert: false,
        }
    },
    watch:{
        '$route.params.teamCategory':function(){
            if(this.employeeType !=this.$route.params.teamCategory){
                this.employeeType=this.$route.params.teamCategory;
                this.fetchTeam();
            }
        }
    },
    computed:{
        employees(){
            return this.$store.state.teamManagement.employees;
        }
    },
    methods: {
        fetchTeam(){
            this.$Progress.start();
            this.$store.dispatch('teamManagement/fetchTeam',{type:this.employeeType,restaurant_id:this.$route.params.restaurant_id})
            .then(Response=>{this.$Progress.finish()});
                // .then((response)=>{
                //     this.employees=response;
                // });
        },
        deleteConfirm(id){
            this.alert=true;
            this.id=id;
        },
        deleteEmployee(){
            this.$store.dispatch('teamManagement/deleteTeam',this.id)
            .then(Response=>{this.$Progress.finish();this.alert=false;});
        }
    },
    beforeCreate(){
        this.$Progress.start()
    }
}
</script>

<style lang="scss" scoped>
  .extras{
      position: relative;
      padding: 40px 20px 20px 20px;
      .add-extra{
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: #fff;
          font-size: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px;
          top:20px;
          text-decoration: none;
      }
      .empty-extra{
          background-color: var(--main-color);
          h4{
              margin: 0;
              color: #fff;
              font-family: 'Montserrat', sans-serif;
              font-size: 18px;
              text-align: center;
          }
      }
       .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                text-transform: capitalize;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            table{
                width: 100%;
                th{
                   color: #484848; 
                   font-size: 17px;
                    font-weight: 550;
                }
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 44px;
                    color: #000000;
                }
                tr{
                    border-bottom: 2px solid #d6d5d5;  
                }
                tbody{
                    tr{
                        border-bottom: 2px solid #d6d5d5;
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 600;
                    }
                }
            }
       }

  }
  .card-border{
    background-color: #ECECEC;
    border-radius: 8px;
    padding: 14px;

  }
  .head{
      background-color: #f9f9f9;
      padding:8px;
      border-radius:4px;
  }
  @media (max-width: 500px) {
      .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>
