<template>
    <div class="table-layout">
        <div class="child1" id="dishes">
            <div class="mt-5 ml-3 mr-3">
                <Search @searchDish="searchdish"/>
            </div>
            <div class="back-btn">
                <router-link
                    :to="
                        '/restaurant/' +
                            $route.params.restaurant_id +
                            '/table/' +
                            $route.params.table_name +
                            '/' +
                            $route.params.table_id
                    "
                    v-if="$route.params.table_name"
                >
                    <img
                        src="/images/back.svg?3945f88e7b506e4ade4e6ad6145a3bad"
                    />
                </router-link>

                <router-link
                    :to="
                        '/'+this.$route.params.restaurant_name+
                        '/restaurant/' +
                            $route.params.restaurant_id +
                            '/' +
                            $route.params.link_name +
                            '/link/' +
                            $route.params.link_id
                    "
                    v-if="$route.params.link_name"
                >
                    <img
                        src="/images/back.svg?3945f88e7b506e4ade4e6ad6145a3bad"
                    />
                </router-link>
            </div>
            <div class="center_out">
                <h3>{{$t('DISHES')}}</h3>
            </div>
            <div class="child-inner">
                <div
                    class="card-menu"
                    v-for="(dish, index) in dishes"
                    v-bind:key="index"
                >
                    <swiper
                        ref="mySwiper"
                        class="swiper"
                        :options="swiperOption"
                    >
                        <swiper-slide v-if="dish.image1">
                            <div class="visual">
                                <img :src="dish.image1" alt="" />
                            </div>
                        </swiper-slide>
                        <swiper-slide v-if="dish.image2">
                            <div class="visual">
                                <img :src="dish.image2" alt="" />
                            </div>
                        </swiper-slide>
                        <swiper-slide v-if="dish.image3">
                            <div class="visual">
                                <img :src="dish.image3" alt="" />
                            </div>
                        </swiper-slide>
                        <swiper-slide v-if="dish.image4">
                            <div class="visual">
                                <img :src="dish.image4" alt="" />
                            </div>
                        </swiper-slide>
                        <div class="swiper-button-prev" slot="button-prev">
                            <svg
                                width="43"
                                height="43"
                                viewBox="0 0 43 43"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M26.3501 29.1916L18.6585 21.4999L26.3501 13.8083L23.8167 11.2749L13.5916 21.4999L23.8167 31.725L26.3501 29.1916Z"
                                    fill="#474D52"
                                />
                            </svg>
                        </div>
                        <div class="swiper-button-next" slot="button-next">
                            <svg
                                width="43"
                                height="43"
                                viewBox="0 0 43 43"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M16.6499 13.8084L24.3415 21.5001L16.6499 29.1917L19.1833 31.7251L29.4084 21.5001L19.1833 11.275L16.6499 13.8084Z"
                                    fill="#474D52"
                                />
                            </svg>
                        </div>
                    </swiper>

                    <div class="price">
                        <h5>{{$t('Price')}} : {{ dish.price }} USD</h5>
                    </div>
                    <h3>{{ dish.name }}</h3>
                    <p>
                        {{ dish.description }}
                    </p>
                    <h3 v-if="dish.come_with[0]">Comes with</h3>
                    <div class="tags" v-if="dish.come_with[0]">
                        <span
                            class="tag mr-1"
                            v-for="(come, index) in dish.come_with"
                            :key="index"
                            >{{ come }}</span
                        >
                    </div>
                    <div class="center_out mt-5 mb-5">
                        <button
                            class="btn btn-round-blue1"
                            style="color:white;"
                            @click="openModel(dish)"
                        >
                            {{$t("Customize")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="child2">
            <Checkout />
        </div>
        <Order v-if="detail" @closeMe="confirmModel()" :dish="selected_dish" />
    </div>
</template>

<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import Checkout from "@/views/frontend/components/take-order-table/Checkout";
import Search from "@/views/frontend/components/take-order/components/Search";
import DishCard from "@/views/frontend/components/take-order-table/components/DishCard";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import Order from "@/views/frontend/components/take-order-table/components/Order";
export default {
    data() {
        return {
            swiperOption: {
                loop: false,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            },
            selected_dish: {},
            detail: false
        };
    },
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        if (this.$route.params.category_name != "search") {
            this.fetchDishes();
        }
    },
    components: {
        DishCard,
        Checkout,
        Search,
        swiper,
        swiperSlide,
        Order
    },
    mounted(){
         
            setTimeout(() => {
                this.$el.querySelector("#dishes").scrollIntoView();
            }, 100);
            
        
    },
    methods: {
        searchdish(name) {
            // let slides=document.querySelectorAll('.swiper-slide');
            // if(slides.length>0){
            //     slides.forEach(element=>{
            //         element.remove();
            //     });
            // }
            this.cardsShow = true;
            this.$Progress.start();
            this.$store
                .dispatch("restaurantManagement/searchDish", {
                    restaurant_id: this.$route.params.restaurant_id,
                    name: name
                })
                .then(response => this.$Progress.finish());
        },
        fetchDishes() {
            this.$store
                .dispatch("restaurantManagement/getActiveDishes", {
                    restaurant_id: this.$route.params.restaurant_id,
                    id: this.$route.params.category
                })
                .then(response => this.$Progress.finish());
        },
        confirmModel() {
            this.detail = false;
        },
        openModel(dish) {
            this.detail = true;
            this.selected_dish = dish;
        }
    },
    computed: {
        dishes() {
            return this.$store.state.restaurantManagement.dishes;
        }
    },
    beforeCreate() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
@import url("../../../../../../assets/css/swiper.css");

.back-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    position: unset !important;
}
.btn-round-blue1{
    padding: 10px 20px !important;
    font-size: 17px;
    font-weight: 600;
}
.visual {
    height: 336px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    img {
        height: 100%;
        width: auto;
    }
}
.price {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h5 {
        color: var(--font-color);
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 700;
        // margin: 0;
        text-transform: capitalize;
    }
}
h3,
p {
    color: var(--main-color);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    // margin: 0;
    text-transform: capitalize;
}
p {
    color: #000;
    font-size: 15px;
    font-weight: 400;
}
.tags {
    .tag {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;

        display: inline-block;
        padding: 2px 7px;
        background-color: var(--main-color);
        border-radius: 2px;
        color: #fff;
    }
}
.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 0;
    // transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background-color: #ffffff91;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    &::after,
    &::before {
        content: none;
    }
}
.swiper-button-next {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #ffffff91;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    // transform: translateY(-50%);
    &::after,
    &::before {
        content: none;
    }
}
.table-layout {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap-reverse;
}
.child2 {
    flex: 1 1 410.5px;
}
.child1 {
    flex: 1 1 430px;
    padding: 0px 15px;
}
.category {
    .headline {
        height: 40px;
        width: 100%;
        background: url("https://meniuu.com/storage/default/salad/home.jpg")
            no-repeat center center;
        background-size: cover;
        position: relative;
        .encima {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(51, 49, 80, 0.5);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        h4 {
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 22px;
            font-weight: 600;
            margin: 0;
            letter-spacing: 1px;
            text-transform: capitalize;
        }
    }
    .products {
        margin: 20px 0px;
    }
}
@media (max-width: 1024px) {
    .category .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .category .products {
        grid-template-columns: 1fr;
    }
}
.card-menu {
    padding: 9px 24px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #e9e8e8;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;

    h3{
        color:var(--font-color);
    }
    p{
        color:var(--font-color);
    }
}
.child-inner {
    height: 650px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::-webkit-scrollbar {
        width: 4px; /* Remove scrollbar space */
        background: #fff; /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        width: 4px;
        background: var(--main-color);
    }
}
.center_out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_out h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 30px;
    color: var(--font-color);
}
@media (max-width: 1100px) {
    .child-inner {
        overflow: unset !important;
        height: unset !important;
    }
}
@media (max-width: 500px) {
    .card-menu {
        width: 310px;
        .visual {
            height: 150px;
            img {
                height: 130px;
            }
        }
        p{
            font-size: 14px;
        }
    }
      .child1{
        padding: 0 !important;
    }
}
</style>
