<template>
    <div class="table-layout">
        <div class="child1" id="categories" ref="categories">
            <div class="mt-5 ml-5 mr-5">
                <Search @searchDish="searchdish" />
            </div>
            <div class="center_out">
                <h3>{{$t('CATEGORIES')}}</h3>
            </div>
            <div class="categories">
                <div
                    class="category"
                    v-for="(category, key) in dishCategories"
                    :key="key"
                    @click="pushLink(category.id, category.dish_name)"
                    :style="
                        `background-image:url(${category.image});background-size: cover;`
                    "
                >
                    <div class="encima">
                        <h3>{{ category.dish_name }}</h3>
                        <span class="arrow">
                            <svg
                                width="40"
                                height="40"
                                viewBox="0 0 40 40"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect
                                    x="40"
                                    y="40"
                                    width="40.0003"
                                    height="40.0003"
                                    rx="20.0001"
                                    transform="rotate(-180 40 40)"
                                    fill="white"
                                />
                                <path
                                    d="M16.6664 10L14.3164 12.35L21.9498 20.0001L14.3164 27.6501L16.6664 30.0001L26.6665 20.0001L16.6664 10Z"
                                    fill="black"
                                />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="child2">
            <Checkout />
        </div>
    </div>
</template>

<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import Search from "@/views/frontend/components/take-order/components/Search";
import Order from "@/views/frontend/components/take-order-table/components/Order";
import Checkout from "@/views/frontend/components/take-order-table/Checkout";
export default {
    data() {
        return {
            details: false
        };
    },
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        this.fetchCategoryDishes();
    },
    computed: {
        dishCategories() {
            return this.$store.state.restaurantManagement.dishCategories;
        }
    },
    components: {
        Order,
        Checkout,
        Search
    },
   
    methods: {
        confirmModel() {
            this.$router.push(
                "/restaurant/" +
                    this.$route.params.restaurant_id +
                    "/table/" +
                    this.$route.params.table_name +
                    "/" +
                    this.$route.params.table_id +
                    "/checkout"
            );
        },
        fetchCategoryDishes() {
            this.$store
                .dispatch(
                    "restaurantManagement/getActiveDishCategories",
                    this.$route.params.restaurant_id
                )
                .then(response => this.$Progress.finish());
        },
        pushLink(category_id, category_name) {
            if (this.$route.params.table_name) {
                this.$router.push(
                    "/restaurant/" +
                        this.$route.params.restaurant_id +
                        "/table/" +
                        this.$route.params.table_name +
                        "/" +
                        this.$route.params.table_id +
                        "/" +
                        category_id +
                        "/" +
                        category_name
                );
            } else if (this.$route.params.link_name) {
                this.$router.push(
                    "/"+this.$route.params.restaurant_name+
                    "/restaurant/" +
                        this.$route.params.restaurant_id +
                        "/" +
                        this.$route.params.link_name +
                        "/link/" +
                        this.$route.params.link_id +
                        "/" +
                        category_id +
                        "/" +
                        category_name
                );
            }
        },
        searchdish(name) {
            this.cardsShow = true;
            this.$Progress.start();
            this.$store
                .dispatch("restaurantManagement/searchDish", {
                    restaurant_id: this.$route.params.restaurant_id,
                    name: name
                })
                .then(response => {
                    this.pushLink(response.dish_category_id, "search");
                    this.$Progress.finish();
                });
        }
    },
    beforeCreate() {
        this.$Progress.start();
    },
    mounted() {
        this.$Progress.finish();
        if (this.$route.fullPath.includes("#categories")) {
            setTimeout(() => {
                this.$el.querySelector("#categories").scrollIntoView();
            }, 100);
        }
    }
};
</script>

<style lang="scss" scoped>
.table-layout {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap-reverse;
}
.child2 {
    flex: 1 1 337.5px;
}
.child1 {
    flex: 1 1 374px;
    padding-left: 30px;
    // padding: 0px 15px;
}
.categories {
    height: 550px;
    overflow-y: scroll;
    margin: 0px 7px;
    .arrow {
        cursor: pointer;
    }
    &::-webkit-scrollbar {
        width: 4px; /* Remove scrollbar space */
        background: #fff; /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        width: 4px;
        background: var(--main-color);
    }
    .category {
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        height: 195px;
        background-size: cover;
        position: relative;
        margin-bottom: 15px;
        border-radius: 20px;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
        .encima {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(51, 49, 80, 0.5);
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 20px;
            h3 {
                color: #fff;
                font-family: "Montserrat", sans-serif;
                font-size: 22px;
                font-weight: 600;
                margin:10px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
}
@media (max-width: 1100px) {
    .categories {
        overflow: unset !important;
        height: unset !important;
    }
}
@media (max-width: 768px) {
    .categories {
        grid-template-columns: 1fr;
    }
}
.center_out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_out h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 6px;
    margin-top: 20px;
    color: var(--font-color);
}

@media (max-width: 800px) {
    .categories {
        padding: 0 !important;
        .category {
            height: 162px !important;
        }
    }
    .child1{
        padding-left: 0px;
    }
    .center_out h3 {
        margin-bottom: 30px;
    }
}
</style>
