<template>
    <div class="order-details" id="#customer-receipt">
        <div class="order-size" v-show="order.items.length > 0">
            <div class="order-inner">
                <div
                    style="display:flex;justify-content:center;align-items:center;padding:10px;background-color:#D6D6D6;border-radius:5px;"
                   
                >
                    <div class="mr-3">
                        <img
                            src="/images/general/order_img.png"
                            alt=""
                            style="width:20px;height:20px;"
                        />
                    </div>
                    <div>
                        <h5 style="margin:0px;color:white;">
                            {{$t('CUSTOMER RECEIPT')}}
                        </h5>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{$t('Plate')}}</th>
                            <th>{{$t('Price')}}</th>
                            <th>{{$t('Quantity')}}</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, index) in order.items">
                            <tr :key="index">
                                <td>
                                    <p>{{ item.name }}</p>
                                </td>
                                <td>
                                    <p>{{ item.price }}</p>
                                </td>
                                <td class="quantity">
                                    
                                    <span
                                        class="btn-round"
                                        @click="decreaseItem(index, $event)"
                                        style="cursor:pointer"
                                        >-</span
                                    >
                                    <p>{{ item.quantity }}</p>
                                    <span
                                        class="btn-round hover"
                                        style="cursor:pointer"
                                        @click="increaseItem(index, $event)"
                                        >+</span
                                    >
                                </td>
                                <td>
                                    <p>{{ item.total }}</p>
                                </td>
                                <td>
                                    <span
                                        class="hoversl"
                                        @click="removeItem(index, $event)"
                                        >&times;</span
                                    >
                                </td>
                            </tr>
                            <tr
                                v-for="(ch_description,
                                index) in item.ch_description"
                                colspan="5"
                            >
                                <td colspan="5" v-if="ch_description">
                                    {{ ch_description }}
                                </td>
                            </tr>
                            <tr v-if="item.note">
                                <td colspan="5">
                                    <p>Note: {{ item.note }}</p>
                                </td>
                            </tr>
                            <tr v-for="(extra, index) in item.extras">
                                <td colspan="2">
                                    <p>{{ extra.name }}</p>
                                </td>
                                <td colspan="3">
                                    <p>
                                        {{ extra.price }}
                                        {{ $store.state.restaurant.currency }}
                                    </p>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>

                <div class="subtotal">
                    <h5>Subtotal</h5>
                    <h5>
                        {{ Math.round(parseFloat(order.subtotal) * 100) / 100 }}
                        {{ $store.state.restaurant.currency }}
                    </h5>
                </div>
                <span><b>{{$t('Select Tip (optional)')}}</b></span>
                <div class="custom-control custom-radio radio-flex">
                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio0"
                            name="tip"
                            value="0"
                            v-model="order.tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio0"
                            >0%</label
                        >
                    </div>

                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio1"
                            name="tip"
                            value="5"
                            v-model="order.tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio1"
                            >5%</label
                        >
                    </div>

                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio2"
                            name="tip"
                            value="10"
                            v-model="order.tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio2"
                            >10%</label
                        >
                    </div>
                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio3"
                            name="tip"
                            value="15"
                            v-model="order.tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio3"
                            >15%</label
                        >
                    </div>

                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio4"
                            name="tip"
                            value="20"
                            v-model="order.tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio4"
                            >20%</label
                        >
                    </div>
                </div>

                <div class="total">
                    <h5>Total</h5>
                    <h5>
                        {{ Math.round(parseFloat(order.total) * 100) / 100 }} {{ $store.state.restaurant.currency }}
                    </h5>
                </div>
            </div>

            <form @submit.prevent="">
                <div class="details-customer">
                    <input
                        type="text"
                        class="form-control "
                        :placeholder="$t('Name')"
                        v-model="order.customer_name"
                        :class="{ 'is-invalid': errors.has('customer_name') }"
                        @keydown="errors.clear('customer_name')"
                        v-if="!$store.state.user.name"
                    />
                    <span v-if="errors.has('customer_name')" style="color:red">
                        {{ errors.get("customer_name") }}
                    </span>
                    <br />
                    <input
                        type="email"
                        class="form-control"
                        :placeholder="$t('Email to send receipt')"
                        v-model="order.email"
                        :class="{ 'is-invalid': errors.has('email') }"
                        @keydown="errors.clear('email')"
                        v-if="!$store.state.user.email"
                    />
                    <span v-if="errors.has('email')" style="color:red">
                        {{ errors.get("email") }}
                    </span>

                    <div
                        class="form-group form-check"
                        v-if="!$store.state.user.email"
                    >
                        <input
                            type="checkbox"
                            class="form-check-input"
                            checked
                            id="exampleCreceiptheck1"
                            v-model="order.receipt"
                        />
                        <label class="form-check-label" for="receipt"
                            >{{$t('I don\'t want receipt')}}</label
                        >
                    </div>

                    <input
                        type="text"
                        class="form-control"
                        :placeholder="$t('Phone number')"
                        v-model="order.phone"
                        :class="{ 'is-invalid': errors.has('phone') }"
                        @keydown="errors.clear('phone')"
                    />
                    <span v-if="errors.has('phone')" style="color:red">
                        {{ errors.get("phone") }}
                    </span>

                    <br />
                    <textarea
                        type="text"
                        class="form-control"
                        rows="3"
                        :placeholder="$t('Note (optional)')"
                        v-model="order.optional_note"
                    ></textarea>

                    <br />
                    <div class="form-group" v-if="$route.params.link_name">
                        <h5>{{$t("Choose a service")}}</h5>
                        <select
                            name="serviceMode"
                            v-model="order.serviceMode"
                            class="form-control"
                            :class="{ 'is-invalid': errors.has('serviceMode') }"
                            @change="errors.clear('serviceMode')"
                        >
                            <option value="">---{{$t('service type')}}---</option>
                            <option value="PickUp">{{$t("PickUp")}}</option>
                            <option
                                value="Delivery"
                                v-if="restaurant.delivery == 'yes'"
                                >{{$t('Delivery')}}</option
                            >
                        </select>
                        <span
                            v-if="errors.has('serviceMode')"
                            style="color:red"
                        >
                            {{ errors.get("serviceMode") }}
                        </span>
                    </div>
                    <div
                        class="form-group"
                        v-if="
                            order.serviceMode == 'Delivery'&&$route.params.link_name"
                    >
                        <h5>{{$t('Address')}}</h5>
                        <input
                            type="text"
                            class="form-control"
                            name="address"
                            v-model="order.address"
                            placeholder="address"
                            @keydown="errors.clear('address')"
                        />
                        <span v-if="errors.has('address')" style="color:red">
                            {{ errors.get("address") }}
                        </span>
                    </div>

                    <p>{{$t('Card Details')}}</p>

                    <div>
                        <Stripe
                            @getErrors="getError"
                            @sendToken="getToken"
                            ref="stripe"
                            :amount="order.total"
                            :email="order.email"
                            @getId="setId"
                        />
                    </div>
                    <span
                        v-if="errors.has('nostripe')"
                        style="color:red"
                        class="mb-3"
                    >
                        {{ errors.get("nostripe") }}
                    </span>

                    <br />
                </div>
                <div
                    class="btn-container"
                    v-if="$store.state.restaurant.status == 'open'"
                >
                    <button
                        class="btn-round-blue1"
                        style="margin:0px"
                        type="submit"
                        ref="payButton"
                        @click="saveChanges"
                    >
                        {{$t('Order')}}
                    </button>
                    <button
                        class="btn-round-blue2"
                        style="margin:0px"
                        type="submit"
                        @click="addAnotherDish()"
                    >
                        {{$t("Add another dish")}}
                    </button>
                </div>
                <div
                    v-else
                    style="display:flex;justify-content:center;align-items:center;text-align:center"
                >
                    <p
                        style="color:var(--font-color);font-weight:600;width:261px"
                    >
                        {{$t("Sorry restaurant Close ,Please Come back when we are open")}}
                    </p>
                </div>
            </form>
        </div>
        <div class="mt-5" v-show="order.items.length <= 0" style="width: 100%">
            <div
                style="display:flex;justify-content:center;align-items:center;padding:16px;background-color:#D6D6D6;border-radius:5px;"
                 
            >
                <div class="mr-3">
                    <img
                        src="/images/general/order_img.png"
                        alt=""
                        style="width:20px;height:20px;"
                    />
                </div>
                <div>
                    <h5 style="margin:0px;color:white;">{{$t('CUSTOMER RECEIPT')}}</h5>
                </div>
            </div>
            <div class="my-container">
                <div  class="no-item-list">
                    <img
                        src="/images/general/order.png"
                        alt=""
                        class="shopping-bag-img"
                    />
                <h4 class="mb-4">{{$t('Nothing in order list')}}</h4>
                </div>
            </div>
        </div>
        <Alert
            :type="alertType"
            v-if="alert"
            @closeMe="closeAlert"
            :message="message"
        />
    </div>
</template>
<script>
import Alert from "@/views/frontend/components/take-order/components/Alert";
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import moduleOrderManagement from "@/store/order-management/moduleOrderManagement.js";
import Stripe from "@/views/frontend/components/take-order-table/stripe-component/Stripe";
import { Card, createToken } from "vue-stripe-elements-plus";
import form from "vuejs-form";
export default {
    data() {
        return {
            order: {
                customer_name: "",
                serviceMode: "",
                address: "",
                items: [],
                id: "",
                email: "",
                phone: "",
                optional_note: "",
                table: "",
                total: 0.0,
                subtotal: 0.0,
                timestamp: "",
                paymentMethod: "",
                cardNo: "",
                mmyycc: "",
                restaurant_id: "",
                stripeToken: "",
                orderType: "table",
                tip: 0,
                oldTip: 0,
                tipAmount: 0,
                source: "",
                receipt: ""
            },
            errors: new Errors(),
            message: "",
            alert: false,
            items: [],
            alertType: "",
            stripeError: "",
            token: ""
        };
    },
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        if (!moduleOrderManagement.isRegistered) {
            this.$store.registerModule(
                "orderManagement",
                moduleOrderManagement
            );
            moduleOrderManagement.isRegistered = true;
        }
        if (this.$store.state.orderManagement.order.items.length == 0) {
            // this.redirect();
        } else {
            this.setOrder();
        }
    },
    computed: {
        tables() {
            return this.$store.state.restaurantManagement.tables;
        },
        store_items() {
            return this.$store.getters["orderManagement/getOrder"].items;
        },
        restaurant() {
            return this.$store.state.restaurant;
        }
    },
    watch: {
        store_items() {
            this.setOrder();
        }
    },
    components: {
        Alert,
        Stripe
    },
    methods: {
        setId(id) {
            this.order.id=id;
        },
        setOrder() {
            this.order.items = this.$store.getters[
                "orderManagement/getOrder"
            ].items;
            this.order.email = this.$store.getters[
                "orderManagement/getOrder"
            ].email;
            this.order.phone = this.$store.getters[
                "orderManagement/getOrder"
            ].phone;
            this.order.optional_note = this.$store.getters[
                "orderManagement/getOrder"
            ].optional_note;
            this.order.table = this.$store.getters[
                "orderManagement/getOrder"
            ].table;
            this.order.subtotal = this.$store.getters[
                "orderManagement/getOrder"
            ].subtotal;
            this.order.total = this.$store.getters[
                "orderManagement/getOrder"
            ].total;
        },
        redirect() {
            if (this.$route.params.table_name) {
                this.$router.push(
                    "/restaurant/" +
                        this.$route.params.restaurant_id +
                        "/table/" +
                        this.$route.params.table_name +
                        "/" +
                        this.$route.params.table_id+'#categories'
                );
            } else if (this.$route.params.link_name) {
                this.$router.push(
                    "/"+this.$route.params.restaurant_name+
                    "/restaurant/" +
                        this.$route.params.restaurant_id +
                        "/" +
                        this.$route.params.link_name +
                        "/link/" +
                        this.$route.params.link_id+'#categories'
                );
            }
        },
        getError(error) {
            this.stripeError = error;
        },
        getToken(token) {
            this.stripeToken = token;
        },
        getTotal(price, total) {
            return;
        },
        closeAlert() {
            this.alert = false;
        },
        increaseItem(index, e) {
            this.order.total -= parseFloat(this.order.oldTip);

            this.order.items[index].quantity =parseInt(this.order.items[index].quantity) + 1;
            this.order.items[index].total += parseFloat(this.order.items[index].price);

            // this.total =
            this.order.subtotal += parseFloat(this.order.items[index].price);
            this.order.total += parseFloat(this.order.items[index].price);

            this.order.items[index].extras.forEach(element => {
                this.order.total += parseFloat(element.price);
            });

            e.target.parentElement.lastChild.style.cursor = "pointer";

            this.order.oldTip =
                (parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
            this.order.total =
                this.order.total +
                (parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
            this.$store.dispatch("orderManagement/setOrder", this.order);
        },
        decreaseItem(index, e) {
            if (this.order.items[index].quantity > 1) {
                this.order.total -= parseFloat(this.order.oldTip);

                this.order.items[index].quantity =
                    parseInt(this.order.items[index].quantity) - 1;
                let price = parseFloat(this.order.items[index].price);
                this.order.items[index].total -= price;

                this.order.subtotal -= price;
                this.order.total -= price;

                this.order.items[index].extras.forEach(element => {
                    this.order.total -= parseFloat(element.price);
                });

                this.order.oldTip =(parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
                this.order.total =this.order.total +(parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
            }
            if (this.order.items[index].quantity == 1) {
                e.target.style.cursor = "not-allowed";
            }
            this.$store.dispatch("orderManagement/setOrder", this.order);
        },
        removeItem(index, event) {
            this.order.total -= this.order.oldTip;
            let quantity = parseInt(this.order.items[index].quantity);
            for (var i = 0; i < quantity; i++) {
                this.order.subtotal -= parseFloat(
                    this.order.items[index].price
                );

                this.order.total -= parseFloat(this.order.items[index].price);

                this.order.items[index].extras.forEach(element => {
                    this.order.total -= parseFloat(element.price);
                });
            }
            this.order.oldTip =
                (parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
            this.order.total =
                this.order.total +
                (parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;

            this.remove(index);
        },
        remove(i) {
            this.$store.dispatch("orderManagement/resetItem", i);

            if (this.order.items.length == 0) {
                this.resetData();
            }
            this.$store.dispatch("orderManagement/setOrder", this.order);
        },
        takeTip() {
            this.order.total -= this.order.oldTip;
            this.order.oldTip =
                (parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
            this.order.total =
            this.order.total +
                (parseFloat(this.order.total) * parseFloat(this.order.tip)) / 100;
        },
        reset() {
            this.order.total = 0;
            this.order.subtotal = 0;
            this.order.items = [];
            this.order.tip = 0;
            this.order.oldTip = 0;
        },
        saveChanges() {
            this.$refs.payButton.disabled = true;
            this.$Progress.start();
            this.order.paymentMethod = "card";
            this.order.restaurant_id = this.$route.params.restaurant_id;
            this.$route.params.table_name
                ? (this.order.source = "table")
                : (this.order.source = "link");
            this.order.tip = this.order.tip;
            this.order.tipAmount = this.order.oldTip;
            this.order.timestamp = new Date();
            if (this.$store.state.user.email) {
                this.order.email = this.$store.state.user.email;
                this.order.customer_name = this.$store.state.user.name;
            }
            this.order.table = this.$route.params.table_name;

            this.$refs.stripe
                .pay(this.order)
                .then(response => {
                    this.$store
                        .dispatch("orderManagement/storeOrder", this.order)
                        .then(response => {
                            this.successResponse(response);
                            this.$refs.payButton.disabled = false;
                        })
                        .catch(errors => {
                            this.errorResponse(errors);
                            this.$refs.payButton.disabled = false;
                        });
                })
                .catch(errors => {
                    this.errorResponse(errors);
                    this.$refs.payButton.disabled = false;
                });
        },
        addAnotherDish() {
            this.$store.dispatch("orderManagement/setOrder", this.order);
            this.$Progress.start();
            if (this.$route.fullPath.includes("#categories")) {
                this.$Progress.finish();
                document.querySelector("#categories").scrollIntoView();
            }else
             this.redirect();
        },
        resetData() {
            this.$store.dispatch("orderManagement/resetOrder");
        },
        beforeCreate() {
            this.$Progress.start();
        },
        mounted() {
            this.$Progress.finish();
        },
        errorResponse(errors) {
            this.$refs.payButton.disabled = false;
            if (errors.response.data.errors.restaurantClose) {
                this.message = "Sorry ,Restaurant is Close Order not submitted";
                this.alertType = "customeError";
                this.alert = true;

                this.$store.dispatch("closeRstaurant");

                setTimeout(() => {
                    this.redirect();
                    this.resetData();
                }, 4000);
            } else {
                this.errors.record(errors.response.data);
            }
        },
        successResponse(response) {
            this.$Progress.finish();
            this.alertType = "customeSuccess";
            this.message = `Order successfully created with id ${response.data.data}`;
            this.alert = true;
            setTimeout(() => {
                this.redirect();
                this.resetData();
            }, 7000);
        }
    }
};
</script>

<style lang="scss" scoped>
.no-item-list{
    margin: 34px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        padding-bottom: 30px;
    }
}
.btn-container {
    display: flex;
    justify-content: space-around;
}
.btn-round-blue1 {
    background: var(--main-color);
    border-radius: 37.5px;
    padding: 10px 25px;
    color: white;
    font-weight: 900;
    transition: 1s ease-in-out;
    border: 2px solid var(--main-color);
}
.btn-round-blue2 {
    background: white;
    border-radius: 37.5px;
    padding: 10px 25px;
    color: var(--main-color);
    font-weight: 900;
    border: 1px solid var(--main-color);
}
.btn-round-blue2 :hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}
.order-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 40px;
}
.order {
    padding: 20px;
    h4 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 41px;
        text-align: center;
        color: var(--main-color);
        margin-bottom: 20px;
        margin-top: 30px;
    }

    h5,
    .currency {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: var(--main-color);
        margin-bottom: 30px;
    }
    h5 {
        text-align: left;
        font-weight: bold;
        color: #000;
        font-size: 16px;
    }
    .currency {
        margin-bottom: 0 !important;
    }
    .order-line {
        & > div {
            display: grid;
            grid-template-columns: 23% 23% 30% 16% 8%;
            border-bottom: 1px solid #eee;
            padding-top: 10px;
        }

        span {
            cursor: pointer;
            padding: 5px;
        }
    }
}

.quantity {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .btn-round {
        height: 20px;
        width: 20px;
        border-radius: 4px;
        margin: 0px 5px;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}
.tab-border {
    border-bottom: 1px solid gainsboro;
}
.hoversl:hover {
    cursor: pointer;
}

.order-inner {
    background-color: white;
    padding: 16px;
    // margin-bottom: 23px;
}
.horizontal-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    border-bottom: 1px solid #eee;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
        font-size: 18px;
        font-weight: 600;
        color: var(--main-color);
        margin-top: 8px;
        margin-bottom: 15px;
    }
}
.order-size {
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 8px 0px #dcdcdc;
    border-radius: 5px;
}
.radio-flex {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.radio-flex .radio {
    flex: 0 1 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}
.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 320px;
    border-radius: 0px 0px 10px 10px;
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
    }
}
.shopping-bag-img {
    max-width: 200px;
    width: 100%;
    height: auto;
}
@media (max-width: 800px) {
    .shopping-bag-img {
        max-width: 160px;
    }
    .my-container {
        height: unset !important;
    }
    .order-details {
        padding: 10px 11px;
    }
    .order-size {
        padding: 7px;
    }
    .order-inner {
        padding: 10px;
    }
    .order-details{
        margin-bottom: 20px;
    }
}
</style>
