<template>
  <div class="login">
    <div class="panel" v-if="!hideForm">
      <div class="logo">
            <key-icon size="1.5x" class="custom-class"></key-icon>
      </div>
      <h1>Forgot Password</h1>
      <p class="m-3 mb-5 mt-5" style="width:320px">Enter your Email and we'll mail you a link to reset your password</p>
      <!--  -->
      <form method="post" @keydown="errors.clear($event.target.name)" @submit.prevent="forgetPassword()" >
        <input
          type="hidden"
          name="_token"
          value="dsvNkUNqKsvOOBxtv5j6HDpiYcTPdiMCATr3tw5k"
        />
        <div class="form-group has-feedback" style="margin-bottom: 0px">
          <img
            style="position: absolute; top: 17px; left: 15px; width: 17px;"
            src="https://meniuu.com/img/email_icon.png"
          />
          <input
            type="email"
            class="form-control"
            value=""
            placeholder="Email"
            name="email"
            autocomplete="off"
            v-model="email"
            :class="{'is-invalid':errors.has('email')}"
            style=""
          />
        </div>
       
        <div style="color:red" ref="forget_error" class="mt-2 mb-2"></div>
        <div v-if="success" style="color:green">
          {{success}}
        </div>
        <!-- <router-link to="/forgot-password">Forgot Password?</router-link> -->
        <div class="row justify-content-center mt-3">
          <br />
        </div>
        <div class="col-xs-12 center_out">
          <button type="submit" class="btn-round-blue">
            Send
          </button>
        </div>
      </form>
    </div>
    <div class="panel center_out" style="min-height: 50vh;" v-else> 
      <svg
          width="99"
          height="99"
          viewBox="0 0 99 99"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
      >
          <path
              d="M49.5 99C76.8381 99 99 76.8381 99 49.5C99 22.1619 76.8381 0 49.5 0C22.1619 0 0 22.1619 0 49.5C0 76.8381 22.1619 99 49.5 99Z"
              fill="#25AE88"
          />
          <path
              d="M75.2398 29.7002L43.5598 65.3402L23.7598 49.5002"
              stroke="white"
              stroke-width="2"
              e
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
          />
      </svg>
      <p class="m-3 mt-5" style="width:320px">Email sent Successfully Check your inbox for password reset</p>

    </div>
  </div>
</template>

<script>
import { KeyIcon } from 'vue-feather-icons'
export default{
  name: 'forgot-password',
  components: {
    KeyIcon
  },
  created(){
    this.$Progress.stop();
  },
  data() {
    return {
      errors:new Errors(),
      email: '',
      success: '',
      hideForm:false,
      loading: false,
    }
  },
  methods:{
    
    forgetPassword(){
      this.$Progress.start();
      this.$http.post('/api/forget-password',{email:this.email})
                .then(response => {
                  this.$Progress.finish();      
                  this.success="Email Sent Successfully"
                  this.hideForm=true;
                })
                .catch(errors => {
                  console.log(errors.response.data.errors.onEmail);
                  this.$refs.forget_error.innerHTML=errors.response.data.errors.onEmail;
                  this.$Progress.finish();
                })
    }
  }
 }
</script>

<style lang="scss" scoped>
.is-invalid{
  background-color:rgb(255, 85, 85);
  box-shadow: 0px 0px 8px #fa5e5e !important;
}
.center_out{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.custom-class{
    color: #E5D362;
    // border:solid 3px #E5D362;
    // border-radius: 100%;
    width: 116px;
    height: 112px;
    padding: 10px;
}
.login{
    // background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-image: linear-gradient(to top, #00c6fb1c 0%, #005bea00 100%), url(/images/pages/login/bg-login.jpg) !important;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .panel{
      min-width: 440px;
      padding: 10px 40px;
      background-color: #fff;
      border-radius: 10px;
      .logo{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      h1{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: var(--main-color);
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 25px;
        text-align: center;
        margin: 0;
        padding-top: 10px;
      }
      p{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #000;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: center;
        margin: 0;
        
      }
      .form-group{
        position: relative;
        input{
          font-family: 'Montserrat', sans-serif;
          background: #f2f2f2;
          color: #111;
          border-color: unset;
          border-radius: 15px !important;
          padding: 23px 40px;
          font-size: 14px !important;
          letter-spacing: 1px;
          font-weight: 400 !important;
          border: unset;
          &:focus{
            outline: none !important;
          }
        }
        img{
            position: absolute;
            top: 17px;
            left: 15px;
            width: 17px;
        
        }
      }
    }
    @media(max-width:440px){
      .panel{      
        min-width:auto;
        padding:10px 32px
      }
    }
}

</style>

<style scoped>

</style>


