<template>
  <div class="login">
    <div class="panel">
      <div class="logo">
        <img src="/images/logo/2.png" alt="" />
      </div>
      <h1>Welcome</h1>
      <p class="m-5">to your Meaal Dashboard</p>
      <form @submit.prevent="login()" method="post" @keydown="errors.clear($event.target.name)">
        <input
          type="hidden"
          name="_token"
          value="dsvNkUNqKsvOOBxtv5j6HDpiYcTPdiMCATr3tw5k"
        />
        <div class="form-group has-feedback" style="margin-bottom: 0px">
          <img
            style="position: absolute; top: 17px; left: 15px; width: 17px;"
            src="https://meniuu.com/img/email_icon.png"
          />
          <input
            type="email"
            class="form-control"
            value=""
            placeholder="Email"
            name="email"
            autocomplete="off"
            v-model="email"
            :class="{'is-invalid':errors.has('email')||this.incorrect}"
            style=""
          />
        </div>
        <br />
        <div class="form-group has-feedback" style="margin-bottom: 0px">
          <img
            style="position: absolute; top: 17px; left: 15px; width: 15px;"
            src="https://meniuu.com/img/keyicon.png"
          />
          <input
            type="password"
            class="form-control "
            placeholder="Password"
            name="password"
            v-model="password"
            autocomplete="off"
            :class="{'is-invalid':errors.has('password')||this.incorrect}"
          />
        </div>
        <div style="color:red" ref="login_error" class="mt-2 mb-2"></div>
        <router-link to="/forgot-password">Forgot Password?</router-link>
        <div class="row justify-content-center mt-3">
          <br />
        </div>
        <div class="col-xs-12 center_out">
          <button type="submit" class="btn-round-blue" >
            LOGIN
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default{
  name: 'login',
  data() {
    return {
      errors:new Errors(),
      email: '',
      password: '',
      serverError: '',
      incorrect:false,
      checkbox_remember_me:'',
      successMessage: this.dataSuccessMessage,
      loading: false,
      role:['cook','waiter','cashier','manager','delivery_man']
    }
  },
  created(){
    if(!this.$store.state.user.name){
        this.$store.dispatch('getUser')
        .then(response=>{
            if(this.$route.fullPath=="/login"||this.$route.fullPath=="/"){
                if(this.$store.state.user.role=='admin'){
                  this.$router.push("/admin/dashboard");
                }else if(this.$store.state.user.role!='customer'){
                    this.$router.push("/orders/"+this.$store.state.restaurant.id+"/restaurant");
                }else{
                    this.$router.go(-1);
                }
            }
        }).catch(error=>console.log(error));
    }else{
      if(this.$route.fullPath=="/login"||this.$route.fullPath=="/"){
              if(this.$store.state.user.role=='admin'){
                this.$router.push("/admin/dashboard");
              }else if(this.$store.state.user.role!='customer'){
                  this.$router.push("/orders/"+this.$store.state.restaurant.id+"/restaurant");
              }else{
                  this.$router.go(-1);
              }
          }
    }
  },
  methods: {
      login() {
          this.$Progress.start();
          this.loading = true;
          this.$store.dispatch('retrieveToken', {
            email: this.email,
            password: this.password,
          })
            .then(response => {
              this.loading = false;

              this.$store.dispatch('getUser')
              .then(response => {
                    if(this.$store.state.user.role=='owner'){
                      if(this.$store.state.user.restaurant){
                        window.location.href=window.location.href.split('#')[0]+'#/orders/'+this.$store.getters.get_res.id+'/restaurant';
                        location.reload();  
                      }else{
                        this.$router.push('/landing');
                        
                      }
                    }else if(this.$store.state.user.role=='admin'){
                      this.$router.push('/admin/dashboard');
                    }else if(this.role.includes(this.$store.state.user.role)){
                      window.location.href=window.location.href.split('#')[0]+'#/orders/'+this.$store.getters.get_res.id+'/restaurant';
                      location.reload();
                    }
                    this.$Progress.finish();
                  }).catch(error=>{
                    console.log(error);
                    this.$Progress.finish();
                  });
            })
            .catch(errors => {
              
              if(errors=="Error: Request failed with status code 400"){
                this.$refs.login_error.innerHTML="Invalid email or password";
                this.incorrect=true;
              }else{
                this.errors.record(errors.response.data);
              }
              this.$Progress.finish();
            })
        }
    
  }
}
</script>

<style lang="scss" scoped>
.is-invalid{
  background-color:rgb(255, 85, 85);
  box-shadow: 0px 0px 8px #fa5e5e !important;
}
.center_out{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.login{
    background-image: linear-gradient(to top, #00c6fb1c 0%, #005bea00 100%), url(/images/pages/login/bg-login.jpg) !important;
    // background-image: url('/images/pages/login/bg-login.jpg') ;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .panel{
      min-width: 440px;
      padding: 10px 40px;
      background-color: #fff;
      border-radius: 10px;
      .logo{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 0;
          img{
            height: 40px;
          }
      }
      h1{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: var(--main-color);
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding-top: 10px;
      }
      p{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #000;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: center;
        margin: 0;
        
      }
      .form-group{
        position: relative;
        input{
          font-family: 'Montserrat', sans-serif;
          background: #f2f2f2;
          color: #111;
          border-color: unset;
          border-radius: 15px !important;
          padding: 23px 40px;
          font-size: 14px !important;
          letter-spacing: 1px;
          font-weight: 400 !important;
          border: unset;
          &:focus{
            outline: none !important;
          }
        }
        img{
            position: absolute;
            top: 17px;
            left: 15px;
            width: 17px;
        
        }
      }
    }
    @media(max-width:440px){
      .panel{      
        min-width:auto;
        padding:10px 32px
      }
    }
}

// tips
// password
// alphanumerical 2  in order
// space in days in order


// date in order
// print qr 

// in table
//   paylater
//   credit card 

// social media link

// extra options in orders

// admin panel tuning 
</style>

<style scoped>

</style>


