<template>
  <div class="login">
    <div class="panel">
      <div class="logo">
          <unlock-icon size="0.5x" class="custom-class"></unlock-icon>
      </div>
      <!-- <h1>Welcome</h1> -->
      <h1 class="mb-3"> Reset Passord </h1>
      <form @submit.prevent="resetPassword()" method="post" @keydown="errors.clear($event.target.name)">
        <div class="form-group has-feedback" style="margin-bottom: 0px">
          <img
            style="position: absolute; top: 17px; left: 15px; width: 15px;"
            src="https://meniuu.com/img/keyicon.png"
          />
          <input
            type="password"
            class="form-control"
            value=""
            placeholder="Password"
            v-model="data.password"
            name="password"
            autocomplete="off"
            :class="{'is-invalid':errors.has('password')}"
            style=""
          />
        </div>
        <br />
       <div class="form-group has-feedback" style="margin-bottom: 0px">
          <img
            style="position: absolute; top: 17px; left: 15px; width: 15px;"
            src="https://meniuu.com/img/keyicon.png"
          />
          <input
            type="password"
            name="password"
            class="form-control"
            value=""
            placeholder="Conifrm Password"
            v-model="data.password_confirmation"
            autocomplete="off"
            style=""
          />
        </div>
        <div class="mt-2" v-if="errors.has('password')">
          <p style="color:red">{{errors.get('password')}}</p>
        </div>
        
        <div class="col-xs-12 center_out mt-4">
          <button type="submit" class="btn-round-blue" >
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { UnlockIcon } from 'vue-feather-icons'
export default{
  name: 'reset-password',
  components: {
    UnlockIcon
  },
  data() {
    return {
      errors:new Errors(),
      data:{
        email:this.$route.params.email,
        token:this.$route.params.token,
        password:'',
        password_confirmation:''
      }
    }
  },
  methods:{
    resetPassword(){
      this.$http
          .post('/api/reset-password',this.data)
          .then(response => {
            this.$router.push('/login');
            this.$Progress.finish();      
          })
          .catch(errors => {
            this.errors.record(errors.response.data);
            this.$Progress.finish();
          })
    }
  }
 }
</script>

<style lang="scss" scoped>
.is-invalid{
  background-color:rgb(255, 85, 85);
  box-shadow: 0px 0px 8px #fa5e5e !important;
}
.center_out{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.custom-class{
    color: #E5D362;
    // border:solid 3px #E5D362;
    // border-radius: 100%;
    width: 126px;
    height: 117px;
    padding: 10px;
}
.login{
    // background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-image: linear-gradient(to top, #00c6fb1c 0%, #005bea00 100%), url(/images/pages/login/bg-login.jpg) !important;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .panel{
      min-width: 440px;
      padding: 10px 40px;
      background-color: #fff;
      border-radius: 10px;
      .logo{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      h1{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: var(--main-color);
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 25px;
        text-align: center;
        margin: 0;
        padding-top: 10px;
      }
      p{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #000;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: center;
        margin: 0;
        
      }
      .form-group{
        position: relative;
        input{
          font-family: 'Montserrat', sans-serif;
          background: #f2f2f2;
          color: #111;
          border-color: unset;
          border-radius: 15px !important;
          padding: 23px 40px;
          font-size: 14px !important;
          letter-spacing: 1px;
          font-weight: 400 !important;
          border: unset;
          &:focus{
            outline: none !important;
          }
        }
        img{
            position: absolute;
            top: 17px;
            left: 15px;
            width: 17px;
        
        }
      }
    }
    @media(max-width:440px){
      .panel{      
        min-width:auto;
        padding:10px 32px
      }
    }
}

// tips
// password
// alphanumerical 2  in order
// space in days in order


// date in order
// print qr 

// in table
//   paylater
//   credit card 

// social media link

// extra options in orders

// admin panel tuning 
</style>

<style scoped>

</style>


