<template>
    <div class="home-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                     <div class="panel-head mt-2">
                        <router-link class="back-btn" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/extras'">
                            <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.87">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                            </g>
                            </svg>

                        </router-link>
                        <h3>{{$t(title)}} Extras</h3>
                    </div>
                        
                         <form action="" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>{{$t("Name")}}</label>
                                <input class="form-control" v-model="extra.name" type="text" value="" name="name" :placeholder="$t('Name')">
                            </div>
                            <div class="form-group">
                                <label>{{$t("Price")}}</label>
                               <input class="form-control" type="number" v-model="extra.price" value="" name="price" :placeholder="$t('Price')">
                               <small>{{$t("Enter some price, it can be 0.00")}}</small>
                            </div>
                        </form>
                            <button class="btn-round-blue mb-2 mt-4 mx-auto" @click="saveChanges()">{{$t("Save")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</template>

<script>
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
export default {
    name: "AddExtra",
    created(){
        if(!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
            moduleRestaurantManagement.isRegistered = true;
        }
        if(window.location.href.includes('edit')==true){
            this.action='edit';
            this.getExtra();
        }else{
            this.action='add'
        }
    },
    data(){
        return{
            action:'',
            extra:{
                name:'',
                price:'',
                restaurant_id:''
            }
        }
    },
    methods: {
        saveChanges(){
            if(this.action=='add'){
                this.$Progress.start();
                this.extra.restaurant_id=this.$store.getters.get_res.id;
                this.$store.dispatch('restaurantManagement/storeExtra',this.extra)
                .then((response)=>{
                    this.$Progress.finish()
                    this.$router.push('/restaurant/'+this.$route.params.restaurant_id+'/restaurant/extras')
                });
            }else{
                this.$Progress.start();
                this.$store.dispatch('restaurantManagement/updateExtra',{id:this.$route.params.id,extra:this.extra})
                .then((response)=>{
                    this.$Progress.finish()
                    this.$router.push('/restaurant/'+this.$route.params.restaurant_id+'/restaurant/extras')    
                });
            }

        },
        getExtra(){
            this.$store.dispatch('restaurantManagement/getExtra',this.$route.params.id)
            .then((response)=>{
                this.extra.name=response.name;
                this.extra.price=response.price;
                this.extra.restaurant_id=response.restaurant_id;
                this.$Progress.finish()
            });
        }
    },
    computed: {
            title(){
            let url =window.location    
            if(url.href.includes('edit')==true)
                return 'Update'
            return 'Create'
        }
    },
    mounted(){
        this.$Progress.finish()
    },
    beforeDestroy(){
        this.$Progress.start()
    },
}
</script>

<style lang="scss" scoped>
    .home-restaurant{
        padding: 30px 0;
        .card{
            background-color: #f5f5f5;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .form-group{
                small{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;

                    color: #444;
                }
            }
             .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }

    }
</style>