<template>
    <div class="home-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <div class="panel-head mt-2">
                                <router-link
                                    class="back-btn"
                                    :to="
                                        '/restaurant/' +
                                            $route.params.restaurant_id +
                                            '/restaurant/social-links'
                                    "
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g opacity="0.87">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z"
                                            />
                                        </g>
                                    </svg>
                                </router-link>
                                <h3>{{ $t(title) }}</h3>
                            </div>
                            <form
                                @submit.prevent="saveChanges"
                                action=""
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                <div class="form-group">
                                    <label>{{$t("Name")}}</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        value=""
                                        name="name"
                                        placeholder="Ex. Pickup"
                                        v-model="socialMedia.name"
                                    />
                                </div>
                                <button
                                    class="btn-round-blue mb-2 mt-4 mx-auto"
                                >
                                    {{$t("Save")}}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
export default {
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        if (window.location.href.includes("edit") == true) {
            this.action = "edit";
            this.socialMedia.name = this.$route.query.socialMedia.name;
            this.socialMedia.link = this.$route.query.socialMedia.link;
            this.restaurant_id = this.$route.query.socialMedia.restaurant_id;
        } else {
            this.action = "add";
        }
    },
    name: "AddSocial",
    data() {
        return {
            socialMedia: {
                link: "",
                name: "",
                restaurant_id: ""
            }
        };
    },
    methods: {
        saveChanges() {
            if (this.action == "add" && this.socialMedia.name) {
                this.$Progress.start();
                this.socialMedia.restaurant_id = this.$store.getters.get_res.id;

                this.socialMedia.link =
                    window.location.href.split("#")[0] +
                    "#/"+this.$store.getters.get_res.name.trim().replace(" ",'-').trim().replace(" ",'-')+"/restaurant/" +
                    this.$route.params.restaurant_id +
                    "/" +
                    this.socialMedia.name.trim().replace(" ", "-") +
                    "/link/";

                this.$store
                    .dispatch(
                        "restaurantManagement/storeSocialMedia",
                        this.socialMedia
                    )
                    .then(response => {
                        this.$Progress.finish();
                        this.$router.push(
                            "/restaurant/" +
                                this.$route.params.restaurant_id +
                                "/restaurant/social-links"
                        );
                    });
            } else if (this.action == "edit" && this.socialMedia.name) {
                this.$Progress.start();

                this.socialMedia.link =
                    window.location.href.split("#")[0] +
                    "#/"+this.$store.getters.get_res.name.trim().replace(" ",'-').trim().replace(" ",'-')+"/restaurant/" +
                    this.$route.params.restaurant_id +
                    "/" +
                    this.socialMedia.name.trim().replace(" ", "-") +
                    "/link/";

                this.$store
                    .dispatch("restaurantManagement/updateSocialMedia", {
                        id: this.$route.params.id,
                        socialMedia: this.socialMedia
                    })
                    .then(response => {
                        this.$Progress.finish();
                        this.$router.push(
                            "/restaurant/" +
                                this.$route.params.restaurant_id +
                                "/restaurant/social-links"
                        );
                    });
            }
        }
    },
    computed: {
        title() {
            let url = window.location;

            if (url.href.includes("edit") == true) return "Update Link";
            return "Add Link";
        }
    },
    mounted() {
        this.$Progress.finish();
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
.home-restaurant {
    padding: 30px 0;
    .card {
        background-color: white;
        box-shadow: 0px 0px 8px 0px #ccc;
        padding: 20px 25px;
        h3 {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 41px;
            text-align: center;
            color: var(--main-color);
        }
        label {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            color: #000000;
        }
        .form-group {
            small {
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;

                color: #444;
            }
        }
        .form-control {
            border: none;
            background: #ffffff;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            border-radius: 0;
        }
        .form-control:focus {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            border: none;
        }
    }
}
</style>
