<template>
  <div class="extras">
    <router-link class="add-extra" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/extras/new'">
        +
    </router-link>
    <div class="conatiner-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
             <div class="alert empty-extra" v-if="!extras.length">
                <h4 >{{$t("You have not added additional feature")}}</h4>
            </div>
             <div class="card" v-if="extras.length">
                <div class="card-border">
                    <div class="panel-head mt-2">
                            <router-link class="back-btn" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant'">
                                <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.87">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                </g>
                                </svg>

                            </router-link>
                        <h3 class="head">{{$t("Additional feature")}}</h3>
                    </div>
                    <div class="extra-features">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:15%">#</th>
                                    <th style="width:25%">{{$t("Name")}}</th>
                                    <th style="width:25%">{{$t("Price")}}</th>
                                    <th style="width:35%">{{$t("Actions")}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(extra,index) in extras" :key="index">
                                    <td>{{index+1}}</td>
                                    <td>{{extra.name}}</td>
                                    <td>{{extra.price}}</td>
                                    <td>
                                    <router-link :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/extras/edit/'+extra.id" tag="button" class="btn bg-white mr-1">{{$t("Edit")}}</router-link>
                                    <button @click="deleteExtra(extra.id)" class="btn bg-white">{{$t("Delete")}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                    </div>            
                </div>
            </div>
           
            </div>
        </div>
    </div>
   <alert id="confirmation" type="confirmation" v-if="alert" @delete="deleteLast" @closeMe="alert=false">
        </alert>
  </div>
</template>
<script>
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
export default {
    created(){
            if(!moduleRestaurantManagement.isRegistered) {
                this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
                moduleRestaurantManagement.isRegistered = true;
            }
            this.fetchExtras();            
        },
    data(){
        return{
            // categories:this.$store.getters.productManagement.GetCategories,
            alert: false,
            confirmation: false,
            queu: ''
        }
    },
    computed:{
        extras(){
            return this.$store.state.restaurantManagement.extras;
        }
    },
    methods:{
        fetchExtras(){
            this.$store.dispatch('restaurantManagement/getExtras',this.$route.params.restaurant_id)
            .then(response=>{this.$Progress.finish()});
        },
        deleteExtra(id){
              if (this.confirmation) {
                
                this.$store.dispatch('restaurantManagement/deleteExtra',id)
                .then(response=>{this.$Progress.finish()});
                this.confirmation = false;
                this.alert = false;
                this.queu = ''
            } else {
                this.alert = true;
                this.queu = id
            }
        },
         deleteLast(){
            this.confirmation = true;
            this.deleteExtra(this.queu)
        }
    },
    beforeDestroy(){
        this.$Progress.start()
    },

}
</script>

<style lang="scss" scoped>
  .extras{
      position: relative;
      padding: 40px 20px 20px 20px;
      .add-extra{
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: #fff;
          font-size: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px;
          top:20px;
          text-decoration: none;
      }
      .empty-extra{
          background-color: var(--main-color);
          h4{
              margin: 0;
              color: #fff;
              font-family: 'Montserrat', sans-serif;
              font-size: 18px;
              text-align: center;
          }
      }
       .card{
            background-color: #f5f5f5;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            table{
                width: 100%;
                th,
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 44px;
                    color: #000000;

                }
                tr{
                    border-bottom: 2px solid #d6d5d5;
  
                }
                tbody{
                    tr{
                        border-bottom: 1px solid #d6d5d5;
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 600;
                    }
                }
            }
       }

  }
  .extra-features{
      overflow-x: scroll;
      table{
          min-width: 450px;
      }
  }
</style>
