<template>
    <div class="home-restaurant">
        <div class="container" style="background-color:var(--body-color);">
            <div class="row justify-content-center" >
                <div class="col-md-8">
                    <div class="card">
                        <div class="header-restaurant">
                           <div class="logo">
                            <img :src="restaurant.logo" alt="">
                             <!-- <img src="/images/frontEndImage/assets/logo.png" v-if="!restaurant.logo" alt=""> -->
                           </div>
                            <h4 class="name">{{restaurant.name}}</h4>
                            <p class="desc">{{restaurant.description}}</p>
                            <!-- <p class="desc">Morbi Nec Metus. Praesent Adipiscing. Aenean Vulputate Eleifend Tellus. Vivamus Aliquet Elit Ac Nisl. In Hac Habitasse Platea Dictumst.</p> -->
                            <p class="currenc">{{restaurant.currency}}</p>

                           <router-link :to="'/edit-restaurant/'+$route.params.restaurant_id+'/restaurant'" tag="button" class="btn-round-blue m-2" title="edit">
                                 <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.449 4.4154L20.8132 7.79195C21.3842 8.36298 21.3345 9.33126 20.8504 9.82781L10.907 19.7837L4.00488 21.2237L5.44488 14.2968C5.44488 14.2968 14.8794 4.82505 15.3635 4.3285C15.8476 3.84436 16.878 3.84436 17.449 4.4154ZM14.0601 7.87884L7.12075 14.843L8.49868 16.2209L15.3759 9.20712L14.0601 7.87884ZM10.3732 18.0954L17.3001 11.1437L15.9718 9.80298L9.03247 16.7547L10.3732 18.0954Z" fill="#fff"/>
                                </svg>
                           </router-link>
                            <div class="open-status">
                                <p>{{$t("Close")}}</p>
                                <label class="switch">
                                    <input type="checkbox" @click="changeStatus()" v-model="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                <p>{{$t("Open")}}</p>
                            </div>  
                        </div>
                        <div class="body-restaurant">
                            <router-link class="row-list m-2" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/menu'" >
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/menu.png" alt="">
                                    <h3>{{$t("Edit Menu")}}</h3>
                                </div>
                                <div class="badge-restaurant">{{count.dish_category_no}}</div>
                            </router-link>
                             <router-link class="row-list m-2" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/tables'">
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/qrcode.png" alt="">
                                    <h3>{{$t("Tables")}}</h3>
                                </div>
                                
                                <div class="badge-restaurant">{{count.table_no}}</div>
                            </router-link>
                             <router-link class="row-list m-2" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/social-links'">
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/links.png" alt="">
                                    <h3>{{$t("Social Media Links")}}</h3>
                                </div>
                                
                                <div class="badge-restaurant">{{count.social_media_no}}</div>
                            </router-link>
                             <router-link class="row-list m-2" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/extras'" >
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/extra.png" alt="">
                                    <h3>{{$t("Add Extras")}}</h3>
                                </div>                   
                                <div class="badge-restaurant">{{count.extra_no}}</div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
    import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
    export default {
        name: "Home",
        created(){
            if(!moduleUserManagement.isRegistered) {
                    this.$store.registerModule('userManagement', moduleUserManagement);
                    moduleUserManagement.isRegistered = true;
                }
            if(!moduleRestaurantManagement.isRegistered) {
                this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
                moduleRestaurantManagement.isRegistered = true;
            }

            // if(!this.$store.state.restaurant.name){
                this.$store.dispatch('getUser');
            // }
            // this.checkbox=
            if(this.$store.state.restaurant.status=='open'){
                this.checkbox=true;
            }else{
                this.checkbox=false;
            }
            this.getCount();
        },
        data(){
            return{
                checkbox:''
            }
        },
        methods:{
            getCount(){
                this.$store.dispatch('restaurantManagement/getCount',this.$route.params.restaurant_id)
                .then(response=>{this.$Progress.finish()});
            },
            changeStatus(){
                this.$Progress.start();
                let status='';
                if(this.checkbox==true){
                    status='close';
                }else{
                    status='open';
                }
                this.$store.dispatch('changeStatus',{restaurant_id:this.$route.params.restaurant_id,status:status})
                .then(response=>{this.$Progress.finish()});
            }
        },
        computed:{
            restaurant(){
                return this.$store.getters.get_res;
            },
            count(){
                return this.$store.state.restaurantManagement.count
            }
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        
    }
</script>

<style lang="scss" scoped>
    .home-restaurant{
        overflow: hidden;
        padding: 30px 0;
        .card{
            background-color: #fbfbfb;
            box-shadow: 0px 0px 8px 0px #dcdcdc;
            // padding: 20px 25px;
            .header-restaurant{
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                .btn-round-blue{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
               .logo{
                    padding: 3px;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 4px 0px #333;
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        border: 3px solid var(--main-color);
                }
               }
               .name,
               .desc{
                   font-family: 'Open sans', sans-serif;
                   font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 54px;
                    color: var(--font-color);
               }
               .name{
                   font-weight: 600;
                   text-transform: uppercase;
               }
               .desc{
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 300;
                    color: #000000;
                    text-align: center;
               }
            }
            .open-status{

                display: flex;
                align-items: center;
                p{
                    height: 31px;
                    margin: 0px 5px;
                    font-family: 'open sans', sans-serif;
                    text-transform: capitalize;
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 45px;
                    height: 20px;
                }

                .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 18px;
                    width: 18px;
                    left: 1px;
                    bottom: 1px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked + .slider {
                    background-color: var(--main-color);
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px var(--main-color);
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                 border-radius: 50%;
                }


            }

            .body-restaurant{
                 padding: 10px;
                 .row-list{
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     padding: 10px;
                     border-radius: 6px;
                     text-decoration: none;
                     .icon{
                           display: flex;
                            // justify-content: space-between;
                            align-items: center;
                         img{
                             height: 30px;
                         }
                         h3{
                            font-family: 'Open Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 17px;
                            line-height: 33px;
                            margin-left: 20px;
                            /* identical to box height */
                            color: #fff;
                            margin-bottom: 0;
                            text-decoration: none;
                        }
                     }
                     .badge-restaurant{
                         height: 30px;
                         width: 30px;
                         background-color: #fff;
                         border-radius: 50%;
                         color: #000;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-family: 'Montserrat',sans-serif;
                         font-weight: 600;
                         font-size: 18px;
                     }
                     &:nth-child(odd){
                         background-color: var(--main-color);
                         
                     }
                     &:nth-child(even){
                         background-color: #eee;
                         .icon{
                             h3{
                                 color: #000;
                             }
                            
                         }
                         .badge-restaurant{
                                 background-color: var(--main-color);
                                 color: #fff;
                        }  
                     }
                 }
             }
        
        }
    }
    
</style>