<template>
    <div class="social">
        <router-link class="add-extra" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/social-links/new'">
            +
        </router-link>
        <div class="conatiner-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8" >
                    
                     <div class="panel-head mt-2">
                        <router-link class="back-btn" :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/'">
                            <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.87">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                            </g>
                            </svg>
                        </router-link>
                        <h3>{{$t("Social Media Links")}}</h3>
                    </div>
                     <div class="alert empty-extra" v-if="!socialMedias.length">
                            <h4>{{$t("You have not created any Social Media Link")}}</h4>
                    </div>
                    <div class="card" v-for="(socialMedia, index) in socialMedias" :key="index">
                       <div class="left"> 
                           <h5>{{socialMedia.name}}</h5>                          
                           <p class="link" :class="'social-'+index">{{socialMedia.link}}{{socialMedia.id}}</p>
                       </div>
                        <div class="right">
                            <router-link title="Edit" tag="span" class="edit" :to="{ path:'/restaurant/'+$route.params.restaurant_id+'/restaurant/social-links/edit/'+socialMedia.id, query:{socialMedia:socialMedia}}">
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.449 4.4154L20.8132 7.79195C21.3842 8.36298 21.3345 9.33126 20.8504 9.82781L10.907 19.7837L4.00488 21.2237L5.44488 14.2968C5.44488 14.2968 14.8794 4.82505 15.3635 4.3285C15.8476 3.84436 16.878 3.84436 17.449 4.4154ZM14.0601 7.87884L7.12075 14.843L8.49868 16.2209L15.3759 9.20712L14.0601 7.87884ZM10.3732 18.0954L17.3001 11.1437L15.9718 9.80298L9.03247 16.7547L10.3732 18.0954Z" fill="black"/>
                                </svg>
                            </router-link>
                            <span title="Copy"
                                  v-clipboard:copy="socialMedia.link+socialMedia.id"
                                  v-clipboard:success="onCopy"
                                  v-clipboard:error="onError"
                            >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 1H4C2.9 1 2 1.9 2 3V17H4V3H16V1ZM19 5H8C6.9 5 6 5.9 6 7V21C6 22.1 6.9 23 8 23H19C20.1 23 21 22.1 21 21V7C21 5.9 20.1 5 19 5ZM19 21H8V7H19V21Z" fill="black"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
    import VueClipboard from 'vue-clipboard2'
    export default {
        created(){
            if(!moduleRestaurantManagement.isRegistered) {
                this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
                moduleRestaurantManagement.isRegistered = true;
            }
            this.getSocialMedias();
        },
        computed:{
            socialMedias(){
                return this.$store.state.restaurantManagement.socialMedia;
            }
        },
        methods: {
            getSocialMedias(){
                this.$store.dispatch('restaurantManagement/getSocialMedia',this.$route.params.restaurant_id)
                .then(response=>{this.$Progress.finish()});
            },
            onCopy(){
            },
            onError(){
            }
        },
         beforeDestroy(){
            this.$Progress.start()
        },
    }
</script>

<style lang="scss" scoped>
    .social{
        position: relative;
        padding: 40px 20px 20px 20px;
        .add-extra{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: var(--main-color);
            color: #fff;
            font-size: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 20px;
            top:20px;
            text-decoration: none;
        }
        h3{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 41px;
            text-align: center;
            color: var(--main-color);
        }
        .col-md-8{
              padding: 30px 0;
        }
        .back-btn{
            top: 5px;
            left: 33px;
        }
        .card{
            background-color: #f5f5f5;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin: 10px 0;
            .right{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                span{
                    &:hover:nth-child(1){
                        background-color: var(--hover-color);
                        fill: #fff;
                        path{
                            fill: #fff;
                        }
                    }
                     &:hover:nth-child(2){
                       transform: scale(1.1);
                    }
                }
            }
            h4{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 33px;
                color: #000000;
                margin: 0;
            }
            .link{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                /* identical to box height */
                overflow-wrap: anywhere;
                color: #1A28A0;
                margin: 0;
            }
            span{
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:nth-child(2){
                    background: none;
                }
            }

        }

    }
</style>
