<template>
    <div class="tables">
        <router-link
            class="add-extra"
            :to="
                '/restaurant/' +
                    $route.params.restaurant_id +
                    '/restaurant/tables/new'
            "
        >
            +
        </router-link>
        <div class="tabless">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="panel-head mt-2">
                                <router-link
                                    class="back-btn"
                                    :to="
                                        '/restaurant/' +
                                            $route.params.restaurant_id +
                                            '/restaurant'
                                    "
                                >
                                    <svg
                                        width="24"
                                        opacity="0.54"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <g opacity="0.87">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z"
                                            />
                                        </g>
                                    </svg>
                                </router-link>
                                <h3 class="head">{{$t("Tables")}}</h3>
                            </div>
                            <div
                                class="alert empty-extra"
                                v-if="!tables.length"
                            >
                                <h4>{{$t("You have not created any table")}}</h4>
                            </div>
                            <div class="table-grid">
                                <template v-for="(table, index) in tables">
                                    <div class="table" :key="index">
                                        <div class="header__table">
                                            <h5>{{ table.name }}</h5>
                                            <div style="display:flex">
                                                <router-link
                                                    class="edit"
                                                    :to="
                                                        '/restaurant/' +
                                                            $route.params
                                                                .restaurant_id +
                                                            '/restaurant/tables/edit/' +
                                                            table.id
                                                    "
                                                    tag="span"
                                                >
                                                    <svg
                                                        width="18"
                                                        height="18"
                                                        viewBox="0 0 18 18"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            d="M13.6195 1.06L16.8647 4.31712C17.4155 4.86796 17.3676 5.80198 16.9006 6.28097L7.30882 15.8847L0.650879 17.2738L2.03995 10.5919C2.03995 10.5919 11.1407 1.45516 11.6077 0.976173C12.0748 0.509159 13.0687 0.509159 13.6195 1.06ZM10.3504 4.40094L3.65653 11.1188L4.98573 12.448L11.6197 5.68224L10.3504 4.40094ZM6.79391 14.2561L13.4758 7.55029L12.1945 6.25702L5.50064 12.9629L6.79391 14.2561Z"
                                                            fill="black"
                                                        />
                                                    </svg>
                                                </router-link>

                                                <span
                                                    class="edit"
                                                    @click="
                                                        generateReport(table)
                                                    "
                                                    ><img
                                                        src="/images/general/print.png"
                                                        style="width:16px;margin:0px;"
                                                        alt=""
                                                /></span>
                                            </div>
                                        </div>
                                        <div class="body__table">
                                            <div>
                                                <qrcode-vue
                                                    :value="table.link"
                                                    :size="size"
                                                    level="H"
                                                ></qrcode-vue>
                                            </div>
                                        </div>
                                        <div v-if="printPdfStart">
                                            <div
                                                class="progress"
                                                style="height: 1px;margin-top:10px"
                                            >
                                                <div
                                                    class="progress-bar"
                                                    role="progressbar"
                                                    :style="
                                                        'width: ' +
                                                            progressPdf +
                                                            '%'
                                                    "
                                                    :aria-valuenow="progressPdf"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <vue-html2pdf
                :show-layout="false"
                :enable-download="false"
                :preview-modal="true"
                :paginate-elements-by-height="1400"
                :filename="'table.name + table.id'"
                :pdf-quality="2"
                pdf-format="a4"
                pdf-orientation="portrait"
                pdf-content-width="800px"
                @progress="onProgress($event)"
                @hasStartedGeneration="hasStartedGeneration()"
                @hasGenerated="hasGenerated($event)"
                ref="html2Pdf"
            >
                <section class="table " slot="pdf-content">
                    <div class="header__table">
                        <h5
                            style="text-align: center; font-size: 24px; text-transform: capitalize; margin: 25px"
                        >
                            {{ activeTable.name }}
                        </h5>
                        <!-- <div style="display:flex">
                        <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.6195 1.06L16.8647 4.31712C17.4155 4.86796 17.3676 5.80198 16.9006 6.28097L7.30882 15.8847L0.650879 17.2738L2.03995 10.5919C2.03995 10.5919 11.1407 1.45516 11.6077 0.976173C12.0748 0.509159 13.0687 0.509159 13.6195 1.06ZM10.3504 4.40094L3.65653 11.1188L4.98573 12.448L11.6197 5.68224L10.3504 4.40094ZM6.79391 14.2561L13.4758 7.55029L12.1945 6.25702L5.50064 12.9629L6.79391 14.2561Z"
                                fill="black"
                            />
                        </svg>
                    </div> -->
                    </div>
                    <div
                        class="body__table"
                        style="display: flex;justify-content: center;"
                    >
                        <div>
                            <qrcode-vue
                                :value="activeTable.link"
                                :size="size"
                                level="H"
                            ></qrcode-vue>
                        </div>
                    </div>
                </section>
            </vue-html2pdf>
            <!-- <button @click="generateReport">pdf</button> -->
        </div>
    </div>
</template>

<script>
//   import VueHtml2pdf from 'vue-html2pdf'
import QrcodeVue from "qrcode.vue";
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
export default {
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        this.getTables();
    },
    data() {
        return {
            value: "https://example.com",
            size: 150,
            printPdfStart: false,
            activeTable: ""
        };
    },
    computed: {
        tables() {
            return this.$store.state.restaurantManagement.tables;
        }
    },
    methods: {
        generateReport(table) {
            document.body.style.cursor = "wait";
            this.activeTable = table;
            this.$refs.html2Pdf.generatePdf();
        },
        onProgress(e) {
            // this.printPdfStart=true
            // this.progressPdf=e
        },
        hasStartedGeneration() {
        },
        hasGenerated(e) {
            document.body.style.cursor = "default";
            // this.printPdfStart=false;
        },
        getTables() {
            this.$store
                .dispatch(
                    "restaurantManagement/getTables",
                    this.$route.params.restaurant_id
                )
                .then(response => {
                    this.$Progress.finish();
                });
        }
    },
    components: {
        QrcodeVue
        //   VueHtml2pdf
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
.add-extra {
    // position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 20px;
    text-decoration: none;
    z-index: 2;
    margin-left: auto;
    margin-bottom: 10px;
}
.tables {
    position: relative;
    padding: 40px 20px 20px 20px;
    h3 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 41px;
        text-align: center;
        color: var(--main-color);
    }
    .card {
        padding: 20px 25px;
    }
    .table-grid {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;
        .table {
            min-width: 150px;
            max-width: 200px;
            margin: 10px;
            background: #ffffff;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            border-radius: 7px;
            .header__table {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: var(--main-color);
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                h5 {
                    text-align: center;
                    margin: 0;
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    color: #ffffff;
                }
                .edit {
                    cursor: pointer;
                    width: 30px;
                    transition: 0.2s ease;
                    background-color: #f3f3f3;
                    padding: 5px;
                    margin: 0px 3px;
                    display: flex;
                    border-radius: 100%;
                    border: 1px solid #e0e0e0;
                }
                .edit:hover {
                    box-shadow: 0px 0px 8px 0px #e0e0e0;
                }
            }
            .body__table {
                display: flex;
                justify-content: center;
                padding: 10px;
                position: relative;
            }
            img {
                margin-top: 20px;
            }
        }
    }
}
</style>
