<template>
  <div class="inventory">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">
                        <div class="panel-head mt-2">
                            <router-link class="back-btn" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/output'">
                                <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.87">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                </g>
                                </svg>
                            </router-link>
                            <h3 class="head">{{$t("List of products")}}</h3>
                        </div>   
                        <div class="categories-list">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:15%">No#</th>
                                    <th style="width:35%">{{$t("Ceated At")}}</th>
                                    <th style="width:25%">{{$t('Message')}} </th>
                                    <th style="width:35%">{{$t('Actions')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="!histories.length" >
                                    <th colspan="5">
                                        <p style="padding:10px;background-color:white;color:gray;display:flex;justify-content:center">{{$t("No Record Stored")}}</p>    
                                    </th>
                                </tr>
                                <tr v-for="(history,index) in histories" :key="index" v-if="history.Entries.length!=0">
                                    <td>{{index+1}}</td>
                                    <td>{{createdAt(history.created_at)}}</td>
                                    <td style="line-height: 20px;"><p>{{history_message(history.message)}}</p></td>
                                    <td>
                                        <router-link class="btn btn-white" tag="button" :to="{ path:`/inventory/${$route.params.restaurant_id}/restaurant/output/history/34`, query:{history:history}}" >{{$t("view")}}</router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </div>    
    </div>
</div>
        
  
  </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'
export default {
    data(){
        return{
            modal: false
        }
    },
    methods:{
        history_message(message){
            return message.substring(1,40)+".....";
        },
        createdAt(date){
            return date.substring(0,10)+" "+date.substring(11,16);
        }
    },
    created(){
        document.addEventListener('click', (e)=>{
            if(e.target==document.getElementsByClassName('modal')[0]){
                this.modal=false
            }
        });
        if(!moduleProductManagement.isRegistered) {
            this.$store.registerModule('productManagement', moduleProductManagement);
            moduleProductManagement.isRegistered = true;
        }
        this.$store.dispatch('productManagement/getHistory',{type:'output',restaurant_id:this.$store.getters.get_res.id});
    },
    computed:{
        histories(){
            return this.$store.state.productManagement.histories;
        }
    },
    mounted(){
        this.$Progress.finish()
    },
    beforeDestroy(){
        this.$Progress.start()
    },

}
</script>

<style lang="scss" scoped>
.show{
    display: block !important;
}
.modal{
    background: rgba(0, 0, 0, 0.4);
    button{
        border-radius: 15px;
        font-size: 14px;
        height: 38px;
        width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
      .add-extra{
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: #fff;
          font-size: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px;
          top:20px;
          text-decoration: none;
      }
    .card{
        
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Open sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
           .categories-list{
                table{
                width: 100%;
                th,
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 44px;
                    color: #000000;

                }
                tr{
                    border-bottom: 2px solid #d6d5d5;  
                }
                tbody{
                    tr{
                        border-bottom: 2px solid #d6d5d5;
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 400;
                        font-size: 12px;
                        a{
                            text-decoration: none;
                            color: car(--main-color);
                        }
                    }
                }
            }
           }
    }
}
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>