<template>
  <div class="inventory">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">
                        <div class="panel-head mt-2">
                                <router-link class="back-btn"  :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/output/history'" >
                                    <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.87">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                    </g>
                                    </svg>

                                </router-link>
                                <h3 class="head">{{$t("Show product Output")}}</h3>  
                            </div> 
                            
                            <div class="msg">
                                <h4>{{$t('Created at')}}</h4>
                                <p>{{createdAt(history.created_at)}}</p>
                                <h4>{{$t('Message')}}</h4>
                                <p>{{history.message}}</p>
                            </div>
                        <div class="categories-list">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:33%">{{$t('Category')}}</th>
                                        <th style="width:33%">{{$t('Product')}}</th>
                                        <th style="width:34%">{{$t('Quantity')}}</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(entry,index) in history.Entries" :key="index">
                                        <td>{{entry.category}}</td>
                                        <td>{{entry.product}}</td>
                                        <td>{{entry.quantity}} {{entry.measuring_unit}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>      
                    </div>
                </div>
            </div>    
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            modal: false,
            history:[]
        }
    },
    created(){
        this.history=this.$route.query.history;
    },
    methods:{
        createdAt(date){
            return date.substring(0,10)+" "+date.substring(11,16);
        }
    },
    mounted(){
        document.addEventListener('click', (e)=>{
            
            
            if(e.target==document.getElementsByClassName('modal')[0]){
                this.modal=false
            }
        })
        this.$Progress.finish()
    },
    beforeDestroy(){
        this.$Progress.start()
    },

}
</script>

<style lang="scss" scoped>
.show{
    display: block !important;
}
.modal{
    background: rgba(0, 0, 0, 0.4);
    button{
        border-radius: 15px;
        font-size: 14px;
        height: 38px;
        width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
      .msg{
          h4{
              font-family: 'Open sans', sans-serif;
              font-size: 22px;
              font-weight: normal;
              line-height: 34px;
          }
          p{
              font-size: 15px;
              font-family: 'Montserrat', sans-serif;
              margin: 0;
              padding: 10px;
              background-color: #fff;
          }
      }
    .card{
        
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Open sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
           .categories-list{
                table{
                width: 100%;
                th,
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 44px;
                    color: #000000;

                }
                tr{
                    border-bottom: 2px solid #d6d5d5;  
                }
                tbody{
                    tr{
                        border-bottom: 2px solid #d6d5d5;
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 400;
                        font-size: 12px;
                        a{
                            text-decoration: none;
                            color: car(--main-color);
                        }
                    }
                }
            }
           }
    }
}
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>