<template>
    <div>
        <div class="container-fluid mt-3">
            <router-link
                class="btn-round mb-2"
                :to="
                    '/orders/' +
                        this.$route.params.restaurant_id +
                        '/restaurant'
                "
                style="height: 40px; width: 40px"
            >
                <img src="../../../../../../assets/images/back.svg" />
            </router-link>
            <div
                class="tabs"
                v-if="$route.params.type == 'payed' &&
                        $store.getters.auth_user.role != 'delivery_man'
                "
            >
                <span
                    class="tab lg-tab"
                    :class="{ 'tab-active': checkActive('takeOrder') }"
                    @click="addTab('takeOrder')"
                    >{{$t("Take Order")}}
                </span>
                <span
                    class="tab lg-tab"
                    @click="addTab('table')"
                    :class="{ 'tab-active': checkActive('table') }"
                    >{{$t("Table")}}</span
                >

                <span
                    class="tab lg-tab"
                    @click="addTab('link')"
                    :class="{ 'tab-active': checkActive('link') }"
                    >{{$t("Social Media")}}</span
                >
                <!-- <span class="tab sm-tab" v-for="(link,index) in linkTabs" :key="index">{{link.name}}</span> -->
            </div>
        </div>
        <div style="position: absolute;top: 147px;right: 20px;">
            <h4 style="letter-spacing: 3px;">Total : {{ totalNum }}</h4>
        </div>
        <div class="outer-box">
            <div class="current-orders">
                <OrderCard
                    v-for="(order, index) in orders"
                    :order="order"
                    :key="index"
                    class="m-2"
                    @payOrders="getPay"
                    @closeForm="closeform"
                />
            </div>
        </div>
        <div class="my-container">
            <PaymentForm
                :order="selected"
                v-if="selected"
                class="anim"
                @closeIt="closeform"
            />
        </div>
    </div>
</template>

<script>
import PaymentForm from "./components/PaymentForm";
import moduleOrderManagement from "@/store/order-management/moduleOrderManagement.js";

import OrderCard from "./components/OrderCard";

export default {
    mounted() {
        document.querySelector(".template-layout").style.display =
            "flex!important";
    },
    beforeRouteLeave(to, from, next) {
        document.querySelector(".template-layout").style.display =
            "grid!important";
        next();
    },
    created() {
        if (!moduleOrderManagement.isRegistered) {
            this.$store.registerModule(
                "orderManagement",
                moduleOrderManagement
            );
            moduleOrderManagement.isRegistered = true;
        }
        this.role = this.$store.getters.auth_user.role;
        this.type = this.$route.params.type;

        Echo.private(`order.${this.$route.params.restaurant_id}`).listen(
            "OrderEvent",
            e => {
                if (e.order) {
                    let order = e.order;
                    if (
                        this.role == "delivery_man" &&
                        order.serviceMode == "Delivery" &&
                        order.source == "link" &&
                        order.orderType == "pending"
                    ) {
                        this.pushOrder(order);
                    } else if (this.role != "delivery_man") {
                        if (
                            this.type == "pending" &&
                            order.orderType == "pending"
                        ) {
                            this.pushOrder(order);
                        } else if (this.type != "pending") {
                            if (this.selectedTabs.includes(order.source)) {
                                this.pushOrder(order);
                            }
                        }
                    }
                    
                    if(this.type=='payed'&&(order.status=='Delivered'||order.status=='served')){
                        this.$store.dispatch(
                            "orderManagement/removeOrder",
                            e.order.id
                        );
                    }
                }
                if (this.type == "pending" && e.order.orderType == "payed") {
                    this.$store.dispatch(
                        "orderManagement/removeOrder",
                        e.order.id
                    );
                }
                
                e.item
                    ? this.$store.dispatch("orderManagement/setItem", e.item)
                    : console.log("");

                e.order_id
                    ? this.$store.dispatch(
                          "orderManagement/removeOrder",
                          e.order_id
                      )
                    : console.log("");
            }
        );
        this.getOrders(this.$route.params.type);
        this.$store.dispatch("orderManagement/setTab");
    },
    methods: {
        pushOrder(order) {
            this.$store.dispatch("orderManagement/setRealOrder", order);
        },
        getOrders(t) {
            let type = "";
            
            if(t=='served'){
                type='served'
            }else{
                t == "payed" ? (type = "all") : (type = "pending");
            }

            this.$store
                .dispatch("orderManagement/getOrders", {
                    restaurant_id: this.$route.params.restaurant_id,
                    source: this.selectedTabs,
                    type: type
                })
                .then(Response => this.$Progress.finish());
        },
        getTabs() {
            this.$store.dispatch("orderManagement/getTabs", {
                restaurant_id: this.$route.params.restaurant_id
            });
        },
        getOrdersBySource() {
            this.$Progress.start();
            this.$store
                .dispatch("orderManagement/getOrdersBySource", {
                    source: this.selectedTabs,
                    restaurant_id: this.$route.params.restaurant_id
                })
                .then(Response => this.$Progress.finish());
        },
        getPay(order) {
            this.selected = order;
            window.scrollTo(0, document.body.scrollHeight);
        },
        closeform() {
            this.selected = false;
        },
        addTab(value) {
            if (this.selectedTabs.indexOf(value) == -1) {
                // this.selectedTabs.push(value);
                this.$store.dispatch("orderManagement/addTab", value);
            } else {
                let index = this.selectedTabs.indexOf(value);
                // this.selectedTabs.splice(index,1);
                this.$store.dispatch("orderManagement/removeTab", index);
            }
            this.getOrdersBySource();
        },
        checkActive(type) {
            if (this.selectedTabs.indexOf(type) != -1) {
                return true;
            } else {
                return false;
            }
        }
    },
    computed: {
        orders() {
            return this.$store.state.orderManagement.orders;
        },
        tableTabs() {
            return this.$store.state.orderManagement.tableTabs;
        },
        linkTabs() {
            return this.$store.state.orderManagement.linkTabs;
        },
        roleCheck() {
            return (
                this.$store.getters.auth_user.role != "owner" ||
                this.$store.getters.auth_user.role != "manager"
            );
        },
        totalNum() {
            return this.$store.state.orderManagement.total_num;
        },
        selectedTabs() {
            return this.$store.state.orderManagement.selectedTabs;
        }
    },
    data() {
        return {
            datas: [],
            selected: "",
            role: "",
            type: ""
        };
    },
    name: "LiveOrders",
    components: {
        OrderCard,
        PaymentForm
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
body {
    overflow-x: auto !important;
}
.outer-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
}
.current-orders {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    // width:1080px;
    margin: 5px;
    min-height: 80vh;
}
.my-container {
    margin: 20px 20%;
}
@media(max-width:760px){
    .my-container{
        margin: 20px 0%;
    }
}
.anim {
    animation: example 1s linear 0.2;
}

@keyframes example {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container-fluid {
    // width: 76vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // float: right !important;
    border-bottom: solid 2px #d6d6d6;
    // margin-right: 20px;
    // padding: 0px;
    // margin-top: 30px!important;
    // margin-bottom:50px;
}

.tabs {
    display: flex;
    align-items: flex-end;
}
.tabs .tab {
    margin-left: 11px;
    background-color: #eeedef;
    border-radius: 8px 8px 1px 1px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #a4a5ac;
    border: 1px solid #d5d6db;
    // box-shadow: 0px 0px 4px rgb(179, 179, 179);
    transition: all 0.2s ease-in;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.sm-tab {
    padding: 4px 8px;
    font-size: 14px;
}
.lg-tab {
    padding: 5px 15px;
    font-size: 15px;
}
.tab-active {
    color: white !important;
    background-color: var(--main-color) !important;
    border: none !important;
}
@media (max-width: 500px) {
    .current-orders {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        /* grid-auto-flow: column; */
        /* flex-direction: row; */
        width: 100%;
        overflow-x: scroll;
        min-height: 80vh;
    }
    .tab{
        margin-left: 2px!important;
        font-size: 15px!important;
        letter-spacing: 0px!important ;
        padding: 5px 11px!important;
    }
    .tab-active {
        color: white !important;
        background-color: var(--main-color) !important;
    }
}
@media(max-width: 400px){
    .tab{
        margin-left: 2px!important;
        font-size: 14px!important;
        letter-spacing: 0px!important ;
        padding: 5px 7px!important;
    }
    .tab-active {
        color: white !important;
        background-color: var(--main-color) !important;
    }
};
</style>
