<template>
    <div class="orders-home">
        <div class="card-orders live-order"  @click="getOrders('payed')" >
            <h3>{{$t("Live Orders")}}</h3>
            <h2>{{orderOn.live_no}}</h2>
        </div>
        <div class="card-orders pending-collection" @click="getOrders('pending')"  v-if="roleCheck" >
            <h3>{{$t("Pending Collection")}}</h3>
            <h2>{{orderOn.pending_no}}</h2>
        </div>
        <div class="served-btn" @click="getOrders('served')">
            <img src="/images/logo/served.svg" alt="">
        </div>
    </div>
</template>

<script>
    import moduleOrderManagement from '@/store/order-management/moduleOrderManagement.js'

    export default {
        name: "Home",
        created(){
            if(!moduleOrderManagement.isRegistered) {
                this.$store.registerModule('orderManagement', moduleOrderManagement);
                moduleOrderManagement.isRegistered = true;
            }
            this.getOrderNo();
        },
        computed:{
            orderOn(){
                return this.$store.state.orderManagement.order_no;
            },
            roleCheck(){
                let role=this.$store.getters.auth_user.role;
                return role=='owner'||role=='manager'||role=='cashier'||role=='waiter';
            }
        },
        methods: {
            getOrderNo(){
                this.$Progress.start()
                this.$store.dispatch('orderManagement/getOrderNo',this.$route.params.restaurant_id)
                .then(response=>{this.$Progress.finish()});
            },
            getOrders(type){
                this.$router.replace('/orders/'+this.$route.params.restaurant_id+'/restaurant/current-order/'+type)
                .then(response=>this.$Progress.finish());
            },
            
        },
        beforeDestroy(){
            this.$Progress.start()
        },
    }
</script>

<style lang="scss" scoped>
    .orders-home{
        padding: 20px 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .card-orders{
            cursor: pointer;
            min-width: 300px    ;
            max-width: 350px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 0px 0px 8px 0px rgb(189, 187, 187);
            h3,
            h2{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 54px;
                color: #FFFFFF;
            }
            h2{
                font-size: 28px;
            }
            &.live-order{
                background-color:  var(--main-color);
            }
            &.pending-collection{
                background-color: #fbfbfb;
                box-shadow: 0px 0px 8px 0px #dcdcdc;
                h3, h2{
                    color: var(--main-color);
                }
            }

        }

    }
    @media (max-width:991px) {
         .orders-home{
            flex-direction: column;
            .card-orders{
                margin: 10px 0;
            }
        }
    }
    .served-btn{
        padding: 10px;
        border-radius: 100%;
        background-color: white;
        float: right;
        position: absolute;
        right: 16px;
        cursor:pointer;
        top: 79px;
        img{
            width:50px;
        }
    }
</style>