<!-- =========================================================================================
  File Name: UserView.vue
  Description: User View page
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="page-user-view">

    <vs-alert color="danger" title="User Not Found" :active.sync="user_not_found">
      <span>User record with id: {{ $route.params.userId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-user-list'}" class="text-inherit underline">All Users</router-link>
      </span>
    </vs-alert>

    <div id="user-data" v-if="user_data">

      <vx-card title="Owner Account" class="mb-base">

        <!-- Avatar -->
        <div class="vx-row">

          <!-- Avatar Col -->
          <div class="vx-col" id="avatar-col">
            <div class="img-container mb-4">
              <img :src="user_data.image" class="rounded w-full" />
            </div>
          </div>

          <!-- Information - Col 1 -->
          <div class="vx-col flex-1" id="account-info-col-1">
            <table>
              <tr>
                <td class="font-semibold">Username</td>
                <td>{{ user_data.name }}</td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 1 -->

          <!-- Information - Col 2 -->
          <div class="vx-col flex-1" id="account-info-col-2">
            <table>
              <tr>
                <td class="font-semibold">Email</td>
                <td>{{ user_data.email }}</td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 2 -->
          <div class="vx-col w-full flex" id="account-manage-buttons">
            <vs-button icon-pack="feather" icon="icon-edit" class="mr-4" :to="{name: 'app-user-edit', params: { userId: $route.params.userId }}">Edit</vs-button>
            <vs-button type="border" :color="(user_data.restaurant.status=='disabled')?'danger':'success'" icon-pack="feather" @click="confirmDeleteRecord">{{(user_data.restaurant.status=='disabled')?'X Disabled':'Enabled'}}</vs-button>
          </div>

        </div>

      </vx-card>

      <div class="vx-row">
        <div class="vx-col lg:w-3/4 w-full">
          <vx-card title="Restaurant Details" class="mb-base">
            <table>
              <div class="vx-col" id="avatar-col">
                <div class="img-container mb-4">
                  <img :src="user_data.restaurant.logo" class="rounded w-full" />
                </div>
              </div>
              <tr>
                <td class="font-semibold">Name</td>
                <td>{{ user_data.restaurant.name }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Bio</td>
                <td>{{ user_data.restaurant.description }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Contact No.</td>
                <td>{{ user_data.restaurant.phone }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Address</td>
                <td>{{ user_data.restaurant.address }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Delivery</td>
                <td>{{ user_data.restaurant.delivery }}</td>
              </tr>
            </table>
          </vx-card>
        </div>

        <div class="vx-col lg:w-1/4 w-full" >
          <vx-card title="Employees" class="mb-base">
            <table>
              <tr>
                <td class="font-semibold">Managers</td>
                <td>{{ user_data.manager }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Cooks</td>
                <td>{{ user_data.cook }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Cashiers</td>
                <td>{{ user_data.cashier }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Waiter</td>
                <td>{{ user_data.waiter}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Delivery Men</td>
                <td>{{ user_data.delivery_man}}</td>
              </tr>
            </table>
          </vx-card>
        </div>

  <!-- {{user_data.restaurant}} -->
          <div class="vx-col lg:w-3/4 w-full" >
            <vx-card title="Restaurant Permissions"  class="mb-base">
              <div class="btn-row" v-if="user_data.restaurant.id">
                <h6 class="font-semibold">Inventory Permission</h6>
                <span style="flex: 1 1 auto;margin-left:15px"><vs-button color="success" @click="changePermission('inventory')" :type="(user_data.restaurant.inventory_permission=='yes')?'filled':'border'">{{inventory_permission}}</vs-button></span>
              </div>
              <br>
              <div class="btn-row" v-if="user_data.restaurant.id">
                <h6 class="font-semibold">Analytics Permission</h6>
                <span style="flex: 1 1 auto;margin-left:15px"><vs-button color="success" @click="changePermission('analytics')" :type="(user_data.restaurant.analytics_permission=='yes')?'filled':'border'">{{analytics_permission}}</vs-button></span>
              </div>
              <template v-else>
                <p class="font-semibold">Restaurant is not created yet!</p>
              </template>
            </vx-card>
          </div>
        </div>

      </div>
      


    </div>
  </div>
</template>

<script>
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'

export default {
  data() {
    return {
      user_data: null,
      user_not_found: false,
    }
  },
  computed: {
    userAddress() {
      let str = ""
      for(var field in this.user_data.location) {
        str += field + " "
      }
      return str
    },
    inventory_permission(){
      if(this.user_data.restaurant.inventory_permission=='yes'){
        return "Granted"
      }if(this.user_data.restaurant.inventory_permission=='no'){
        return 'not Granted'
      }

    },
    analytics_permission(){
      if(this.user_data.restaurant.analytics_permission=='yes'){
        return "Granted"
        }if(this.user_data.restaurant.analytics_permission=='no'){
        return 'not Granted'
      }

    },
  },
  methods: {
    confirmDeleteRecord() {
      if(this.user_data.restaurant.status!='disabled'){
        this.$vs.dialog({
          type: 'confirm',
          color: 'danger',
          title: `Confirm Disable`,
          text: `You are about to disable "${this.user_data.restaurant.name}"`,
          accept: this.changeStatus,
          acceptText: "Disable"
        })
      }else{
        this.changeStatus()
      }
    },
    changeStatus() {
      /* Below two lines are just for demo purpose */
      // this.$router.push({name:'app-user-list'});
      let status=(this.user_data.restaurant.status=='disabled')?'close':'disabled'
      this.$store.dispatch('adminChangeStatus',{restaurant_id:this.user_data.restaurant.id,status:status})
      .then(response=>{
        this.$Progress.finish();
        this.user_data.restaurant.status=response.data.data
      });
      
    },
    showDeleteSuccess() {
      this.$vs.notify({
        color: 'success',
        title: 'User Deleted',
        text: 'The selected user was successfully deleted'
      })
    },
    changePermission(permission){
      this.$Progress.start();
        this.$store.dispatch("changePermission", {permission:permission,restaurant_id:this.user_data.restaurant.id})
          .then((res)=>{
            this.$Progress.finish();
            this.user_data.restaurant=res;
          })
    }
  },
  created() {
    // Register Module UserManagement Module
    if(!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }
    
    const userId = this.$route.params.userId
    this.$store.dispatch("userManagement/fetchUser", userId)
      .then((res)=>{
         this.user_data = res.data.data;
         }).catch(err => {
        if(err.response.status === 404) {
          this.user_not_found = true
          return
        }
        console.error(err) })
  }
}

</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-user-view {
  table {
    td {
      vertical-align: top;
      min-width: 140px;
      padding-bottom: .8rem;
      word-break: break-all;
    }

    &:not(.permissions-table) {
      td {
        @media screen and (max-width:370px) {
          display: block;
        }
      }
    }
  }
}

// #account-info-col-1 {
//   // flex-grow: 1;
//   width: 30rem !important;
//   @media screen and (min-width:1200px) {
//     & {
//       flex-grow: unset !important;
//     }
//   }
// }


@media screen and (min-width:1201px) and (max-width:1211px),
only screen and (min-width:636px) and (max-width:991px) {
  #account-info-col-1 {
    width: calc(100% - 12rem) !important;
  }

  // #account-manage-buttons {
  //   width: 12rem !important;
  //   flex-direction: column;

  //   > button {
  //     margin-right: 0 !important;
  //     margin-bottom: 1rem;
  //   }
  // }

}
.btn-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
}
</style>
