<template>
  <div class="inventory">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">

                    <h3 class="head">{{$t("My inventory")}}</h3>  

                     <div class="body-inventory">
                            <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/categories'" >
                                <div class="icon">
                                    <img src='/images/frontEndImage/assets/products.png' alt="">
                                    <h3>{{$t("Product")}} {{$t("List")}}</h3>
                                </div>
                                <div class="badge-restaurant">{{count.product_no}}</div>
                            </router-link>
                             <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/entries'"  >
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/entries.png" alt="">
                                    <h3>{{$t('Product')}} {{$t('Entry')}}</h3>
                                </div>
                                
                                <!-- <div class="badge-restaurant">3</div> -->
                            </router-link>
                             <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/output'" >
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/outputs.png" alt="">
                                    <h3>{{$t('Product')}} {{$t('Output')}}</h3>
                                </div>
                                
                                <!-- <div class="badge-restaurant">3</div> -->
                            </router-link>
                             <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/stocks'">
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/stocks.png" alt="">
                                    <h3>{{$t('Stock')}}</h3>
                                </div>
                                <!-- <div class="badge-restaurant">3</div> -->
                            </router-link>
                            <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/stock-points'">
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/points.png" alt="">
                                    <h3>{{$t('Stock')}} {{$t('Points')}}</h3>
                                </div>
                                <!-- <div class="badge-restaurant">3</div> -->
                            </router-link>
                            <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/notifications'" >
                                <div class="icon">
                                    <img src='/images/frontEndImage/assets/notifications.png' alt="">
                                    <h3>{{$t('Notifications')}}</h3>
                                </div>
                                <!-- <div class="badge-restaurant">3</div> -->
                            </router-link>
                        </div>        
                    </div>
                </div>
            </div>    
        </div>
    </div>
         
  </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'

export default {

    created(){
        if(!moduleProductManagement.isRegistered) {
            this.$store.registerModule('productManagement', moduleProductManagement);
            moduleProductManagement.isRegistered = true;
        }
        this.getCount();
    },
    methods:{
        getCount(){
            this.$store.dispatch('productManagement/getCount',this.$route.params.restaurant_id)
            .then(response=>{this.$Progress.finish()});
        }
    },
    computed:{
        count(){
            return this.$store.state.productManagement.count;
        }
    },
    mounted(){
        this.$Progress.finish()
    },
    beforeDestroy(){
        this.$Progress.start()
    },
}
</script>

<style lang="scss" scoped>
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
    .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
            .body-inventory{
                 padding: 10px;
                 
                 .row-list{
                     display: flex;
                     background-color: #f5f3f3;
                     justify-content: space-between;
                     align-items: center;
                     padding: 10px;
                     border-radius: 6px;
                     text-decoration: none;
                     margin: 8px 0;
                     .icon{
                           display: flex;
                            // justify-content: space-between;
                            align-items: center;
                         img{
                             height: 30px;
                         }
                         h3{
                            font-family: 'Open Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 17px;
                            line-height: 33px;
                            margin-left: 20px;
                            /* identical to box height */
                            color: #fff;
                            margin-bottom: 0;
                            text-decoration: none;
                        }
                     }
                     .badge-restaurant{
                         height: 40px;
                         width: 40px;
                         background-color: #fff;
                         border-radius: 50%;
                         color: #000;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-family: 'Montserrat',sans-serif;
                         font-weight: 600;
                         font-size: 18px;
                     }
                     &:nth-child(odd){
                         background-color: var(--main-color);
                     }
                     &:nth-child(even){
                         background-color: #f5f5f5;
                         .icon{
                             h3{
                                 color: #000;
                             }
                            
                         }
                         .badge-restaurant{
                                 background-color: var(--main-color);
                                 color: #fff;
                        }  
                         &:nth-child(odd):hover{
                             color:white;
                        //  background: #ccc !important;
                         h3{
                            //  color: #fff !important;
                         }
                     }
                     }
                 }
             }
    }
}
    .card-border{
        background-color: #ECECEC;
        border-radius: 8px;
        padding: 14px;

    }
  .head{
      background-color: #f9f9f9;
      padding:8px;
      border-radius:4px;
  }
  [dir] .inventory .card .body-inventory .row-list[data-v-2422f490]:nth-child(even) .icon h3:hover {
        color:white!important;
    }
    @media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }

</style>