<template>
    <div class="notifications">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                          <router-link class="back-btn"  :to="'/inventory/'+this.$store.getters.get_res.id+'/restaurant'">
                                <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.87">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                </g>
                                </svg>

                            </router-link>
                        <h3>{{$t('Settings')}}</h3>
                         <form @submit.prevent="saveChanges" method="POST" @keydown="errors.clear($event.target.name)">
                            <div class="form-group">
                                <label>{{$t('Email to notify when is under minimum stock')}}</label>
                                <input class="form-control" type="email" value="" name="min_email" v-model="data.min_email" placeholder="Email" :class="{'is-invalid':errors.has('min_email')}">
                                <span v-if="errors.has('min_email')" style="color:red" >
                                    {{ errors.get('min_email') }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>{{$t('Email to notify when is under maximum stock')}}</label>
                               <input class="form-control" type="email" value="" name="max_email" v-model="data.max_email" placeholder="Email" :class="{'is-invalid':errors.has('max_email')}">
                               <span v-if="errors.has('max_email')" style="color:red" >
                                    {{ errors.get('max_email') }}
                                </span>
                            </div>
                            <div class="form-group">
                                <label>{{$t('Email to notify when is under optimum stock')}}</label>
                               <input class="form-control" type="email" value="" name="opt_email" v-model="data.opt_email" placeholder="Email" :class="{'is-invalid':errors.has('opt_email')}">
                                <span v-if="errors.has('opt_email')" style="color:red" >
                                    {{ errors.get('opt_email') }}
                                </span>
                            </div>

                            <button class="btn-round-blue mb-2 mt-4 mx-auto">{{$t('Save')}}</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'
    export default {
        name: "AddExtra",
        data(){
          return{
                errors: new Errors(),
                data:{
                    min_email:'',
                    max_email:'',
                    opt_email:'',
                    restaurant_id:this.$route.params.restaurant_id
                }
          }
        },
        created(){
            if(!moduleProductManagement.isRegistered) {
                this.$store.registerModule('productManagement', moduleProductManagement);
                moduleProductManagement.isRegistered = true;
            }
            this.fetchEmail();
        },
        methods:{
            saveChanges(){
                this.$Progress.start();
                this.$store.dispatch('productManagement/storeNotificationEmail',this.data)
                    .then(response=>{
                        this.setEmails(response);
                        this.$Progress.finish();
                    }).catch(errors=>{
                        this.$Progress.finish();
                        this.errors.record(errors.response.data);
                    })
            },
            fetchEmail(){
                this.$store.dispatch('productManagement/getNotificationEmail',this.$route.params.restaurant_id)
                .then(response=>{
                    this.setEmails(response);
                    this.$Progress.start();
                })
            },
            setEmails(response){
                this.data.min_email=response.min_email;
                this.data.max_email=response.max_email;
                this.data.opt_email=response.opt_email;
            }
        },
         mounted(){
            this.$Progress.finish()
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        
    }
</script>

<style lang="scss" scoped>
    .notifications{
        padding: 30px 0;
        .card{
            background-color: #f5f5f5;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 33px;
                color: #000000;
                margin: 0;
            }
            .form-group{
                small{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;

                    color: #444;
                }
            }
             .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }

    }
    @media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>