<template>
    <div class="ready">
        <div class="restraunt">
            <svg width="424" height="350" viewBox="0 0 424 350" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M390.632 127.365V118.052H382.141V128.989V141.956H351.801V169.921H333.981V126.146H319.406V93.7419H297.152V83.2111H288.661V93.3358H268.813V115.21H234.822V89.2751H221.464V81.1807H187.88V62.9616H179.389V81.5868H168.87V92.9297H155.512V116.022H117.465V152.893H100.078V73.4924H87.1255V60.1191H64.8709V73.0864H49.8903V181.264H30.8536V126.552H0V350H424V240.5V127.365H390.632Z" fill="#FFEAD1"/>
                <path d="M339.714 197.317C339.714 189.358 346.15 182.915 354.1 182.915C359.427 182.915 364.078 185.839 366.565 190.17C368.35 187.057 371.703 184.945 375.543 184.945C381.248 184.945 385.872 189.575 385.872 195.287C385.872 199.185 383.709 202.596 380.518 204.356C381.627 205.736 382.303 207.496 382.303 209.391C382.303 213.398 379.383 216.7 375.543 217.323V288.575H347.285V210.014C342.769 207.577 339.714 202.813 339.714 197.317Z" fill="#777F32"/>
                <path d="M353.288 204.599C357.186 204.599 360.346 201.436 360.346 197.534C360.346 193.631 357.186 190.468 353.288 190.468C349.39 190.468 346.231 193.631 346.231 197.534C346.231 201.436 349.39 204.599 353.288 204.599Z" fill="#9AB554"/>
                <path d="M377.436 202.082C379.945 202.082 381.979 200.046 381.979 197.534C381.979 195.022 379.945 192.986 377.436 192.986C374.927 192.986 372.893 195.022 372.893 197.534C372.893 200.046 374.927 202.082 377.436 202.082Z" fill="#9AB554"/>
                <path d="M366.214 212.45C368.723 212.45 370.757 210.414 370.757 207.902C370.757 205.39 368.723 203.354 366.214 203.354C363.705 203.354 361.671 205.39 361.671 207.902C361.671 210.414 363.705 212.45 366.214 212.45Z" fill="#9AB554"/>
                <path d="M343.472 221.302C343.472 222.981 344.824 224.334 346.501 224.334H357.344C359.021 224.334 360.373 222.981 360.373 221.302C360.373 219.624 359.021 218.27 357.344 218.27H346.501C344.824 218.298 343.472 219.651 343.472 221.302Z" fill="#9AB554"/>
                <path d="M343.472 263.994C343.472 265.673 344.824 267.026 346.501 267.026H357.344C359.021 267.026 360.373 265.673 360.373 263.994C360.373 262.316 359.021 260.962 357.344 260.962H346.501C344.824 260.962 343.472 262.316 343.472 263.994Z" fill="#9AB554"/>
                <path d="M356.993 235.298C356.993 236.977 358.345 238.33 360.021 238.33H376.3C377.976 238.33 379.329 236.977 379.329 235.298C379.329 233.62 377.976 232.266 376.3 232.266H360.021C358.345 232.266 356.993 233.62 356.993 235.298Z" fill="#9AB554"/>
                <path d="M356.993 249.673C356.993 251.352 358.345 252.705 360.021 252.705H376.3C377.976 252.705 379.329 251.352 379.329 249.673C379.329 247.995 377.976 246.641 376.3 246.641H360.021C358.345 246.641 356.993 248.022 356.993 249.673Z" fill="#9AB554"/>
                <path d="M424 288.602H0V304.087H424V288.602Z" fill="#6D6E71"/>
                <path d="M424 304.087H0V350H424V304.087Z" fill="#58595B"/>
                <path d="M395.012 265.997C392.795 263.182 389.361 261.368 385.494 261.368H380.518C380.518 251.812 372.785 244.069 363.239 244.069C357.669 244.069 352.72 246.722 349.557 250.81C347.691 249.646 345.473 248.996 343.121 248.996C336.28 248.996 330.763 254.546 330.763 261.368C330.763 262.938 331.061 264.454 331.602 265.835C329.898 267.919 328.87 270.572 328.87 273.496V276.501C328.87 277.909 329.114 279.235 329.546 280.508H384.331C384.358 280.481 394.688 280.589 395.012 265.997Z" fill="#9AB554"/>
                <path d="M395.012 265.997C394.688 280.589 384.358 280.481 384.358 280.481H329.573C331.223 285.218 335.712 288.602 340.985 288.602H385.494C392.173 288.602 397.608 283.188 397.608 276.474V273.469C397.608 270.654 396.635 268.055 395.012 265.997Z" fill="#849C48"/>
                <path d="M364.699 268.244C369.165 268.244 372.785 264.62 372.785 260.15C372.785 255.68 369.165 252.056 364.699 252.056C360.234 252.056 356.614 255.68 356.614 260.15C356.614 264.62 360.234 268.244 364.699 268.244Z" fill="#8EA64E"/>
                <path d="M345.528 270.085C347.603 270.085 349.286 268.4 349.286 266.322C349.286 264.244 347.603 262.559 345.528 262.559C343.452 262.559 341.769 264.244 341.769 266.322C341.769 268.4 343.452 270.085 345.528 270.085Z" fill="#8EA64E"/>
                <path d="M413.779 260.123C412.508 260.123 411.453 259.094 411.453 257.795C411.453 256.522 412.481 255.467 413.779 255.467C413.968 255.467 414.157 255.494 414.319 255.548L415.022 247.426H387.17L387.873 255.548C388.063 255.494 388.225 255.467 388.414 255.467C389.685 255.467 390.74 256.495 390.74 257.795C390.74 259.067 389.712 260.123 388.414 260.123C388.36 260.123 388.306 260.123 388.252 260.096L388.928 267.947C388.955 267.947 389.009 267.947 389.036 267.947C390.253 267.947 391.254 268.948 391.254 270.166C391.254 271.303 390.415 272.224 389.307 272.359L390.037 281.049H412.156L412.886 272.359C411.805 272.224 410.939 271.303 410.939 270.166C410.939 268.948 411.94 267.947 413.157 267.947C413.184 267.947 413.238 267.947 413.265 267.947L413.941 260.096C413.887 260.096 413.833 260.123 413.779 260.123ZM410.615 249.321C411.886 249.321 412.94 250.35 412.94 251.649C412.94 252.922 411.913 253.978 410.615 253.978C409.344 253.978 408.289 252.949 408.289 251.649C408.289 250.377 409.344 249.321 410.615 249.321ZM409.777 257.795C409.777 259.067 408.749 260.123 407.451 260.123C406.18 260.123 405.125 259.094 405.125 257.795C405.125 256.522 406.153 255.467 407.451 255.467C408.722 255.467 409.777 256.522 409.777 257.795ZM406.315 263.913C406.315 265.131 405.315 266.133 404.098 266.133C402.881 266.133 401.881 265.131 401.881 263.913C401.881 262.695 402.881 261.693 404.098 261.693C405.342 261.693 406.315 262.695 406.315 263.913ZM404.26 249.321C405.531 249.321 406.586 250.35 406.586 251.649C406.586 252.922 405.558 253.978 404.26 253.978C402.989 253.978 401.935 252.949 401.935 251.649C401.962 250.377 402.989 249.321 404.26 249.321ZM403.422 257.795C403.422 259.067 402.394 260.123 401.096 260.123C399.826 260.123 398.771 259.094 398.771 257.795C398.771 256.522 399.798 255.467 401.096 255.467C402.394 255.467 403.422 256.522 403.422 257.795ZM400.285 263.913C400.285 265.131 399.285 266.133 398.068 266.133C396.851 266.133 395.851 265.131 395.851 263.913C395.851 262.695 396.851 261.693 398.068 261.693C399.312 261.693 400.285 262.695 400.285 263.913ZM397.933 249.321C399.204 249.321 400.258 250.35 400.258 251.649C400.258 252.922 399.231 253.978 397.933 253.978C396.662 253.978 395.607 252.949 395.607 251.649C395.607 250.377 396.635 249.321 397.933 249.321ZM397.067 257.795C397.067 259.067 396.04 260.123 394.742 260.123C393.471 260.123 392.416 259.094 392.416 257.795C392.416 256.522 393.444 255.467 394.742 255.467C396.04 255.467 397.067 256.522 397.067 257.795ZM389.253 251.649C389.253 250.377 390.28 249.321 391.578 249.321C392.849 249.321 393.904 250.35 393.904 251.649C393.904 252.922 392.876 253.978 391.578 253.978C390.307 253.978 389.253 252.949 389.253 251.649ZM389.847 263.913C389.847 262.695 390.848 261.693 392.065 261.693C393.282 261.693 394.282 262.695 394.282 263.913C394.282 265.131 393.282 266.133 392.065 266.133C390.821 266.106 389.847 265.131 389.847 263.913ZM392.768 278.098C391.632 278.098 390.74 277.178 390.74 276.068C390.74 274.931 391.659 274.038 392.768 274.038C393.904 274.038 394.796 274.958 394.796 276.068C394.796 277.178 393.877 278.098 392.768 278.098ZM392.849 270.139C392.849 268.921 393.849 267.919 395.066 267.919C396.283 267.919 397.284 268.921 397.284 270.139C397.284 271.358 396.283 272.359 395.066 272.359C393.849 272.359 392.849 271.358 392.849 270.139ZM398.311 278.098C397.176 278.098 396.283 277.178 396.283 276.068C396.283 274.931 397.203 274.038 398.311 274.038C399.447 274.038 400.339 274.958 400.339 276.068C400.366 277.178 399.447 278.098 398.311 278.098ZM398.879 270.139C398.879 268.921 399.88 267.919 401.096 267.919C402.313 267.919 403.314 268.921 403.314 270.139C403.314 271.358 402.313 272.359 401.096 272.359C399.88 272.359 398.879 271.358 398.879 270.139ZM403.882 278.098C402.746 278.098 401.854 277.178 401.854 276.068C401.854 274.931 402.773 274.038 403.882 274.038C405.017 274.038 405.91 274.958 405.91 276.068C405.91 277.178 404.99 278.098 403.882 278.098ZM404.936 270.139C404.936 268.921 405.937 267.919 407.154 267.919C408.37 267.919 409.371 268.921 409.371 270.139C409.371 271.358 408.37 272.359 407.154 272.359C405.91 272.359 404.936 271.358 404.936 270.139ZM411.453 276.068C411.453 277.205 410.534 278.098 409.425 278.098C408.289 278.098 407.397 277.178 407.397 276.068C407.397 274.931 408.316 274.038 409.425 274.038C410.561 274.038 411.453 274.931 411.453 276.068ZM410.155 266.106C408.938 266.106 407.938 265.104 407.938 263.886C407.938 262.668 408.938 261.666 410.155 261.666C411.372 261.666 412.372 262.668 412.372 263.886C412.372 265.104 411.372 266.106 410.155 266.106Z" fill="#6D6E71"/>
                <path d="M417.564 244.097C417.564 242.283 416.077 240.794 414.265 240.794H387.928C386.116 240.794 384.629 242.283 384.629 244.097C384.629 244.8 384.845 245.45 385.223 245.992L417.186 245.586C417.429 245.152 417.564 244.638 417.564 244.097Z" fill="#D1D3D4"/>
                <path d="M385.25 245.992C385.845 246.831 386.819 247.399 387.955 247.399H414.292C415.563 247.399 416.672 246.668 417.213 245.586L385.25 245.992Z" fill="#BDBEBF"/>
                <path d="M403.476 281.022H398.987V286.409H403.476V281.022Z" fill="#A4A5A6"/>
                <path d="M409.019 286.409H393.444V288.683H409.019V286.409Z" fill="#BDBEBF"/>
                <path d="M81.8526 271.358V241.552C80.6628 241.146 79.3918 240.902 78.0398 240.902C73.4158 240.902 69.4408 243.555 67.4668 247.399H43.8061C39.8311 247.399 36.5592 250.269 35.8832 254.059H28.1495C19.2531 254.059 12.0332 261.287 12.0332 270.193V277.53H73.3347C73.3347 277.503 81.8526 278.071 81.8526 271.358Z" fill="#9AB554"/>
                <path d="M81.8526 241.552V271.358C81.8526 278.071 73.3617 277.53 73.3617 277.53H12.0332V288.629H87.8827V246.181C86.4495 244.015 84.3133 242.391 81.8526 241.552Z" fill="#849C48"/>
                <path d="M54.1357 256.306C50.5122 256.306 47.5918 259.229 47.5918 262.857C47.5918 263.101 47.6459 263.344 47.6729 263.561H33.2332C31.6107 263.561 30.3127 264.86 30.3127 266.485C30.3127 268.109 31.6107 269.408 33.2332 269.408H54.1357C57.7592 269.408 60.6796 266.485 60.6796 262.857C60.6796 259.229 57.7592 256.306 54.1357 256.306Z" fill="#849C48"/>
                <path d="M74.0107 242.039L85.3948 288.602H65.2224L74.0107 242.039Z" fill="#B9B9BA"/>
                <path d="M353.775 278.667H70.252V283.621H353.775V278.667Z" fill="#6D6E71"/>
                <path d="M353.775 283.648H70.252V288.602H353.775V283.648Z" fill="#535457"/>
                <path d="M336.09 176.31H87.8826V278.667H336.09V176.31Z" fill="#009E84"/>
                <path d="M269.137 139.032C261.133 115.074 238.527 97.7755 211.892 97.7755C185.257 97.7755 162.651 115.047 154.646 139.032H85.3679V165.454H338.443V139.032H269.137Z" fill="#6B644D"/>
                <path d="M115.762 204.518V247.129H271.598V278.667H308.238V247.129V204.518H115.762Z" fill="#007562"/>
                <path d="M109.569 204.518H92.9123V211.827H109.569V204.518Z" fill="#007562"/>
                <path d="M109.569 216.89H92.9123V224.199H109.569V216.89Z" fill="#007562"/>
                <path d="M109.569 229.289H92.9123V236.598H109.569V229.289Z" fill="#007562"/>
                <path d="M109.569 241.66H92.9123V248.969H109.569V241.66Z" fill="#007562"/>
                <path d="M109.569 254.059H92.9123V261.368H109.569V254.059Z" fill="#007562"/>
                <path d="M109.569 266.431H92.9123V273.74H109.569V266.431Z" fill="#007562"/>
                <path d="M330.79 204.518H314.133V211.827H330.79V204.518Z" fill="#007562"/>
                <path d="M330.79 216.89H314.133V224.199H330.79V216.89Z" fill="#007562"/>
                <path d="M330.79 229.289H314.133V236.598H330.79V229.289Z" fill="#007562"/>
                <path d="M330.79 241.66H314.133V248.969H330.79V241.66Z" fill="#007562"/>
                <path d="M330.79 254.059H314.133V261.368H330.79V254.059Z" fill="#007562"/>
                <path d="M330.79 266.431H314.133V273.74H330.79V266.431Z" fill="#007562"/>
                <path d="M338.605 165.454H211.973H85.3679L75.6061 188.005H211.973H348.367L338.605 165.454Z" fill="#FF665D"/>
                <path d="M85.3948 197.75C90.776 197.75 95.1295 193.392 95.1295 188.005H75.6602C75.6331 193.392 80.0137 197.75 85.3948 197.75Z" fill="#FF7E75"/>
                <path d="M104.864 197.75C110.245 197.75 114.599 193.392 114.599 188.005H95.1295C95.1295 193.392 99.4831 197.75 104.864 197.75Z" fill="#FF7E75"/>
                <path d="M124.334 197.75C129.715 197.75 134.068 193.392 134.068 188.005H114.599C114.599 193.392 118.953 197.75 124.334 197.75Z" fill="#FF7E75"/>
                <path d="M143.83 197.75C149.211 197.75 153.565 193.392 153.565 188.005H134.095C134.095 193.392 138.449 197.75 143.83 197.75Z" fill="#FF7E75"/>
                <path d="M163.299 197.75C168.681 197.75 173.034 193.392 173.034 188.005H153.565C153.565 193.392 157.918 197.75 163.299 197.75Z" fill="#FF7E75"/>
                <path d="M182.769 197.75C188.15 197.75 192.504 193.392 192.504 188.005H173.034C173.034 193.392 177.415 197.75 182.769 197.75Z" fill="#FF7E75"/>
                <path d="M202.265 197.75C207.646 197.75 212 193.392 212 188.005H192.531C192.531 193.392 196.884 197.75 202.265 197.75Z" fill="#FF7E75"/>
                <path d="M221.735 197.75C227.116 197.75 231.469 193.392 231.469 188.005H212C212 193.392 216.354 197.75 221.735 197.75Z" fill="#FF7E75"/>
                <path d="M241.231 197.75C246.612 197.75 250.966 193.392 250.966 188.005H231.496C231.469 193.392 235.85 197.75 241.231 197.75Z" fill="#FF7E75"/>
                <path d="M260.7 197.75C266.082 197.75 270.435 193.392 270.435 188.005H250.966C250.966 193.392 255.319 197.75 260.7 197.75Z" fill="#FF7E75"/>
                <path d="M280.17 197.75C285.551 197.75 289.905 193.392 289.905 188.005H270.435C270.435 193.392 274.789 197.75 280.17 197.75Z" fill="#FF7E75"/>
                <path d="M299.666 197.75C305.047 197.75 309.401 193.392 309.401 188.005H289.932C289.932 193.392 294.285 197.75 299.666 197.75Z" fill="#FF7E75"/>
                <path d="M319.136 197.75C324.517 197.75 328.87 193.392 328.87 188.005H309.401C309.401 193.392 313.755 197.75 319.136 197.75Z" fill="#FF7E75"/>
                <path d="M338.632 197.75C344.013 197.75 348.367 193.392 348.367 188.005H328.897C328.87 193.392 333.251 197.75 338.632 197.75Z" fill="#FF7E75"/>
                <path d="M271.598 247.129H115.762V251.325H271.598V247.129Z" fill="#E6E7E8"/>
                <path d="M265.946 257.714H115.762V278.667H265.946V257.714Z" fill="#007562"/>
                <path d="M141.667 208.741H135.799L119.304 224.307V231.914L141.667 210.799V208.741Z" fill="#B3F0FF"/>
                <path d="M119.304 208.741V224.307L135.799 208.741H119.304Z" fill="#8AE8FF"/>
                <path d="M141.667 210.799L119.304 231.914V242.256L141.667 221.14V210.799Z" fill="#8AE8FF"/>
                <path d="M141.667 221.14L119.304 242.256V242.391H127.525L141.667 229.018V221.14Z" fill="#B3F0FF"/>
                <path d="M141.667 229.018L127.525 242.391H141.667V229.018Z" fill="#8AE8FF"/>
                <path d="M167.572 229.424L153.835 242.391H167.572V229.424Z" fill="#8AE8FF"/>
                <path d="M145.209 208.741V224.686L162.11 208.741H145.209Z" fill="#8AE8FF"/>
                <path d="M167.572 208.741H162.11L145.209 224.686V232.293L167.572 211.178V208.741Z" fill="#B3F0FF"/>
                <path d="M167.572 221.546L145.507 242.391H153.835L167.572 229.424V221.546Z" fill="#B3F0FF"/>
                <path d="M167.572 211.178L145.209 232.293V242.391H145.507L167.572 221.546V211.178Z" fill="#8AE8FF"/>
                <path d="M171.141 208.741V224.118L187.42 208.741H171.141Z" fill="#8AE8FF"/>
                <path d="M193.504 210.609L171.141 231.725V242.093L193.504 220.978V210.609Z" fill="#8AE8FF"/>
                <path d="M193.504 208.741H187.42L171.141 224.118V231.725L193.504 210.609V208.741Z" fill="#B3F0FF"/>
                <path d="M193.504 220.978L171.141 242.093V242.391H179.145L193.504 228.855V220.978Z" fill="#B3F0FF"/>
                <path d="M193.504 228.855L179.145 242.391H193.504V228.855Z" fill="#8AE8FF"/>
                <path d="M219.409 208.741H213.758L197.047 224.524V232.131L219.409 211.015V208.741Z" fill="#B3F0FF"/>
                <path d="M197.047 208.741V224.524L213.758 208.741H197.047Z" fill="#8AE8FF"/>
                <path d="M219.409 229.234L205.483 242.391H219.409V229.234Z" fill="#8AE8FF"/>
                <path d="M219.409 221.357L197.128 242.391H205.483L219.409 229.234V221.357Z" fill="#B3F0FF"/>
                <path d="M219.409 211.015L197.047 232.131V242.391H197.128L219.409 221.357V211.015Z" fill="#8AE8FF"/>
                <path d="M245.314 208.741H240.068L222.952 224.903V232.51L245.314 211.394V208.741Z" fill="#B3F0FF"/>
                <path d="M222.952 208.741V224.903L240.068 208.741H222.952Z" fill="#8AE8FF"/>
                <path d="M245.314 229.64L231.794 242.391H245.314V229.64Z" fill="#8AE8FF"/>
                <path d="M245.314 221.763L223.465 242.391H231.794L245.314 229.64V221.763Z" fill="#B3F0FF"/>
                <path d="M245.314 211.394L222.952 232.51V242.391H223.465L245.314 221.763V211.394Z" fill="#8AE8FF"/>
                <path d="M271.219 208.741H265.406L248.857 224.334V231.968L271.219 210.826V208.741Z" fill="#B3F0FF"/>
                <path d="M248.857 208.741V224.334L265.406 208.741H248.857Z" fill="#8AE8FF"/>
                <path d="M271.219 210.826L248.857 231.969V242.31L271.219 221.194V210.826Z" fill="#8AE8FF"/>
                <path d="M271.219 221.194L248.857 242.31V242.391H257.104L271.219 229.072V221.194Z" fill="#B3F0FF"/>
                <path d="M271.219 229.072L257.104 242.391H271.219V229.072Z" fill="#8AE8FF"/>
                <path d="M275.357 278.667H304.371V240.117L275.357 267.513V278.667Z" fill="#8AE8FF"/>
                <path d="M304.371 208.741H275.357V236.273L304.371 208.877V208.741Z" fill="#8AE8FF"/>
                <path d="M275.357 267.513L304.371 240.117V230.561L275.357 257.957V267.513Z" fill="#B3F0FF"/>
                <path d="M304.371 208.877L275.357 236.273V245.829L304.371 218.433V208.877Z" fill="#B3F0FF"/>
                <path d="M275.357 245.829V257.957L304.371 230.561V218.433L275.357 245.829Z" fill="#8AE8FF"/>
                <path d="M255.671 139.114C248.532 121.95 231.632 109.876 211.892 109.876C192.152 109.876 175.252 121.95 168.113 139.114H255.671Z" fill="#8A8063"/>
                <path d="M282.387 156.927C280.278 156.927 278.547 155.194 278.547 153.082C278.547 150.971 280.278 149.238 282.387 149.238C284.496 149.238 286.227 150.971 286.227 153.082C286.254 155.194 284.524 156.927 282.387 156.927ZM282.387 150.24C280.819 150.24 279.548 151.512 279.548 153.082C279.548 154.653 280.819 155.925 282.387 155.925C283.956 155.925 285.227 154.653 285.227 153.082C285.227 151.512 283.956 150.24 282.387 150.24Z" fill="white"/>
                <path d="M139.125 156.927C137.016 156.927 135.285 155.194 135.285 153.082C135.285 150.971 137.016 149.238 139.125 149.238C141.234 149.238 142.965 150.971 142.965 153.082C142.992 155.194 141.261 156.927 139.125 156.927ZM139.125 150.24C137.557 150.24 136.286 151.512 136.286 153.082C136.286 154.653 137.557 155.925 139.125 155.925C140.693 155.925 141.964 154.653 141.964 153.082C141.964 151.512 140.693 150.24 139.125 150.24Z" fill="white"/>
                <path d="M74.0107 242.039L65.2224 288.602H61.8694L70.6577 242.039H74.0107Z" fill="#F0F0F0"/>
                <path d="M44.0495 242.039H70.6577L61.8694 288.602H35.2612L44.0495 242.039Z" fill="white"/>
                <path d="M42.8326 283.242H56.6505L59.0842 269.408H45.2663L42.8326 283.242Z" fill="#D7D8D9"/>
                <path d="M65.6281 250.621H45.4827L46.1046 247.318H66.25L65.6281 250.621Z" fill="#D7D8D9"/>
                <path d="M64.6005 256.766H44.4551L45.077 253.436H65.2224L64.6005 256.766Z" fill="#D7D8D9"/>
                <path d="M63.573 262.884H43.4276L44.0495 259.554H64.1949L63.573 262.884Z" fill="#D7D8D9"/>
                <path d="M208.025 20.5136H198.561C196.641 20.5136 195.099 18.9706 195.099 17.0485C195.099 15.1264 196.641 13.5834 198.561 13.5834H206.808C210.432 13.5834 213.379 10.6326 213.379 7.005C213.379 3.37742 210.432 0.426636 206.808 0.426636H142.884C139.26 0.426636 136.313 3.37742 136.313 7.005C136.313 10.6326 139.26 13.5834 142.884 13.5834H158.567C160.487 13.5834 162.029 15.1264 162.029 17.0485C162.029 18.9706 160.487 20.5136 158.567 20.5136H115.978C110.732 20.5136 106.514 24.7639 106.514 29.9886C106.514 35.2405 110.759 39.4637 115.978 39.4637H208.025C213.271 39.4637 217.489 35.2134 217.489 29.9886C217.489 24.7368 213.244 20.5136 208.025 20.5136Z" fill="#FFEAD1"/>
                <path d="M300.883 57.6286C300.883 60.6876 298.395 63.1782 295.34 63.1782H233.173C230.117 63.1782 227.63 60.6876 227.63 57.6286C227.63 54.5695 230.117 52.0789 233.173 52.0789H295.34C298.395 52.0789 300.883 54.5695 300.883 57.6286Z" fill="#FFEAD1"/>
                <path d="M315.35 20.0805C315.35 23.8976 312.267 26.9837 308.455 26.9837H271.382C267.569 26.9837 264.486 23.8976 264.486 20.0805C264.486 16.2634 267.569 13.1773 271.382 13.1773H308.455C312.267 13.1773 315.35 16.2634 315.35 20.0805Z" fill="#FFEAD1"/>
                <path d="M394.471 74.5753H376.949C375.083 74.5753 373.596 73.0593 373.596 71.2184C373.596 69.3505 375.11 67.8616 376.949 67.8616H394.607C397.933 67.8616 400.637 65.1544 400.637 61.8246C400.637 58.4949 397.933 55.7877 394.607 55.7877H344.473C341.147 55.7877 338.443 58.4949 338.443 61.8246C338.443 65.1544 341.147 67.8616 344.473 67.8616H357.236C359.102 67.8616 360.589 69.3776 360.589 71.2184C360.589 73.0864 359.075 74.5753 357.236 74.5753H344.608C339.335 74.5753 335.063 78.8526 335.063 84.1315C335.063 89.4104 339.335 93.6877 344.608 93.6877H394.498C399.771 93.6877 404.044 89.4104 404.044 84.1315C404.044 78.8526 399.717 74.5753 394.471 74.5753Z" fill="#FFEAD1"/>
                <path d="M335.063 26.9837C338.871 26.9837 341.958 23.893 341.958 20.0805C341.958 16.268 338.871 13.1773 335.063 13.1773C331.255 13.1773 328.167 16.268 328.167 20.0805C328.167 23.893 331.255 26.9837 335.063 26.9837Z" fill="#FFEAD1"/>
                <path d="M75.6332 38.6786C75.6332 35.4841 73.0373 32.8582 69.8194 32.8582H32.1245C28.9337 32.8582 26.3107 35.4571 26.3107 38.6786C26.3107 41.873 28.9066 44.4989 32.1245 44.4989H69.8464C73.0372 44.4989 75.6332 41.9001 75.6332 38.6786Z" fill="#FFEAD1"/>
                <path d="M115.762 325.798C115.762 329.155 113.058 331.862 109.705 331.862H36.3699C33.0168 331.862 30.3127 329.155 30.3127 325.798C30.3127 322.441 33.0168 319.734 36.3699 319.734H109.732C113.058 319.734 115.762 322.468 115.762 325.798Z" fill="#6D6E71"/>
                <path d="M347.123 323.281C347.123 326.637 344.419 329.344 341.066 329.344H309.509C306.156 329.344 303.452 326.637 303.452 323.281C303.452 319.924 306.156 317.216 309.509 317.216H341.066C344.419 317.216 347.123 319.924 347.123 323.281Z" fill="#6D6E71"/>
                <path d="M129.58 325.798C129.58 329.155 132.284 331.862 135.637 331.862C138.99 331.862 141.694 329.155 141.694 325.798C141.694 322.441 138.99 319.734 135.637 319.734C132.284 319.734 129.58 322.468 129.58 325.798Z" fill="#6D6E71"/>
                <path d="M366.214 329.344C369.559 329.344 372.271 326.63 372.271 323.281C372.271 319.931 369.559 317.216 366.214 317.216C362.868 317.216 360.157 319.931 360.157 323.281C360.157 326.63 362.868 329.344 366.214 329.344Z" fill="#6D6E71"/>
                <path d="M267.839 316.594H217.462C213.92 316.594 211.027 319.463 211.027 323.037C211.027 323.335 211.054 323.605 211.081 323.903H181.822C178.74 323.903 176.252 326.394 176.252 329.48C176.252 332.566 178.74 335.057 181.822 335.057H240.285C243.367 335.057 245.855 332.566 245.855 329.48H267.866C271.409 329.48 274.302 326.61 274.302 323.037C274.302 319.463 271.382 316.594 267.839 316.594Z" fill="#6D6E71"/>
                <path d="M133.338 249.24H112.922V257.253H130.878L133.338 249.24Z" fill="#FF665D"/>
                <path d="M130.878 257.253H112.922V259.311H134.393V249.24H133.338L130.878 257.253Z" fill="#E65C53"/>
                <path d="M117.736 259.311H115.14V281.184H117.736V259.311Z" fill="white"/>
                <path d="M132.176 259.311H129.58V281.184H132.176V259.311Z" fill="white"/>
                <path d="M134.393 270.248H112.922V271.926H134.393V270.248Z" fill="#E65C53"/>
                <path d="M134.393 267.703H112.922V270.248H134.393V267.703Z" fill="#FF665D"/>
                <path d="M179.389 249.24H158.973V257.253H176.928L179.389 249.24Z" fill="#FF665D"/>
                <path d="M176.928 257.253H158.973V259.311H180.443V249.24H179.389L176.928 257.253Z" fill="#E65C53"/>
                <path d="M163.786 259.311H161.19V281.184H163.786V259.311Z" fill="white"/>
                <path d="M178.226 259.311H175.63V281.184H178.226V259.311Z" fill="white"/>
                <path d="M180.443 270.248H158.973V271.926H180.443V270.248Z" fill="#E65C53"/>
                <path d="M180.443 267.703H158.973V270.248H180.443V267.703Z" fill="#FF665D"/>
                <path d="M138.99 258.878C140.369 260.664 142.262 263.859 142.478 268.028H145.426C145.236 264.292 143.911 261.206 142.586 258.959L138.99 258.878Z" fill="#E6E7E8"/>
                <path d="M142.424 270.329L145.372 270.518C145.453 269.652 145.453 268.813 145.426 268.028H142.478C142.532 268.759 142.505 269.517 142.424 270.329Z" fill="#CDCECF"/>
                <path d="M154.079 259.257L150.671 259.175C149.373 261.395 148.13 264.4 147.94 268.028H150.888C151.077 264.156 152.727 261.125 154.079 259.257Z" fill="#E6E7E8"/>
                <path d="M150.888 268.028H147.94C147.886 268.894 147.913 269.787 147.994 270.708L150.996 270.897C150.861 269.896 150.834 268.948 150.888 268.028Z" fill="#CDCECF"/>
                <path d="M137.557 281.184H141.261C143.938 277.34 145.101 273.74 145.399 270.518L142.451 270.329C142.127 273.523 140.748 277.205 137.557 281.184Z" fill="#E6E7E8"/>
                <path d="M155.809 281.184C152.781 277.449 151.402 273.956 150.996 270.897L147.994 270.708C148.292 273.875 149.482 277.422 152.105 281.184H155.809Z" fill="#E6E7E8"/>
                <path d="M139.558 255.061L137.557 257.253C137.665 257.335 138.26 257.903 138.99 258.878L142.559 258.959C141.099 256.522 139.612 255.115 139.558 255.061Z" fill="#CDCECF"/>
                <path d="M155.809 257.253L153.808 255.061C153.754 255.115 152.186 256.604 150.672 259.175L154.079 259.257C154.944 258.065 155.701 257.362 155.809 257.253Z" fill="#CDCECF"/>
                <path d="M152.862 268.028C152.862 268.84 152.186 269.517 151.375 269.517H141.991C141.18 269.517 140.504 268.84 140.504 268.028C140.504 267.216 141.18 266.539 141.991 266.539H151.375C152.186 266.539 152.862 267.216 152.862 268.028Z" fill="white"/>
                <path d="M165.03 254.709H128.363V258.038H165.03V254.709Z" fill="white"/>
                <path d="M208.404 249.24H187.988V257.253H205.943L208.404 249.24Z" fill="#FF665D"/>
                <path d="M205.943 257.253H187.988V259.311H209.458V249.24H208.404L205.943 257.253Z" fill="#E65C53"/>
                <path d="M192.801 259.311H190.205V281.184H192.801V259.311Z" fill="white"/>
                <path d="M207.241 259.311H204.645V281.184H207.241V259.311Z" fill="white"/>
                <path d="M209.458 270.248H187.988V271.926H209.458V270.248Z" fill="#E65C53"/>
                <path d="M209.458 267.703H187.988V270.248H209.458V267.703Z" fill="#FF665D"/>
                <path d="M254.454 249.24H234.011V257.253H251.993L254.454 249.24Z" fill="#FF665D"/>
                <path d="M251.993 257.253H234.011V259.311H255.509V249.24H254.454L251.993 257.253Z" fill="#E65C53"/>
                <path d="M238.852 259.311H236.256V281.184H238.852V259.311Z" fill="white"/>
                <path d="M253.291 259.311H250.695V281.184H253.291V259.311Z" fill="white"/>
                <path d="M255.482 270.248H234.011V271.926H255.482V270.248Z" fill="#E65C53"/>
                <path d="M255.482 267.703H234.011V270.248H255.482V267.703Z" fill="#FF665D"/>
                <path d="M214.055 258.878C215.434 260.664 217.327 263.859 217.543 268.028H220.491C220.301 264.292 218.977 261.206 217.652 258.959L214.055 258.878Z" fill="#E6E7E8"/>
                <path d="M217.489 270.329L220.437 270.518C220.518 269.652 220.518 268.813 220.491 268.028H217.543C217.57 268.759 217.57 269.517 217.489 270.329Z" fill="#CDCECF"/>
                <path d="M229.144 259.257L225.737 259.175C224.439 261.395 223.195 264.4 223.006 268.028H225.953C226.142 264.156 227.792 261.125 229.144 259.257Z" fill="#E6E7E8"/>
                <path d="M225.926 268.028H222.979C222.925 268.894 222.952 269.787 223.033 270.708L226.034 270.897C225.926 269.896 225.899 268.948 225.926 268.028Z" fill="#CDCECF"/>
                <path d="M212.622 281.184H216.326C219.004 277.34 220.166 273.74 220.464 270.518L217.516 270.329C217.165 273.523 215.813 277.205 212.622 281.184Z" fill="#E6E7E8"/>
                <path d="M230.874 281.184C227.846 277.449 226.467 273.956 226.061 270.897L223.06 270.708C223.357 273.875 224.547 277.422 227.17 281.184H230.874Z" fill="#E6E7E8"/>
                <path d="M214.623 255.061L212.622 257.253C212.73 257.335 213.325 257.903 214.055 258.878L217.624 258.959C216.164 256.522 214.677 255.115 214.623 255.061Z" fill="#CDCECF"/>
                <path d="M230.875 257.253L228.873 255.061C228.819 255.115 227.251 256.604 225.737 259.175L229.144 259.257C230.009 258.065 230.739 257.362 230.875 257.253Z" fill="#CDCECF"/>
                <path d="M227.9 268.028C227.9 268.84 227.224 269.517 226.413 269.517H217.03C216.218 269.517 215.542 268.84 215.542 268.028C215.542 267.216 216.218 266.539 217.03 266.539H226.413C227.251 266.539 227.9 267.216 227.9 268.028Z" fill="white"/>
                <path d="M240.068 254.709H203.401V258.038H240.068V254.709Z" fill="white"/>
            </svg>


        </div>
        <div class="text-area-rest">
            <h3>{{$t("EVERYTHING IS READY!")}}</h3>
            <h4>{{$t('Just tell us a little about your restaurant.')}}</h4>
            <p>{{$t('We empowered restaurants around the world and we want to customize this account according to your restaurant')}}</p>
            <router-link to="/add-restaurant" class="btn-round-blue" style="color:white">{{$t("Let's do it")}}</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Ready.vue",
        mounted(){
            this.$Progress.finish()
        },
        beforeDestroy(){
            this.$Progress.start()
        },
    }
</script>

<style lang="scss" scoped>
    .ready{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 40px;
        .restraunt{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            svg{
                border-radius: 20px;
                height: 300px;
                width: 363px;
            }
        }
        .text-area-rest{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3,
            h4,
            p{
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
            h3{
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 46px;
                margin-top: 20px;
                color: #000000;
            }
            h4{
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 39px;
                /* identical to box height */


                color: #000000;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 38px;
                text-align: center;
                max-width: 450px;
                color: #000000;
            }
        }
    }

    @media (max-width: 560px) {
        .ready{
            .restraunt{
                svg{
                    width: 200px;
                    height: auto;
                }
            }
            .text-area-rest{
                h3{
                    font-size: 22px;
                }
                h4{
                    font-size: 18px;
                }
                p{
                    font-size: 15px;
                }
            }
        }

    }
</style>