<template>
    <div class="overlay popup-anim">
        <div class="alert-order">
            <div>
                <svg
                    v-if="type == 'error'"
                    width="99"
                    height="99"
                    viewBox="0 0 99 99"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M49.5 99C76.8381 99 99 76.8381 99 49.5C99 22.1619 76.8381 0 49.5 0C22.1619 0 0 22.1619 0 49.5C0 76.8381 22.1619 99 49.5 99Z"
                        fill="#D75A4A"
                    />
                    <path
                        d="M31.6802 67.3202L49.5002 49.5002L67.3202 31.6802"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                    />
                    <path
                        d="M31.6802 31.6802L49.5002 49.5002L67.3202 67.3202"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                    />
                </svg>
                <svg
                    v-if="type == 'customeError'"
                    width="99"
                    height="99"
                    viewBox="0 0 99 99"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M49.5 99C76.8381 99 99 76.8381 99 49.5C99 22.1619 76.8381 0 49.5 0C22.1619 0 0 22.1619 0 49.5C0 76.8381 22.1619 99 49.5 99Z"
                        fill="#D75A4A"
                    />
                    <path
                        d="M31.6802 67.3202L49.5002 49.5002L67.3202 31.6802"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                    />
                    <path
                        d="M31.6802 31.6802L49.5002 49.5002L67.3202 67.3202"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                    />
                </svg>
                <svg
                    v-if="type == 'success' || type == 'customeSuccess'"
                    width="99"
                    height="99"
                    viewBox="0 0 99 99"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M49.5 99C76.8381 99 99 76.8381 99 49.5C99 22.1619 76.8381 0 49.5 0C22.1619 0 0 22.1619 0 49.5C0 76.8381 22.1619 99 49.5 99Z"
                        fill="#25AE88"
                    />
                    <path
                        d="M75.2398 29.7002L43.5598 65.3402L23.7598 49.5002"
                        stroke="white"
                        stroke-width="2"
                        e
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <svg
                    v-if="type == 'confirmation'"
                    width="100"
                    height="99"
                    viewBox="0 0 100 99"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M49.9587 8.25C27.1887 8.25 8.75 26.73 8.75 49.5C8.75 72.27 27.1887 90.75 49.9587 90.75C72.77 90.75 91.25 72.27 91.25 49.5C91.25 26.73 72.77 8.25 49.9587 8.25ZM54.125 53.625V28.875H45.875V53.625H54.125ZM54.125 70.125V61.875H45.875V70.125H54.125ZM17 49.5C17 67.7325 31.7675 82.5 50 82.5C68.2325 82.5 83 67.7325 83 49.5C83 31.2675 68.2325 16.5 50 16.5C31.7675 16.5 17 31.2675 17 49.5Z"
                        fill="#0384C6"
                    />
                </svg>
            </div>
            <div class="title" v-if="type == 'customeError'">
                <h2>Oh snap!</h2>
                <h4>{{ message }}</h4>
            </div>
            <div class="title" v-if="type == 'error'">
                <h2>Oh snap!</h2>
                <h4>An error occured while placing an order.</h4>
            </div>
            <div class="title" v-if="type == 'success'">
                <h2>{{$t('Congrats!')}}</h2>
                <h4>{{$t('Order successfully created with id #')}}{{ id }}</h4>
            </div>
            <div class="title" v-if="type == 'customeSuccess'">
                <h2>{{$t('Congrats!')}}</h2>
                <h4>{{ message }}</h4>
            </div>
            <div class="title" v-if="type == 'confirmation'">
                <h2>Confirmation!</h2>
                <h4>Do you want to delete it?</h4>
            </div>
            <div
                class="footer"
                @click="$emit('closeMe')"
                v-if="type != 'confirmation'"
                :class="{
                    error: type == 'error' || type == 'customeError',
                    success: type == 'success' || type == 'customeSuccess'
                }"
            >
                <h4>{{$t('Dismiss')}}</h4>
            </div>
            <div
                v-else
                class="confirmation-footer d-flex justify-content-around mb-5 align-content-center"
            >
                <button
                    type="button"
                    class="btn btn-white"
                    style="color: var(--font-color);border: 1px solid #cccccc;background: #e1dede;border-radius: 37.5px;"
                    @click="$emit('closeMe')"
                >
                    {{$t('Dismiss')}}
                </button>
                <button
                    type="button"
                    class="btn btn-round-blue"
                    @click="$emit('delete')"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Alert",
    props: ["id", "type", "message"],
    mounted() {
        if (this.type != "confirmation") {
            document.querySelector(".footer").focus();
        } else {
            document.querySelector(".confirmation-footer").focus();
        }
        window.addEventListener("click", e => {
            if (e.target == this.$el) {
                this.$emit("closeMe");
            }
        });
    }
};
</script>

<style lang="scss" scoped>

@keyframes popup_anim {
    0%{
        transform:scale(0.5);
    }   
    50%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
.btn.btn-white {
    box-shadow: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
}
.btn-round-blue {
    background: #eb5757;
    font-weight: 600;
    width: 106px;
    height: 36px;
}
.overlay {
    animation: popup_anim .3s ease-in;
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    .alert-order {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        width: 450px;
        background-color: #fff;
        .title {
            padding: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
            h4 {
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #000;
            }
            h2 {
                text-align: center;
                font-weight: 500;
                font-size: 22px;
            }
        }

        .confirmation-footer {
            width: 100%;
        }
        .footer {
            &.error {
                background-color: #d75a4a;
            }
            &.success {
                background-color: #25ae88;
            }
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 60px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            h4 {
                text-align: center;
                font-size: 22px;
                color: #fff;
                margin: 0;
            }
        }
    }
    .footer:focus {
        box-shadow: 0px 0px 3px 0px #eee;
    }
}
@media(max-width:450px){
    .alert-order {
        width:320px!important;
        h4{
            font-size:15px;
        }
    }
}
</style>
