<template>
    <div class="order-details mt-5 mb-5">
        <div v-show="items.length > 0" style="width:100%;">
            <div class="order-inner">
                <div
                    style="display:flex;justify-content:center;align-items:center;padding:10px;background-color:#D6D6D6;border-radius:5px;"
                >
                    <div class="mr-3">
                        <img
                            src="/images/general/order_img.png"
                            style="width:20px;height:20px;"
                        />
                    </div>
                    <div>
                        <h5 style="margin:0px;color:white;">
                            {{$t("CUSTOMER RECEIPT")}}
                        </h5>
                    </div>
                </div>
                <!-- class="order-line" -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{$t('Plate')}}</th>
                            <th>{{$t('Price')}}</th>
                            <th>{{$t('Quantity')}}</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, index) in items">
                            <tr :key="index">
                                <td>
                                    <p>{{ item.name }}</p>
                                </td>
                                <td>
                                    <p>{{ item.price }}</p>
                                </td>
                                <td class="quantity">
                                    <span
                                        class="btn-round"
                                        @click="decreaseItem(index, $event)"
                                        style="cursor:pointer"
                                        >-</span
                                    >
                                    <p>{{ item.quantity }}</p>
                                    <span
                                        class="btn-round hover"
                                        style="cursor:pointer"
                                        @click="increaseItem(index, $event)"
                                        >+</span
                                    >
                                </td>
                                <td>
                                    <p class="total-each">{{ item.total }}</p>
                                </td>
                                <td>
                                    <span
                                        class="hoversl"
                                        @click="removeItem(index, $event)"
                                        >&times;</span
                                    >
                                </td>
                            </tr>
                            <tr
                                v-for="(ch_description,
                                index) in item.ch_description"
                                colspan="5"
                            >
                                <td colspan="5" v-if="ch_description">
                                    {{ ch_description }}
                                </td>
                            </tr>
                            <tr v-if="item.note">
                                <td colspan="5">
                                    <p>Note: {{ item.note }}</p>
                                </td>
                            </tr>
                            <tr v-for="(extra, index) in item.extras">
                                <td colspan="2">
                                    <p>{{ extra.name }}</p>
                                </td>
                                <td colspan="3">
                                    <p>
                                        {{ extra.price }}
                                        {{ $store.state.restaurant.currency }}
                                    </p>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>

                <div class="subtotal">
                    <h5>Subtotal</h5>
                    <h5>
                        {{ subtotal }} {{ $store.state.restaurant.currency }}
                    </h5>
                </div>
                <span><b>{{$t('Select Tip (optional)')}}</b></span>
                <div class="custom-control custom-radio radio-flex">
                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio0"
                            name="tip"
                            value="0"
                            v-model="tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio0"
                            >0%</label
                        >
                    </div>

                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio1"
                            name="tip"
                            value="5"
                            v-model="tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio1"
                            >5%</label
                        >
                    </div>

                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio2"
                            name="tip"
                            value="10"
                            v-model="tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio2"
                            >10%</label
                        >
                    </div>
                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio3"
                            name="tip"
                            value="15"
                            v-model="tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio3"
                            >15%</label
                        >
                    </div>

                    <div class="radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="radio4"
                            name="tip"
                            value="20"
                            v-model="tip"
                            @change="takeTip()"
                        />
                        <label class="custom-control-label" for="radio4"
                            >20%</label
                        >
                    </div>
                </div>

                <div class="total">
                    <h5>Total</h5>
                    <h5>
                        {{ Math.round(parseFloat(total) * 100) / 100 }}
                        {{ $store.state.restaurant.currency }}
                    </h5>
                </div>
            </div>

            <form @submit.prevent="">
                <div class="details-customer">
                    <select
                        data-v-6a48390c=""
                        class="form-control"
                        v-model="table"
                        :class="{ 'is-invalid': tableError }"
                    >
                        <option value="">--- {{$t('Select Table')}} ---</option>
                        <option
                            :value="table.name"
                            v-for="(table, index) in tables"
                            :key="index"
                            >{{ table.name }}</option
                        >
                    </select>

                    <br />
                    <input
                        type="email"
                        class="form-control"
                        :placeholder="$t('Email to send receipt')"
                        v-model="email"
                        @keydown="errors.clear('email')"
                        :disabled="receipt ? true : false"
                    />
                    <span v-if="errors.has('email')" style="color:red">
                        {{ errors.get("email") }}
                    </span>
                    <div class="form-group form-check">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            checked
                            id="receipt"
                            v-model="receipt"
                        />
                        <label class="form-check-label" for="receipt"
                            >{{$t('I don\'t want receipt')}}</label
                        >
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        :placeholder="$t('Phone number (optional)')"
                        v-model="phone"
                    />
                   
                    <br />
                    <textarea
                        type="text"
                        class="form-control"
                        rows="3"
                        :placeholder="$t('Note (optional)')"
                        v-model="optional_note"
                    ></textarea>
                    <br />
                    <p>{{$t('Choose a payment method')}}</p>

                    <div class="horizontal-flex">
                        <div>
                            <label for="card"
                                ><img
                                    src="/images/general/card.svg"
                                    alt=""
                                    style="height:20px;width:auto;"
                                />
                                {{$t('Card')}}</label
                            >
                            <input
                                id="card"
                                type="radio"
                                v-model="paymentMethod"
                                value="card"
                            />
                        </div>
                        <div>
                            <label for="cash"
                                ><img
                                    src="/images/general/cash.png"
                                    alt=""
                                    style="height:30px;width:auto;"
                                />
                                {{$t('Cash')}}</label
                            >
                            <input
                                id="cash"
                                type="radio"
                                v-model="paymentMethod"
                                value="cash"
                            />
                        </div>
                    </div>
                    <div v-show="paymentMethod == 'cash'">
                        <span>{{$t('You pay')}}:</span
                        ><input
                            type="number"
                            :class="{
                                'is-invalid': errors.has('pay')
                            }"
                            class="form-control"
                            :placeholder="$t('You pay')"
                            v-model="pay"
                            @keydown="changeChanged()"
                            @keyup="changeChanged()"
                        />
                       
                        <span
                            v-show="errors.has('pay')"
                            style="color:red"
                        >
                            {{ errors.get("pay") }}
                        </span>
                        <br />
                        <span>{{$t('You change back is')}}:</span
                        ><input
                            type="number"
                            class="form-control"
                            placeholder="Your change back is"
                            v-model="change"
                            disabled
                        />
                    </div>
                    <div v-show="paymentMethod == 'card'">
                        <Stripe
                            @getErrors="getError"
                            @sendToken="getToken(token)"
                            ref="stripe"
                            :amount="total"
                            @getId="setId"
                            :email="email"
                        />
                    </div>
                    <span
                        v-if="errors.has('nostripe')"
                        style="color:red"
                        class="mb-3"
                    >
                        {{ errors.get("nostripe") }}
                    </span>
                    <br />
                </div>
                <div class="btn-container">
                    <button
                        class="btn-round-blue1"
                        ref="payButton"
                        style="margin:0px"
                        type="submit"
                        @click="payNowOrder"
                    >
                        {{$t('Pay and Order')}}
                    </button>
                    <button
                        class="btn-later"
                        style="margin:0px"
                        ref="payButton"
                        type="submit"
                        @click="payLaterOrder"
                    >
                        {{$t('Order And Pay Later')}}
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-5" v-show="items.length <= 0" style="width: 100%">
            <div
                style="display:flex;justify-content:center;align-items:center;padding:10px;background-color:#D6D6D6;border-radius:5px;"
            >
                <div class="mr-3">
                    <img
                        src="/images/general/order_img.png"
                        alt=""
                        style="width:20px;height:20px;"
                    />
                </div>
                <div>
                    <h5 style="margin:0px;color:white;">{{$t('CUSTOMER RECEIPT')}}</h5>
                </div>
            </div>
            <div class="my-container">
                <div class="no-item-list">
                    <img
                        src="/images/general/order.png"
                        alt=""
                        class="shopping-bag-img"
                    />
                </div>
                <h4>{{$t('Nothing in order list')}}</h4>
            </div>
        </div>
        <Alert
            :type="alertType"
            v-if="alert"
            @closeMe="closeAlert"
            :message="message"
        />
    </div>
</template>
<script>
import Alert from "@/views/frontend/components/take-order/components/Alert";
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import moduleOrderManagement from "@/store/order-management/moduleOrderManagement.js";
import Stripe from "@/views/frontend/components/take-order-table/stripe-component/Stripe";
import form from "vuejs-form";
export default {
    data() {
        return {
            errors: new Errors(),
            oldTip: 0,
            tip: 0,
            tableError: false,
            message: "",
            email: "",
            receipt: false,
            phone: "",
            optional_note: "",
            change: 0,
            table: "",
            paymentMethod: "",
            alert: false,
            items: [],
            total: 0.0,
            subtotal: 0.0,
            alertType: "",
            orderType: "",
            stripeError: "",
            token: "",
            id: "",
            pay:null,
            isPhoneErr: false,
            
            cashPayment: form({
                pay: 0
            })
                .rules({
                    pay: "required",
                })
                .messages({
                    "pay.required": "payment is required",
                })
                 ,
            cardPayment: form({
                cardNo: "",
                mmyycc: ""
            })
                .rules({})
                .messages({
                    "cardNo.required": "card number is required"
                })
        };
    },

    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        if (!moduleOrderManagement.isRegistered) {
            this.$store.registerModule(
                "orderManagement",
                moduleOrderManagement
            );
            moduleOrderManagement.isRegistered = true;
        }

        this.getTables();
    },
    computed: {
        tables() {
            return this.$store.state.restaurantManagement.tables;
        }
    },
    components: {
        Alert,
        Stripe
    },
    methods: {
        setId(id) {
            this.id = id;
        },
        getError(error) {
            this.stripeError = error;
        },
        getToken(token) {
            this.token = token;
        },
        closeAlert() {
            this.alert = false;
        },
        addItem(item) {
            this.total -= this.oldTip;
            let total = parseFloat(item.total);
            this.subtotal += total;
            this.total += total;
            item.extras.forEach(element => {
                this.total += parseFloat(element.price);
            });

            this.items.push(item);

            this.oldTip = (parseFloat(this.total) * parseFloat(this.tip)) / 100;
            this.total =
                this.total +
                (parseFloat(this.total) * parseFloat(this.tip)) / 100;
        },
        increaseItem(index, e) {
            this.total -= this.oldTip;

            this.items[index].quantity =
                parseInt(this.items[index].quantity) + 1;
            this.items[index].total += parseFloat(this.items[index].price);
            // this.total =
            this.subtotal += parseFloat(this.items[index].price);
            this.total += parseFloat(this.items[index].price);

            this.items[index].extras.forEach(element => {
                this.total += parseFloat(element.price);
            });

            e.target.parentElement.lastChild.style.cursor = "pointer";

            this.oldTip = (parseFloat(this.total) * parseFloat(this.tip)) / 100;
            this.total =
                this.total +
                (parseFloat(this.total) * parseFloat(this.tip)) / 100;
        },
        decreaseItem(index, e) {
            if (this.items[index].quantity > 1) {
                this.total -= this.oldTip;

                this.items[index].quantity =
                    parseInt(this.items[index].quantity) - 1;
                let price = parseFloat(this.items[index].price);
                this.items[index].total -= price;

                this.subtotal -= price;
                this.total -= price;

                this.items[index].extras.forEach(element => {
                    this.total -= parseFloat(element.price);
                });

                this.oldTip =
                    (parseFloat(this.total) * parseFloat(this.tip)) / 100;
                this.total =
                    this.total +
                    (parseFloat(this.total) * parseFloat(this.tip)) / 100;
            }
            if (this.items[index].quantity == 1) {
                e.target.style.cursor = "not-allowed";
            }
        },
        getTables() {
            this.$store.dispatch(
                "restaurantManagement/getTables",
                this.$route.params.restaurant_id
            );
        },
        removeItem(index, event) {
            this.total -= this.oldTip;
            let quantity = parseInt(this.items[index].quantity);
            for (var i = 0; i < quantity; i++) {
                this.subtotal -= parseFloat(this.items[index].price);
                this.total -= parseFloat(this.items[index].price);

                this.items[index].extras.forEach(element => {
                    this.total -= parseFloat(element.price);
                });
            }
            this.oldTip = (parseFloat(this.total) * parseFloat(this.tip)) / 100;
            this.total =
                this.total +
                (parseFloat(this.total) * parseFloat(this.tip)) / 100;

            this.remove(index);
        },

        remove(i) {
            this.items.splice(i, 1);
            if (!this.items) {
                this.reset();
            }
        },
        takeTip() {
            this.total -= this.oldTip;
            this.oldTip = (parseFloat(this.total) * parseFloat(this.tip)) / 100;
            this.total =
                this.total +
                (parseFloat(this.total) * parseFloat(this.tip)) / 100;
        },
        reset() {
            this.total = 0;
            this.subtotal = 0;
            this.items = [];
        },
        changeChanged() {
            this.change =
                parseFloat(this.pay) - parseFloat(this.total);
        },
        payLaterOrder() {
            this.orderType = "pending";
            if (this.table == "") {
                this.tableError = true;
                this.message = "Table is not selected";
                this.alertType = "customeError";
                this.alert = true;
                return;
            } else {
                this.tableError = false;
            }
            if (this.phone == "") {
                this.isPhoneErr = true;
                this.message = "Phone is required";
                this.alertType = "customeError";
                this.alert = true;
                return;
            } else {
                this.isPhoneErr = false;
            }
            this.saveChanges();
        },
        payNowOrder() {
            this.orderType = "payed";
             if (this.phone == "") {
                this.isPhoneErr = true;
                this.message = "Phone is required";
                this.alertType = "customeError";
                this.alert = true;
                return;
            } else {
                this.isPhoneErr = false;
            }
            if (this.table == "") {
                this.tableError = true;
                this.message = "Table is not selected";
                this.alertType = "customeError";
                this.alert = true;
                return;
            } else {
                this.tableError = false;
            }
            if (!this.paymentMethod) {
                this.tableError = true;
                this.message = "Payment Method is not selected";
                this.alertType = "customeError";
                this.alert = true;
                return;
            }
            if (this.paymentMethod == "card" && this.stripeError) {
                return;
            }
            if (
                this.paymentMethod == "cash" &&
                this.cashPayment
                    .validate()
                    .errors()
                    .any()
            ) {
                this.tableError = true;
                this.message = this.cashPayment.errors().list()[0];
                this.alertType = "customeError";
                this.alert = true;
                return;
            } else if (
                this.paymentMethod == "card" &&
                this.cardPayment
                    .validate()
                    .errors()
                    .any()
            ) {
                this.tableError = true;
                this.message = this.cardPayment.errors().list()[0];
                this.alertType = "customeError";
                this.alert = true;
                return;
            }
            if (this.paymentMethod == "card") {
                let formData = {
                    email: this.email,
                    phone: this.phone,
                    optional_note: this.optional_note,
                    pay: this.pay,
                    change: this.change,
                    table: this.table,
                    items: this.items,
                    total: this.total,
                    subtotal: this.subtotal,
                    restaurant_id: this.$store.getters.get_res.id,
                    timestamp: "",
                    paymentMethod: this.paymentMethod,
                    cardNo: this.cardNo,
                    mmyycc: this.mmyycc,
                    orderType: this.orderType,
                    stripeToken: this.token,
                    id: this.id,
                    tip: this.tip,
                    tipAmount: this.oldTip,
                    serviceMode: null,
                    address: null,
                    source: "takeOrder",
                    receipt: this.receipt
                };
                this.$refs.stripe
                    .pay(formData)
                    .then(response => {
                        this.saveChanges();
                    })
                    .catch(errors => {
                        this.errorResponse(errors);
                    });
            } else {
                this.saveChanges();
            }
        },

        saveChanges() {
            this.$refs.payButton.disabled = true;
            this.$Progress.start();
            let timestamp = new Date();

            let formData = {
                id: this.id,
                email: this.email,
                receipt: this.receipt,
                phone: this.phone,
                optional_note: this.optional_note,
                pay: this.pay,
                change: this.change,
                table: this.table,
                items: this.items,
                total: this.total,
                subtotal: this.subtotal,
                restaurant_id: this.$store.getters.get_res.id,
                timestamp: timestamp,
                paymentMethod: this.paymentMethod,
                cardNo: this.cardNo,
                mmyycc: this.mmyycc,
                orderType: this.orderType,
                stripeToken: this.token,
                tip: this.tip,
                tipAmount: this.oldTip,
                serviceMode: null,
                address: null,
                source: "takeOrder"
            };

            this.$store
                .dispatch("orderManagement/storeOrder", formData)
                .then(response => {
                    this.alertType = "customeSuccess";
                    this.message = `Order successfully created with id ${response.data.data}`;
                    this.alert = true;
                    setTimeout(() => {
                        this.resetData();
                    }, 3000);
                    this.$Progress.finish();
                    this.$store.dispatch("clearCard");
                    this.$refs.payButton.disabled = false;
                })
                .catch(errors => {
                    this.errorResponse(errors);
                    this.$Progress.finish();
                    this.$refs.payButton.disabled = false;
                });
        },
        errorResponse(errors) {
            if (errors.response.data.errors.restaurantClose) {
                this.message = "Sorry ,Restaurant is Close Order not submitted";
                this.alertType = "customeError";
                this.alert = true;
                this.$Progress.finish();
                this.$store.dispatch("closeRstaurant");

                setTimeout(() => {
                    this.redirect();
                    this.resetData();
                }, 3000);
            } else {
                this.errors.record(errors.response.data);
            }
        },
        resetData() {
            this.tableError = false;
            this.message = "";
            this.email = "";
            this.receipt = "";
            this.phone = "";
            this.alert = false;
            this.optional_note = "";
            this.change = 0;
            this.table = "";
            this.paymentMethod = "";
            this.items = [];
            this.card = [];
            this.total = 0.0;
            this.subtotal = 0.0;
            this.alertType = "";
            this.pay = "";
            this.cardPayment.cardNo = "";
            this.cardPayment.mmyycc = "";
            this.orderType = "";
            this.tip = 0;
            this.oldTip = 0;
        }
    },

    watch: {}
};
</script>

<style lang="scss" scoped>
.no-item-list{
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        padding-bottom: 30px;
    }
}
.btn-container {
    display: flex;
    justify-content: space-around;
}
.btn-round-blue1 {
    background: var(--font-color);
    border-radius: 37.5px;
    padding: 10px;
    color: white;
    font-weight: 800;

    border: 1px solid var(--font-color);
}
.order-details {
    display: flex;
    padding: 10px 15px;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 8px 0px #dcdcdc;
}
.order {
    padding: 20px;

    h4 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 41px;
        text-align: center;
        color: var(--main-color);
        margin-bottom: 20px;
        margin-top: 30px;
    }

    h5,
    .currency {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: var(--main-color);
        margin-bottom: 30px;
    }
    h5 {
        text-align: left;
        font-weight: bold;
        color: #000;
        font-size: 16px;
    }
    .currency {
        margin-bottom: 0 !important;
    }
    .order-line {
        & > div {
            display: grid;
            grid-template-columns: 23% 23% 30% 16% 8%;
            border-bottom: 1px solid #eee;
            padding-top: 10px;
        }

        span {
            cursor: pointer;
            padding: 5px;
        }
    }
}
.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    border-bottom: 1px solid #eee;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
        font-size: 18px;
        font-weight: 600;
        color: var(--main-color);
        margin-top: 8px;
        margin-bottom: 15px;
    }
}
.total-each {
    text-align: right;
    margin-right: 25px;
}
.quantity {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: -10px;
    .btn-round {
        height: 20px;
        width: 20px;
        border-radius: 4px;
        margin: 0px 5px;
    }
}
.tab-border {
    border-bottom: 1px solid gainsboro;
}
.hoversl:hover {
    cursor: pointer;
}
.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 10px;
}
.order-inner {
    background-color: #fbfbfb;
    padding: 16px;
    margin-bottom: 23px;
}
.horizontal-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 991px) {
    .order-details {
        padding: 20px 15px !important;
    }
}
.radio-flex {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.radio-flex .radio {
    flex: 0 1 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}
.shopping-bag-img {
    max-width: 200px;
    width: 100%;
    height: auto;
}
@media (max-width: 800px) {
    .shopping-bag-img {
        max-width: 160px;
    }
    .my-container {
        padding: 0 !important;
    }
    .take-layout .card-sec {
        padding-top: 30px !important;
    }
}
.btn-later {
    background: #e1dede;
    border-radius: 37.5px;
    padding: 10px;
    border: 1px solid #cccccc;
    color: #868585;
}
@media (max-width: 500px) {
    .order-details {
        padding: 10px 11px;
    }
    .order-size {
        padding: 7px;
    }
    .order-inner {
        padding: 10px;
    }
}
</style>
