<template>
    <div class="card-grid">
        <div class="alert empty-extra" v-if="!dishes.length">
            <h4>You have not created any Dish for this category</h4>
        </div>
        <div class="card-menu" v-for="(card, i) in dishes" :key="i">
            <swiper ref="mySwiper" class="swiper" :options="swiperOption">
                <swiper-slide v-if="card.image1">
                    <div class="img">
                        <img :src="card.image1" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide v-if="card.image2">
                    <div class="img">
                        <img :src="card.image2" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide v-if="card.image3">
                    <div class="img">
                        <img :src="card.image3" alt="" />
                    </div>
                </swiper-slide>
                <swiper-slide v-if="card.image4">
                    <div class="img">
                        <img :src="card.image4" alt="" />
                    </div>
                </swiper-slide>
                <div class="swiper-button-prev" slot="button-prev">
                    <svg
                        width="43"
                        height="43"
                        viewBox="0 0 43 43"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M26.3501 29.1916L18.6585 21.4999L26.3501 13.8083L23.8167 11.2749L13.5916 21.4999L23.8167 31.725L26.3501 29.1916Z"
                            fill="#474D52"
                        />
                    </svg>
                </div>
                <div class="swiper-button-next" slot="button-next">
                    <svg
                        width="43"
                        height="43"
                        viewBox="0 0 43 43"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16.6499 13.8084L24.3415 21.5001L16.6499 29.1917L19.1833 31.7251L29.4084 21.5001L19.1833 11.275L16.6499 13.8084Z"
                            fill="#474D52"
                        />
                    </svg>
                </div>
            </swiper>
            <div class="textual">
                <h4>{{ card.name }}</h4>
                <p>
                    {{ card.description }}
                </p>
                <div class="price">
                    <span >{{$t('Price')}}: {{card.price}} {{$store.state.restaurant.currency}}</span>

                </div>
                <h4 v-if="card.come_with[0]">Comes with</h4>
                <div class="comes" v-if="card.come_with[0]">
                    <span
                        class="tag"
                        v-for="(tag, index) in card.come_with"
                        v-bind:key="index"
                        >{{ tag }}</span
                    >
                </div>
            </div>
            <button
                @click="openModal(card)"
                class="btn-round-blue  mt-4 mx-auto"
            >
                {{$t('ORDER')}}
            </button>
        </div>
    </div>
</template>
<script>
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import Layout from "@/views/frontend/components/take-order/components/ItemLayout";
import { swiper, swiperSlide } from "vue-awesome-swiper";

// import 'swiper/css/swiper.css'
// If you use Swiper 6.0.0 or higher
import "swiper/swiper-bundle.css";
export default {
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
        this.fetchDishes();
    },
    data() {
        return {
            swiperOption: {
                loop: false,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            }
        };
    },
    props: ["name"],
    computed: {
        dishes() {
            return this.$store.state.restaurantManagement.dishes;
        }
    },
    components: {
        swiper,
        swiperSlide
    },

    methods: {
        fetchDishes(category_id) {
            this.$Progress.start();
            this.$store
                .dispatch("restaurantManagement/getActiveDishes", {
                    restaurant_id: this.$store.getters.get_res.id,
                    id: category_id
                })
                .then(respones => this.$Progress.finish());
        },
        openModal(card) {
            this.$emit("addModelData", {
                card
            });
        }
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss">
// resources/assets/css/swiper.css
//resources/js/src/views/frontend/components/take-order/components/DishCard.vue
@import url("../../../../../../../assets/css/swiper.css");
.card-grid {
    display: flex;
    flex-direction: column;
    // align-items: center;
    height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px; /* Remove scrollbar space */
        background: #fff; /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
}
.card-menu {
    width: 100%;
    max-width: 513px;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    // grid-template-columns: 200px 1fr;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #e9e8e8;
    border-radius: 10px;
    // height: 220px;
    margin-bottom: 20px;
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: 0;
        // transform: translateY(-50%);
        height: 60px;
        width: 60px;
        &::after,
        &::before {
            content: none;
        }
    }
    .swiper-button-next {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 50%;
        right: 0;
        // transform: translateY(-50%);
        &::after,
        &::before {
            content: none;
        }
    }

    .img {
        // margin-top: -20px;
        // transform: translateY(-50%);
        display: flex;
        justify-content: center;
        img {
            height: 180px;
            width: auto;
            object-fit: cover;
        }
    }
    .textual {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10px;
        h4,
        p {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none !important;
            color: var(--main-color);
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            text-decoration: none !important;
            color: #000;
        }
    }
    .comes {
        .tag {
            padding: 2px 7px;
            background-color: var(--main-color);
            color: #fff;
            border-radius: 4px;
            margin: 3px;
            display: inline-block;
            cursor: default;
            font-size: 14px;
        }
    }
}
.price{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 600;
    color: gray;
    font-size: 16px;
}
@media (max-width: 500px) {
    .card-menu{
        width: 330px;
         .img img{
            height: 110px;
        }
    }
}
@media (min-width: 600px) {
    .card-grid {
        align-items: center;
    }
}
</style>
