<template>
    <div class="take-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card-sec category">
                        <h3>Dishes</h3>
                        <Search  />
                        <div class="cart" @click="show=!show">
                            <svg
                                width="40"
                                height="40"
                                viewBox="0 0 70 70"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                            >
                                <rect width="70" height="70" fill="url(#pattern0)"/>
                                <defs>
                                    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1" >
                                        <use xlink:href="#image0" transform="scale(0.00195312)"/>
                                    </pattern>
                                    <svgImage />
                                </defs>
                            </svg>
                        </div>
                        <div class="card-grid">
                            <div class="card-menu" v-for="(card, i) in cards" :key="i">
                                <div class="img">
                                    <img :src="card.image1" alt=""/>
                                </div>
                                <div class="textual">
                                    <h4>{{ card.name }}</h4>
                                    <p>
                                        {{card.description}}
                                    </p>
                                    <h4>Comes with</h4>
                                    <div class="comes">
                                        <span class="tag" v-for="(tag,index) in card.come_with" v-bind:key="index">{{ tag }}</span>
                                    </div>
                                </div>
                                <button @click="openModal(card)" class="btn-round-blue  mt-4 mx-auto">
                                    ORDER
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order" :class="{'show': show}">
                    <Details ref="details" />
                </div>
            </div>
        </div>
        {{ cards.questions }}
        <Modal @closeMe="closeModal" v-if="modal" :card="card" @addToOrder="addToOrder" />
    </div>
</template>

<script>
import Modal from "@/views/frontend/components/take-order/components/Modal";
import Details from "@/views/frontend/components/take-order/components/Details";
import Search from '@/views/frontend/components/take-order/components/Search';
import svgImage from './svgImage';
export default {
    props: [ "cards"],
    data() {
        return {
            modal: false,
            card: {},
            show: false
        };
    },
    components: {
        Modal,
        Details,
        Search,
        svgImage
    },
    methods: {
        closeModal() {
            document.querySelector("body").style.overflow = "unset";
            this.modal = false;
        },
        openModal(card) {
            document.querySelector("body").style.overflow = "hidden";
            this.modal = true;
            this.card = card;
        },
        addToOrder(item) {
            this.closeModal();
            this.$refs.details.addItem(item);
        },
    }
};
</script>

<style lang="scss" scoped>
.take-layout {
    min-height: calc(100vh - 60px);
    h3 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        color: var(--main-color);
        margin-bottom: 30px;
    }
    .cart {
        display: none;
    }
    .search{
        cursor: pointer;
        background-color: var(--main-color);
        height: 40px;
        width: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
       position: absolute;
        right:20px;
        top: 20px;
        z-index: 9;
    }
    .container {
        padding-right: 0 !important;
    }

    .card-sec {
        padding: 40px 15px;
    }
    .order {
        background-color: #fff;
        min-height: calc(100vh - 60px);
    }
    .category {
        h3 {
            text-transform: capitalize;
        }
        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            margin: 0 auto;
            grid-gap: 10px;
            
        }
        .card-menu {
            padding: 20px;
            margin-left: 5px;
            margin-right: 5px;
            // display: grid;
            // grid-template-columns: 200px 1fr;
            background-color: #fff;
            border-radius: 10px;
            // height: 220px;
            margin-bottom: 20px;
            width: 100%;
            .img {
                // margin-top: -20px;
                // transform: translateY(-50%);
                display: flex;
                justify-content: center;
                img {
                    height: 180px;
                    width: auto;
                    object-fit: cover;
                }
            }
            .textual {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-top: 10px;
                h4,
                p {
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    text-decoration: none !important;
                    color: var(--main-color);
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    text-decoration: none !important;
                    color: #000;
                }
            }
            .comes {
                .tag {
                    padding: 0px 3px;
                    background-color: var(--main-color);
                    color: #fff;
                    border-radius: 4px;
                    margin: 3px;
                    display: inline-block;
                    cursor: default;
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 1199.98px) {
    .order {
        display: none ;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        min-height: calc( 100% - 60px );
        z-index: 10;
        &.show{
            display: block;
        }
    }
    .category {
        position: relative;
    }
     .search{
        right: 80px !important;
    }
    .cart {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: #eee;
        z-index: 11;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        cursor: pointer;
        
    }
}


</style>
