<template>
    <div class="take-layout">
        <div class="">
            <div class="flex-r-r">
                <div class="child1">
                    <div class="card-sec category">
                        <Search @searchDish="searchdish" />
                        <div class="container-fluid mt-3">
                            <button
                                class="btn-round"
                                style="height: 40px; width: 40px"
                                @click="back()"
                                v-show="cardsShow"
                            >
                                <img
                                    src="../../../../../../../assets/images/back.svg"
                                />
                            </button>
                        </div>
                        <h3 v-if="cardsShow">{{$t('DISHES')}}</h3>
                        <h3 v-if="(!cardsShow)&&cards.length>0">{{$t('CATEGORIES')}}</h3>
                        <DishCard
                            ref="dishCards"
                            v-show="cardsShow"
                            @addModelData="addModelData"
                        />
                        <div v-if="(!cardsShow)&&cards.length>0" class="category-container">
                            <div
                                @click="getDishes(card.id,card.dish_name)"
                                class="cat"
                                tag="li"
                                v-for="(card, i) in cards"
                                :key="i"
                                :style="
                                    `background-image:url(${card.image});background-size: cover; width:92%; background-position: center;`
                                "
                            >
                                <div class="encima">
                                    <h3>{{ card.dish_name }}</h3>
                                    <span class="arrow">
                                        <svg
                                            width="40"
                                            height="40"
                                            viewBox="0 0 40 40"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <rect
                                                x="40"
                                                y="40"
                                                width="40.0003"
                                                height="40.0003"
                                                rx="20.0001"
                                                transform="rotate(-180 40 40)"
                                                fill="white"
                                            />
                                            <path
                                                d="M16.6664 10L14.3164 12.35L21.9498 20.0001L14.3164 27.6501L16.6664 30.0001L26.6665 20.0001L16.6664 10Z"
                                                fill="black"
                                            />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div v-if="cards.length==0" class="center_out">
                            <div class="card no_menu_size">
                                <div class="card-body center_out ">
                                    <div class="no_menu_img">
                                        <img src="/images/general/menu-logo.svg" alt="">
                                    </div>
                                    <h1 class="no_menu_head">{{$t('OMG!')}}</h1>
                                    <p class="no_menu_text">{{$t('Restaurant Menu is Empty!')}}</p>
                                    <p class="no_menu_text">{{$t('Let\'s set it up')}}</p>
                                    <router-link :to="'/restaurant/'+$route.params.restaurant_id+'/restaurant/menu'" style="text-decoration:none"><button class="btn btn-round-blue" style="background-color:var(--main-color);color:white">{{$t('Click Here')}}</button></router-link>

                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child2">
                    <Details ref="details" />
                </div>
            </div>
        </div>
        <Modal
            @closeMe="closeModal"
            v-if="modal"
            :card="modalData"
            :category_name="category_name"
            @addToOrder="addToOrder"
        />
    </div>
</template>

<script>
import Details from "@/views/frontend/components/take-order/components/Details";
import Search from "@/views/frontend/components/take-order/components/Search";
import Modal from "@/views/frontend/components/take-order/components/Modal";
import moduleRestaurantManagement from "@/store/restaurant-management/moduleRestaurantManagement.js";
import svgImage from "./svgImage";
import DishCard from "./DishCard";
export default {
    created() {
        if (!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule(
                "restaurantManagement",
                moduleRestaurantManagement
            );
            moduleRestaurantManagement.isRegistered = true;
        }
    },
    props: ["cards"],
    data() {
        return {
            show: false,
            cardsShow: false,
            modalData: [],
            modal: false,
            searchName: "",
            category_name:''
        };
    },
    components: {
        Details,
        Search,
        svgImage,
        DishCard,
        Modal
    },
    methods: {
        getDishes(id,category_name) {
            this.category_name=category_name;
            this.$Progress.start();
            this.cardsShow = true;
            this.$refs.dishCards.fetchDishes(id);
        },
        back() {
            this.cardsShow = !this.cardsShow;
        },
        closeModal() {
            document.querySelector("body").style.overflow = "unset";
            this.modal = false;
        },
        openModal() {
            document.querySelector("body").style.overflow = "hidden";
            this.modal = true;
        },
        addModelData(data) {
            this.modalData = data.card;
            this.openModal();
        },
        addToOrder(item) {
            this.closeModal();
            this.$refs.details.addItem(item);
        },
        searchdish(name) {
            // let slides=document.querySelectorAll('.swiper-slide');
            // if(slides.length>0){
            //     slides.forEach(element=>{
            //         element.remove();
            //     });
            // }
            this.cardsShow = true;
            this.$Progress.start();
            this.$store
                .dispatch("restaurantManagement/searchDish", {
                    restaurant_id: this.$route.params.restaurant_id,
                    name: name
                })
                .then(response => this.$Progress.finish());
        }
    },
    beforeDestroy() {
        this.$Progress.start();
    }
};
</script>

<style lang="scss" scoped>
.flex-r-r {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap-reverse;
}
.child1 {
    flex: 1 1 526px;
}
.child2 {
    flex: 1 1 410.5px;
    padding: 10px 15px;
}
.take-layout {
    min-height: calc(100vh - 60px);
    .cart {
        display: none;
    }
    .disp-sm {
        display: none;
    }
    h3 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        color: var(--font-color);
        margin-bottom: 30px;
    }
    .container {
        padding-right: 0 !important;
    }

    .card-sec {
        padding: 40px 2%;
    }
    .order {
        min-height: calc(100vh - 60px);
        padding: 5px 33px;
    }
    .search {
        cursor: pointer;
        background-color: var(--main-color);
        height: 40px;
        width: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 9;
    }
    .category {
        .card-menu:hover {
            box-shadow: 0px 0px 8px 0px rgb(189, 187, 187);
        }
        .card-menu {
            padding: 20px;
            display: grid;
            grid-template-columns: 200px 1fr;
            background-color: #fff;
            border-radius: 10px;
            height: 220px;
            margin-bottom: 20px;
            transition: 0.3s ease;
            box-shadow: 0px 0px 8px 0px #e9e8e8;
            cursor: pointer;
            .img {
                img {
                    height: 180px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .textual {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                h4,
                p {
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    text-decoration: none !important;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    text-decoration: none !important;
                }
            }
            &:hover {
                h4,
                p {
                    text-decoration: none !important;
                    color: #000;
                }
            }
        }

        .category-container {
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 80vh;
            overflow-y: scroll;
            margin: 5px 39px;
            &::-webkit-scrollbar {
                width: 4px; /* Remove scrollbar space */
                background: #fff; /* Optional: just make scrollbar invisible */
            }
            /* Optional: show position indicator in red */
            &::-webkit-scrollbar-thumb {
                background: var(--main-color);
            }
            // /* Optional: show position indicator in red */
            // &::-webkit-scrollbar-track {
            //     background: var(--hover-color);
            // }

            .cat {
                // background: url("https://meniuu.com/storage/default/salad/home.jpg")
                //     no-repeat center center;
                // box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.50);
                // background-size: cover;
                // height: 190px;
                // border-radius: 10px;
                // position: relative;
                width: 100%;
                background-position: center;
                cursor: pointer;
                flex: 0 0 162px;
                width: 380px;
                // height: ;
                background-size: cover;
                position: relative;
                margin-bottom: 15px;
                border-radius: 20px;
                -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
                .encima {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(51, 49, 80, 0.5);
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 20px;
                    h3 {
                        color: #fff;
                        font-family: "Montserrat", sans-serif;
                        font-size: 22px;
                        font-weight: 600;
                        margin: 0;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
@media (max-width: 1199.98px) {
    .order {
        // display: none;
        // position: fixed;
        // left: 0;
        // top: 60px;
        width: 100%;
        min-height: calc(100% - 60px);
        z-index: 10;
        &.show {
            display: block;
            position: relative;
        }
    }
    .disp-sm {
        display: block !important;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 32px;
    }
    .take-layout .card-sec {
        padding-top: 80px !important;
    }
    .category {
        position: relative;
    }
    .search {
        right: 80px !important;
    }
    .cart {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 11;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        cursor: pointer;
    }
}
@media (max-width: 800px) {
    .category-container{
        margin: 0 !important;
        overflow-y: unset !important;
    }
}    
@media (max-width: 500px) {
    .card-menu{
        // width: 310px;
        .card-menu .img img{
            height: 110px;
        }
    }
}
.no_menu_size{
    width:460px;
}
@media(max-width: 490px){
    .no_menu_size{
        max-width:360px;
    }
}

.no_menu_img{
    width:300px;
    height: auto;
}
.no_menu_img img{
    width:100%;
    height: 100%;
}
.no_menu_head{
    font-weight: 560;
    color: var(--font-color);
}
.no_menu_text{
    color: var(--font-color);
    font-size: 20px;
}

</style>
