<template>
    <div class="overlay">
        <div class="popup">
            <div class="title">
                <h4>{{$t('Answer the questions about your')}} {{card.name}}</h4>
            </div>
            <div class="body">
                <div class="form-group " v-if="card.choice1">
                    <label class="form-check-label" for="receipt">
                        {{ card.choice1 }}
                    </label>
                    <select class="form-control" v-model="ch_description[0]">
                        <option v-for="(description,index) in card.ch1_description" :key="index" :value="description" :selected="index==0">
                            {{ description }}
                        </option>
                    </select>
                </div>
                <div class="form-group " v-if="card.choice2">
                    <label class="form-check-label" for="receipt">
                        {{ card.choice2 }}
                    </label>
                    <select class="form-control" v-model="ch_description[1]">
                        <option v-for="(description,index) in card.ch2_description" :key="index" :value="description" >
                            {{ description }}
                        </option>
                    </select>
                </div>
                <div class="form-group " v-if="card.choice3">
                    <label class="form-check-label" for="receipt">
                        {{ card.choice3 }}
                    </label>
                    <select class="form-control" v-model="ch_description[2]">
                        <option v-for="(description,index) in card.ch3_description" :key="index" :value="description">
                            {{ description }}
                        </option>
                    </select>
                </div>
                <div class="form-group " v-if="card.choice4">
                    <label class="form-check-label" for="receipt" >
                        {{ card.choice4 }}
                    </label>
                    <select class="form-control" v-model="ch_description[3]">
                        <option v-for="(description,index) in card.ch4_description" :key="index" :value="description" @click="addExtra()">
                            {{ description }}
                        </option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="form-check-label" for="receipt">
                    </label>
                    <input
                        type="text"
                        :placeholder="$t('This is the price for the dish')"
                        class="form-control"
                        :value="card.price"
                        disabled
                    />
                </div>
                <!-- <div class="form-group " >
                    <label class="form-check-label" for="receipt">
                        How many dishes like this do you want?
                    </label>
                    <input
                        type="number"
                        class="form-control"
                        v-model="quantity"
                        value="1"
                        min="1"
                    /> -->
                </div>
                <div v-if="card.extras[0]!=''&&card.extras[0].name!=''">
                    <label>{{$t('You want to add something extra to your dish?')}}</label>
                    <div class="form-group form-check form-control mb-0 mt-1" v-for="(extra,index) in card.extras" v-bind:key="index">
                        <label class="form-check-label ml-3" >
                            <input type="checkbox" class="form-check-input " :value="extra" v-model="extras" name="extra" />
                            <span>{{extra.name}}</span> <span>{{extra.price}} {{$store.state.restaurant.currency}}</span>
                        </label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-1" >
                    <label class="form-check-label" for="receipt">
                        {{$t('You want to write some note to the chef?')}}
                    </label>
                    <textarea rows="3" class="form-control" :placeholder="$t('Extra Cheese')" v-model="note">
                    </textarea>
                </div>
                <button @click="addtoOrder" class="btn-round-blue  mt-4 mx-auto">
                    {{$t('Add to order')}}
                </button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: ["card","category_name"],

    data() {
        return {
            ch_description: [],
            choices:[],
            extras:[],
            quantity: 1,
            note: "",
            test: ''
        };
    },
    created(){
        
         this.ch_description[0] = this.card.ch1_description[0]
        this.ch_description[1] = this.card.ch2_description[0]
        this.ch_description[2] = this.card.ch3_description[0]
        this.ch_description[3] = this.card.ch4_description[0]
        
    },
    mounted() {
        window.addEventListener("click", e => {
            if (e.target == this.$el) {
                this.$emit("closeMe");
            }
        });
    },

    methods: {
        addtoOrder() {  
            
            this.$emit("addToOrder", {
                id:this.card.id,
                name:this.card.name,
                price:this.card.price,
                send_to:this.card.send_to,
                ch_description:this.ch_description,
                choices:this.choices,
                extras:this.extras,
                quantity: this.quantity,
                note: this.note,
                category_name:this.category_name,
                total:parseFloat(this.card.price) * parseFloat(this.quantity)
            });
            window.scrollTo(0, 0);
        }
    }
};
</script>

<style lang="scss" scoped>
.overlay {
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    z-index: 1040;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    // align-items: center;
    overflow-y: scroll;
    .popup {
        border-radius: 10px;
        max-width: 500px;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        height: fit-content;
        animation: pop_anim 0.3s ease;
        .title {
            margin-bottom: 20px;
        }
    }

}
@keyframes pop_anim {
    0%{
        transform:translateY(100%);
    }   
    100%{
        transform:translateY(0%);
    }
}
</style>
