<template>
    <div class="overlay">
        <div class="alert-order">
            <form @submit.prevent="confirm" @keydown="errors.clear($event.target.name)">
                <div class="form-group px-3">
                    <label for="password">Password</label>
                    <input
                        v-model="password"
                        type="password"
                        class="form-control password"
                        :class="{'is-invalid':errors.has('password')}"
                        @keyup="errors.clear('password')"
                        autocomplete="none"
                        autofocus
                    />
                    <span v-if="errors.has('password')" style="color:red" >
                        {{ errors.get('password') }}
                    </span>
                    <br />
                </div>
                <button class="footer" type="submit">
                    Pay and Order
                </button>
            </form>
        </div>
    </div>
</template>

<script>
import moduleOrderManagement from '@/store/order-management/moduleOrderManagement.js'
export default {
    props: ["id", "type"],
    data() {
        return {
            errors:new Errors(),
            password:''
        }
    },
    created(){
        if(!moduleOrderManagement.isRegistered) {
            this.$store.registerModule('orderManagement', moduleOrderManagement);
            moduleOrderManagement.isRegistered = true;
        }
    },
    mounted() {
        document.querySelector('.password').focus()
        
        window.addEventListener("click", e => {
            if (e.target == document.getElementsByClassName("overlay")[0]) {
                this.$emit("close");
            }
        });
        
    },
    methods: {
        confirm() {
            this.$Progress.start();
            this.$store.dispatch('orderManagement/confirmPassword',this.password)
            .then((response)=>{
                this.$emit("closeMe", { response: response });
            }).catch(errors=>{this.errors.record(errors.response.data)});
        }
    }
};
</script>

<style lang="scss" scoped>
.overlay {
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    .alert-order {
        padding-top: 30px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;
        border-radius: 10px;
        min-width: 450px;
        background-color: #fff;
        .title {
            padding: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            h4 {
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                color: #000;
            }
            h2 {
                text-align: center;
                font-weight: 500;
                font-size: 22px;
            }
        }
        .footer {
            // &.error {
            background-color: #d75a4a;
            border: 1px solid #d75a4a;
            // }
            // &.success {
            //     background-color: #25ae88;
            // }
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 60px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            text-align: center;
            font-size: 22px;
            color: #fff;
            margin: 0;
        }
    }
}
</style>
