<template>
    <div class="search-menu">
        <div class="search-box"  >
            <label class="sr-only" for="search">Seach</label>
            <div class="input-group mb-2" >
                <multiselect class="search-size" v-model="value" id="ajax" label="name" track-by="name" :placeholder="$t('Type to search')" open-direction="bottom" :options="options" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="true" :options-limit="300" :limit="3"  :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="search" 	@select="selected"  :show-labels="false" >
                    
                </multiselect>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M27.6471 25.9945L19.6135 17.9552C21.1973 16.0558 22.1498 13.6285 22.1498 10.9774C22.1498 4.92923 17.1862 0.0115128 11.0806 0.0115128C4.9751 0.0115128 0 4.93497 0 10.9831C0 17.0313 4.96362 21.949 11.0692 21.949C13.6629 21.949 16.05 21.0596 17.9436 19.5734L26.0059 27.6357C26.4765 28.1062 27.1766 28.1062 27.6471 27.6357C28.1176 27.1651 28.1176 26.465 27.6471 25.9945ZM2.3527 10.9831C2.3527 6.23182 6.26621 2.36995 11.0692 2.36995C15.8721 2.36995 19.7856 6.23182 19.7856 10.9831C19.7856 15.7344 15.8721 19.5963 11.0692 19.5963C6.26621 19.5963 2.3527 15.7287 2.3527 10.9831Z"
                            fill="white"
                        />
                    </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleOrderManagement from '@/store/order-management/moduleOrderManagement.js'
import Multiselect from 'vue-multiselect'
export default {
    created(){
        if(!moduleOrderManagement.isRegistered) {
            this.$store.registerModule('orderManagement', moduleOrderManagement);
            moduleOrderManagement.isRegistered = true;
        }
    },
    components: {
        Multiselect
    },
    data(){
        return{
            showSugesstion: false,
            value: null,
            timeOut:true,
            isLoading:false,
        }   
    },
    methods:{
        search(value){
            this.isLoading=true;
            if(this.value!=''){
                this.$store.dispatch('orderManagement/SearchDish',{restaurant_id:this.$route.params.restaurant_id ,value:value});

                this.timeOut=false;
               
            }else{
                return;
            }
            setTimeout(() => {
                this.isLoading=false;
            }, 500);
        },
        selected(selectedOption){
            this.$emit('searchDish',selectedOption.name);
            this.isLoading=false;
            this.value='';
             setTimeout(() => {
                this.isLoading=false;
            }, 500)
        }
    },
    computed:{
        // names(){
        //     let datas=;
        //     return
        // },
        options(){
                let datas=this.$store.state.orderManagement.dishes_name;
                let values=[];
                datas.forEach(element=>{
                    let item={
                        name:element.name,
                    };

                    values.push(item);
                });
                return values;
            }
    },
    mounted(){
         window.addEventListener("click", e => {
            if (e.target == document.getElementsByClassName("search-menu")[0]) {
                // this.$emit("close");
            }
        });
    }
};
</script>

<style lang="scss" scoped>
    @import url("/css/select2.css");

.suggestions{
    overflow-y: scroll;
    height: 150px!important;
}
.suggestions li{
    padding:10px;
}
.suggestions li:hover{
    cursor:pointer;
    background-color:rgb(88,151,251);
    color:white;
    transition:0.2s ease;
}
.search-menu .search-box .input-group {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
}
.search-menu {
    // background-color: rgba(0, 0, 0, 0.322);
    // position: fixed;
    // z-index: 12;
    // left: 0;
    // top: 0;
    // height: 100%;
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    // padding-top:80px ;
    // overflow-y: scroll;
    .search-box {
        // padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        // max-width: 768px;
        width: 100%;
        // background-color: #fff;
        max-height: 600px;
        height: 100%;
        position: relative;
        .input-group{
            // display: flex;
            // justify-content: center;
        }
        .input-group-append,
        #search{
            height: 41px;
            border-radius:2px;
        }
        .input-group-text{
            
            background-color: var(--main-color) !important;
        }
        input{
            border: none;
        }
        .suggestions{
            position: absolute;
            max-height: 400px;
            height: 350px;
            width: 100%;
            border: 1px solid #ced4da;
            border-top: none;
            left: 0;
            top: 90%;
            background-color: #fff;
            z-index: 9;
            box-shadow: 0px 0px 4px 0px #eee;
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            display: none;
        }
      
    }
}
  .suggestions.show{
            display: block !important;
            background-color: red;
        }
    .search-size{
        // max-width:378px;
    }
@media (max-width: 800px) {
    .search-menu{
        margin-bottom: 20px;
    }
}
</style>
