<template>
  <div class="centerx">
    <vs-button @click="popupActivo=true" color="primary" class="m-3" type="border">Create Restaurant</vs-button>
    <vs-popup class="holamundo"  title="Create Restaurant Owner" :active.sync="popupActivo">

    <div class="user-container">
      <div class="child1">
        <vs-input  :danger="errors.has('name')" :danger-text="errors.get('name')" label="Name" style="width:80%;" placeholder="Name" v-model="name" name="name"/>

        <vs-input :danger="errors.has('email')" :danger-text="errors.get('email')" type="Email" style="width:80%;" label="Email" placeholder="Email" v-model="email" />

        <vs-input :danger="errors.has('password')" :danger-text="errors.get('password')" type="password" style="width:80%;" label="Password" placeholder="Password" v-model="password" />

        <vs-input :danger="errors.has('password_confirmation')" :danger-text="errors.get('password')" type="password" style="width:80%;" label="Password Confirmation" placeholder="Password Confirmation" v-model="password_confirmation" />

        <!-- <div class="centerx">
            <vs-upload action="https://jsonplaceholder.typicode.com/posts/" @on-success="successUpload" limit="1" fileName="image" v-bind:show-upload-button="false" v-bind:data="image" required/>
        </div> -->
        <div  @click="clicked()" class="img-group">
          <img src="/images/owner/default.png" alt="" style="width:200px;height:auto;" ref="upload_container">
        </div>
        <div v-if="errors.has('image')">
          <span style="color:red">{{errors.get('image')}}</span>
        </div>
        <div class="form-group " style="display:none;cursor:pointer;">
          <div class='file-input'  name="image" @change="uploadimage">
              <input type='file' ref="img_file">
          </div>
        </div>

        <vs-button color="primary" style="width:80%;" class="m-3" type="filled" @click="submitCreateUser()">submit</vs-button>
      </div>
      <div class="child2">
          <h2>Restaurant Owner</h2>
          <img src="/images/restaurant/creatRest.png" alt="">
      </div>
      
    </div>
    </vs-popup>
  </div>
</template>

<script>
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
export default {
  data(){
    return {
      popupActivo:false,
      errors:new Errors(),
        hover: 'blur',
        name:'',
        password:'',
        password_confirmation:'',
        email:'',
        image:''
    }
  },
    methods:{
    successUpload(){
      this.$vs.notify({color:'success',title:'Upload Success',text:'Create Restaurant Owner'})
    },
    submitCreateUser(){
        
        if(!moduleUserManagement.isRegistered) {
            this.$store.registerModule('userManagement', moduleUserManagement);
            moduleUserManagement.isRegistered = true;
        }
        
        let formData= new FormData();
        formData.append('name',this.name);
        formData.append('password',this.password);
        formData.append('image',this.image);
        formData.append('email',this.email);
        formData.append('password_confirmation',this.password_confirmation)

        this.$store.dispatch("userManagement/creatUser",formData)
        .then((res) => {
          this.popupActivo=false;
         }).catch(errors => {
           this.errors.record(errors.response.data)
         });
      },
      
      uploadimage(event){
        this.image=event.target.files[0];
        let container=this.$refs.upload_container;
        var reader = new FileReader();
        reader.onload= (event)=>{
          container.src=event.target.result;
        }
          // let image_con=this.$refs.upload_container;
          // image_con.src=this.image;
        
        reader.readAsDataURL(this.image);
      },
      changeImage(event){
        // .src=event.target.result;
      }, 
      clicked(){
        this.$refs.img_file.click();
      }

  }
}
//  <fileFeild @sendFile="grabImage" style="display:inline-block;margin-right:15px;"></fileFeild>

//      onSelectFile () {
//             const input = this.$refs.fileInput
//             const files = input.files
//             if (files && files[0]) {
//                 const reader = new FileReader
//                 reader.onload = e => {
//                 this.imageData = e.target.result
//                 }
//                 reader.readAsDataURL(files[0])
//                 this.$emit('input', files[0])
//                 this.$emit('sendFile',files[0]);
//             }
//         },
</script>

<style >
  /* .con-img-upload {
      overflow: hidden;
      width: 229px;
      height: 221px;
      padding: 0.6rem;
  } */
    .m-3{
        margin:10px;
    }
    .user-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap-reverse;
    }
    .user-container .child1{
        flex:1 1 300px;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    .user-container .child2{
        flex:1 1 auto;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    .img-group{
      display:flex;
      transition:all 0.3s ease-in;
      margin:20px 0px;
    }
    .img-group:hover{
      -webkit-box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
      -moz-box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
      box-shadow: 1px 3px 5px 7px rgba(25,51,224,0.43);
      cursor:pointer;
    }
</style>



 