<!-- =========================================================================================
  File Name: FullPage.vue
  Description: Full page layout
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div class="layout--full-page">
        <!-- <site-nav></site-nav> -->
        <div class="overlay" v-if="sidebar" @click="sidebar = false"></div>
        <!-- <router-view></router-view> -->

        <Topbar @toogleSidebar="sidebar = !sidebar" v-if="loginPage" />

        <div
            class="template-layout"
            :class="{ 'col-template': sidebar && loginPage }"
        >
            <div class="sidebar_">
                <Sidebar v-if="loginPage" class="nav-animation" />
            </div>
            <div class="sidebar-holder" :class="{ active: sidebar }"></div>
            <div class="main">
                <router-view />
                <vue-progress-bar></vue-progress-bar>
            </div>
        </div>
    </div>
</template>

<script>
import Sidebar from "../frontend-components/sidebar/Sidebar";
import Topbar from "../frontend-components/topbar/Topbar";
// import siteNav from '../frontend-components/nav.vue'
export default {
    data() {
        return {
            sidebar: true
        };
    },
    components: {
        Topbar,
        Sidebar
    },
    beforeRouteUpdate(to, from, next) {
        let pageWidth =
            window.innerWidth > screen.width ? screen.width : window.innerWidth;
        if (pageWidth < 800) {
            this.sidebar = false;
        } else {
            this.sidebar = true;
        }
        next();
    },
    computed: {
        loginPage() {
            console.log(window.location.href);
            if (window.location.href.includes("login")) {
                return false;
            }
            return true;
        }
    },
    methods: {
        manageSidebar() {
            let pageWidth =
                window.innerWidth > screen.width
                    ? screen.width
                    : window.innerWidth;
            if (pageWidth < 800) {
                this.sidebar = false;
            } else {
                this.sidebar = true;
            }
        }
    },
    watch: {
        sidebar(newval, oldval) {
            console.log(newval);
        }
    },
    created() {
        this.manageSidebar();

        window.addEventListener("resize", () => {
            this.manageSidebar();
        });

       
    }
};
</script>

<style lang="scss">
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap");
.extra-features,
  .categories-list{
                overflow-x: scroll;
                table{
                    min-width: 400px;
                }
                }
.layout--full-page {
    min-height: 100vh;
}
.overlay {
    display: none;
}
@media (max-width: 800px) {
    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.521);
    }
}
.nav-animation {
    // animation: navanim 0.5s ease forwards;
    transition: all 0.5s ease ease-in-out;
}
.sidebar-holder {
    width: 0;
    transition: all 0.3s ease-in-out;

    &.active {
        width: 309px;
    }
}
@keyframes navanim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.p-relative {
    position: relative;
}
*:focus {
    outline: none;
}
.main {
    overflow: hidden;
    width: 100%;
}
.template-layout {
    background-color: var(--body-color);
    // display: grid;
    // grid-template-columns: 1fr;
    display: flex;

    transition: all 0.3s ease-in-out;
    .sidebar_ {
        position: fixed;
        width: 260px;
        top: 60px;
        height: 100%;
        z-index: 9;
        box-shadow: 2px 4px 4px 0px #555;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }
    .main {
        transition: all 0.3s ease-in-out;
    }
    &.col-template {
        // grid-template-columns: 260px 1fr;
        .main {
            width: calc(100% - 262px);
        }
        .sidebar_ {
            transform: translateX(0);
        }
    }
}
.btn-round-blue {
    background: var(--btn-color);
    border-radius: 37.5px;
    width: 180px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid var(--main-color);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-round-blue:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0px 0px 4px 0px #eee;
}
.btn-white {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--main-color);
    box-shadow: 0px 0px 2px 0px #777;
}
.btn-round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.btn.bg-white:hover {
    background: var(--main-color) !important;
    color: #fff !important;
    svg,
    svg path {
        fill: #fff;
    }
}
.row-list {
    margin: 2px 0;
}
.row-list:hover:nth-child(even) {
    background-color: var(--main-color) !important;
}
.row-list:hover:nth-child(odd) {
    background-color: var(--hover-color) !important;
}
.vue-tags-input {
    max-width: unset !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    .ti-input {
        border: none;
    }
}
.back-btn {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #eee;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    fill: var(--main-color);
    &:hover {
        box-shadow: 0px 0px 4px 0px #777;
    }
}
.pointer {
    cursor: pointer;
}

@media (max-width: 768px) {
    // .template-layout {
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     &.col-template {
    //         // grid-template-columns: 1fr;
    //         .main {
    //             transform: translateX(262px);
    //         }
    //         .main {
    //             // width:100% !important;
    //             width: calc(100% - 262px);
    //         }
    //     }
    // }
}
@media (max-width: 800px) {
    .template-layout {
        display: grid;
        grid-template-columns: 1fr;
        &.col-template {
            grid-template-columns: 1fr;
            .main {
                transform: translateX(0);
            }
            .main {
                // width:100% !important;
                width: calc(100%);
            }
        }
    }
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
    transition: all 0.4s;
    // max-height: 230px;
    max-height: 236;
}
.fadeHeight-enter,
.fadeHeight-leave-to {
    opacity: 0;
    max-height: 0px;
}

.router-link-exact-active ~ a {
    display: grid;
    grid-template-columns: 1fr;
}
.add-extra {
    z-index: 9 !important;
}
.multiselect__tags {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
@media (max-width: 500px) {
    .inventory {
        padding: 20px 0 !important;
        .card{
            padding: 20px 0 !important;
        }
    }
     
}
</style>
