<template>
    <form action="" @submit.prevent="search" class="col-md-12">
        <div class="form-group">
            <label for="period-1">
                What period would you like to know?
            </label>
            <select class="form-control py-2" id="period-1" v-model="type">
                <option value="">Today</option>
                <option value="day">Day</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
        
        <div class="form-group" v-show="type">
            <label for="period-1" >Select the Date</label>
            <Datepicker :format="customFormatter" :minimum-view="type"  v-model="date" name="graphDatePicker"/> 
        </div>

        <div class="d-flex justify-content-center">
            <button class="search-btn" >
                <svg data-v-d30adb00="" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path data-v-d30adb00="" d="M27.6471 25.9945L19.6135 17.9552C21.1973 16.0558 22.1498 13.6285 22.1498 10.9774C22.1498 4.92923 17.1862 0.0115128 11.0806 0.0115128C4.9751 0.0115128 0 4.93497 0 10.9831C0 17.0313 4.96362 21.949 11.0692 21.949C13.6629 21.949 16.05 21.0596 17.9436 19.5734L26.0059 27.6357C26.4765 28.1062 27.1766 28.1062 27.6471 27.6357C28.1176 27.1651 28.1176 26.465 27.6471 25.9945ZM2.3527 10.9831C2.3527 6.23182 6.26621 2.36995 11.0692 2.36995C15.8721 2.36995 19.7856 6.23182 19.7856 10.9831C19.7856 15.7344 15.8721 19.5963 11.0692 19.5963C6.26621 19.5963 2.3527 15.7287 2.3527 10.9831Z" fill="#626262"></path>
                </svg>
                Search
            </button>
        </div>

    </form>
</template>
<script>
import Datepicker from 'vuejs-datepicker';
export default {
    data(){
        return {
                date:'',
                type:''
            
        }
    },
    components:{
        Datepicker
    },
    methods:{
        customFormatter(date) {
            let d=''
            switch(this.type){
                case 'year':
                    d=date.getFullYear();
                break;
                case 'month':
                    d=date.getFullYear()+'-'
                        +((date.getMonth()+1<10?'0'+(date.getMonth()+1):(date.getMonth()+1)));
                break;
                case 'day':
                    d=date.getFullYear()+'-'
                      +((date.getMonth()+1<10)?'0'+(date.getMonth()+1):(date.getMonth()+1))+'-'
                      +((date.getUTCDate()<10)?'0'+(date.getUTCDate()):(date.getUTCDate()));
                break;
            }
            return d;
        },
        search(){
            let date=""
            if(this.date){
                date=this.date.getFullYear()+'-'
                          +((this.date.getMonth()+1<10)?'0'+(this.date.getMonth()+1):(this.date.getMonth()+1))+'-'
                          +((this.date.getUTCDate()<10)?'0'+(this.date.getUTCDate()):(this.date.getUTCDate()))

            }
            this.$Progress.start();
            this.$emit('sendDate',{
                date:date,
                type:this.type,
                restaurant_id:this.$route.params.restaurant_id
            });
        }

    }
}
</script>

<style lang="scss">

.vdp-datepicker__calendar {
    position: relative!important;
    z-index: 1000;
    background: #fff;
    width: 300px;
    border: 1px solid #ccc;
}
</style>

