<template>
  <div >
      <vue-apex-charts ref="realDishCategoryChart" type=pie height=345 class="mt-10 mb-10" :options="dishesCategoriesPie.chartOptions" :series="dishesCategoriesPie.series" />
        <!-- CHART DATA -->
        <ul class="mb-1 labels ">
            <li v-for="(dishCategoryCount,index) in dishCategoryCounts" :key="index" class="label">
                <span class="flex items-center mr-3" style="white-space: nowrap">
                    <span class="inline-block h-3 w-3 rounded-full mr-2" :style="`background-color:${colors[index]}`"></span>
                    <span class="font-semibold">{{ dishCategoryCount.name }}:</span>
                </span>
                <span style="white-space: nowrap">{{ dishCategoryCount.count }}</span>
            </li>
        </ul>
  </div>
</template>
<script>
import moduleAnalyticsManagement from '@/store/analytics-management/moduleAnalyticsManagement.js'
import VueApexCharts from 'vue-apexcharts'
export default {
    data(){
        return{
            colors: ['#7961F9', '#FF9F43', '#EA5455','#1E1E1E', '#28C76F','#e7f33f','#689cfd','#72feba','#ff4e78','#f9bdaf','#065535','#2c3b79','#dcd3c5','#d0a074','#fff6a1',   '#eebeec','#59ffff','#008080','#b1ecd5','#edf694','#d0a074','#c0bdc4','#200020','#e2cebd','#b1ecd5','#a7c8a8','#7575ff','#dcd3c5','#ffe946'],
            dishesCategoriesPie: {
                series: [],
                chartOptions: {
                    labels: [],
                    legend: { show: false },
                    chart: {
                        type: 'pie',
                        dropShadow: {
                            blur: 5,
                            left: 1,
                            top: 1,
                            opacity: 0.2
                        },
                    },
                    colors: ['#7961F9', '#FF9F43', '#EA5455','#1E1E1E', '#28C76F','#e7f33f','#689cfd','#72feba','#ff4e78','#f9bdaf','#065535','#2c3b79','#dcd3c5','#d0a074','#fff6a1',   '#eebeec','#59ffff','#008080','#b1ecd5','#edf694','#d0a074','#c0bdc4','#200020','#e2cebd','#b1ecd5','#a7c8a8','#7575ff','#dcd3c5','#ffe946'],
                    fill: {
                        type: 'gradient',
                        gradient: {
                            gradientToColors: ['#9c8cfc', '#FFC085', '#f29292','#1E1E1E', '#28C76F','#e7f33f','#2c3b79','#065535','#f9bdaf','ff4e78','#72feba','#689cfd','#e2cebd','#d0a074','#fff6a1',  '#eebeec','#59ffff','#008080','#b1ecd5','#edf694','#d0a074','#c0bdc4','#200020','#e2cebd','#b1ecd5','#a7c8a8','#7575ff','#dcd3c5','#ffe946']
                        }
                    }
                }
            },
        }
    },
    created(){
        this.dishesCategoriesPie.chartOptions.labels=[];
        
        if(!moduleAnalyticsManagement.isRegistered) {
            this.$store.registerModule('analyticsManagement', moduleAnalyticsManagement);
            moduleAnalyticsManagement.isRegistered = true;
        }
        this.countDishCategory();
    },
    computed:{

        dishCategoryCounts(){
            this.$store.state.analyticsManagement.dishCategoryCount.forEach((element ,index)=> {
                if(index==0){
                    this.dishesCategoriesPie.series=[];
                }
                this.dishesCategoriesPie.chartOptions.labels.push(element.name);
                this.dishesCategoriesPie.series.push(element.count)
            });
            
            return this.$store.state.analyticsManagement.dishCategoryCount;
        },
    },
    methods:{
        countDishCategory(data){
            if(data){
                this.$store.dispatch('analyticsManagement/postcountDishCategory',data)
                .then(response=>{
                    this.$Progress.finish();
                    this.$refs.realDishCategoryChart.updateSeries();

                });
            }else{
                this.$store.dispatch('analyticsManagement/getcountDishCategory',this.$route.params.restaurant_id)
                .then(response=>{this.$Progress.finish();});
            }
        }
    },
    components: {
        VueApexCharts
    },

}
</script>

<style lang="scss" scoped>
.labels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.label{
    display: flex;
    flex: 1 1 160px;
    margin:5px 0px;
}
</style>