<template>
  <div >
       <vue-apex-charts type=pie height=245 class="mt-10 mb-10" :options="dishesPie.chartOptions" :series="dishesPie.series" />
        <!-- CHART DATA -->
        <ul class="mb-1 labels ">
            <li v-for="(dishCount,index) in dishCounts" :key="index" class="label">
                <span class="flex items-center mr-3">
                    <span class="inline-block h-3 w-3 rounded-full mr-2" :style="`background-color:${colors[index]}`"></span>
                    <span class="font-semibold">{{ dishCount.name }}:</span>
                </span>
                <span>{{ dishCount.count }}</span>
            </li>
        </ul>
  </div>
</template>
<script>
import moduleAnalyticsManagement from '@/store/analytics-management/moduleAnalyticsManagement.js'
import VueApexCharts from 'vue-apexcharts'
export default {
    data(){
        return{
            dishesPie: {
                series: [],
                chartOptions: {
                    labels: [],
                    legend: { show: false },
                    chart: {
                        type: 'pie',
                        dropShadow: {
                            blur: 5,
                            left: 1,
                            top: 1,
                            opacity: 0.2
                        },
                    },
                    colors: ['#7961F9', '#28C76F','#e7f33f','#065535','#72feba','#ff4e78','#f9bdaf','#689cfd','#2c3b79','#dcd3c5','#d0a074','#fff6a1',   '#eebeec','#59ffff','#008080','#b1ecd5','#edf694','#d0a074','#c0bdc4','#200020','#e2cebd','#b1ecd5','#a7c8a8','#7575ff','#dcd3c5','#ffe946','#7961F9', '#FF9F43', '#1E1E1E'],
                    fill: {
                        type: 'gradient',
                        gradient: {
                            gradientToColors: ['#7961F9', '#28C76F','#e7f33f','#065535','#72feba','#ff4e78','#f9bdaf','#689cfd','#2c3b79','#dcd3c5','#d0a074','#fff6a1',   '#eebeec','#59ffff','#008080','#b1ecd5','#edf694','#d0a074','#c0bdc4','#200020','#e2cebd','#b1ecd5','#a7c8a8','#7575ff','#dcd3c5','#ffe946','#7961F9', '#FF9F43', '#1E1E1E']
                        }
                    }
                }
            },
            colors: ['#7961F9', '#28C76F','#e7f33f','#065535','#72feba','#ff4e78','#f9bdaf','#689cfd','#2c3b79','#dcd3c5','#d0a074','#fff6a1',   '#eebeec','#59ffff','#008080','#b1ecd5','#edf694','#d0a074','#c0bdc4','#200020','#e2cebd','#b1ecd5','#a7c8a8','#7575ff','#dcd3c5','#ffe946','#7961F9', '#FF9F43', '#1E1E1E'],
        }
    },
    created(){
        this.dishesPie.chartOptions.labels=[];
        
        if(!moduleAnalyticsManagement.isRegistered) {
            this.$store.registerModule('analyticsManagement', moduleAnalyticsManagement);
            moduleAnalyticsManagement.isRegistered = true;
        }
        this.countDish();
    },
    beforeCreate(){
        
    },
    computed:{
        dishCounts(){
            this.$store.state.analyticsManagement.dishCount.forEach((element ,index)=> {
                if(index==0){
                    this.dishesPie.series=[];
                }
                this.dishesPie.chartOptions.labels.push(element.name);
                this.dishesPie.series.push(element.count)
            });
            return this.$store.state.analyticsManagement.dishCount;
        }
    },
    methods:{
        countDish(){
            this.$store.dispatch('analyticsManagement/getCountDish',this.$route.params.restaurant_id)
            .then(response=>{this.$Progress.finish();});
        },
    },
    components: {
        VueApexCharts
    },
}
</script>

<style lang="scss" scoped>
.labels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.label{
    display: flex;
    flex: 1 1 160px;
    margin:5px 0px;
}


</style>