<template>
  <div >
    <template>
      <vue-apex-charts ref="realtimeChart" type="line" height="350" :options="lineChartSimple.chartOptions" :series="lineChartSimple.series"></vue-apex-charts>
    </template>
  </div>
</template>
<script>
import VueApexCharts from 'vue-apexcharts'
import moduleAnalyticsManagement from '@/store/analytics-management/moduleAnalyticsManagement.js'
export default {
    data() {
        return {
        show:false,
        lineChartSimple: {
            series: [{
                name: "Amount",
                data: []
            }],
            chartOptions: {
                chart: {
                    height: 350,
                    zoom: {
                        enabled: false
                    }
                },
                colors: ['rgb(96, 96, 255)', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    text: 'REVENUE',
                    // +this.$store.state.restaurant.currency,
                    align: 'center'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep','Oct', 'Nov','Dec'],
                },
                yaxis: [{
                    title: {
                        text: "Revenue in "+this.$store.state.restaurant.currency,
                    },    
                }]
            }
        }
    }
  },
  created(){
    if(!moduleAnalyticsManagement.isRegistered) {
        this.$store.registerModule('analyticsManagement', moduleAnalyticsManagement);
        moduleAnalyticsManagement.isRegistered = true;
    }
    this.countRevenue();
  },
  components: {
        VueApexCharts
  },
  computed:{
      revenue(){
          this.lineChartSimple.series[0].data=this.$store.state.analyticsManagement.revenue;
          this.show=true; 
          return this.$store.state.analyticsManagement.revenue;
      }
  },
  methods:{
      countRevenue(){
            this.$store.dispatch('analyticsManagement/countRevenue',this.$route.params.restaurant_id)
            .then(response=>{this.$Progress.finish();
                this.$refs.realtimeChart.updateSeries([{
                    data: response
                }], false, true)
            });
        },
  }
}
</script>

<style lang="scss" >

</style>    