<template>
    <div class="overlay mb-5">
        <div class="popup">
            <div class="order-card" >
                <div class="status">
                    <h4>{{order.status}}</h4>
                </div>
                <div class="order-detail">
                    <h3>
                        <span class="type" v-if="order.table">Table: {{order.table}}</span>
                        <span class="type" v-if="order.source=='link'">Name: {{order.source}} <span style="font-weight: 300;font-size: 15px;">({{order.serviceMode}})</span></span>
                        <!-- <span class="type" v-if="order.source=='takeOrder'">: {{order.source}}</span> -->
                        <span class="ago">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.994 0.166748C2.774 0.166748 0.166504 2.78008 0.166504 6.00008C0.166504 9.22008 2.774 11.8334 5.994 11.8334C9.21984 11.8334 11.8332 9.22008 11.8332 6.00008C11.8332 2.78008 9.21984 0.166748 5.994 0.166748ZM5.99984 10.6667C3.4215 10.6667 1.33317 8.57841 1.33317 6.00008C1.33317 3.42175 3.4215 1.33341 5.99984 1.33341C8.57817 1.33341 10.6665 3.42175 10.6665 6.00008C10.6665 8.57841 8.57817 10.6667 5.99984 10.6667ZM5.8715 3.08342H5.8365C5.60317 3.08342 5.4165 3.27008 5.4165 3.50341V6.25675C5.4165 6.46092 5.5215 6.65342 5.70234 6.75842L8.12317 8.21092C8.3215 8.32758 8.57817 8.26925 8.69484 8.07092C8.72413 8.02368 8.74362 7.97104 8.75213 7.91611C8.76065 7.86119 8.75803 7.80512 8.74442 7.75123C8.73081 7.69734 8.7065 7.64675 8.67293 7.60245C8.63935 7.55816 8.59721 7.52108 8.549 7.49342L6.2915 6.15175V3.50341C6.2915 3.27008 6.10484 3.08342 5.8715 3.08342Z" fill="black"/>
                            </svg>
                            <span>{{age}} ago</span>
                        </span>
                    </h3>
                    <p class="order-customer">
                        <span class="id">order Id: {{order.order_code}}</span>
                        <span class="pending" >{{order.orderType}}...</span>
                    </p>
                    <h4 v-if="order.address" >
                        <span class="type" >Address :</span>
                        <span>{{order.address}}</span>
                    </h4>
                    
                    <table class="table ">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                        <thead>
                            <tr>
                                <th>Plate</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody >
                            <template v-for="(item, index) in order.items">
                                <tr :key="index"  >
                                    <td><p>{{ item.name }}</p></td>
                                    <td><p>{{ item.price }} <span class="lower">{{$store.state.restaurant.currency}}</span></p></td>
                                    <td class="quantity"><p>{{ item.quantity }}</p></td>
                                    <td><p class="total-each">{{ item.total }} <span class="lower">{{$store.state.restaurant.currency}}</span></p></td>                                
                                </tr>
                                <tr  v-if="item.note"  >
                                    <td colspan="5"><p>Note: {{item.note}}</p></td>
                                </tr>
                                <tr  v-for="(ch_description,index) in item.ch_description" colspan="5"   >
                                    <td colspan="5" v-if="ch_description" style="border-top:none;">{{ch_description}}</td>
                                </tr>
                                <tr v-for="(extra,index) in item.extras"   >
                                    <td colspan="2"><p>{{extra.name}}</p></td>
                                    <td colspan="3"><p>{{extra.price}} <span class="lower">{{$store.state.restaurant.currency}}</span></p></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <p class="subtotal">Subtotal: {{Math.round(parseFloat(order.subtotal)*100)/100}} <span class="lower">{{$store.state.restaurant.currency}}</span></p>
                    <p class="subtotal">Additional Feature cost: {{getAdditional}} <span class="lower">{{$store.state.restaurant.currency}}</span></p>
                    <!-- <p class="subtotal">Tax Includes: {{order.tax}} $</p> -->
                    <p class="total" v-if="!order.pay">Total to pay: {{parseFloat(order.total)}} <span class="lower">{{$store.state.restaurant.currency}}</span></p>
                    <p class="total" v-if="order.pay">Total payed: {{parseFloat(order.pay)}} <span class="lower">{{$store.state.restaurant.currency}}</span></p>
                    <!-- <p class="total" v-if="$route.params.type=='payed'">Charge :{{order.pay}}</p> -->
                    <p class="total" v-if="$route.params.type=='payed'&&order.change">change :{{order.change}} <span class="lower">{{$store.state.restaurant.currency}}</span></p>

                    <p class="method">
                        Method of payment chossed by the client
                        <br>
                        <span v-if="order.paymentMethod=='card'">
                            <img src="/images/general/card.svg" alt="" style="height:15px;width:auto;">
                            {{order.paymentMethod}}
                        </span>
                        <span v-if="order.paymentMethod=='cash'">
                            <img src="/images/general/cash.png" alt="" style="height:15px;width:auto;">
                            {{order.paymentMethod}}
                        </span>
                    </p>
                    <p class="phone">
                        <span>Phone Number</span>
                        {{order.phone}}
                    </p>
                    <p class="note">
                        <span>Note</span>
                        {{order.optional_note}}
                    </p>
                </div>
            </div>
            <div class="btn-dismiss" @click="$emit('closeMe')">
                <h4>DISMISS</h4>
            </div>
        </div>
    </div>
</template>

<script>
import moduleOrderManagement from "@/store/order-management/moduleOrderManagement.js";
export default {

    mounted() {
        window.addEventListener("click", e => {
            if (e.target == document.getElementsByClassName("overlay")[0]) {
                this.$emit("closeMe");
            }
        });
    },
    created(){
        if (!moduleOrderManagement.isRegistered) {
            this.$store.registerModule("orderManagement",moduleOrderManagement);
            moduleOrderManagement.isRegistered = true;
        }
    },
    computed:{
        order(){
            return this.$store.state.orderManagement.single_order;
        },
        getAdditional(){
                return Math.round((parseFloat(this.order.total)-parseFloat(this.order.subtotal))*100)/100;
        },
        age(){
            let date=new Date(this.order.timestamp)
            return      ((date.getUTCDate()<10)?'0'+(date.getUTCDate()):(date.getUTCDate()))+'-'
                      +((date.getMonth()+1<10)?'0'+(date.getMonth()+1):(date.getMonth()+1))+'-'
                      +date.getFullYear();
        }
    },
    methods: {
        getOrder(id){
            this.$Progress.start();
            this.$store.dispatch('orderManagement/getOrder',{restaurant_id:this.$route.params.restaurant_id,id:id})
                .then(response=>{this.$Progress.finish();});
        },
        closeModel(){
            this.$emit('closeMe');
        }
    },
    
};
</script>

<style lang="scss" scoped>
.overlay {
    
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    z-index: 1040;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    .popup {
        min-width: 406px;
        border-radius: 10px;
        max-width: 450px;
        padding: 20px;
        background-color: #fff;
        height: fit-content;
        animation: pop_anim 0.3s ease;

        .title {
            margin-bottom: 20px;
        }
    }
    @media(max-width:420px){
        .popup{
            min-width: 320px;
            max-width: 330px;
        }
    }
}

@keyframes pop_anim {
    0%{
        transform:translateY(-100%);
    }   
    100%{
        transform:translateY(0%);
    }
}
.order-card{

        .status{
            background-color: var(--main-color);
            padding: 10px 10px;
            border-radius: 8px;
            h4{
                color: #fff;
                text-align: center;
                margin: 0;
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
            }
        }
        @media(max-width: 420px){
            .order-card{
                width: 310px;
            }
        }
        .order-detail{
            padding: 10px  0;

            h3{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #000000;
            }
            h4{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: gray;
            }
            .order-customer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: rgba(0, 0, 0, 0.4);
                .id{
                    text-transform: capitalize;
                }
                .pending{
                    color: var(--main-color);
                }

            }
            
            .subtotal,
            .total{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                text-align: right;
                color: #000000;
            }
            .total{
                font-weight: 600;
            }
            .method,
            .phone,
            .note{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 18px;
                text-align: center;
                color: #000000;
                span{
                    display: block;
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 10px;

                }
            }
        }
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                border-radius: 20px;
                padding: 5px 10px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                box-shadow: 0px 0px 4px 0px #ccc;
                color: #0E1978;
                width: 100px;
                text-align: center;
            }
        }
    }
    .cooking{
        background-color: #D6D6D6;
    }
    .cooked{
        background-color: #A9E2F3;
    }
    .served{
        background-color: #04B486;
    }
    .Delivered{
        background-color: #04B486;
    }
    .lower{
        font-size:0.8rem
    }
    .btn-dismiss{
        display:flex;
        justify-content:center;
        align-items: center;
        background-color: var(--main-color);
        padding: 6px;
        border-radius: 8px;
        cursor:pointer;
    }
    .btn-dismiss h4{
        color:white
    }

    @media(max-width:760px){
        .popup{
            min-width:90%;
            max-width: 95%;
        }
    }
</style>
