<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div style="width:300px">
                    <img :src="mostSoldCategory.image" alt="" style="height:100%;width:100%">                 
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div style="height:300px">
                    <img :src="mostSoldDish.image1" alt="" style="height:100%;width:100%">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleAnalyticsManagement from '@/store/analytics-management/moduleAnalyticsManagement.js'
export default {
  created(){
            if(!moduleAnalyticsManagement.isRegistered) {
                this.$store.registerModule('analyticsManagement', moduleAnalyticsManagement);
                moduleAnalyticsManagement.isRegistered = true;
            }
        },
        data(){
            return {
                timeout:true
            }
        },
        methods:{
            getMostSold(dishes,categories)
            {
                if(!this.timeout){
                    return;
                }
                let dish=dishes[0];
                let category=categories[0];
                dishes.forEach(element => {
                    let temp=element
                    if(temp.count>dish.count){
                        dish=temp;
                    }
                });
                categories.forEach(element=>{
                    let temp=element
                    if(temp.count>category.count){
                        category=temp;
                    }
                });
                this.timeout=false;
                this.$store.dispatch('analyticsManagement/getMostSold',{
                    restaurant_id:this.$route.params.restaurant_id,
                    category:category,
                    dish:dish
                })
                .then(response=>{this.$Progress.finish();this.timeout=true}).catch(error=>{this.timeout=true;});
            }
        },
        computed:{
            mostSoldDish(){
                return this.$store.state.analyticsManagement.mostSoldDish;
            },
            mostSoldCategory(){
                return this.$store.state.analyticsManagement.mostSoldCategory;
            },
            dishCounts(){
                return this.$store.state.analyticsManagement.dishCount;
            },
            dishCategoryCounts(){
                return this.$store.state.analyticsManagement.dishCategoryCount;
            },
        },
        watch:{
            dishCounts(){
                if(this.dishCounts.length!=0&&this.dishCategoryCounts.length!=0){
                    this.getMostSold(this.dishCounts,this.dishCategoryCounts)
                }
            },
            dishCategoryCounts(){
                if(this.dishCounts.length!=0&&this.dishCategoryCounts.length!=0){
                    this.getMostSold(this.dishCounts,this.dishCategoryCounts)
                }
            }
        }
}
</script>

<style>

</style>