<template>
    <table class="table table-bordered mt-30 table-order card">
        <thead>
            <tr>
                <th>Nº</th>
                <th>Source</th>
                <th>Date</th>
                <th>Total</th>
                <th>Method</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="orderDetails.length<=0">
                <td colspan="6">
                    <div class="text-center">There was no activity</div>
                </td>
            </tr>
            <tr v-for="(orderDetail,index) in orderDetails" v-bind:key="index">
                <td>
                    {{orderDetail.order_code}}
                </td>
                <td v-if="orderDetail.table">
                    {{orderDetail.table}}
                </td>
                <td v-else>
                    {{orderDetail.source}}
                </td>
                <!-- <td v-if="orderDetail.table">
                    {{orderDetail.table}}
                </td> -->
                <td>
                    {{orderDetail.created_at.substring(0,10)}}
                </td>
                <td>
                    {{orderDetail.total}}
                </td>
                <td>
                    {{orderDetail.paymentMethod}}
                </td>
                <td>
                    <button @click="sendId(orderDetail.id)" style="background: var(--btn-color);color: white;border-radius: 37.5px;padding: 3px 15px;border: 1px solid var(--main-color);"> Detail</button>
                </td>
            </tr>

        </tbody>
    </table>
</template>

<script>
import moduleAnalyticsManagement from '@/store/analytics-management/moduleAnalyticsManagement.js'
    export default {
        // data(){
        //     return{
        //         orderDetails:[]            
        //     }
        // },
        created(){
            if(!moduleAnalyticsManagement.isRegistered) {
                this.$store.registerModule('analyticsManagement', moduleAnalyticsManagement);
                moduleAnalyticsManagement.isRegistered = true;
            }

        },
        methods:{
            getOrderDetails(data){
                this.$store.dispatch('analyticsManagement/orderDetails',data)
                .then(response=>{this.$Progress.finish();});
            },
            sendId(id){
                this.$emit('sendId',id);
            }
        },
        computed:{
            orderDetails(){
                return this.$store.state.analyticsManagement.OrderDetails;
            }
        }
    }
</script>

<style scoped>
    .table-order{
        /* margin: 50px 30px;; */
        width:1000px;
        overflow-x:scroll;
    }
    @media(max-width:780px){
        .table-order{
            width:780px;
        }
    }
</style>