<template>
<div class="container mt-3">
  <div class="center_out">
      <h3 style="color: var(--main-color);font-weight:900">{{$t("Connect your Stripe Account for payment")}} </h3>
      <div class="bank-top" >
        <h6 style="font-weight:800" v-if="!account.account_id">
              {{$t("Apparently, you still do not tell us where to send your money, please connect the bank where you want to receive your payouts")}}
        </h6>
        <h6 style="font-weight:800" v-if="account.email">
                {{$t("Your Stripe Account with")}} Email address " {{account.email}} " {{$t("is now connected")}} 
        </h6>
        <h6 style="font-weight:800" v-else-if="account.account_id">
                {{$t("Your Stripe Account with")}} account id {{account.account_id}} {{$t("is now connected ")}}
        </h6>
      </div>
  </div>
  <div class="mt-5 ml-3" v-if="!account.account_id">
      <h5 class="heading-5">{{$t('To receive your payouts in banks based in the United States Or Mexico')}}</h5>
      <p>{{$t("You can charge your customers in different curriencies, payment will be send directly to your connected account. directly to your bank.")}}</p>
  </div>
  <div class="mt-5 ml-3" v-else>
      <h5 class="heading-5">{{$t("You are now able to recieve payments directly on your connected Stripe Account")}}</h5>
      <p>{{$t("If you need to change your connected account you will have to contact the administration")}}</p>
  </div>
  <form action="/order/stripe" type="GET" v-if="!account.account_id">
    <input type="hidden" :value="$route.params.restaurant_id" name="restaurant_id">
    <button class="btn btn-round-blue" type="submit">Connect Stripe</button>
  </form>

</div>

</template>

<script>
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
export default {
  created(){
    if(!moduleRestaurantManagement.isRegistered) {
          this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
          moduleRestaurantManagement.isRegistered = true;
      }
      this.getAccount();
  },
  mounted(){
      this.$Progress.start();
  },
  methods:{
    getAccount(){
      this.$store.dispatch('restaurantManagement/getAccount',this.$route.params.restaurant_id)
            .then(response=>{this.$Progress.finish()});
    }
  },
  computed:{
    account(){
      return this.$store.state.restaurantManagement.account;
    }
  }
}
</script>

<style>
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bank-top{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    background-color: #F39C12;
    border-radius: 4px;
    text-align: center;
}
.bank-top h6{
    color:#F6E0F0;
}
.heading-5{
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 15px!important;
    line-height: 1.2;
}
</style>