<template>
    <div class="home-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <h3 class="head">Verify Your Stripe Email</h3>
                            <form action="" method="POST" @submit.prevent="saveChanges">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="email" v-model="email" name="name" placeholder="Email" :class="{'is-invalid':errors.any()}" @keydown="errors.clear('clear-all')" id="email">
                                </div>

                                <span v-if="errors.has('email')" style="color:red" >
                                    {{ errors.get('email') }}
                                </span>
                                <span v-if="errors.has('notfound')" style="color:red" >
                                    {{ errors.get('notfound') }}
                                </span>
                                <span v-if="errors.has('account')" style="color:red" >
                                    {{ errors.get('account') }}
                                </span>
                                <button class="btn-round-blue mb-2 mt-4 mx-auto" >Verify Email</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Alert :type="alertType" v-if="alert" @closeMe="closeAlert" :message="message"/>
    </div>
</template>

<script>
import Alert from "@/views/frontend/components/take-order/components/Alert";
export default {
    name: "AddExtra",
    data(){
        return{
            errors:new Errors(),
            email:'',
            alertType:'success',
            message:'Stripe Email Verified Successfully',
            alert:false,
        }
    },
    components:{Alert},
   
    methods:{
        saveChanges(){
            if(this.email){
                this.$Progress.start();
                this.$store.dispatch('verifyStripeEmail',{email:this.email,restaurant_id:this.$route.params.restaurant_id})
                .then((Response)=>{
                    this.alert=true;
                    this.$Progress.finish();
                    setTimeout(() => {
                        this.alert=false;
                        this.$router.push('/bank/'+this.$route.params.restaurant_id+"/restaurant");
                    }, 1000);
                }).catch((errors)=>{
                    this.errors.record(errors.response.data);
                    this.$Progress.finish();
                });
            }
        },
        closeAlert() {
            this.alert = false;
        },
        
    },
    beforeCreate(){
        this.$Progress.start()
    },
    mounted(){
        this.$Progress.finish()
    },
}
</script>

<style lang="scss" scoped>
    .is-invalid{
        box-shadow: 0px 0px 8px rgb(250, 94, 94)!important;
    }
    .home-restaurant{
        padding: 30px 0;
        .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .form-group{
                small{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    color: #444;
                }
            }
             .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }

    }
    .card-border{
        background-color: #ECECEC;
        border-radius: 8px;
        padding: 14px;

    }
  .head{
      background-color: #f9f9f9;
      padding:8px;
      border-radius:4px;
  }
</style>