<template>
    <div class="analytics-nav">
        <router-link :to="`/analytics/${restaurantId}/restaurant/general`" active-class="active" class="btn__analytics-nav">
            General
        </router-link>
        <router-link :to="`/analytics/${restaurantId}/restaurant/money`" active-class="active" class="btn__analytics-nav">
            Money
        </router-link>
        <router-link :to="`/analytics/${restaurantId}/restaurant/plates`" active-class="active" class="btn__analytics-nav">
            Plates
        </router-link>
        <router-link :to="`/analytics/${restaurantId}/restaurant/inventory`" active-class="active" class="btn__analytics-nav">
            Inventory
        </router-link>
    </div>
</template>

<script>
export default {
    computed:{
        restaurantId(){
            return this.$store.state.restaurant.id
        }
    }
};
</script>

<style lang="scss" scoped>
.analytics-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .btn__analytics-nav {
        margin: 10px 15px;
        border-radius: 8px;
        font-size: 15px;
        background: #fff;
        color: #aeaeba ;
        border: 1px solid #fff;
        padding: 10px 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        &:hover,
        &.active{
            background:var(--main-color);
            color: white;
            border-color: var(--main-color);
            text-decoration: none;
        }
    }
}
// @media (max-width: 768px)
</style>
