<template>
    <div class="general mt-5">
        
        <div class="container-fluid">
            <div class="row md-5">
                <div class="col-lg-6 md-5 m-4 card">
                    <div class="card-body">
                        <div class="header">
                            <h3>Sold Dish Categories</h3>
                        </div>
                        <DishCategoryPie ref="dishcategorypie"/>
                    </div>  
                </div>
                <div class="col-lg-5 md-5 m-4 card">
                    <div class="card-body">
                        <div class="header">
                            <h3>Sold Dishies</h3>
                        </div>
                        <DishPie />
                    </div> 
                </div>
            </div>
            <!-- <div class="container m-5"> -->
                <!-- <MostSold/> -->
            <!-- </div> -->
            <div class="row center_out">
                <div class="col-lg-10 md-5 card max-width-responsive">
                    <div class="card-body">
                        <LineChart />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6 mt-3">
                    <DateForm @sendDate="getDate"/>                  
            </div>
        </div>
        </div>
        <div class="container extra-features">
            <OrderTable ref="orderTableRef" @sendId="getId"/>      
        </div>
        <Modal v-show="show" ref="modelRef" @closeMe="closeModel"/>
        
    </div>
</template>

<script>
import MostSold from './components/mostSold'
import DishCategoryPie from './components/dishCategoryPie'
import LineChart from './components/lineChart'
import DishPie from './components/dishPie'
import DateForm from './components/dateForm';
import OrderTable from './components/orderTable';
import Modal from './components/Modal';

export default {
    components: {
        DishCategoryPie,DishPie,LineChart,DateForm,OrderTable,Modal,MostSold
    },
    data(){
        return {
            show:false
        }
    },
    methods:{
        closeModel(){
            this.show=false;
        },
        getDate(data){
            this.$refs.orderTableRef.getOrderDetails(data)
        }, 
        getId(id){
            this.show=true;
            this.$refs.modelRef.getOrder(id);
        }


    }
}
</script>

<style lang="scss" scoped>
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header h3{
    color: var(--font-color);
    font-weight: 600;
}
@media (max-width: 768px) {
    
.max-width-responsive{
    max-width: 600px;
    /* width: 1000; */
    .card-body{
    max-width: 600px;

    }
}
}
</style>
