<template>
    <div class="general mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <h4>What information would you like to know?</h4>
                    </div>
                    <div class="d-flex justify-content-center mb-4">
                        <label class="mx-2">
                            <input type="radio" name="type" value="cash" v-model="type"/>
                            Cash
                        </label>
                        <label class="mx-2">
                            <input type="radio" name="type" value="card" v-model="type"/>
                            Card
                        </label>
                        <label class="mx-2">
                            <input type="radio" name="type" value="cash and card" v-model="type"/>
                            Cash and Card
                        </label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <DateForm @sendDate="getDate"/>
                        
                    </div>
                    <!-- <div class=" center_out m-5">
                        <p v-show="money">Result for {{date}} </p>
                        <h3 style="color:var(--font-color);font-weight:750" v-show="money">
                            {{money}} {{$store.state.restaurant.currency}}
                        </h3>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <table class="table table-hover table-bordered mt-30 card">
                        <thead>
                            <tr>
                                <!-- <th>Category</th> -->
                                <th>Product</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="inventories.length<=0">
                                <td colspan="3">
                                    <div class="text-center">
                                        There was no activity
                                    </div>
                                </td>
                            </tr>
                            <tr v-for="(inventory,index) in inventories" v-bind:key="index">
                                <td>
                                    {{inventory.product}}
                                </td>
                                <td>
                                    {{inventory.quantity}} {{inventory.measuring_unit}} (s)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleAnalyticsManagement from '@/store/analytics-management/moduleAnalyticsManagement.js'
import DateForm from './components/dateForm';
export default {
    data(){
        return{
            type:'cash and card',
            date:''
        }
    },
    created(){
        if(!moduleAnalyticsManagement.isRegistered) {
            this.$store.registerModule('analyticsManagement', moduleAnalyticsManagement);
            moduleAnalyticsManagement.isRegistered = true;
        }
    },
    components: {
        DateForm
    },
    methods:{
        getDate(data){
            this.date=data.date;
            this.$store.dispatch('analyticsManagement/getInventory',{data,type:this.type})
            .then(response=>{this.$Progress.finish();});
        },
    },
    computed:{
        inventories(){
            return this.$store.state.analyticsManagement.inventory;
        }
    }
}
</script>

<style lang="scss" scoped>
.form-group {
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}
</style>
