<template>
  <div class="about">
    <h1>This is an about page {{msg}}--{{numValue}}</h1>
    <button @click="increment(8)">increment</button>
  </div>
</template>
<script>
export default {
  data(){
    return{
      msg: "Hello",
      num: 0
    }
  },
  methods: {
    increment(e){
      this.num=e
    }
  },
  computed: {
    numValue(){
      return this.num+4
    }
  },

  mounted(){

  },
  beforeMount(){

  }

}
</script>

<style lang="scss">
  
</style>
