<template>
    <div class="add-restaurant">
        <div class="container" style="width:100%;display:flex;background-color:var(--body-color);justify-content:center;align-items:center;">
            <!-- <div class=""> -->
                    <div class="card justify-content-center">
                        <h3>{{title}}</h3>

                        <form @submit.prevent="save_changes" method="POST" enctype="multipart/form-data" @keydown="errors.clear($event.target.name)">
                            <div class="form-group">
                                <label>Restaurant name</label>
                                <input class="form-control" type="text" value="" v-model="data_local.name" name="name" :class="{'is-invalid':errors.has('name')}" placeholder="Restaurant name" @keydown="errors.clear('name')">
                            </div>
                            <span v-if="errors.has('name')" style="color:red" >
                                {{ errors.get('name') }}
                            </span>

                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" v-model="data_local.description" name="description" :class="{'is-invalid':errors.has('description')}" placeholder="Short description" @keydown="errors.clear('description')"></textarea>
                            </div>
                            <span v-if="errors.has('description')" style="color:red" >
                                {{ errors.get('description') }}
                            </span>

                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" type="text" value="" v-model="data_local.address" :class="{'is-invalid':errors.has('address')}" name="direccion" placeholder="Restaurante address" @keydown="errors.clear('address')">
                            </div>
                            <span v-if="errors.has('address')" style="color:red" >
                                {{ errors.get('address') }}
                            </span>
                            
                            <div class="form-group">
                                <label>Phone number</label>
                                <input class="form-control" type="text" value="" v-model="data_local.phone" :class="{'is-invalid':errors.has('phone')}" placeholder="(XXX) XXX-XXX-XX-XX" @keydown="errors.clear('phone')">
                            </div>
                            <span v-if="errors.has('phone')" style="color:red" >
                                {{ errors.get('phone') }}
                            </span>

                            <div class="form-group">
                                <label>Do you have home delivery?</label>
                                <select name="domicilio" class="form-control" v-model="data_local.delivery" :class="{'is-invalid':errors.has('delivery')}" @change="errors.clear('delivery')">
                                    <option value="yes">Yes</option>
                                    <option selected="" value="No">No</option>
                                </select>
                            </div>
                            <span v-if="errors.has('delivery')" style="color:red" >
                                {{ errors.get('delivery') }}
                            </span>

                            <!-- <div class="form-group">
                                <label for="cost_delivery">Home delivery</label>
                                <input class="form-control" v-model="data_local.home_delivery" type="text" name="cost_delivery" id="cost_delivery" :class="{'is-invalid':errors.has('home_delivery')}" @keydown="errors.clear('home_delivery')">
                            </div>
                            <span v-if="errors.has('home_delivery')" style="color:red" >
                                {{ errors.get('home_delivery') }}
                            </span> -->

                            <div class="form-group">
                                <label>Currency of the Restaurant, according to the country</label>
                                <select class="form-control" name="currency" v-model="data_local.currency" :class="{'is-invalid':errors.has('currency')}" @change="errors.clear('currency')">
                                    <option value="USD">USD - US dollar</option>
                                    <option value="MXN">MXN - Mexican peso</option>
                                </select>
                            </div>
                            <span v-if="errors.has('currency')" style="color:red" >
                                {{ errors.get('currency') }}
                            </span>

                            <div class="form-group">
                                <label>Restaurant Logo</label>
                                <div id="wrapper" style="text-align:left">
                                    <div class="uploader">
                                        <div class="image-holder" @click="trigerInputFile">
                                            <img :src="previewUrl" alt="" v-if="imageSelected">
                                        </div>
                                        <input type="file" name="logo" class="filePhoto" @change="imageChanged" ref="fileInput">
                                    </div>
                                </div>
                            </div>
                            <span v-if="errors.has('logo')" style="color:red" >
                                {{ errors.get('logo') }}
                            </span>

                            <div class="row justify-content-center">
                                <button class="btn btn-round-blue" >Save</button>
                            </div>
                        </form>
                    </div>
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
    import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
    export default {
        name: "AddRestaurant",
        created(){
            if(!moduleUserManagement.isRegistered){
                this.$store.registerModule('userManagement', moduleUserManagement);
                moduleUserManagement.isRegistered = true;
            }
            if(window.location.href.includes('edit')){
                let restaurant=this.$store.state.restaurant;
                this.imageSelected=true;
                this.previewUrl=restaurant.logo;
                this.data_local.name=restaurant.name;
                this.data_local.description=restaurant.description;
                this.data_local.phone=restaurant.phone;
                this.data_local.currency=restaurant.currency;
                this.data_local.address=restaurant.address;
                this.data_local.delivery=restaurant.delivery;
                this.data_local.home_delivery=restaurant.home_delivery;
                this.data_local.id=restaurant.id;
            }
        },
        data(){
          return{
              errors:new Errors(),
              Api:'',
              imageSelected: false,
              previewUrl: '',
              data_local:{
                  image:'',
                  name:'',
                  description:'',
                  phone:'',
                  currency:'',
                  address:'',
                  delivery:'',
                  home_delivery:'',
                  id:''
              }
          }
        },
        methods: {
            trigerInputFile(){
                this.$refs.fileInput.click()
            },
            imageChanged(e){
                this.errors.clear('logo');

                this.imageSelected = true;
                this.data_local.image = e.target.files[0];
                this.previewUrl = URL.createObjectURL(this.data_local.image);
            },
            save_changes(){
                let formData= new FormData();
                formData.append('name',this.data_local.name);
                formData.append('description',this.data_local.description);
                formData.append('logo',this.data_local.image);
                formData.append('phone',this.data_local.phone);
                formData.append('currency',this.data_local.currency);
                formData.append('delivery',this.data_local.delivery);
                formData.append('address',this.data_local.address);
                formData.append('home_delivery',this.data_local.home_delivery);

                // formData.append('id',);
                if(this.Api=='edit'){
                    formData.append('id',this.data_local.id);
                    this.$store.dispatch("userManagement/editRestaurant",formData)
                    .then((res) => {
                        this.$router.push('/restaurant/'+this.$route.params.restaurant_id+'/restaurant');
                    }).catch(errors => {
                        this.errors.record(errors.response.data)
                    });

                }else{
                    this.$store.dispatch("createRestaurant",{Restaurant:formData})
                    .then((res) => {
                        this.$router.push('/dashboard');
                        // location.reload();
                    }).catch(errors => {
                        this.errors.record(errors.response.data)
                    });
                }

                
            },            
        },
        computed: {
            title(){
                let url =window.location;
                 
                if(url.href.includes('edit')==true){
                    this.Api='edit';
                    return 'Update Restaurant'
                }else{
                    this.Api='create';
                    return 'Create Restaurant'
                }
            },
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        mounted(){
            this.$Progress.finish()
        }
    }
</script>

<style lang="scss" scoped>
    .is-invalid{
        box-shadow: 0px 0px 8px rgb(250, 94, 94)!important;
    }
    .add-restaurant{
        padding: 30px 0;
        .card{
            width:700px;
            background-color: #f5f5f5;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .filePhoto{
                visibility: hidden;
            }
            .image-holder{
                height: 80px;
                width: 80px;
                border: 2px dashed #808080;
                img{
                    height: 80px;
                    width: 80px;
                    object-fit: cover;
                }
            }
            .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }
    }
    @media(max-width:760px){
        .card{
            width:auto;
        }

    }
</style>