<template>
    <div class="analytics">
        <AnalyticsNav />
        <router-view></router-view>
    </div>
</template>

<script>
import AnalyticsNav from "@/views/frontend/components/analytics/AnalyticsNav";
export default {
    components: {
        AnalyticsNav
    }
};
</script>

<style lang="scss">
.analytics {
    label {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }
    select {
        height: 45px;
    }
    .search-btn {
        margin: 10px 15px;
        border-radius: 8px;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 10px 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        background: var(--main-color);
        color: rgb(98, 98, 98);
        border-color: var(--main-color);
        svg{
            height: 18px;
            width: 18px;
        }
    }
    thead{
        background: var(--main-color);
    }
}
</style>
