<template>
  <div class="">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Bank",
  mounted(){
      this.$Progress.finish();
  }
}
</script>

<style>

</style>