<template>
    <div>
        
    </div>
</template>
<script>
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default{
    data(){
        return{

            role:['cook','waiter','cashier','manager','delivery_man']
        }     
    },
    methods:{
        sendmessage(){
            this.$refs.sender.innerHTML+=`<span class="other">${this.message}</span>`;
            var data={
                message:this.message,
                user_id:this.$store.getters.auth_user.id
            }
            this.$store.dispatch("userManagement/sendMessage", data)

                this.message='';

        },
        redirect(role){
            
        }

    },
    beforeCreate(){
        console.log("beforeCreated")

        if(this.$store.state.user.role){
            let role=this.$store.state.user.role;
            if(role){
                if(role=='admin'){
                    this.$router.push('/admin/dashboard');
                }else if(this.role.includes(role)){
                    this.$router.push('/orders/'+this.$store.getters.get_res.id+'/restaurant')
                }
            }else{
                this.$router.push('/login');
            }
        }else{
            this.$store.dispatch('getUser')
            .then(respones=>{
                let role=this.$store.state.user.role;
                if(role){
                    if(role=='admin'){
                        this.$router.push('/admin/dashboard');
                    }else if(this.role.includes(role)){
                        this.$router.push('/orders/'+this.$store.getters.get_res.id+'/restaurant')
                    }
                }else{
                    this.$router.push('/login');
                }
            }).catch(errors=>{
                this.$router.push('/login');
            });
        }
    },  
    // created(){
    //     console.log('here now');

    //     // Echo.channel('open')
    //     //     .listen('RestaurantOpenEvent',(e)=>{
                
    //     //         console.log(e.message);
    //     //         if(this.$store.getters.auth_user.id!=e.user_id){
    //     //             this.messages.push(e.message);
    //     //         }
    //     //     });




    //     if(!moduleUserManagement.isRegistered) {
    //         this.$store.registerModule('userManagement', moduleUserManagement)
    //         moduleUserManagement.isRegistered = true
    //     }
    // },
    mounted(){
     
    }

}
</script>

<style scoped>
.container{
     background-color:gray;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.child1{
    flex:1 1 200px;
    background-color:lightgray;
    flex-direction:column;
    display:flex;
}
.child2{
    flex:1 1 200px;
    background-color:lightgray;
    display:flex;
    flex-direction:column;
}
.me{
    float:left;
    background-color:lightblue;
    color:black;
    padding:5px 50px;
}
.other{
    float:right;
    background-color:lightgreen;
    color:black;
    padding:5px 50px;
}
</style>