<template>
    <div class="my-restraunt">
        <Ready/>
    </div>
</template>

<script>
    import Ready from "./components/newLanding/Ready";
    export default {
        name: "MyRestraunt",
        components: {
            Ready
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        mounted(){
            this.$Progress.finish()
        }
        
    }
</script>

<style scoped>

</style>