<template>
    <div class="home">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Orders",
        data(){
            return{
                               
            }
        },
    }
</script>

<style scoped>

</style>