<template>
  <div>
      <Navbar/>
      <router-view></router-view>
  </div>
</template>

<script>

import Navbar from '@/views/frontend/components/take-order-table/components/Navbar'
export default {
    components: {
        Navbar
    },

}
</script>

<style>
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
</style>