<template>
    <div class="home-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <div class="panel-head mt-2">
                                <router-link class="back-btn" :to="'/inventory/'+this.$route.params.restaurant_id+'/restaurant/categories'">
                                    <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.87">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                    </g>
                                    </svg>
                                </router-link>
                                <h3 class="head">{{$t(title)}}</h3>  
                            </div>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>{{$t('Name')}}</label>
                                    <input class="form-control" type="text" v-model="category.category_name" name="name"  placeholder="Name of category" :class="{'is-invalid':errors.has('category_name')}" @keydown="errors.clear('category_name')">
                                </div>
                                <span v-if="errors.has('category_name')" style="color:red" >
                                    {{ errors.get('category_name') }}
                                </span>
                            </form>
                                <button class="btn-round-blue mb-2 mt-4 mx-auto" @click="saveChanges()">{{$t('Save')}}</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'
    export default {
        name: "AddExtra",
        created(){
            if(!moduleProductManagement.isRegistered) {
                this.$store.registerModule('productManagement', moduleProductManagement);
                moduleProductManagement.isRegistered = true;
            }
            if(window.location.href.includes('edit')==true){
                this.action='edit';
                this.getCategory();
            }else{
                this.action='add'
            }
        },
        data(){
          return{
              errors:new Errors(),
              action:'',
              category:{
                  category_name:'',
                  restaurant_id:''
              }
          }
        },
        methods: {
            saveChanges(){
            if(this.action=='add'){
                this.$Progress.start();
                this.category.restaurant_id=this.$store.getters.get_res.id;
                this.$store.dispatch('productManagement/storeCategory',this.category)
                .then((response)=>{
                    this.$router.push('/inventory/'+this.$route.params.restaurant_id+'/restaurant/categories');
                    this.$Progress.finish();
                }).catch(errors => {this.errors.record(errors.response.data)});
            }else{
                this.$Progress.start();
                this.$store.dispatch('productManagement/updateCategory',{id:this.$route.params.category,category:this.category})
                .then((response)=>{
                    this.$router.push('/inventory/'+this.$route.params.restaurant_id+'/restaurant/categories')
                    this.$Progress.finish();
                }).catch(errors => {this.errors.record(errors.response.data)});
            }

           },
           getCategory(){
               this.$store.dispatch('productManagement/getCategory',this.$route.params.category)
               .then(response=>{
                   this.category.category_name=response.category_name;
                   this.category.restaurant_id=response.restaurant_id;
                   this.$Progress.finish()
               });
           }
        },
        computed: {
             title(){
                let url =window.location 
                if(url.href.includes('edit')==true)
                    return 'Update Category'
                return 'Create Category'
            }
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        mounted(){
            this.$Progress.finish()
        }
    }
</script>

<style lang="scss" scoped>
    .home-restaurant{
        padding: 30px 0;
        .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .form-group{
                small{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;

                    color: #444;
                }
            }
             .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }

    }
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
    .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
   
</style>