<template>
    <div class="home-restaurant">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-border">
                            <div class="panel-head mt-2">
                                <router-link class="back-btn" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/categories/'+$route.params.category" >
                                    <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.87">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                    </g>
                                    </svg>
                                </router-link>
                                <h3 class="head">{{$t(title)}}</h3>
                            </div>
                            <form @submit.prevent="saveChanges" method="POST" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label>{{$t('Name')}}</label>
                                    <input class="form-control" type="text" v-model="product.product_name" value="" name="name" placeholder="Name" :class="{'is-invalid':errors.has('product_name')}" @keydown="errors.clear('product_name')">
                                </div>
                                <span v-if="errors.has('product_name')" style="color:red" >
                                    {{ errors.get('product_name') }}
                                </span>
                                <div class="form-group">
                                    <label>{{$t('Measurement Unit')}}</label>
                                    <select class="form-control" v-model="product.measuring_unit" :class="{'is-invalid':errors.has('measuring_unit')}" @change="errors.clear('measuring_unit')">
                                            <option value="Gram">Gram(s)</option>
                                            <option value="Kilogram">Kilogram(s)</option>
                                            <option value="Milligram">Milligram(s)</option>
                                            <option value="Pound">Pound(s)</option>
                                            <option value="Milliliter">Milliliter(s)</option>
                                            <option value="Liter">Liter(s)</option>
                                            <option value="Ounce">Ounce(s)</option>
                                            <option value="Piece">Piece(s)</option>
                                    </select>
                                </div>
                                <span v-if="errors.has('measuring_unit')" style="color:red" >
                                    {{ errors.get('measuring_unit') }}
                                </span>
                                <div class="form-group">
                                    <label>{{$t('Minimum stock')}}</label>
                                    <input class="form-control" type="text" v-model="product.min_stock" value="" name="name" placeholder="Minimum stock" :class="{'is-invalid':errors.has('min_stock')}" @keydown="errors.clear('min_stock')">
                                </div>
                                <span v-if="errors.has('min_stock')" style="color:red" >
                                    {{ errors.get('min_stock') }}
                                </span>
                                <div class="form-group">
                                    <label>{{$t('Maximum stock')}}</label>
                                    <input class="form-control" type="text" v-model="product.max_stock" value="" name="name" placeholder="Maximum stock" :class="{'is-invalid':errors.has('max_stock')}" @keydown="errors.clear('max_stock')">
                                </div>
                                <span v-if="errors.has('max_stock')" style="color:red" >
                                    {{ errors.get('max_stock') }}
                                </span>
                                <div class="form-group">
                                    <label>{{$t('Optimum stock')}}</label>
                                    <input class="form-control" type="text" v-model="product.opt_stock" value="" name="name" placeholder="Optimum stock" :class="{'is-invalid':errors.has('opt_stock')}" @keydown="errors.clear('opt_stock')">
                                </div>
                                <span v-if="errors.has('opt_stock')" style="color:red" >
                                    {{ errors.get('opt_stock') }}
                                </span>
                                <button class="btn-round-blue mb-2 mt-4 mx-auto">{{$t('Save')}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'
    export default {
        name: "AddProductInventory",
         created(){
            if(!moduleProductManagement.isRegistered) {
                this.$store.registerModule('productManagement', moduleProductManagement);
                moduleProductManagement.isRegistered = true;
            }
            if(window.location.href.includes('edit')==true){
                this.action='edit';
                this.getProduct();
            }else{
                this.action='add'
            }
        },
        data(){
          return{
            errors:new Errors(),
             action:'',
              product:{
                //   product_name:'',
                //   measuring_unit:'',
                //   opt_stock:'',
                //   max_stock:'',
                //   min_stock:'',
                //   restaurant_id:'',
                //   product_category_id:''
              }
          }
        },
        methods: {
            saveChanges(){
                if(this.action=='add'){
                    this.product.restaurant_id=this.$route.params.restaurant_id;
                    this.product.product_category_id=this.$route.params.category;
                    this.$store.dispatch('productManagement/storeProduct',this.product)
                    .then((response)=>{
                        this.$Progress.start();
                        this.$router.push('/inventory/'+this.$route.params.restaurant_id+'/restaurant/categories/'+this.$route.params.category)
                    }).catch(errors => {this.errors.record(errors.response.data)});
                }else{
                    this.product.restaurant_id=this.$route.params.restaurant_id;
                    this.product.product_category_id=this.$route.params.category;
                    this.$store.dispatch('productManagement/updateProduct',{id:this.$route.params.product,product:this.product})
                    .then((response)=>{
                        this.$Progress.start();
                        this.$router.push('/inventory/'+this.$route.params.restaurant_id+'/restaurant/categories/'+this.$route.params.category)
                    }).catch(errors => {this.errors.record(errors.response.data)});
                }
           },
           getProduct(){
               
               this.$store.dispatch('productManagement/getProduct',this.$route.params.product)
               .then(response=>{
                    this.product.product_name=response.product_name;
                    this.product.measuring_unit=response.measuring_unit;
                    this.product.opt_stock=response.opt_stock;
                    this.product.max_stock=response.max_stock
                    this.product.min_stock=response.min_stock;
                    this.$Progress.start()
               });
           }
        },
        computed: {
             title(){
                let url =window.location 
                
                
                if(url.href.includes('edit')==true)
                    return 'Update Product'
                return 'Create Product'
            }
        },
        beforeDestroy(){
            this.$Progress.start()
        },
        mounted(){
            this.$Progress.finish()
        }
    }
</script>

<style lang="scss" scoped>
    .home-restaurant{
        padding: 30px 0;
        .card{
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }
            label{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
                color: #000000;
            }
            .form-group{
                small{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;

                    color: #444;
                }
            }
             .form-control{
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border-radius:0;
            }
            .form-control:focus{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
                border: none;
            }
        }

    }
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>