<template>
  <div class="inventory">
   <router-link class="add-extra" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/categories'+'/'+$route.params.category+'/new'" >
    +
    </router-link>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">
                        <div class="panel-head mt-2">
                            <router-link class="back-btn" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/categories'">
                                <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.87">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                </g>
                                </svg>

                            </router-link>
                            <h3 class="head">{{$t('List of Products')}}</h3>
                        </div>
                        <div class="categories-list">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:15%">#</th>
                                        <th style="width:25%">{{$t('Name')}}</th>
                                        <th style="width:35%">{{$t('Measurement Unit')}}</th>
                                        <th style="width:25%">{{$t('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="!products.length" >
                                        <th colspan="5">
                                            <p style="padding:10px;background-color:white;color:gray;display:flex;justify-content:center">No Record Stored</p>    
                                        </th>
                                    </tr>
                                    <tr v-for="(product, index) in products" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{product.product_name}}</td>
                                        <td>{{product.measuring_unit}}</td>
                                        <td>
                                            <router-link :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/categories/'+$route.params.category+'/'+product.id+'/edit'" tag="button" class="btn bg-white">
                                                <a>
                                                    <svg width="14" height="14" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16.3577 1.15104L20.2825 5.09034C20.9487 5.75655 20.8908 6.88621 20.326 7.46552L8.72526 19.0807L0.672852 20.7607L2.35285 12.6793C2.35285 12.6793 13.3597 1.62897 13.9246 1.04966C14.4894 0.484828 15.6915 0.484829 16.3577 1.15104ZM12.4039 5.19172L4.30802 13.3165L5.91561 14.9241L13.9391 6.74138L12.4039 5.19172ZM8.10251 17.111L16.1839 9.00069L14.6342 7.43655L6.53837 15.5469L8.10251 17.111Z" fill="black"/>
                                                    </svg>
                                                </a>
                                            </router-link>
                                            <span @click="deleteConfirm(product.id)" tag="button" class="btn bg-white">
                                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.54" fill-rule="evenodd" clip-rule="evenodd" d="M17.999 7.00002H5.999V19C5.999 20.104 6.895 21 8 21H15.999C17.105 21 17.999 20.104 17.999 19V7.00002ZM14.499 2.99902H9.499L8.5 4.00002H5.999C5.448 4.00002 5 4.44802 5 4.99902V6.00002H19V4.99902C19 4.44802 18.552 4.00002 17.999 4.00002H15.5L14.499 2.99902Z" fill="black"/>
                                                </svg>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>      
                    </div>
                </div>
            </div>    
        </div>
    </div>
       <Alert
            :type="'confirmation'"
            v-if="alert"
            @closeMe="alert = false"
            @delete="deleteProduct"
        />  
  </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'
export default {
    data(){
        return{
            id:'',
            alert: false,
        }
    },
    created(){
        if(!moduleProductManagement.isRegistered) {
            this.$store.registerModule('productManagement', moduleProductManagement);
            moduleProductManagement.isRegistered = true;
        }
        this.fetchProducts();            
    },
    computed:{
        products(){
            return this.$store.state.productManagement.products;
        }
    },
    methods:{
        fetchProducts(){
            this.$store.dispatch('productManagement/getProducts',{restaurant_id:this.$route.params.restaurant_id,product_category_id:this.$route.params.category})
            .then(response=>{this.$Progress.finish();});
        },
        deleteConfirm(id){
            this.alert=true;
            this.id=id;
        },
        deleteProduct(){
            this.$store.dispatch('productManagement/deleteProduct',this.id)
            .then(response=>{this.$Progress.finish();this.alert=false;});
        }
    },
    beforeDestroy(){
        this.$Progress.start()
    }


}
</script>

<style lang="scss" scoped>
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
       .add-extra{
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: #fff;
          font-size: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px;
          top:20px;
          text-decoration: none;
      }
    .card{
        
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Open sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
           .categories-list{
                overflow-x: scroll;
                table{
                    min-width: 400px;
                width: 100%;
                th,
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    // font-size: 18px;
                    line-height: 44px;
                    color: #000000;
                    font-size: 14px;
                }
                tr{
                    border-bottom: 1px solid #333;  
                }
                tbody{
                    tr{
                        border-bottom: 1px solid #333;
                        
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 400;
                        font-size: 12px;
                    }
                }
            }
           }
    }
}
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>