<template>
    <div class="topbar">
        <nav class="navbar navbar-expand navbar-light nav-bar fixed-top">
            <a class="navbar-brand" href="#"
                ><img src="/images/logo/2.png" style="width: 140px" alt=""
            /></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item hamburger" @click="toogleSidebar">
                        <svg
                            width="36"
                            height="36"
                            viewBox="0 0 36 36"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M32 9H4C3.44772 9 3 8.55228 3 8C3 7.44772 3.44772 7 4 7H32C32.5523 7 33 7.44772 33 8C33 8.55228 32.5523 9 32 9ZM32 19H4C3.44772 19 3 18.5523 3 18C3 17.4477 3.44772 17 4 17H32C32.5523 17 33 17.4477 33 18C33 18.5523 32.5523 19 32 19ZM4 29H32C32.5523 29 33 28.5523 33 28C33 27.4477 32.5523 27 32 27H4C3.44772 27 3 27.4477 3 28C3 28.5523 3.44772 29 4 29Z"
                                fill="#737373"
                            />
                        </svg>

                        <!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- dropdown-toggle -->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            :aria-expanded="profileDrop"
                            @click="profileDrop = !profileDrop"
                        >
                            <!-- <span class="name"><router-link  to="/">home</router-link></span> -->
                            <span class="name"
                                ><router-link
                                    v-if="user.role == 'admin'"
                                    to="/admin/dashboard"
                                    >admin</router-link
                                ></span
                            >
                            <span class="name"
                                ><router-link v-if="!loggedIn" to="/login"
                                    >Login</router-link
                                ></span
                            >
                            <!-- <span class="name"><router-link v-if="!loggedIn"  to="/register">register</router-link></span> -->
                            <span class="name"
                                ><router-link v-if="loggedIn" to="/logout"
                                    >Logout</router-link
                                ></span
                            >
                            <span
                                class="name"
                                v-if="loggedIn && user.role == 'admin'"
                                >{{ user.name }}</span
                            >
                            <span class="name"
                                ><router-link
                                    v-if="linkPermission"
                                    :to="
                                        '/orders/' +
                                            this.$store.getters.get_res.id +
                                            '/restaurant'
                                    "
                                    >{{ user.name }}</router-link
                                ></span
                            >
                            <span
                                ><img
                                    :src="restaurant.logo"
                                    alt=""
                                    style="widht: 60px; height: 60px; border-radius: 100%"
                            /></span>
                            <span class="language name">
                                <span>
                                    ({{$i18n.locale=='en'?"EN":"ES"}})
                                </span>
                                <ul class="dropdown" aria-labelledby="navbarDropdown">
                                    <li :class="{'active':$i18n.locale=='en'}" @click="changeLng('en')">EN</li>
                                    <li :class="{'active':$i18n.locale=='mx'}" @click="changeLng('mx')">ES</li>
                                </ul>
                            </span>
                            <svg
                                v-if="!user.image"
                                width="37"
                                height="37"
                                viewBox="0 0 47 47"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle
                                    cx="23.5"
                                    cy="23.5"
                                    r="22"
                                    stroke="black"
                                    stroke-width="3"
                                />
                                <path
                                    d="M23.8354 14.142C24.398 14.142 24.9786 14.2538 25.5772 14.4773C26.1759 14.7009 26.6988 14.9822 27.146 15.3212C27.5932 15.6602 27.961 16.0353 28.2495 16.4464C28.538 16.8575 28.6823 17.2434 28.6823 17.604V21.0661C28.6823 21.8883 28.5092 22.8043 28.163 23.8141C27.8168 24.8238 27.3047 25.5884 26.6267 26.1077C26.5113 26.2087 26.4103 26.3277 26.3238 26.4647C26.2372 26.6017 26.1759 26.746 26.1398 26.8975C26.1038 27.0489 26.0929 27.204 26.1074 27.3627C26.1795 27.882 26.4464 28.2498 26.908 28.4662L32.9449 31.3224L32.9882 31.3332L33.0748 31.3657L33.1829 31.4306L33.302 31.528L33.4101 31.6686L33.4859 31.885L33.5075 32.1663V33.5078L14.1417 33.5295V32.123C14.1417 31.7624 14.3364 31.4955 14.7259 31.3224L20.8061 28.4446C21.2677 28.2282 21.531 27.864 21.5959 27.3519C21.6608 26.8398 21.4913 26.425 21.0874 26.1077C20.4238 25.574 19.9081 24.7986 19.5403 23.7816C19.1725 22.7646 18.9885 21.8595 18.9885 21.0661V17.604C18.9885 17.128 19.2265 16.6195 19.7026 16.0785C20.1786 15.5376 20.7989 15.0796 21.5634 14.7045C22.328 14.3295 23.0853 14.142 23.8354 14.142ZM23.8354 12.7571C22.8401 12.7571 21.8555 12.9988 20.8818 13.482C19.9081 13.9653 19.1184 14.5855 18.5125 15.3429C17.9066 16.1002 17.6037 16.8539 17.6037 17.604V21.0661C17.6037 22.0037 17.8237 23.082 18.2637 24.3009C18.7036 25.5199 19.3564 26.4827 20.2219 27.1896L14.1417 30.0674C14.0984 30.0818 14.0479 30.1035 13.9902 30.1323C13.9325 30.1612 13.8243 30.2261 13.6656 30.3271C13.5069 30.428 13.3663 30.529 13.2437 30.63C13.1211 30.731 13.0093 30.8572 12.9083 31.0087C12.8073 31.1601 12.7568 31.3008 12.7568 31.4306V33.5295C12.7568 33.9045 12.8903 34.2255 13.1571 34.4923C13.424 34.7592 13.7522 34.8926 14.1417 34.8926H33.5292C33.9042 34.8926 34.2252 34.7592 34.492 34.4923C34.7589 34.2255 34.8923 33.9045 34.8923 33.5295V31.4306C34.8923 31.2863 34.8455 31.1385 34.7517 30.987C34.6579 30.8356 34.5425 30.7057 34.4055 30.5975C34.2684 30.4893 34.135 30.392 34.0052 30.3054C33.8754 30.2189 33.76 30.154 33.659 30.1107L33.5292 30.0674L27.4922 27.1896C28.3577 26.5116 29.0032 25.574 29.4288 24.3767C29.8543 23.1794 30.0671 22.0758 30.0671 21.0661V17.604C30.0671 17.0414 29.8832 16.468 29.5153 15.8838C29.1475 15.2996 28.6751 14.7767 28.0981 14.3151C27.521 13.8535 26.8503 13.4784 26.0857 13.1899C25.3212 12.9014 24.5711 12.7571 23.8354 12.7571Z"
                                    fill="black"
                                />
                            </svg>
                        </a>
                        <!-- <div class="dropdown-menu" :class="{'show': profileDrop}" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div> -->
                    </li>
                </ul>
            </div>
            
           
        </nav>
        <div class="overlay" v-if="$store.state.restaurant.status=='disabled'">
            <h1 class="mb-3"><alert-triangle-icon size="2.5x" class="custom-class"></alert-triangle-icon></h1>
            <h1 class="mb-3">Your restaurant has been disabled, please contact the Administration</h1>
            <router-link v-if="loggedIn" to="/logout"> 
             <span class="ico">
                <svg
                    data-v-1f5dcc50=""
                    width="50"
                    height="50"
                    viewBox="0 0 36 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        data-v-1f5dcc50=""
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M22 6H6V30H24C24 31.1046 23.1046 32 22 32H6C4.89543 32 4 31.1046 4 30V6C4 4.89543 4.89543 4 6 4H22C23.1046 4 24 4.89543 24 6V15.8H22V6ZM25.8024 17.3324C26.1718 16.9631 26.7632 16.9402 27.16 17.28L33 23.07L27.16 28.87C26.9156 29.1554 26.5319 29.2797 26.1666 29.1918C25.8013 29.1039 25.5161 28.8187 25.4282 28.4534C25.3403 28.0881 25.4646 27.7044 25.75 27.46L29.13 24H14.63C14.0777 24 13.63 23.5523 13.63 23C13.63 22.4477 14.0777 22 14.63 22H29.13L25.75 18.69C25.4102 18.2932 25.4331 17.7018 25.8024 17.3324Z"
                        fill="black"
                    ></path>
                </svg>
                Logout
            </span>
            </router-link>
        </div>
    </div>
</template>

<script>
import { AlertTriangleIcon } from 'vue-feather-icons'
export default {
    name: "Topbar",
    components:{AlertTriangleIcon},
    data() {
        return {
            profileDrop: false,
            role: [
                "cook",
                "waiter",
                "cashier",
                "manager",
                "delivery_man",
                "owner"
            ]
        };
    },
    computed: {
        loggedIn() {
            return this.$store.getters.loggedIn;
        },
        user() {
            return this.$store.getters.auth_user;
        },
        restaurant() {
            return this.$store.getters.get_res;
        }
    },

    mounted() {
        if (!this.$store.state.user.name) {
            this.$store.dispatch("getUser").then(response => {
                console.log(this.$route.fullPath);
                if (
                    this.$route.fullPath == "login" ||
                    this.$route.fullPath == "/"
                ) {
                    if (this.$store.state.user.role != "customer") {
                        this.$router.push(
                            "/orders/" +
                                this.$store.state.restaurant.id +
                                "/restaurant"
                        );
                    } else {
                        this.$router.go(-1);
                    }
                }
            });
        }
    },
    methods: {
        linkPermission() {
            return this.loggedIn && this.role.includes(this.user.role);
        },
        toogleSidebar() {
            // this.$eventHub.$emit('openSidebarWithOverlay');

            this.$emit("toogleSidebar");
        },
        changeLng(type){
            if(this.$i18n.locale!=type){
                this.$i18n.locale=type
            }else{
                this.$i18n.locale='mx'
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.overlay{
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    text-align: center;
    z-index: 1040;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.topbar {
    height: 65px;
    nav {
        box-shadow: 0px 0px 4px 0 #ccc;
        padding: 0.5em 42px;
        height: 65px;
        background-color: #fff;
    }
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
        &.hamburger {
            // height: 25px;
        }
    }
    .name {
        margin-right: 10px;
        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);
        }
        a:hover {
            color: #626262;
        }
    }
}

@media (max-width: 768px) {
    .topbar {
        nav {
            padding: 0.5em 1em;
            .name {
                display: none;
            }
        }
    }
}
.hamburger:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .ico__logout {
        display: none;
    }
}
.ico{
    text-decoration: none;
    text-transform: none;
    font-weight: 600;
    color:black;
    font-size:18px;
}
.language{
    list-style: none;
    position: relative;
    text-align: center;
}
.language .dropdown{
    min-width: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    left: 0;
    top: 26px;
    border: solid 1px #e3dcdc;
}
.language .dropdown .active{
    background-color:#E5D362!important;
    color:white;
}
.language:hover .dropdown{
    display:flex;
}
.language .dropdown li{
    padding: 3px 35px;
    background-color: white;
    
}
.dropdown:hover .dropdown{
    display:flex;
}

</style>
