<template>
  <div class="inventory">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">
                            <div class="panel-head mt-2">
                                <router-link class="back-btn" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/stock-points'" >
                                    <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.87">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                    </g>
                                    </svg>
                                </router-link>
                                <h3 class="head">{{$t('List')}} {{$t('products')}}</h3>  
                            </div>
                            <div class="categories-list">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:15%">No#</th>
                                        <th style="width:35%">{{$t('Name')}} </th>
                                        <th style="width:15%">{{$t('Stocks')}} </th>
                                        <th style="width:35%">{{$t("Measurement Unit")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!-- <template v-for="(n,index) in 5" > -->
                                    <tr v-if="!products.length" >
                                        <th colspan="4">
                                            <p style="padding:10px;background-color:white;color:gray;display:flex;justify-content:center">No Record Stored</p>    
                                        </th>
                                    </tr>
                                    <template v-for="(product, index) in products">
                                        <tr style="border: none; background-color:white">
                                            <td>{{index+1}}</td>
                                            <td>{{product.product_name}}</td>
                                            <td>{{product.quantity}}</td>
                                            <td>{{product.measuring_unit}}</td>
                                        </tr>
                                        <tr style="background:#eee">
                                            <!-- {{product}} -->
                                            <td colspan="4" class="progress-td">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" :style="'width:'+ barSize(product.quantity, product.max_stock)" :aria-valuenow="product.quantity" :aria-valuemin="product.min_stock" :aria-valuemax="product.max_stock"></div>
                                                </div>
                                                <!-- :style="'width:'+ barSize(product.quantity)" -->
                                                <span class="zero" title="Zero">0</span>
                                            <!-- 100% / 30 * 4 -->
                                                <span class="min" :style="'left: calc('+barSize(product.min_stock, product.max_stock)+')'" title="Minmun">{{product.min_stock}}</span>
                                                <span class="optimum" :style="'left: calc('+barSize(product.opt_stock, product.max_stock)+')'" title="Optimum">{{product.opt_stock}}</span>
                                                <!-- <span class="max" :style="'left: calc('+barSize(product.max_stock)+')'" title="Maximum">{{product.max_stock}}</span> -->
                                                <span class="full" :style="'left: calc('+barSize(product.max_stock, product.max_stock)+')'" title="Full">{{product.max_stock}}</span>
                                            </td>
                                        </tr>
                                    </template>
                                <!-- </template> -->
                                    
                                
                                </tbody>
                            </table>

                        </div>  
                    </div>
                    <div class="keys">
                        <span class="zero">Zero</span>
                        <span class="min">Min</span>
                        <span class="optimum">Opt</span>
                        <!-- <span class="max">Max</span> -->
                        <span class="full">Full</span>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
         
  
  </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'

export default {
    created(){
        if(!moduleProductManagement.isRegistered) {
            this.$store.registerModule('productManagement', moduleProductManagement);
            moduleProductManagement.isRegistered = true;
        }
        this.fetchProducts();            
    },
    computed:{
        products(){
            return this.$store.state.productManagement.products;
        }
    },
    data(){
        return{
            modal: false
        }
    },
    mounted(){
        document.addEventListener('click', (e)=>{       
            if(e.target==document.getElementsByClassName('modal')[0]){
                this.modal=false
            }
        })
    },
    methods:{
        fetchProducts(){
            this.$store.dispatch('productManagement/getProducts',{restaurant_id:this.$route.params.restaurant_id,product_category_id:this.$route.params.id})
            .then(response=>{this.$Progress.finish();});
        },
        barSize(size, max){
            // let value=100/30*size;
            let value=(size/max)*100;

            return value+"%";
        }
    },
    beforeDestroy(){
        this.$Progress.start()
    }
}
</script>

<style lang="scss" scoped>
.show{
    display: block !important;
}
.modal{
    background: rgba(0, 0, 0, 0.4);
    button{
        border-radius: 15px;
        font-size: 14px;
        height: 38px;
        width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
      .add-extra{
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: #fff;
          font-size: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px;
          top:20px;
          text-decoration: none;
      }
    .card{
        
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Open sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
           .categories-list{
                table{
                width: 100%;
                th,
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 44px;
                    color: #000000;

                }
                tr{
                    border-bottom: 2px solid #d6d5d5;  
                }
                tbody{
                    background-color: #fff;
                    tr{
                        border-bottom: 2px solid #d6d5d5; 
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 400;
                        font-size: 12px;
                        a{
                            text-decoration: none;
                            color: car(--main-color);
                        }
                    }
                }
            }
           }
    }
    .progress-td{
        position: relative;
        padding-bottom: 30px !important;
        .progress{
            position: relative !important;
            z-index: 1;
        }
        span{
            position: absolute;
            top: 15px;
            border-left: 1px  solid #000000;
            height: 24px;
            z-index: 0;
            padding-left: 5px;
            &.full{
                border-left: none !important;
                border-right: 1px  solid #000000;
                padding-left: 0;
                padding-right: 5px;
                transform: translateX(-30px);
            }
        }
    }
    .zero{
        color: red;
    }
    .min{
        color: orange;
    }
    .optimum{
        color: rgb(122, 107, 57);
    }
    .max{
        color: rgb(85, 180, 21);
    }
    .full{
        color: rgb(5, 112, 5);
    }
    .keys{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(100%);
        width: 40px;
        display: flex;
        flex-direction: column;
        span{
            width: 40px;
            height: 40px;
            color: #fff !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .zero{
        background: red;
        }
        .min{
            background: orange;
        }
        .optimum{
            background: rgb(122, 107, 57);
        }
        .max{
            background: rgb(85, 180, 21);
        }
        .full{
            background: rgb(5, 112, 5);
        }

    }
}
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }

</style>