<template>
  <div class="inventory">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">
                        <div class="panel-head mt-2">
                            <router-link class="back-btn" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/entries'">
                                <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.87">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                    </g>
                                </svg>
                            </router-link>
                            <h3 class="head">{{$t("Create product entry")}}</h3>  
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn bg-white" title="Create Product Entry" @click="openModel()">+</button>
                        </div>
                        <div class="categories-list">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:15%">{{$t('Category')}}</th>
                                        <th style="width:25%">{{$t('Product')}}</th>
                                        <th style="width:35%">{{$t('Quantity')}}</th>
                                        <th style="width:35%">{{$t('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(Entery,index) in Enteries" :key="index" >
                                        <td>{{Entery.category}}</td>
                                        <td>{{Entery.product}}</td>
                                        <td>{{Entery.quantity}} {{Entery.measuring_unit}}</td>
                                        <td>
                                            <button @click="editEntery(Entery.no)" to="/inventory/categories/veg/edit" tag="button" class="btn bg-white">
                                                    <svg width="14" height="14" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16.3577 1.15104L20.2825 5.09034C20.9487 5.75655 20.8908 6.88621 20.326 7.46552L8.72526 19.0807L0.672852 20.7607L2.35285 12.6793C2.35285 12.6793 13.3597 1.62897 13.9246 1.04966C14.4894 0.484828 15.6915 0.484829 16.3577 1.15104ZM12.4039 5.19172L4.30802 13.3165L5.91561 14.9241L13.9391 6.74138L12.4039 5.19172ZM8.10251 17.111L16.1839 9.00069L14.6342 7.43655L6.53837 15.5469L8.10251 17.111Z" fill="black"/>
                                                    </svg>
                                            </button>
                                            <button @click="deleteEntery(Entery.no)" to="/inventory/categories/veg/" tag="button" class="btn bg-white">
                                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.54" fill-rule="evenodd" clip-rule="evenodd" d="M17.999 7.00002H5.999V19C5.999 20.104 6.895 21 8 21H15.999C17.105 21 17.999 20.104 17.999 19V7.00002ZM14.499 2.99902H9.499L8.5 4.00002H5.999C5.448 4.00002 5 4.44802 5 4.99902V6.00002H19V4.99902C19 4.44802 18.552 4.00002 17.999 4.00002H15.5L14.499 2.99902Z" fill="black"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <label for="message">{{$t('Message')}}</label>
                                <textarea class="form-control" v-model="message" name="message" rows="3"></textarea>
                            </div>

                            <div class="row justify-content-center">
                                <button @click="saveChanges()" class="btn-round-blue">{{$t('Save')}}</button>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>    
        </div>
    </div>
         
            <!-- Modal -->
    <div class="modal fade" :class="{'show': modal}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >{{$t("Add Product")}}</h5>
                    <button type="button" class="close" @click="modal=false">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" >
                        <label for="category" style="text-align: left">{{$t('Category')}}</label>
                        <select class="form-control" v-model="category_value" @change="selectProduct(category_value)">
                            <option v-for="(category,index) in categories" :key="index" :value="category.category_name" >{{category.category_name}}</option>
                            <!-- <option value="690">test</option> -->
                        </select>
                    </div>
                    <div class="form-group" >
                        <label for="product" style="text-align: left">{{$t('Product')}}</label>
                        <select class="form-control" v-model="product_value"  @change="selectUnit(product_value)">
                            <option v-for="(product,index) in products" :key="index" class="dynamic" :value="product.product_name" data-unit="Ounce(s)">{{product.product_name}}</option>
                        </select>
                    </div>
                    <label for="quantity" style="text-align: left; display: block">{{$t('Quantity')}}</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" id="quantity" v-model="quantity_value">
                        <div class="input-group-append">
                        <div class="input-group-text">{{measuringUnit}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" @click="modal=false">{{$t('Close')}}</button>
                    <button type="button" class="btn btn-round-blue" @click="selectQuantity()">{{$t('Save')}}</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import moduleProductManagement from '@/store/product-management/moduleProductManagement.js'

export default {
    data(){
        return{
            modal: false,
            categories:[],
            selected_no:'',
            action:'',
            products:[],
            product_value:'',
            category_value:'',
            quantity_value:'',
            measuringUnit:'',
            message:'',
            Enteries:[
                // {
                //     no:'',
                //     product:'',
                //     category:'',
                //     quantity:'',
                //     measuring_unit:''
                // }
            ],
        }
    },
    mounted(){
        document.addEventListener('click', (e)=>{
            if(e.target==document.getElementsByClassName('modal')[0]){
                this.modal=false
            }
        });
        this.$Progress.finish()
    },
    created(){
        if(!moduleProductManagement.isRegistered) {
            this.$store.registerModule('productManagement', moduleProductManagement);
            moduleProductManagement.isRegistered = true;
        }
        this.getEnteries();            
    },
    computed:{

    },
    methods:{
        openModel(){
            this.modal=!this.modal;
            this.product_value='';
            this.category_value='';
            this.quantity_value='';
            this.action='add';
        },
        getEnteries(){
            this.$store.dispatch('productManagement/getEnteries',this.$route.params.restaurant_id)
            .then((categories)=>{
                this.categories=categories;
                this.products=categories[0].products;
                this.measuringUnit=this.products[0].measuring_unit;
            });
        },
        selectProduct(category_name){
            let index=this.categories.findIndex((u)=> u.category_name ==category_name);
            this.products=this.categories[index].products;
        },
        selectUnit(product_name){
            let index=this.products.findIndex((u)=> u.product_name == product_name);
            this.measuringUnit=this.products[index].measuring_unit;
        },
        selectQuantity(){
            if(this.product_value&&this.category_value&&this.quantity_value){

                if(this.action=='add'){

                    if(this.Enteries.length)
                        if((!this.Enteries[0].product))
                            this.Enteries.pop();
    
    
                    let Entry={
                        no:this.Enteries.length+1,
                        product:this.product_value,
                        category:this.category_value,
                        quantity:this.quantity_value,
                        measuring_unit:this.measuringUnit
                    }
    
                    this.Enteries.push(Entry);
                    this.modal=false;
                }else if(this.action=='edit'){
                    let index=this.Enteries.findIndex((u)=> u.no == this.selected_no);
                    this.Enteries[index].product=this.product_value;
                    this.Enteries[index].category=this.category_value;
                    this.Enteries[index].quantity=this.quantity_value;
                    this.Enteries[index].measuring_unit=this.measuringUnit;
                    this.modal=false;
                }
            }
        },
        editEntery(no){
            
            let index=this.Enteries.findIndex((u)=> u.no == no);
            let selected=this.Enteries[index];
            this.category_value=selected.category;
            this.selectProduct(this.category_value);
            this.product_value=selected.product;
            this.quantity_value=selected.quantity;
            this.measuringUnit=selected.measuring_unit;
            this.action='edit';
            this.selected_no=no;
            this.modal=true;
        },
        deleteEntery(no){
   
            let index=this.Enteries.findIndex((u)=> u.no == no);
            this.Enteries.splice(index,1);
        },
        saveChanges(){
            if(this.Enteries[0].product&&this.message){
                this.$store.dispatch('productManagement/storeEnteries',{
                    enteries:this.Enteries,
                    message:this.message,
                    restaurant_id:this.$store.state.restaurant.id,
                    quantity_type:"add"
                })
                .then((res)=>{
                    this.$router.push('/inventory/'+this.$route.params.restaurant_id+'/restaurant/entries');
                })
            }
        }
    }

}
</script>

<style lang="scss" scoped>
.show{
    display: block !important;
}
.modal{
    background: rgba(0, 0, 0, 0.4);
    button{
        border-radius: 15px;
        font-size: 14px;
        height: 38px;
        width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
      .add-extra{
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: #fff;
          font-size: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px;
          top:20px;
          text-decoration: none;
      }
    .card{
        
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Open sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
           .categories-list{
                 overflow-x: scroll;
                table{
                    min-width: 400px;
                width: 100%;
                th{
                   color: #484848; 
                   font-size: 15px;
                    font-weight: 550;
                    margin:7px;
                }
                td{
                    padding: 10px 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 44px;
                    color: #000000;

                }
                tr{
                    border-bottom: 2px solid #d6d5d5;   
                }
                tbody{
                    tr{
                        border-bottom: 2px solid #d6d5d5;  
                        &:last-child{
                            border: none;
                        }
                    }
                    button{
                        color: var(--main-color);
                        font-weight: 400;
                        font-size: 12px;
                        a{
                            text-decoration: none;
                            color: car(--main-color);
                        }
                    }
                }
            }
           }
    }
}
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>