<template>
  <div class="inventory">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-border">
                        <div class="panel-head mt-2">
                            <router-link class="back-btn" :to="'/inventory/'+this.$store.getters.get_res.id+'/restaurant'">
                                <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.87">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7 11H7.49995L13.1 5.4L11.7 4L3.69995 12L11.7 20L13.1 18.6L7.49995 13H19.7V11Z" />
                                </g>
                                </svg>
                            </router-link>
                            <h3 class="head">{{$t("My Inventory")}}</h3>
                        </div> 
                        <div class="body-inventory">
                            <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/entries/new'">
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/entries.png" alt="">
                                    <h3>{{$t('Product Entry')}}</h3>
                                </div>
                            </router-link>
                            <router-link class="row-list" :to="'/inventory/'+$route.params.restaurant_id+'/restaurant/entries/history'">
                                <div class="icon">
                                    <img src="/images/frontEndImage/assets/entries.png" alt="">
                                    <h3>{{$t('Entry History')}}</h3>
                                </div>
                            </router-link>
                        </div>        
                    </div>
                </div>
            </div>    
        </div>
    </div>     
</div>
</template>

<script>
export default {
     mounted(){
        this.$Progress.finish()
    },
    beforeDestroy(){
        this.$Progress.start()
    },
}
</script>

<style lang="scss" scoped>
.inventory{
     position: relative;
      padding: 40px 20px 20px 20px;
    .card{
        
            background-color: white;
            box-shadow: 0px 0px 8px 0px  #ccc;
            padding: 20px 25px;
             h3{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                color: var(--main-color);

            }   
            .body-inventory{
                 padding: 10px;
                 
                 .row-list{
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     padding: 10px;
                     border-radius: 6px;
                     text-decoration: none;
                    margin: 3px 0;
                     .icon{
                           display: flex;
                            // justify-content: space-between;
                            align-items: center;
                         img{
                             height: 30px;
                         }
                         h3{
                            font-family: 'Open Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 17px;
                            line-height: 33px;
                            margin-left: 20px;
                            /* identical to box height */
                            color: #fff;
                            margin-bottom: 0;
                            text-decoration: none;
                        }
                     }
                     .badge-restaurant{
                         height: 40px;
                         width: 40px;
                         background-color: #fff;
                         border-radius: 50%;
                         color: #000;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-family: 'Montserrat',sans-serif;
                         font-weight: 600;
                         font-size: 18px;
                     }
                     &:nth-child(odd){
                         background-color: var(--main-color);
                         
                     }
                     &:nth-child(even){
                         background-color: #f5f5f5;
                         .icon{
                             h3{
                                 color: #000;
                             }
                            
                         }
                         .badge-restaurant{
                                 background-color: var(--main-color);
                                 color: #fff;
                        }  
                         &:hover{
                         background: #ccc !important;
                         h3{
                             color: #fff !important;
                         }
                     }
                     }
                 }
             }
    }
}
@media (max-width: 500px) {
      .inventory {
          padding: 40px 0 !important;
          
      }
      .inventory .card{
              padding: 10px !important;
          }
      .card-border{
              padding: 4px!important;
      }
  }
</style>