<template>
  <div >
    <div ref="card"></div>
    <div id="card-errors" style="color:red" role="alert" v-text="errorMessage"></div>
    <span v-if="errors.has('nostripe')" style="color:red" >
      {{ errors.get('nostripe') }}
    </span>
  </div>
</template>
 
<script>
let stripe = Stripe(`pk_live_51IBBiDGMLSfhNJYIiP6UiIlViyx5VOPNCshdtiQg8g5ByDj2tofLt7ZQPn47EtVd7GlAQSrfZmF1IxWuT2TAdgpq00N5WN8ttp`),
elements = stripe.elements(),
card = undefined;


export default {
  props:["amount","email"],
  data () {
    return {
      complete: false,
      errors:new Errors(),
      errorMessage:'',
      
      style:{
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '16px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
    }
  },
  mounted(){
    let self = this;
    
    if(!card){
      card = elements.create('card');
      card.mount(this.$refs.card);      
    }else{
      card.clear();
      card.mount(this.$refs.card);
    }
    card.on('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            self.errorMessage=event.error.message;
            self.$emit('getErrors',event.error.message);
          } else {
            self.errorMessage="";
          }
        });
  },
   computed:{
    clear(){
      this.$store.state.clear
    } 
  },
  watch:{
    clear(){
      if(this.clear==true){
        card.clear();
      }
    }
  },
  methods: {
    pay (data) {
      return new Promise((resolve,reject)=>{
        let self=this;
        let FormData={
            source:data.source,
            items:data.items,
            orderType:data.orderType,
            paymentMethod:data.paymentMethod,
            restaurant_id:this.$route.params.restaurant_id,
            amount:this.amount,
            email:data.email,
            phone:data.phone,
            address:data.address,
            serviceMode:data.serviceMode,
            customer_name:data.customer_name,
            currency:this.$store.state.restaurant.currency,
            receipt:data.receipt,
            sendBy:data.sendBy
          }
        this.$Progress.start();
        self.$store.dispatch('payIntent',FormData).then((response)=>{
          self.$Progress.start();
          let clientSecret=response.clientSecret;
          self.$emit('getId',response.i);

          stripe.createToken(card).then(function(result) {
    
            self.$emit('sendToken',result.token.id);
            self.$Progress.start();

            stripe.confirmCardPayment(clientSecret, {
              payment_method: {
                card: card
              }
            }).then(function(result) {

              resolve(result);
              if (result.error) {
                self.errorMessage=result.error.message;
              } else {
                card.clear();
              }
            }).catch((errors)=>{self.errors.record(errors);self.$Progress.finish();reject(errors);})
          }).catch((errors)=>{self.errors.record(errors);self.$Progress.finish();reject(errors);})
        }).catch((errors)=>{
          self.errors.record(errors)
          reject(errors);
        })
      });
    }
  }
}
</script> 
 
<style scoped>
.stripe-card {
  border: 1px solid #cfd4da;
  border-radius: .25rem;

}
.stripe-card.complete {
  border-color: green;
}

</style> 