<template>
  <div >
    <!-- <card class='stripe-card'
      :class='{ complete }'
      ref='cardNumber'
      stripe='pk_test_51HOjzsC1zYIo0nPVGDHjGscFl6fjXUc1UKXHyGfdPxLowZkMH6ozZix5sin98CjafdP1UNSCfhbxYAspQW1lUkh200pRrJPDjp'
      :options='stripeOptions'
      @change='change($event)'
    />
    
    <button class='pay-with-stripe' @click='pay' >Pay with credit card</button> -->

  <div ref="card"></div>
  <div id="card-errors" style="color:red" role="alert" v-text="errorMessage"></div>

    <button v-on:click="pay">Purchase</button>
  </div>
</template>
 
<script>
import { Card, CardNumber,createToken ,handleCardPayment} from 'vue-stripe-elements-plus'
let stripe = Stripe(`pk_test_51HOjzsC1zYIo0nPVGDHjGscFl6fjXUc1UKXHyGfdPxLowZkMH6ozZix5sin98CjafdP1UNSCfhbxYAspQW1lUkh200pRrJPDjp`),
elements = stripe.elements(),
card = undefined;


export default {
  data () {
    return {
      complete: false,
      stripeOptions: {
        // see https://stripe.com/docs/stripe.js#element-options for details
      },
      errorMessage:'',
      style:{
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '16px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      }
    }
  },
 
  // components: { Card },
  mounted(){
    let self = this;
    
    if(!card){
      card = elements.create('card');
      card.mount(this.$refs.card);
  
      card.on('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          self.errorMessage=event.error.message;
          self.$emit('getErrors',event.error.message);
        } else {
          self.errorMessage="";
        }
      });
    }else{
      card.clear();
      card.mount(card);
    }

  },
  methods: {
    pay () {

      stripe.createToken(card).then(function(result) {
      this.$store.dispatch('payIntent')
      .then((response)=>{
        stripe.confirmCardPayment(response.clientSecret, {
          payment_method: {
            card: card
          }
        })
        .then(function(result) {
          if (result.error) {
            this.errorMessage=result.error.message;
          } else {
            console.log(result);
          }
        })
      });
    });

      
      // handleCardPayment(response.clientSecret,this.$refs.cardNumber,{
      //      payment_method_data: {
      //         billing_details: {
      //           name: 'Jenny Rosen',
      //         },
      //       }}).then((result)=>{
      //         console.log(result);
      //     })
    },
    change(event){
      if (event.error) {
        this.errorMessage= event.error.message;
        this.$emit(
          'getErrors',
            event.error.message)
        } else {
          this.errorMessage = '';
        } 
    }
  }
}
</script> 
 
<style scoped>
.stripe-card {
  border: 1px solid #cfd4da;
  border-radius: .25rem;

}
.stripe-card.complete {
  border-color: green;
}

</style> 