<template>
  <div>
      <Layout  :cards="dishCategories" />     
  </div>
</template>

<script>
import Layout from '@/views/frontend/components/take-order/components/Layout'
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'

export default {
    created(){
        if(!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
            moduleRestaurantManagement.isRegistered = true;
        }
        this.fetchCategoryDishes();            
    },
    computed:{
        dishCategories(){
            return this.$store.state.restaurantManagement.dishCategories;
        }
    },
    methods:{   
        fetchCategoryDishes(){
            this.$store.dispatch('restaurantManagement/getActiveDishCategories',this.$route.params.restaurant_id)
            .then(response=>{this.$Progress.finish()});
        }
    },
    components: {
        Layout
    },
    beforeDestroy(){
        this.$Progress.start()
    },

}
</script>

<style>

</style>