<template>
  <div>
      <Layout  :cards="dishes" />
     
  </div>
</template>

<script>
import moduleRestaurantManagement from '@/store/restaurant-management/moduleRestaurantManagement.js'
import Layout from '@/views/frontend/components/take-order/components/ItemLayout'
export default {
    created(){
        if(!moduleRestaurantManagement.isRegistered) {
            this.$store.registerModule('restaurantManagement', moduleRestaurantManagement);
            moduleRestaurantManagement.isRegistered = true;
        }
        this.fetchDishes();            
    },
    computed:{
        dishes(){
            return this.$store.state.restaurantManagement.dishes;
        }
    },
    methods:{
        fetchDishes(){
            this.$store.dispatch('restaurantManagement/getDishes',{restaurant_id:this.$route.params.restaurant_id,id:this.$route.params.category})
            .then(response=>{this.$Progress.finish()});
        }
    },
    components: {
        Layout
    },
    beforeDestroy(){
        this.$Progress.start()
    },
    

}
</script>

<style>

</style>